.row
  .col
    = form_with model: [:admin, @project_new_update], local: true, class: 'form-custom-html' do |f|
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary= @project_new_update.new_record? ? 'Gửi' : 'Lưu thay đổi'
      .row
        .col
          .card.tms-card
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :project_id do
                          Dự án
                          %span.required
                            *
                        = f.select :project_id, options_for_select(@projects, f.object.project_id), {include_blank: true}, {class: 'form-control tms-select2'}
                        - f.object.errors.messages[:project_id].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :title do
                          Tiêu đề
                          %span.required
                            *
                        = f.text_field :title, class: 'form-control', placeholder: 'Vui lòng nhập'
                        - f.object.errors.messages[:title].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :content do
                          Nội dung
                          %span.required
                            *
                        = f.cktext_area :content, class: 'form-control', ckeditor: {startupMode: 'wysiwyg'}
                        - f.object.errors.messages[:content].each do |error|
                          %span.invalid-feedback.custom-validation= error

- content_for :js do
  :javascript
    CKEDITOR.instances.project_new_update_content.on('change', function () {
      let $editorParent = $('#cke_project_new_update_content').parent();
      let errorClass = $editorParent.attr('class');
      if (errorClass === 'field_with_errors') {
        $editorParent.removeClass('field_with_errors');
        $editorParent.next().next().remove();
      }
    });