- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Tin nhắn

- content_for :content_body do
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th.border-bottom-none Dự án
              %th.border-bottom-none Nội dung
              %th.border-bottom-none Ngày tạo
              %th.border-bottom-none
          %tbody
            - @project_new_updates.each do |news|
              %tr
                %td{width: '25%'}= news.project_name
                %td
                  - if news.content.html_safe.length > 150
                    = news.content[0..150].html_safe
                    %span ...
                  - else
                    = news.content.html_safe
                %td{width: '25%'}= news.created_at.strftime('%d/%m/%Y %H:%M')
                %td.text-right
                  %a.btn.btn-outline-primary{href: admin_project_new_update_path(news), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xoá tin này?'}}
                    %i.fas.fa-trash
- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_project_new_update_path, class: 'btn btn-primary'