.row
  .col
    = form_with model: [:admin, @custom_html], local: true, class: 'form-custom-html' do |f|
      - unless @is_disabled
        .row.sticky-scroll
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary= 'Lưu thay đổi'
      .row.window-content
        .col
          .card.tms-card
            .card-header
              %h3.card-title Custom HTML
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.cktext_area :content, class: 'form-control', ckeditor: {height: '1000px'}, disabled: @is_disabled
                        - f.object.errors.messages[:content].each do |error|
                          %span.invalid-feedback.custom-validation= error
