.notification-item.d-flex{'data-id': notification.id, class: notification.read_at.blank? ? 'unread' : ''}
  %a{href: "#{notification.related_url}", target: "_blank"}
    %i.fas.mr-2{class: "#{Constant::ICONS[notification.tag || 0]}"}
    != notification.content
    %span.ml-auto.float-right.text-muted.text-sm= format_date notification.created_at
