- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Thông báo của bạn

- content_for :content_body do
  .row
    .col
      %button.btn.btn-default.float-right.mb-2.read_all_notification{'data-url': read_all_admin_notifications_path, type: 'button' }
        %i.fas.fa-check
        Đánh dấu đã đọc
  .card
    .card-body
      - @notifications.each do |notification|
        = render 'nav_item', notification: notification
      %br
      = render partial: 'shared/pagination', locals: { pagy: @pagy }
  