.nested-fields.ads-nested-fields{class: f.object.id.blank? ? 'new-journey' : ''}
  .ads-journey
    .col
      %div.new-journey.mt-2.mr-2.font-weight-bold
        = f.object.new_record? ? 'Thêm hoạt động mới' : 'Sửa hoạt động'
      .number-journey.mb-1.mt-2.font-weight-bold
      .form-group
        %label
          Tiêu đề hoạt động
        %input.form-control.ads-journey-title{value: f.object.fb_ad_name, readonly: true}
      .form-group
        = f.label :fb_campaign_name, 'Tên chiến dịch QC'
        = f.text_field :fb_campaign_name, class: 'form-control'
        - f.object.errors.messages[:fb_campaign_name].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :fb_ad_group_name, 'Tên nhóm QC'
        = f.text_field :fb_ad_group_name, class: 'form-control'
        - f.object.errors.messages[:fb_ad_group_name].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :fb_ad_name, 'Tên QC'
        = f.text_field :fb_ad_name, class: 'form-control ads-name'
        - f.object.errors.messages[:fb_ad_name].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :create_date, 'Ngày giờ KH xem'
        = f.text_field :create_date, value: format_customer_journey(f.object.create_date || Time.now), class: 'form-control customer_daterangepicker'
        - f.object.errors.messages[:create_date].each do |error|
          %span.invalid-feedback.custom-validation= error
    .col-1
      = link_to_remove_association f do
        .form-group.m-0
          %button.btn.btn-outline-danger.btn-remove{type: 'button', title: 'Xoá'}
            %i.fas.fa-trash
