.nested-fields
  .panel.panel-default{class: f.object.id.blank? ? 'd-none' : '' }
    .panel-heading{role: "tab", id: "heading-fj-#{f.object.id}"}
      .card-header
        %h3.card-title
          %a.title
            = "#{f.object.recent_conversion} - "
          %i.time
            = format_customer_journey(f.object.recent_conversion_date)
        .card-tools
          %a.a-collapse.collapsed{"aria-controls": "collapse-fj-#{f.object.id}", "aria-expanded": "true", "data-toggle": "collapse", href: "#collapse-fj-#{f.object.id}", role: "button"}

    .panel-collapse.collapse.in{"aria-labelledby": "heading-fj-#{f.object.id}", role: "tabpanel", id: "collapse-fj-#{f.object.id}"}
      .panel-body
        %ul
          %li
            %span Tên khách hàng:
            %span
              = "#{f.object.last_name} #{f.object.first_name}"
          %li
            %span Email:
            %span
              = f.object.email
          %li
            %span Số điện thoại:
            %span
              = f.object.phone_number
        - if current_user.super_admin?
          .remove-group
            %a.btn.btn-outline-primary{href: destroy_journey_admin_customers_path(id: @customer.id, form_journey_ids: f.object.id), title: 'Xoá', data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
              %i.fas.fa-trash

  .form-journey{class: f.object.id.present? ? 'd-none' : '' }
    .col
      %div.new-journey.mt-2.mr-2.font-weight-bold
        Thêm hoạt động mới
      .number-journey.mb-1.mt-2.font-weight-bold
        %i
          Trang 1
      .form-group
        = f.label :recent_conversion, 'Tên form '
        = f.text_field :recent_conversion, class: 'form-control'
        - f.object.errors.messages[:recent_conversion].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :first_name, 'Tên KH'
        = f.text_field :first_name, class: 'form-control'
        - f.object.errors.messages[:first_name].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :last_name, 'Họ KH'
        = f.text_field :last_name, class: 'form-control'
        - f.object.errors.messages[:last_name].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :phone_number, 'Số điện thoại'
        = f.text_field :phone_number, class: 'form-control'
        - f.object.errors.messages[:phone_number].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :email, 'Email'
        = f.text_field :email, class: 'form-control'
        - f.object.errors.messages[:email].each do |error|
          %span.invalid-feedback.custom-validation= error
      .form-group
        = f.label :recent_conversion_date, 'Ngày, giờ điền form'
        = f.text_field :recent_conversion_date, value: format_customer_journey(f.object.recent_conversion_date), class: 'form-control customer_daterangepicker'
        - f.object.errors.messages[:recent_conversion_date].each do |error|
          %span.invalid-feedback.custom-validation= error
    / .col
    /   .remove-group
    /     = link_to_remove_association f do
    /       %button.btn.btn-outline-danger.btn-remove{type: 'button', title: 'Xoá'}
    /         %i.fas.fa-trash
