.row
  .col
    = form_with model: @customer, url: admin_customer_customer_journeys_path, class: 'form-customer' do |f|
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary Lưu thay đổi
      .row
        .col
          .card
            .card-header.p-0.border-bottom-0
              %ul#custom-content-above-tab.nav.nav-tabs{:role => "tablist"}
                %li.nav-item
                  = link_to 'Thông tin khách hàng', edit_admin_customer_path(@customer), class: 'nav-link'
                %li.nav-item
                  %a#custom-content-customer-journey-tab.nav-link.active{"aria-controls" => "custom-content-customer-journey", "aria-selected" => "false", "data-toggle" => "pill", :href => "#custom-content-customer-journey", :role => "tab"} Hành trình tương tác
                %li.nav-item
                  = link_to 'Voucher đã gửi', vouchers_admin_customer_path(@customer), class: 'nav-link'
            .card-body
              #custom-content-above-tabContent.tab-content
                #custom-content-customer-journey.tab-pane.fade.show.active{"aria-labelledby" => "custom-content-customer-journey-tab", :role => "tabpanel"}
                  .row.histories
                    .col
                      .card.tms-card
                        .card-header
                          %h3.card-title Tư vấn online
                          .card-tools
                            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}, disabled: @is_disabled}
                              %i.fas.fa-minus
                        .card-body.p-0
                          .wrapper.center-block
                            - if @conversations.present?
                              .row
                                .col
                                  .page-header
                                    %h3
                                      %small.pull-right Page:
                                      = @conversations[0]['messages']['data'][0]['from']['name']

                                  - @conversations.each do |conversation|
                                    .comments-list
                                    - conversation['messages']['data'].each do |m|
                                      .media
                                        %p.pull-right
                                          %small= format_datetime_with_second(m['created_time'].to_datetime)
                                        .media-body
                                          %h4.media-heading.user_name.pt-1= m['from']['name']
                                          .font-size-12= m['message']
                                    %hr
                            - else
                              .email-journey-empty
                                Chưa có thông tin

                      .card.tms-card.visit-journey-card
                        .card-header
                          %h3.card-title Các trang web đã xem
                          .card-tools
                            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}, disabled: @is_disabled}
                              %i.fas.fa-minus
                        - if current_user.super_admin? || current_user.bi_ba?
                          .card-body.p-0
                            #visit_journeys
                              - is_all_new = f.object.all_new_visit_journey_groups.present?
                              - f.object.all_new_visit_journey_groups.each do |visit_id, visit_journeys_group|
                                = f.fields_for :visit_journeys, visit_journeys_group[:journeys].sort_by(&:object_id).reverse do |visit_journey|
                                  = render 'visit_journey_fields', f: visit_journey
                              .links.pl-3.pt-4.pb-3.visit-links
                                = link_to_add_association f, :visit_journeys do
                                  %button.btn.btn-reti-secondary.new-session-visit-journey{type: 'button', disabled: @is_disabled}
                                    %i.fas.fa-plus
                                    Thêm mới
                              %div.edit-visit-buttons.pr-3.pb-2{style: "display: #{is_all_new ? 'block' : 'none'}; height: 50px;"}
                                = f.submit 'Lưu lại', name: 'save_visit_journey', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right is-edit mb-3'
                                = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right mb-3'
                        .card-body.p-0
                          .wrapper.center-block
                            - if f.object.visit_journey_groups.present?
                              #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                                - f.object.visit_journey_groups.each do |visit_id, visit_journeys_group|
                                  .mt-2
                                    - is_valid = visit_journeys_group[:journeys].all?{|v| v.valid?}
                                    - if current_user.super_admin? || current_user.bi_ba?
                                      %div.visit-journey-hidden.padding-default.journey-hidden{id: "visit-journey-edit-#{visit_id}", 'data-id': visit_id, style: "display: #{is_valid ? 'none' : 'block'}"}
                                        = f.fields_for :visit_journeys, visit_journeys_group[:journeys] do |visit_journey|
                                          = render 'visit_journey_fields', f: visit_journey
                                        .links.pl-3.visit-links
                                          = link_to_add_association f, :visit_journeys do
                                            %button.btn.btn-reti-secondary{type: 'button', disabled: @is_disabled}
                                              %i.fas.fa-plus
                                              Thêm mới
                                        %div.edit-visit-buttons.pr-3.pb-2{style: "height: 50px;"}
                                          = f.submit 'Lưu lại', name: 'save_visit_journey', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right is-edit'
                                          = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right'
                                    .panel.panel-default.visit-journey-show.journey-show{id: "visit-journey-show-#{visit_id}", style: "display: #{is_valid ? 'block' : 'none'}"}
                                      .panel-heading.active{:role => "tab", id: "heading-vj-#{visit_id}"}
                                        .card-header
                                          %h3.card-title
                                            .title.visit-journey-title= visit_journeys_group[:title]
                                            %i.time= format_customer_journey(visit_journeys_group[:last_visited_date])
                                          .card-tools
                                            %a.a-collapse.collapsed{"aria-controls" => "collapse-vj-#{visit_id}", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapse-vj-#{visit_id}", :role => "button"}
                                      .panel-collapse.collapse.in{"aria-labelledby" => "heading-vj-#{visit_id}", :role => "tabpanel", id: "collapse-vj-#{visit_id}"}
                                        .panel-body
                                          %div.description Chi tiết
                                          .timeline.pl-3.block
                                            - visit_journeys_group[:journeys].each do |visit|
                                              .tl-item
                                                .tl-dot.b-warning
                                                .tl-content
                                                  .tl-title
                                                    %a{href: visit.visited_link, target: '_blank'}
                                                      %u= visit.title
                                                  %i.tl-date.text-muted.mt-1= format_customer_journey(visit.visited_date)
                                          - if current_user.super_admin? || current_user.bi_ba?
                                            .remove-group
                                              %button.btn.btn-outline-primary.delete-journey{'data-id': visit_id, 'data-type': 'visit', 'data-delete-url': admin_customer_customer_journey_path(id: @customer.id, visit_journey_ids: visit_journeys_group[:ids]), type: 'button'}
                                                %i.fas.fa-trash
                                              %button.btn.btn-outline-primary.edit-journey{'data-id': visit_id, type: 'button'}
                                                %i.fas.fa-pencil-alt

                      .card.tms-card
                        .card-header
                          %h3.card-title Email
                          .card-tools
                            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}, disabled: @is_disabled}
                              %i.fas.fa-minus
                        .card-body.p-0
                          .wrapper.center-block.email-journey-content
                            - if @email_journey_groups.present?
                              #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                                - @email_journey_groups.each do |campaign_id, journey|
                                  .panel.panel-default{id: "email-journey-show-#{campaign_id}"}
                                    .panel-heading.active{:role => "tab", id: "heading-ej-#{campaign_id}"}
                                      .card-header
                                        %h3.card-title
                                          %a.title{href: journey[:sent_email]&.preview, target: '_blank', title: journey[:sent_email]&.subject}
                                            = journey[:sent_email]&.subject
                                          %br
                                          %i.time= format_customer_journey(journey[:sent_email]&.created_date)
                                        .card-tools
                                          %a.a-collapse.collapsed{"aria-controls" => "collapse-ej-#{campaign_id}", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapse-ej-#{campaign_id}", :role => "button"}
                                    .panel-collapse.collapse.in{"aria-labelledby" => "heading-ej-#{campaign_id}", :role => "tabpanel", id: "collapse-ej-#{campaign_id}"}
                                      .panel-body
                                        %div.description
                                          = "Chi tiết: Đã mở: #{journey[:open_count]} - Đã nhấp: #{journey[:click_count]}"
                                        .timeline.pl-3.block
                                          - if journey[:first_open_email].present?
                                            .tl-item
                                              .tl-dot.b-warning
                                              .tl-content
                                                .tl-title Đã mở
                                                %i.tl-date.text-muted.mt-1= format_customer_journey(journey[:first_open_email].created_date)
                                          - if journey[:delivered_email].present?
                                            .tl-item
                                              .tl-dot.b-warning
                                              .tl-content
                                                .tl-title Đã nhận
                                                %i.tl-date.text-muted.mt-1= format_customer_journey(journey[:delivered_email].created_date)
                                          - if journey[:sent_email].present?
                                            .tl-item
                                              .tl-dot.b-warning
                                              .tl-content
                                                .tl-title Đã gửi
                                                %i.tl-date.text-muted.mt-1= format_customer_journey(journey[:sent_email].created_date)
                                        - if current_user.super_admin? && !current_user.bi_ba?
                                          .remove-group
                                            %button.btn.btn-outline-primary.delete-journey{'data-id': campaign_id, 'data-type': 'email', 'data-delete-url': admin_customer_customer_journey_path(id: @customer.id, email_journey_ids: journey[:ids]), type: 'button'}
                                              %i.fas.fa-trash
                            - else
                              .email-journey-empty
                                Chưa có thông tin
                    .col
                      .card.tms-card.ads-journey-card
                        .card-header
                          %h3.card-title Quảng cáo đã xem
                          .card-tools
                            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                              %i.fas.fa-minus
                        .card-body.p-0
                          .wrapper.center-block
                            - if @ads.present?
                              .row
                                .col
                                  .page-header
                                    %h3
                                      %small.pull-right Page:
                                      = @ads[0]['from']['name']

                                  - @ads.each do |ad|
                                    .comments-list
                                      .media
                                        %p.pull-right
                                          %small= format_datetime_with_second(ad['created_time'].to_datetime)
                                        .media-body
                                          %h4.media-heading.user_name.pt-1= ad['from']['name']
                                          .font-size-12= ad['message']
                                          %img{src: ad['picture']}
                            .panel-group{"aria-multiselectable": "true", role: "tablist"}
                              #ads_journeys
                                - if current_user.super_admin? || current_user.bi_ba?
                                  - is_ads_new = f.object.new_ads_journeys.present?
                                  = f.fields_for :ads_journeys, f.object.new_ads_journeys do |ads_journey|
                                    - is_valid = ads_journey.object.valid?
                                    .journey-group.mt-2
                                      %div.journey-hidden.padding-default.p-0.m-0.ads-journey-edit{style: "display: #{is_valid ? 'none' : 'block'}"}
                                        = render 'ads_journey_fields', f: ads_journey
                                  .links.ads-links
                                    = link_to_add_association f, :ads_journeys do
                                      %button.btn.btn-reti-secondary.m-3.ads-new-journey{type: 'button', disabled: @is_disabled}
                                        %i.fas.fa-plus
                                        Thêm mới
                                  %div.pr-3.pb-5.ads-journey-control.new-ads-journey-control{style: "height: 50px;", class: is_ads_new ? '' : 'd-none'}
                                    = f.submit 'Lưu lại', name: 'save_ads_journey', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right is-edit'
                                    = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right'
                        .card-body.p-0
                          .wrapper.center-block
                            .panel-group{"aria-multiselectable": "true", role: "tablist"}
                              .ads_journeys
                                = f.fields_for :ads_journeys, f.object.old_ads_journeys do |ads_journey|
                                  - is_valid = ads_journey.object.valid?
                                  .journey-group.mt-2
                                    %div.journey-hidden.padding-default.p-0.m-0.ads-journey-edit{style: "display: #{is_valid ? 'none' : 'block'}"}
                                      = render 'ads_journey_fields', f: ads_journey
                                      %div.pr-3.pb-2.pt-2.ads-journey-control{style: "height: 60px;"}
                                        = f.submit 'Lưu lại', name: 'save_ads_journey', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right is-edit'
                                        = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right'
                                    .panel.panel-default.journey-show{style: "display: #{is_valid ? 'block' : 'none'}"}
                                      .panel-heading{role: "tab", id: "heading-aj-#{ads_journey.object.id}"}
                                        .card-header
                                          %h3.card-title
                                            %a.title.visit-journey-title
                                              = "#{ads_journey.object.fb_ad_name}"
                                            %br
                                            %i.time
                                              = format_customer_journey(ads_journey.object.create_date)
                                          .card-tools
                                            %a.a-collapse.collapsed{"aria-controls": "collapse-aj-#{ads_journey.object.id}", "aria-expanded": "true", "data-toggle": "collapse", href: "#collapse-aj-#{ads_journey.object.id}", role: "button"}

                                      .panel-collapse.collapse.in{"aria-labelledby": "heading-aj-#{ads_journey.object.id}", role: "tabpanel", id: "collapse-aj-#{ads_journey.object.id}"}
                                        .panel-body
                                          %ul
                                            %li
                                              %span Tên chiến dịch QC:
                                              %span
                                                = ads_journey.object.fb_campaign_name
                                            %li
                                              %span Tên nhóm QC:
                                              %span
                                                = ads_journey.object.fb_ad_group_name
                                            %li
                                              %span Tên QC:
                                              %span
                                                = ads_journey.object.fb_ad_name

                                          - if (current_user.super_admin? && !current_user.bi_ba?) || (current_user.bi_ba? && !ads_journey.object.is_import)
                                            .remove-group
                                              %button.btn.btn-outline-primary.delete-journey{'data-type': 'ads', 'data-delete-url': admin_customer_customer_journey_path(id: @customer.id, ads_journey_ids: ads_journey.object.id), type: 'button'}
                                                %i.fas.fa-trash
                                              %button.btn.btn-outline-primary.edit-journey{type: 'button'}
                                                %i.fas.fa-pencil-alt

                      .card.tms-card
                        .card-header
                          %h3.card-title Form đã điền
                          .card-tools
                            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                              %i.fas.fa-minus
                        .card-body.p-0
                          .wrapper.center-block
                            - if f.object.form_journeys.present?
                              #accordion.panel-group{"aria-multiselectable": "true", role: "tablist"}
                                #form_journeys
                                  .journey-group.mt-2
                                    = f.fields_for :form_journeys do |form_journey|
                                      .panel.panel-default.journey-show
                                        .panel-heading{role: "tab", id: "heading-fj-#{form_journey.object.id}"}
                                          .card-header
                                            %h3.card-title
                                              %a.title{style: 'font-weight: 500'}
                                                = "#{form_journey.object.recent_conversion}"
                                              %br
                                              %i.time
                                                = format_customer_journey(form_journey.object.recent_conversion_date)
                                            .card-tools
                                              %a.a-collapse.collapsed{"aria-controls": "collapse-fj-#{form_journey.object.id}", "aria-expanded": "true", "data-toggle": "collapse", href: "#collapse-fj-#{form_journey.object.id}", role: "button"}

                                        .panel-collapse.collapse.in{"aria-labelledby": "heading-fj-#{form_journey.object.id}", role: "tabpanel", id: "collapse-fj-#{form_journey.object.id}"}
                                          .panel-body
                                            %ul
                                              %li
                                                %span Tên khách hàng:
                                                %span{style: 'font-weight: 500'}
                                                  = "#{form_journey.object.last_name} #{form_journey.object.first_name}"
                                              %li
                                                %span Email:
                                                %span{style: 'font-weight: 500'}
                                                  = form_journey.object.email
                                              %li
                                                %span Số điện thoại:
                                                %span{style: 'font-weight: 500'}
                                                  = form_journey.object.phone_number
                                            - if current_user.super_admin? && !current_user.bi_ba?
                                              .remove-group
                                                %button.btn.btn-outline-primary.delete-journey{'data-type': 'form', 'data-delete-url': admin_customer_customer_journey_path(id: @customer.id, form_journey_ids: form_journey.object.id), type: 'button'}
                                                  %i.fas.fa-trash
                            - else
                              .email-journey-empty
                                Chưa có thông tin

                      .card.tms-card
                        .card-header
                          %h3.card-title SMS
                          .card-tools
                            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                              %i.fas.fa-minus
                        .card-body.p-0
                          .wrapper.center-block
                            - if f.object.sms_journeys.present?
                              .panel-group{"aria-multiselectable": "true", role: "tablist"}
                                #sms_journeys.padding-default.p-0.m-0
                                  = f.fields_for :sms_journeys do |sms_journey|
                                    .journey-group.mt-2
                                      .panel.panel-default.journey-show
                                        .panel-heading{role: "tab", id: "heading-sj-#{sms_journey.object.id}"}
                                          .card-header
                                            %h3.card-title
                                              %a.title{style: 'font-weight: 500'}= sms_journey.object.sms_subject
                                              %br
                                              %i.time= format_customer_journey(sms_journey.object.sms_created_date)
                                            .card-tools
                                              %a.a-collapse.collapsed{"aria-controls": "collapse-sj-#{sms_journey.object.id}", "aria-expanded": "true", "data-toggle": "collapse", href: "#collapse-sj-#{sms_journey.object.id}", role: "button"}

                                        .panel-collapse.collapse.in{"aria-labelledby": "heading-sj-#{sms_journey.object.id}", role: "tabpanel", id: "collapse-sj-#{sms_journey.object.id}"}
                                          .panel-body
                                            %ul
                                              %li
                                                %span Ngày gửi:
                                                %span{style: 'font-weight: 500'}= format_customer_journey(sms_journey.object.sms_created_date)
                                              %li
                                                %span Nội dung:
                                                %span{style: 'font-weight: 500'}= auto_link sms_journey.object.sms_detail
                                            - if current_user.super_admin? && !current_user.bi_ba?
                                              .remove-group
                                                %button.btn.btn-outline-primary.delete-journey{'data-type': 'sms', 'data-delete-url': admin_customer_customer_journey_path(id: @customer.id, sms_journey_ids: sms_journey.object.id), type: 'button'}
                                                  %i.fas.fa-trash
                            - else
                              .email-journey-empty
                                Chưa có thông tin
