.nested-fields.p-3.visit-nested-fields
  %h6.modal-title= f.object.new_record? ? 'Thêm hoạt động mới' : 'Sửa hoạt động'
  = f.text_field :visit_id, hidden: true, value: f.object.visit_id || @customer.get_next_visit_id, class: 'edit-visit-id'
  .row
    .col-12
      .form-group
        .fields
          = f.label :title, 'Tiêu đề trang'
          = f.text_field :title, class: 'form-control'
          - f.object.errors.messages[:title].each do |error|
            %span.invalid-feedback.custom-validation= error
    .col-12
      .form-group
        .fields
          = f.label :visited_link, 'Link trang'
          = f.text_field :visited_link, class: 'form-control'
          - f.object.errors.messages[:visited_link].each do |error|
            %span.invalid-feedback.custom-validation= error
    .col-12
      .form-group
        .fields
          = f.label :visited_date, 'Ngày giờ xem trang'
          = f.text_field :visited_date, value: format_customer_journey(f.object.visited_date||Time.now), class: 'form-control customer_daterangepicker'
          - f.object.errors.messages[:visited_date].each do |error|
            %span.invalid-feedback.custom-validation= error
    .col-1
      = link_to_remove_association f do
        .form-group.m-0
          %button.btn.btn-outline-danger.btn-remove{type: 'button', title: 'Xoá'}
            %i.fas.fa-trash
