$("#customer_edit_form").html("#{j render('form')}");
- if !@customer.valid?
  :plain
    swalWithBootstrapButtons.fire({
      title: 'Lỗi',
      html: 'Gặp lỗi. Vui lòng thử lại!',
      confirmButtonText: 'OK',
      timer: 3000
    })
- elsif @action_success
  :plain
    swalWithBootstrapButtons.fire({
      title: 'Thành công',
      html: 'Thành công!',
      confirmButtonText: 'OK',
      timer: 3000
    })

:plain
  $('.customer_daterangepicker').daterangepicker({
    singleDatePicker: true,
    drops: 'up',
    timePicker: true,
    timePicker24Hour: true,
    autoUpdateInput: false,
    minYear: 2019,
    maxYear: 2119,
    locale: {
      format: 'HH:mm - DD/MM/YYYY'
    }
  }).on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('HH:mm - DD/MM/YYYY'));
    $(this).closest('.form-group').find('.custom-validation').hide();
    $(this).closest('.field_with_errors').removeClass('field_with_errors');
  });

  $('.customer_daterangepicker').each(function (elm) {
    if($(this).val()) {
      $(this).data('daterangepicker').setStartDate($(this).val());
    }
  });
