- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa Khách hàng
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_customers_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  #customer_edit_form
    = render 'form'
