.row
  .col-12
    .card.card-product-tab.mb-2
      %nav
        #nav-tab.nav.nav-tabs{:role => "tablist", style: 'border-bottom: none'}
          %a#nav-high-products-tab.nav-item.nav-link.nav-product-tab{"aria-controls" => "nav-high-products", "aria-selected" => "true", href: show_products_admin_project_path(level: 0), role: "tab", class: "#{'active' if params[:level].to_i == 0}"} Cao tầng
          %a#nav-low-products-tab.nav-item.nav-link.nav-product-tab{"aria-controls" => "nav-low-products", "aria-selected" => "false", href: show_products_admin_project_path(level: 1), role: "tab", class: "#{'active' if params[:level].to_i == 1}"} Thấp tầng
  .col-12
    .tms-card.form-search-filter-sidebar{style: 'padding: 0 !important;'}
      = render "admin/projects/mobile/product_filter"
      #nav-tabContent.tab-content
        #nav-high-products.tab-pane.fade{"aria-labelledby" => "nav-high-products-tab", :role => "tabpanel", class: "#{'active show' if params[:level].to_i == 0}"}
          .product-list-mobile{ products: @products.count, project_id: @project.id, limit: params[:limit].to_i, level: params[:level].to_i}
            = render partial: 'admin/projects/mobile/products', locals: { products: @products }
        #nav-low-products.tab-pane.fade{"aria-labelledby" => "nav-low-products-tab", role: "tabpanel", class: "#{'active show' if params[:level].to_i == 1}"}
          .product-list-mobile{ products: @products.count, project_id: @project.id, limit: params[:limit].to_i, level: params[:level].to_i}
            = render partial: 'admin/projects/mobile/products', locals: { products: @products }