= form_with url: show_products_admin_project_path, method: :get, local: true, class: 'mw-100 navbar-search' do |f|
  = f.hidden_field :level, value: params[:level]
  .d-flex
    = f.text_field :query, value: params[:query], id: "product-search", class: 'form-control typeahead product-search-mobile m-0 w-100',
    'data-url-autocomplete': product_autocomplete_admin_project_url(@project), 'data-level': params[:level].present? ? params[:level] : 0, type: 'search', placeholder: 'Nhập mã sản phẩm để tìm kiếm'
    %button.d-none{type: 'submit'}
    .ml-2
      %button.btn.btn-show-filter.btn-reti-primary{type: "button", style: 'position: relative;'}
        %a.nav-link{role: "button", style: 'padding: 2px !important'}
          = image_tag 'filter.svg'
          .border-50{style: "#{'display: block' if params && (params[:block_id] || params[:floor_id] || params[:name] || params[:product_type] || params[:real_estate_type] || params[:state])}"}
            %i.fas.fa-check.fa-sm{style: 'color: #3ac5c9; font-size: 6px !important; position: absolute;right: 1px; top: 2px;'}
      .sidebar-filter-deal-mobile.elevation-4
        .sidebar-filter
          .sidebar-filter-header
            .d-flex
              .icon-back-header
                %i.fas.fa-times.fa-lg
              %h5.filter-header Bộ lọc
          .sidebar-filter-body
            .shadow-filter-body
            .dropdown.tms-card
              %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:state]}"}
                %span= params[:state] ? "Trạng thái (#{params[:state].size})" : 'Trạng thái'
              .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                %form.form-dropdown-deal-mobile
                  %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                .menuItems.custom-list-state
                  - @all_states.each_with_index do |state, index|
                    %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:state] && params[:state].include?(state.second.to_s)}"}
                      = state.first
                      %input.dropdown-item{type: "checkbox", id: "state_#{index}", name: 'state[]', value: state.second, checked: params[:state] && params[:state].include?(state.second.to_s)}
                      %span.checkmark
            - if params[:level] == '0'
              .dropdown.tms-card
                %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:block_id]}"}
                  %span= params[:block_id] ? "Tòa (#{params[:block_id].size})" : 'Tòa'
                .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                  %form.form-dropdown-deal-mobile
                    %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                  .menuItems.custom-list-state
                    - @blocks.each_with_index do |block, index|
                      %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:block_id] && params[:block_id].include?(block.second.to_s)}"}
                        = block.first
                        %input.dropdown-item{type: "checkbox", id: "block_#{index}", name: 'block_id[]', value: block.second, checked: params[:block_id] && params[:block_id].include?(block.second.to_s)}
                        %span.checkmark
              .dropdown.tms-card
                %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:floor_id]}"}
                  %span= params[:floor_id] ? "Tầng (#{params[:floor_id].size})" : 'Tầng'
                .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                  %form.form-dropdown-deal-mobile
                    %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                  .menuItems.custom-list-state
                    - @floors.each_with_index do |floor, index|
                      %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:floor_id] && params[:floor_id].include?(floor.second.to_s)}"}
                        = floor.first
                        %input.dropdown-item{type: "checkbox", id: "floor_#{index}", name: 'floor_id[]', value: floor.second, checked: params[:floor_id] && params[:floor_id].include?(floor.second.to_s)}
                        %span.checkmark
              .dropdown.tms-card
                %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:name]}"}
                  %span= params[:name] ? "Mã căn/Sàn (#{params[:name].size})" : 'Mã căn/Sàn'
                .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                  %form.form-dropdown-deal-mobile
                    %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                  .menuItems.custom-list-state
                    - @all_product_names.each_with_index do |name, index|
                      %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:name] && params[:name].include?(name.to_s)}"}
                        = name
                        %input.dropdown-item{type: "checkbox", id: "name_#{index}", name: 'name[]', value: name, checked: params[:name] && params[:name].include?(name.to_s)}
                        %span.checkmark
            - unless params[:level] == '0'
              .dropdown.tms-card
                %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:real_estate_type]}"}
                  %span= params[:real_estate_type] ? "Loại hình (#{params[:real_estate_type].size})" : 'Loại hình'
                .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                  %form.form-dropdown-deal-mobile
                    %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                  .menuItems.custom-list-state
                    - @all_real_estate_types.each do |real_estate_type, index|
                      %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:real_estate_type] && params[:real_estate_type].include?(real_estate_type.to_s)}"}
                        = Reti::Product::REAL_ESTATE_TYPES[params[:level].to_i].values_at(real_estate_type).first
                        %input.dropdown-item{type: "checkbox", id: "real_estate_type_#{index}", name: 'real_estate_type[]', value: real_estate_type, checked: params[:real_estate_type] && params[:real_estate_type].include?(real_estate_type.to_s)}
                        %span.checkmark
            .dropdown.tms-card
              %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:product_type]}"}
                %span= params[:product_type] ? "Loại sản phẩm (#{params[:product_type].size})" : 'Loại sản phẩm'
              .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                %form.form-dropdown-deal-mobile
                  %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                .menuItems.custom-list-state
                  - @all_product_types.each_with_index do |name, index|
                    %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:product_type] && params[:product_type].include?(name.to_s)}"}
                      = name
                      %input.dropdown-item{type: "checkbox", id: "product_type_#{index}", name: 'product_type[]', value: name, checked: params[:product_type] && params[:product_type].include?(name.to_s)}
                      %span.checkmark
            - unless params[:level] == '0'
              .dropdown.tms-card
                %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:subdivision_id]}"}
                  %span= params[:subdivision_id] ? "Phân khu (#{params[:subdivision_id].size})" : 'Phân khu'
                .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                  %form.form-dropdown-deal-mobile
                    %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                  .menuItems.custom-list-state
                    - @subdivisions.each_with_index do |subdivision, index|
                      %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:subdivision_id] && params[:subdivision_id].include?(subdivision.second.to_s)}"}
                        = subdivision.first
                        %input.dropdown-item{type: "checkbox", id: "subdivision_#{index}", name: 'subdivision_id[]', value: subdivision.second, checked: params[:subdivision_id] && params[:subdivision_id].include?(subdivision.second.to_s)}
                        %span.checkmark
          .sidebar-filter-footer
            .float-right
              .btn.btn-canceled-filter.mr-1 Xóa bộ lọc
              .btn.btn-submit-filter Áp dụng