- products.each do |product|
  .product-ticket.mt-2.p-3{product_id: product.id}
    .d-flex
      .product-label.mr-2{class: "#{product.display_label_state(product.get_state)}"}= product.get_state
      .product-code= product.code
      - if !current_user.favourite_products.include?(product) || product.wish_lists.where(user_id: current_user.id).first&.favourite == false
        .d-none= 1
        .icon-heart{favourite: product.wish_lists.present? ? product.wish_lists.where(user_id: current_user.id).first&.favourite.to_s : 'false'}
          %i.far.fa-heart{style: 'color: #D9D9D9'}
      - else
        .d-none= 0
        .icon-heart{favourite: product.wish_lists.present? ? product.wish_lists.where(user_id: current_user.id).first&.favourite.to_s : 'false'}
          %i.fas.fa-heart{style: 'color: #F15B40'}
    %span.ticket-information= "#{product.subdivision&.name} - #{Reti::Product::REAL_ESTATE_TYPES[product.level][product.real_estate_type]} - #{Reti::Product::DIRECTIONS[product.direction]}"
    .d-flex
      %span.ticket-information
        = "#{params[:level].to_i == 0 ? acreage(product.carpet_area) : acreage(product.plot_area)}m"
        %sup{style: 'right: 2px'} 2
        = '-'
      %span.ml-1.ticket-information= "#{(product.price/1000000.to_f).ceil} triệu/m2"
      %span.ticket-sum-price= "#{product.sum_price/100000000.to_f.round/10.to_f} tỷ"