- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Dự án

- content_for :content_body do
  .row
    .col
      = form_with url: admin_projects_path, method: :get, local: true, class: 'input-group search-group' do |f|
        = f.text_field :query, value: params[:query], id: 'project-search', class: 'form-control typeahead', type: 'search', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên'
        %button{type: 'submit', id: 'btn-project-search'}
          %i.fa.fa-search
  .row
    .col
      %table.table.table-hover.text-nowrap.table-responsive.table-list-project
        %thead
          %tr
            %th Hình ảnh
            %th.w-100 Tên dự án
        %tbody
          - @projects.each do |project|
            %tr
              %td= image_tag(project.images.first.url, class: 'img-thumbnail', style: 'width: 100px') if project.images.first.present?
              %td= project.name
              %td.d-none
                %a.btn.btn-outline-primary{href: admin_project_path(project)}
  .create-deal-block.fixed-bottom.pr-2.pb-0
    .row
      .col-12
        = render partial: 'shared/pagination', locals: { pagy: @pagy }