- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Sơ đồ tổ chức

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body.height-body
          .row
            .col-8
              #chart-container
            .col-4
              #edit-panel
                .row
                  .col-6
                    %button.btn.btn-edit#edit-node
                      = image_tag 'edit.svg'
                      Chỉnh sửa
                    %a.back.form-inputs
                      = image_tag 'back.svg', style: 'margin-right: 5px'
                      Quay lại
                  .col-12
                    .form-group.form-inputs
                      %label.normal Đặt cấp bậc
                      %select#select-node.tms-select2.form-control{disabled: true}
                        %option{disabled: "disabled", :selected => "selected", :value => ""} Vui lòng chọn
                        %option#rd-parent{name: "node-type", value: "parent"} Vị trí cấp trên
                        %option#rd-child{name: "node-type", value: "children"} Vị trí cấp dưới
                        %option#rd-sibling{name: "node-type", value: "siblings"} Vị trí cùng cấp
                  .col-12
                    .form-group.form-inputs
                      %label.normal.selected-node-group Vị trí đã chọn:
                      %input.form-control#selected-node.selected-node-group{disabled: true, placeholder: 'Chọn một vị trí trên sơ đồ', type: "text"}/
                      %input.form-control#selected-node-email{type: 'hidden'}
                  .col-12{style: 'margin-bottom: -10px'}
                    .form-group.form-inputs
                      %label.normal Vị trí mới:
                    %ul#new-nodelist
                      %li
                        = select_tag "", options_for_select(@children), {class: 'tms-select2 form-control new-node', disabled: true, multiple: true}
                  .col-12#btn-add-remove-nodes{style: 'margin-top: 16px; display: none'}
                    %button#btn-add-nodes.btn.btn-edit{type: "button"}
                      = image_tag 'upload.svg'
                      Lưu vị trí
                    %button#btn-delete-nodes.btn.btn-outline-edit{type: "button"} Xóa vị trí
                    %button#btn-reset.btn.btn-outline-edit{type: "button"}
                      = image_tag 'refresh.svg'
  - if @data_source.present?
    %input{type: 'hidden', value: @data_source.to_json, id: 'org-chart-data-source'}
  %input{type: 'hidden', value: @group.id, id: 'group-id-hidden'}
  %input{type: 'hidden', value: @group.supervisor&.id, id: 'has-supervisor'}
