- if browser.device.mobile?
  $(".appointment-#{@appointment.pseudo_id}").replaceWith("#{ j render 'admin/deals/mobile/appointment_fields', {o: @appointment, deal: @deal} }");
- else
  $(".appointment-#{@appointment.pseudo_id}").replaceWith("#{ j render 'admin/deals/appointment_fields', {o: @appointment, deal: @deal} }");

- if @appointment.valid?
  $('.not-appointment').remove();

:plain
  customDateTimePicker($('.input-group.appointment-datetimepicker'));

  $(".tms-icheck-tab").each(function () {
    let $el = $(this);
    let skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
      color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
    let opt = {
      checkboxClass: 'icheckbox' + skin + color,
      radioClass: 'iradio' + skin + color,
    };
    $el.iCheck(opt);
  });
