- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Tuỳ chỉnh dự án
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "project-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab"} Tuỳ chỉnh chi tiết dự án
      %li.nav-tab-item
        = link_to 'Bảng hàng', admin_project_products_path(@project, level: 0), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Quy tắc lock căn', lock_rules_admin_project_path(@project), class: 'nav-link'
  = form_with model: [:admin, @project], url: admin_project_custom_details_path(@project.id), method: :post, local: true do |f|
    - unless @is_disabled
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary= @project.new_record? ? 'Lưu' : 'Lưu thay đổi'
    .row
      .col
        .card.tms-card
          .card-body
            .row
              .col
                .card.tms-card
                  .card-header
                    %h3.card-title Tuỳ chỉnh
                    .card-tools
                      %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                        %i.fas.fa-minus
                  .card-body
                    .tms-field-group
                      .tms-field-group  
                        .row
                          .col
                            .form-group
                              = f.label :meta_title, 'Meta Title'
                              = f.text_area :meta_title, class: 'form-control', disabled: @is_disabled
                            .form-group
                              = f.label :meta_description, 'Meta Description'
                              = f.text_area :meta_description, class: 'form-control', disabled: @is_disabled
                            .form-group
                              = f.label :custom_description, 'Tùy chỉnh mô tả dự án'
                              = f.cktext_area :custom_description, class: 'form-control', disabled: @is_disabled
                            .form-group
                              = f.label :custom_utilities, 'Tùy chỉnh tiện ích'
                              = f.cktext_area :custom_utilities, class: 'form-control', disabled: @is_disabled
                            .form-group
                              = f.label :custom_sale_policy, 'Tùy chỉnh chính sách bán hàng'
                              = f.cktext_area :custom_sale_policy, class: 'form-control', disabled: @is_disabled