.row
  .col
    = form_with model: [:admin, @account], local: true do |f|
      .row.sticky-scroll
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary= @account.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .form-group
                    = f.label :full_name do
                      Họ và tên
                      %span.required
                        *
                    = f.text_field :full_name, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:full_name].each do |full_name_error|
                      %span.invalid-feedback.custom-validation= full_name_error
                  .form-group
                    = f.label :phone do
                      Số điện thoại
                      %span.required
                        *
                    = f.text_field :phone, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:phone].each do |phone_error|
                      %span.invalid-feedback.custom-validation= phone_error
                  .form-group
                    = f.label :phone_verify do
                      Xác thực SĐT
                      %span.required
                        *
                    = f.select :phone_verify, options_for_select([["Đã xác thực OTP", true], ["Chưa xác thực ", false]], @account.phone_verify), {include_blank: 'Chọn'}, { class: 'form-control', required:'', disabled: @is_disabled }
                  .form-group
                    = f.label :email, 'Email'
                    = f.email_field :email, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:email].each do |email_error|
                      %span.invalid-feedback.custom-validation= email_error
                  .form-group
                    = f.label :password do
                      Mật khẩu
                      - unless @account.id
                        %span.required
                          *
                    = f.password_field :password, class: 'form-control', autocomplete: "new-password", disabled: @is_disabled, placeholder: "********"
                    - f.object.errors.messages[:password].each do |password_error|
                      %span.invalid-feedback.custom-validation= password_error
                  .form-group
                    = f.label :password_confirmation do
                      Xác nhận mật khẩu
                      - unless @account.id
                        %span.required
                          *
                    = f.password_field :password_confirmation, class: 'form-control', disabled: @is_disabled, placeholder: "********"
                    - f.object.errors.messages[:password_confirmation].each do |password_confirmation_error|
                      %span.invalid-feedback.custom-validation= password_confirmation_error
                  .form-group
                    = f.label :identity_card, 'Số CMND/CCCD'
                    = f.text_field :identity_card, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:identity_card].each do |identity_card_error|
                      %span.invalid-feedback.custom-validation= identity_card_error

        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Quản trị TK
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  - if @account.id
                    .form-group
                      %p
                        Ngày tạo:
                        %strong= format_date(@account.created_at)

                  - if policy(@account).change_state?
                    .form-group
                      = f.label :active do
                        Trạng thái tài khoản
                        %span.required
                          *
                      = f.select :active, options_for_select([["Hoạt động", true], ["Tạm khoá", false]], @account.active), {include_blank: 'Chọn'}, { class: 'form-control', required:'', disabled: @is_disabled }
                      - f.object.errors.messages[:reason_locks].each do |error|
                        %span.invalid-feedback.custom-validation= error

                    .card.tms-card.card_reason_lock
                      .card-header
                        %h3.card-title Lý do khoá
                        .card-tools
                          %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                            %i.fas.fa-minus
                      .card-body
                        #reason_locks
                          = f.fields_for :reason_locks do |reason_lock|
                            = render 'reason_lock_fields', f: reason_lock
                          .links
                            = link_to_add_association f, :reason_locks do
                              %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                                %i.fas.fa-plus
                                Thêm lý do
