.nested-fields
  .row
    .col-11
      .form-group
        .fields
          = f.label :content, 'Lý do khóa'
          = f.text_field :content, class: 'form-control', required: '', disabled: @is_disabled
          - if f.object.updated_at
            %span.text-muted.font-italic.text-sm= "Cập nhật: #{format_date(f.object.updated_at)}"
          - f.object.errors.messages[:content].each do |content_error|
            %span.invalid-feedback.custom-validation= content_error
    .col-1
      = link_to_remove_association f do
        .form-group
          %button.btn.btn-outline-danger{type: 'button', style: 'margin-top: 31px'}
            %i.fas.fa-trash