- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Danh sách tài khoản

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_accounts_path, method: :get, local: true, class: 'input-group search-group' do |f|
            = f.text_field :query, value: params[:query], id: 'account-search', class: 'form-control typeahead', type: 'search', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên, Email'
            %button{type: 'submit'}
              %i.fa.fa-search
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th Họ và tên
              %th Số điện thoại
              %th Xác thực SĐT
              %th Email
              %th Ngày tạo
              %th Trạng thái
              %th
          %tbody
            - @accounts.each do |account|
              %tr
                %td= account.full_name.to_s
                %td= account.phone
                %td{class: account.phone_verify ? 'text-success' : 'text-warning'}= account.phone_verify_text
                %td
                  %div{class: "#{'blank-data' if account.email.blank?}"}= "#{account.email.present? ? account.email : 'Chưa cập nhật'}"
                %td= format_date(account.created_at)
                %td{class: account.active ? 'text-success' : 'text-warning'}= account.active_text
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_account_path(account.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(account).destroy?
                    %a.btn.btn-outline-primary{href: admin_account_path(account.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash