%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -7.5px;
        margin-left: -7.5px;
      }
      .col-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;

        }
      .col-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
      }
      .user-confirmation {
        height: 100%;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        line-height: 24px;
       }
      .user-login-information-img {
        display: block;
        margin: 2rem auto;
      }
      .user-login-information {
        background: #fbfbfd;
        height: auto;
        border-radius: 16px;
        padding: 16px;
      }
      .user-login-information-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        padding: 1rem 0 1rem 0;
        color: #595959;
        display: block;
      }
      .content-successful {
        color: #595959;
        margin-right: 1rem;
      }
      .content-user-information {
        color: #595959 !important;
        margin: 1rem 0;
      }
      .user-login {
        text-align: center;
      }
      .user-login-title {
        color: #595959;
        margin-bottom: 1rem;
        font-weight: 500;
      }
      .user-login-btn {
        display: inline-block;
        text-decoration: none;
        background: #56C5D0;
        border-radius: 8px;
        color: #FFFFFF !important;
        width: 140px;
        height: 24px;
        margin-bottom: 32px;
        padding: 12px 20px
      }
      .user-login-text {
        font-weight: bold;
        margin-left: 0
      }
      .slogan {
        font-size: 14px;
        line-height: 24px;
      }
      .text-address {
        width: 100%;
      }
      .contact-link {
        color: #8C8C8C !important;
        text-decoration: none;
      }
      .direct-to-instruction {
        display: flex !important;
      }
      @media (max-width: 430px) {
        .user-confirmation {
          width: 100%
        }
        .user-login-information {
          padding: 2rem !important;
        }
        .user-login-btn {
          width: 148px;
        }
        .user-login-text {
          margin-left: 0
        }
        .text-address {
          width: 85%;
        }
        .direct-to-instruction {
          display: block !important;
        }
      }
  %body
    %div
      %table.user-confirmation{:align => "center"}
        %tbody
          %tr
            %td
              = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/new-logo.png', class: 'user-login-information-img'
          %tr
            %td.user-login-information
              %span.user-login-information-title Thông tin đăng nhập hệ thống RETI TMS
              %div{style: 'height: 1px; background: #F0F0F0; margin-bottom: 1rem'}
              .user-login-information-content
                .content-successful Bạn đã đăng ký thành công tài khoản trên RETI TMS - nền tảng quản lý dành cho chuyên viên BĐS. Vui lòng sử dụng thông tin sau để đăng nhập:
                .content-user-information
                  %div{style: 'display: flex !important'}
                    %span Tài khoản đăng nhập:
                    %a{rel: "nofollow", style: "margin-left: 0.25rem; font-weight: 500; text-decoration:none; color:#595959"}= @user.email
                  %div{style: 'display: flex !important'}
                    %span Mật khẩu:
                    %span{style: 'margin-left: 0.25rem; font-weight: 500'}= @password
              .user-login
                .user-login-title Bấm vào đây để đăng nhập RETI TMS ngay
                %a.user-login-btn{href: ENV['TMS_URL']}
                  %span.user-login-text ĐĂNG NHẬP TMS
              %div{style: 'height: 1px; background: #F0F0F0; margin-bottom: 1rem'}
              .direct-to-instruction
                %span Xem hướng dẫn đăng nhập và thiết lập tài khoản
                %a{href: 'https://docs.google.com/presentation/d/1KiFz8JSTBrJaM5Lwz6WYW407tl0DQyIDKVxlpHDmp8o/edit#slide=id.ga62a944f80_0_474', style: 'text-decoration: underline; margin-left: 0.25rem; color: #1990FF !important'} tại đây
          %tr
            %td{style: 'padding: 2rem 0 1rem 1rem'}
              = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/new-logo.png', height: 65
              .contact-link.slogan Smart move, Life changer
              .contact-link
                .row
                  .col-1
                    = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/house.png', alt: '', style: 'margin-right: 0.5rem; margin-top: 2px', width: 20, height: 17
                  .col-11
                    %a.text-address.contact-link{rel: "nofollow"} Tầng 3 Tòa nhà Terra, 83 Hào Nam, Ô Chợ Dừa, Đống Đa, TP Hà Nội
              .contact-link{style: 'margin-top: 0.25rem'}
                %a.contact-link{href: "tel: 1800 8085", style: 'display: flex !important'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/phone.png', alt: '', style: 'margin-right: 0.5rem; margin-top: 2px', width: 21, height: 20
                  %span 1800 8085
              .contact-link{style: 'margin-top: 0.5rem'}
                %a.contact-link{href: "mailto:chamsockhachhang@reti.vn", style: 'display: flex !important'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/message.png', alt: '', style: 'margin-right: 0.5rem; margin-top: 0.25rem', width: 20, height: 16
                  %span chamsockhachhang@reti.vn
              %div{style: 'display: flex !important; margin-top: 0.5rem'}
                %a.contact-link{:href => "https://www.facebook.com/retiproptech/", :target => "_blank", style: 'margin-right: 1rem'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/facebook.png', alt: "facebook", width: 33, height: 34
                %a.contact-link{:href => "https://www.instagram.com/retiproptech/", :target => "_blank", style: 'margin-right: 1rem'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/instagram.png', alt: "facebook", width: 35, height: 35
                %a.contact-link{:href => "https://www.linkedin.com/company/reti-proptech-real-estate", :target => "_blank"}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/linkedin.png', alt: "facebook", width: 35, height: 35
