.row
  .col
    = form_with model: [:admin, @banner], local: true do |f|
      = f.hidden_field :banner_type
      - unless @is_disabled
        .row.sticky-scroll
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary= @banner.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :title do
                          Tiêu đề
                          %span.required
                            *
                        = f.text_field :title, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:title].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      - unless @banner.banner_type == 2
                        .form-group
                          = f.label :sub_title, 'Tiêu đề phụ (Alt Text)'
                          = f.text_field :sub_title, class: 'form-control', disabled: @is_disabled
                      .form-group
                        = f.label :link, 'Link'
                        = f.text_field :link, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:link].each do |link_error|
                          %span.invalid-feedback.custom-validation= link_error
                      - unless @banner.banner_type == 2
                        .form-group
                          = f.label :is_display, 'Hiển thị'
                          .row
                            .col
                              = f.radio_button :is_display, true, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @is_disabled
                              Có
                              = f.radio_button :is_display, false, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @is_disabled
                              Không
                        .tms-field-group
                          .tms-field-group-header
                            %span Banner Desktop
                            %span.required
                              *
                            %span= @banner.banner_type == 0 ? '(W x H: 740 x 355px)' : '(W x H: 360 x 205px)'                            
                          .tms-field-group-body
                            - if @banner && !@banner.new_record? && @banner.banner_desktop.present?
                              = hidden_field :banner, :banner_desktop, value: @banner.banner_desktop.identifier, 'data-url': @banner.banner_desktop.url, 'data-delete-url': destroy_attachment_admin_banner_path(@banner)
                            .row
                              .col
                                .file-loading
                                  = f.file_field :banner_desktop, id: 'banner-banner-desktop-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                  - f.object.errors.messages[:banner_desktop].each do |banner_desktop_error|
                                    %span.invalid-feedback.custom-validation= banner_desktop_error

                      .tms-field-group
                        .tms-field-group-header
                          %span Banner Mobile
                          %span.required
                            *
                          %span (W x H: 375 x 255px)
                          - f.object.errors.messages[:banner_mobile].each do |link_error|
                            %span.invalid-feedback.custom-validation= link_error
                        .tms-field-group-body
                          - if @banner && !@banner.new_record? && @banner.banner_mobile.present?
                            = hidden_field :banner, :banner_mobile, value: @banner.banner_mobile.identifier, 'data-url': @banner.banner_mobile.url, 'data-delete-url': destroy_attachment_admin_banner_path(@banner)
                          .row
                            .col
                              .file-loading
                                = f.file_field :banner_mobile, id: 'banner-banner-mobile-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                - f.object.errors.messages[:banner_mobile].each do |banner_mobile_error|
                                  %span.invalid-feedback.custom-validation= banner_mobile_error
