- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Banner

- content_for :content_body do
  .card
    .card-body
      %ul.nav.nav-tabs{role: "tablist"}
        %li#topbanner.nav-item
          %a#product-info-tab.nav-link{class: "#{'active' if params[:banner_type].blank? || params[:banner_type].to_s == '0'}", href: admin_banners_path(banner_type: 0), role: "tab"} Banner slider
        %li#subbanner.nav-item
          %a#layout-info-tab.nav-link{class: "#{'active' if params[:banner_type].to_s == '1'}", href: admin_banners_path(banner_type: 1), role: "tab"} Right banner
      .card-body
        .tab-content
          .tab-pane.fade.show.active
            .table-responsive.p-0
              %table.table.text-nowrap.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
                %thead
                  %tr
                    %th STT
                    %th Tiêu đề
                    %th Link
                    %th Hiển thị
                    %th Ảnh
                    %th
                %tbody#sortable
                  - @banners.each do |banner|
                    %tr.item{'data-id': banner.id}
                      %td.stt
                      %td= banner.title.to_s
                      %td
                        %div{class: "#{'blank-data' if banner.link.to_s.blank?}"}= "#{banner.link.to_s.present? ? banner.link.to_s : 'Chưa cập nhật'}"
                      %td{class: banner.is_display ? 'text-success' : 'text-muted'}= banner.is_display ? 'Có' : 'Không'
                      %td
                        = image_tag(banner.banner_desktop.url, class: 'img-thumbnail', style: 'max-width: 50px') if banner.banner_desktop.present?
                      %td.text-right
                        %a.btn.btn-outline-primary.btn-edit{href: edit_admin_banner_path(banner.id)}
                          %i.fas.fa-pencil-alt
                        - if policy(banner).destroy?
                          %a.btn.btn-outline-primary{href: admin_banner_path(banner.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                            %i.fas.fa-trash

          
- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_banner_path(banner_type: params[:banner_type] || 0), class: 'btn btn-primary'
        %button.btn.btn-secondary#btn-sort-banner{type: 'button'} Cập nhật vị trí
