- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Thêm banner
  .col-sm-12.mt-2
    %a.main-header--back{href: @banner.banner_type == 2 ? admin_app_banners_path : admin_banners_path(banner_type: @banner.banner_type)}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  = render 'form'