- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chi tiết banner
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_banners_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .row
    .col
      .card
        .card-body
          = form_with(model: [:admin, @banner]) do |f|
            .form-group
              = f.label :title do
                Tiêu đề
                - if @banner.banner_type == 0
                  %span.required
                    *
              = f.text_field :title, class: 'form-control', disabled: ''
            .form-group
              = f.label :sub_title, 'Tiêu đề phụ (Alt Text)'
              = f.text_field :sub_title, class: 'form-control', disabled: ''
            .form-group
              = f.label :link, 'Link'
              = f.text_field :link, class: 'form-control', disabled: ''
            .form-group
              %label Banner Desktop
              %p
                = image_tag @banner.banner_desktop.url
            .form-group
              %label Banner Mobile
              %p
                = image_tag @banner.banner_mobile.url