- content_for :content_header do
  .col-sm-12
    %h2.m-0.text-dark Danh sách lock căn
  .col-sm-6.mt-2
    %a.main-header--back{href: admin_dashboard_index_path}
      %i.fas.fa-chevron-left
        Trở lại trang tổng quan

- content_for :content_body do
  .card-body.p-0
    .card.mt-3
      .card-body
        .table-responsive.p-0
          %table.table.text-nowrap.table-hover.list-product-lock-histories
            %thead
              %tr
                %th Tên dự án
                %th Mã sản phẩm
                %th Nhân viên kinh doanh
                %th Trạng thái
                %th Còn lại
            %tbody
              - @product_lock_histories.each_with_index do |product_lock_history|
                %tr.row-lock-item{id: product_lock_history.id}
                  %td= product_lock_history.project.name
                  %td= product_lock_history.product.code
                  %td= product_lock_history.user.full_name
                  %td
                    .label-campaign-lock{class: "#{product_lock_history.display_label_state}"}= I18n.t("product_lock_history.tms.states.#{product_lock_history.state}")
                  - data_countdown = product_lock_history.display_countdown
                  - class_countdown = data_countdown.present? ? 'text-countdown' : ''
                  %td{style: "color: #DA4343", class: class_countdown, 'data-state': product_lock_history.state, 'data-countdown': data_countdown, 'data-id': product_lock_history.id}
        = render partial: 'shared/pagination', locals: { pagy: @pagy }
