.row
  .col
    = form_for [:admin, @customer_ticket] do |f|
      .row.sticky-scroll
        .col
          .card.tms-card
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Trạng thái
                .tms-field-group-body
                  .form-group
                    .row
                      .col
                        - f.object.aasm.states.each do |state|
                          = f.radio_button :state, state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @state_is_disable
                          = f.label :state, I18n.t("customer_ticket.states.#{state}"), class: 'margin-right-5'
                      - unless @is_disabled && @state_is_disable
                        .float-right
                          %button#customer-ticket-submit.btn.btn-reti-secondary{type: 'submit'}= 'Lưu thay đổi'
      .row.window-content
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Thông tin khách hàng
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name, 'Tên khách hàng'
                        = f.text_field :name, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:name].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :gender, 'Danh xưng'
                        = f.select :gender, options_for_select(Constant::CUSTOMER_GENDER.invert, f.object.gender), {include_blank: 'Vui lòng chọn'}, {class: 'form-control', disabled: @is_disabled}
                      .form-group
                        = f.label :phone, 'Số điện thoại'
                        = f.text_field :phone, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:phone].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :email, 'Email'
                        = f.text_field :email, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:email].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :city_id, 'Tỉnh/Thành phố'
                        = f.select :city_id, options_for_select(@cities, f.object.city_id), {include_blank: true}, {class: 'form-control tms-select2', disabled: @is_disabled}
                      .form-group
                        = f.label :address, 'Địa chỉ'
                        = f.text_field :address, class: 'form-control', disabled: @is_disabled
                      .form-group
                        = f.label :message, 'Tin nhắn của khách hàng'
                        = f.text_area :message, class: 'form-control', type: "text", rows: "4", disabled: @is_disabled
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Nội dung phiếu tư vấn
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :ticket_type, 'Loại tư vấn'
                        = f.select :ticket_type, options_for_select(Constant::TICKET_TYPE.invert, f.object.ticket_type), {}, {class: 'form-control select-ticket-type', disabled: @is_disabled}
                  .display-block
                    .4-select{class: "#{'d-none' if f.object.ticket_type == 0 }" }
                      .3-select{class: "#{'d-none' unless f.object.ticket_type == 3}" }
                        .row
                          .col
                            .form-group
                              = f.label :objectable_id, 'Dự án'
                              = f.select :objectable_id, options_for_select(@projects, f.object.objectable_id), {include_blank: 'Chọn dự án'}, {class: 'form-control tms-select2', disabled: @is_disabled}
                              = f.hidden_field :objectable_type, value: "Project"
                      .1-select.2-select{class: "#{'d-none' unless [1,2].include? f.object.ticket_type }" }
                        .row
                          .col
                            .form-group
                              = f.label :objectable_id, 'Căn hộ'
                              = f.select :objectable_id, options_for_select(@products.collect {|p| [ 'Căn hộ ' + p.code + ' - ' + p.project.name, p.id ] }, f.object.objectable_id), {include_blank: 'Chọn căn hộ'}, {class: 'form-control tms-select2', disabled: @is_disabled}
                              = f.hidden_field :objectable_type, value: "Product"
                    .0-select
                  .row
                    .col
                      .form-group
                        = f.label :source, 'Nguồn'
                        = f.select :source, options_for_select(Constant::TICKET_SOURCE.invert, f.object.source), {}, {class: 'form-control', disabled: true, disabled: @is_disabled}


              .tms-field-group
                .tms-field-group-header
                  %span Ghi chú
                .tms-field-group-body
                  #ticket-notes
                    = f.fields_for :notes do |note|
                      = render 'note_fields', f: note
                    .links
                      = link_to_add_association f, :notes do
                        %button#add-note.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm ghi chú
                  - f.object.errors.messages[:notes].each do |error|
                    %span.invalid-feedback.custom-validation= error