- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa Đăng ký tư vấn
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_customer_tickets_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  = render 'form'
