- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Đăng ký tư vấn

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_customer_tickets_path, method: :get, local: true, class: 'input-group search-group' do |f|
            = f.text_field :query, value: params[:query], id: 'customer-ticket-search', class: 'form-control typeahead', type: 'search', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên, SĐT, Dự án'
            %button{type: 'submit'}
              %i.fa.fa-search
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th.border-bottom-none Tên khách hàng
              %th.border-bottom-none Số điện thoại
              %th.border-bottom-none Dự án
              %th.border-bottom-none Loại
              %th.border-bottom-none Trạng thái
              %th.border-bottom-none Ngày tạo
              %th.border-bottom-none.last-col-stick
          %tbody
            - @customer_tickets.each do |customer_ticket|
              %tr
                %td= customer_ticket.name
                %td= customer_ticket.phone
                %td
                  %div{class: "#{'blank-data' if customer_ticket.get_objectable_name.blank?}"}= "#{customer_ticket.get_objectable_name.present? ? customer_ticket.get_objectable_name : 'Chưa cập nhật'}"
                %td= Constant::TICKET_TYPE[customer_ticket.ticket_type]
                %td= I18n.t("customer_ticket.states.#{customer_ticket.aasm.current_state}")
                %td= format_date(customer_ticket.created_at)
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_customer_ticket_path(customer_ticket.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(customer_ticket).destroy?
                    %a.btn.btn-outline-primary{href: admin_customer_ticket_path(customer_ticket.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash