%body.login-page
  .login-box
    .login-logo
      = image_tag 'full_logo.svg'
    .card
      .card-body.login-card-body
        = form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|
          .form-group.mb-3
            = f.label :username, 'Tên đăng nhập'
            = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Tài khoản đăng nhập'
          .form-group.mb-3
            = f.label :password, 'Mật khẩu'
            = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Mật khẩu đăng nhập'
          - if flash.present?
            .row.mb-3
              .col-12
                .text-center.text-danger
                  - flash.each do |name, msg|
                    %span= msg
          .row.mb-3
            .col-12
              %button.btn.btn-primary.btn-block{type: "submit", disabled: true} Đăng nhập
          .row
            .col-7
              - if devise_mapping.rememberable?
                .field
                  = f.check_box :remember_me
                  = f.label :'Ghi nhớ tài khoản'
            .col-5.text-right
              %a{href: new_user_password_path} Quên mật khẩu?

- content_for :js do
  :javascript
    $('.form-control').on('input', function() {
      let accountLength = $('#user_username').val().length,
          passwordLength = $('#user_password').val().length;
      if (accountLength > 0 && passwordLength > 0 ) {
        $(':button[type="submit"]').prop('disabled', false);
      }
    });

    $(document).on('turbolinks:load', function() {
        var current_token = localStorage.getItem("access_token");
        if (current_token != undefined) {
          localStorage.removeItem("access_token");
        }
      });
