- if params[:form_id] == 'quick_create_call'
  - if @call.valid?
    var resultType = "#{params[:result_type]}";
    var gender = "#{params[:gender]}"
    :plain
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'Lưu chi tiết cuộc gọi thành công!',
        showConfirmButton: false,
        showClass: {
          popup: 'swal-create-customer',
        },
        timer: 3000
      }).then((result) => {
        $('#contact_status_changed').val(resultType);
        if(resultType == 'contacted'){
          $('#deal_gender').val(gender);
        }
        $('#edit-deal-detail input[name="save"]').click();
      })
  - elsif @call.present?
    $('.deal-new-call-busy .swal2-html-container').html("#{j render 'admin/deals/new_call', {call: @call, deal: @deal, result_type: params[:result_type]} }");
    :plain
      $('.new-call-group-body').find('.datetimepicker').datetimepicker({
        format: 'd/m/Y H:i',
        lang: 'vi'
      })
      $('.new-call-group-body').find('.select-gender').select2({
        theme: 'bootstrap',
        language: 'vi'
      });
- else
  - if @not_errors
    $('#call').find('.deal_add_fields').removeClass('d-none');
  $("#calls").prepend("#{j render 'admin/deals/call_fields', {o: @call, deal: @deal} }");
  :plain
    $("#calls").find('.datetimepicker').datetimepicker({
      format: 'd/m/Y H:i',
      lang: 'vi'
    })
    $(".call-").last().remove();
    $('.select-gender').select2({
      theme: 'bootstrap',
      language: 'vi'
    });

