:plain
  $(".call-#{@call.id}").replaceWith("#{j render 'admin/deals/call_fields', {o: @call, deal: @deal}}");
  $("#calls").find('.datetimepicker').datetimepicker({
    format: 'd/m/Y H:i',
    lang: 'vi'
  });
- if @not_errors
  :plain
    $('#call').find('.deal_add_fields').removeClass('d-none');