.row
  .col
    = form_with model: [:admin, @campaign_lock], id: 'campaign-lock', local: true do |f|
      #product_hidden_field
      - unless @is_disabled
        .row
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-save-campaign-lock{disabled: true} Thiết lập 
      - else @is_disabled
        .d-flex.mb-3
          .label-campaign-lock.mt-2{class: "#{@campaign_lock.display_label_state(@campaign_lock.state)}"}= I18n.t("campaign_lock.states.#{@campaign_lock.state}")
          - if policy(@campaign_lock).destroy? && @campaign_lock.state == 'upcoming' && @campaign_lock.session_opening_time > DateTime.now
            %a.btn.btn-remove-campaign-lock{href: admin_campaign_lock_path(@campaign_lock.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}} Xoá
      .card.tms-card.p-3
        .row.window-content
          .col-6
            .card.tms-card
              .card-header
                %h3.card-title Thông tin chiến dịch
                .card-tools
                  %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                    %i.fas.fa-minus
              .card-body
                .tms-field-group
                  .tms-field-group-body
                    .row
                      .col
                        .form-group
                          = f.label :session_opening_time, 'Thời gian mở phiên'
                          .input-group.campaign-lock-datetimepicker.border-0{class: "#{'disabled' if @is_disabled}"}
                            = f.text_field :session_opening_time, value: f.object.session_opening_time&.localtime&.strftime('%d/%m/%Y - %H:%M'),
                            placeholder: 'dd/mm/yyyy - hh:mm', class: 'form-control', autocomplete: "off", readonly: true
                            %span
                              %i.tms.tms-calendar
                          - f.object.errors.messages[:session_opening_time].each do |session_opening_time_error|
                            %span.invalid-feedback.custom-validation= session_opening_time_error
                        .form-group
                          = f.label :project_id, 'Dự án'
                          = f.select :project_id, options_for_select(@projects, f.object.project_id), {include_blank: true}, { class: 'tms-select2 form-control', disabled: @is_disabled }
                          - f.object.errors.messages[:project_id].each do |project_id_error|
                            %span.invalid-feedback.custom-validation= project_id_error
                        .form-group
                          = f.label :enable_locked_for_hot_product, 'Số căn Sale được lock trong phiên đối với hàng HOT'
                          = f.text_field :enable_locked_for_hot_product, type: 'number', class: 'form-control', disabled: @is_disabled
                          - f.object.errors.messages[:enable_locked_for_hot_product].each do |enable_locked_for_hot_product_error|
                            %span.invalid-feedback.custom-validation= enable_locked_for_hot_product_error
                        .form-group
                          = f.label :enable_locked_for_inventory, 'Số căn Sale được lock trong phiên đối với hàng tồn'
                          = f.text_field :enable_locked_for_inventory, class: 'form-control', disabled: true
                          - f.object.errors.messages[:enable_locked_for_inventory].each do |enable_locked_for_inventory_error|
                            %span.invalid-feedback.custom-validation= enable_locked_for_inventory_error
          .col-6
            .card.tms-card
              .card-header
                %h3.card-title Cơ chế lock
                .card-tools
                  %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                    %i.fas.fa-minus
              .card-body{style: 'height: 400px'}
                .tms-field-group
                  .tms-field-group-body
                    .row
                      .col
                        .form-group
                          = f.label :unc_confirmation_period_for_sale, 'Thời gian xác nhận UNC của Sale (phút)'
                          = f.text_field :unc_confirmation_period_for_sale, type: 'number', class: 'form-control', disabled: @is_disabled
                          - f.object.errors.messages[:unc_confirmation_period_for_sale].each do |unc_confirmation_period_for_sale_error|
                            %span.invalid-feedback.custom-validation= unc_confirmation_period_for_sale_error
                        .form-group
                          = f.label :unc_confirmation_period_for_sale_admin, 'Thời gian xác nhận UNC của Sale admin (phút)'
                          = f.text_field :unc_confirmation_period_for_sale_admin, type: 'number', class: 'form-control', disabled: @is_disabled
                          - f.object.errors.messages[:unc_confirmation_period_for_sale_admin].each do |unc_confirmation_period_for_sale_admin_error|
                            %span.invalid-feedback.custom-validation= unc_confirmation_period_for_sale_admin_error
                        .form-group
                          = f.label :confirm_deposit_by_sale_admin, 'Phân công Admin dự án'
                          = f.select :confirm_deposit_by_sale_admin, options_for_select(@users, f.object.confirm_deposit_by_sale_admin), {include_blank: true}, { class: 'tms-select2 form-control', disabled: @is_disabled}
                          - f.object.errors.messages[:confirm_deposit_by_sale_admin].each do |confirm_deposit_by_sale_admin_error|
                            %span.invalid-feedback.custom-validation= confirm_deposit_by_sale_admin_error
        .row
          .col-12
            .card.tms-card
              .card-header
                %h3.card-title Chọn sản phẩm
                .card-tools
                  %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                    %i.fas.fa-minus
              .card-body
                - if controller.action_name == 'edit'
                  %div#prievew-products
                    %ul.nav.nav-tabs
                      %li.nav-item
                        %btn#tab-high-product{data: {toggle: 'tab', target: "#high-product"}, class: "nav-link #{display_active_class(@high_products)}"} Cao tầng
                      %li.nav-item
                        %btn#tab-low-product{data: {toggle: 'tab', target: "#low-product"}, class: "nav-link #{display_active_class(@low_products)}"} Thấp Tầng
                    .tab-content.overflow-auto
                      %div#high-product{class: "tab-pane fade show #{display_active_class(@high_products)}"}
                        %table.table
                          %thead
                            %tr
                              - Constant::HIGH_COLUMNS.each do |col|
                                %th= col[:title]
                          %tbody
                            - @high_products.each do |product|
                              %tr
                                -Constant::HIGH_COLUMNS.each do |col|
                                  %td= product_cell_value(col, product)
                      %div#low-product{class: "tab-pane fade show #{display_active_class(@low_products)}"}
                        %table.table
                          %thead
                            %tr
                              - Constant::LOW_COLUMNS.each do |col|
                                %th= col[:title]
                          %tbody
                            - @low_products.each do |product|
                              %tr
                                - Constant::LOW_COLUMNS.each do |col|
                                  %td= product_cell_value(col, product)

                - else
                  .tms-field-group
                    .tms-field-group-body
                      .row
                        .col-12
                          %button.btn.btn-reti-primary#btn-import-product-campaign{type: 'button'} + Import sản phẩm
                          %a.btn.btn-success#export-template{href: export_template_admin_campaign_locks_path, target: '_blank', style: 'display: none;'}
                            %i.fa.fa-download
                            Tải file mẫu
                        .col-12
                          .collapse#import-product{style: 'display: none;'}
                            #files-field-product.dropzone.fallback.mt-5
                            .form-group.input-group.btn-zone
                              %btn#import-product-preview{class: 'btn btn-primary', style: 'display: none;'} Tải lên và xem trước
                  %div#prievew-products{style: 'display: none;'}
                    %ul.nav.nav-tabs
                      %li.nav-item
                        %btn.nav-link.active#tab-high-product{data: {toggle: 'tab', target: "#high-product"}} Cao tầng
                      %li.nav-item
                        %btn.nav-link#tab-low-product{data: {toggle: 'tab', target: "#low-product"}} Thấp Tầng
                    .tab-content.overflow-auto
                      .tab-pane.fade.show.active#high-product
                      .tab-pane.fade.show#low-product
