- content_for :content_header do
  .col-12
    %h2.m-0.text-dark Lịch lock căn
- content_for :content_body do
  .card-body.p-0{class: "#{'text-center' unless @campaign_locks.present?}"}
    - unless @campaign_locks.present?
      .m-auto
        = image_tag 'catalogue.svg', style: 'margin-top: 75px'
        .ml-auto.mr-auto.mt-3.reti-color-label{style: 'width: 35%'} Chưa có lịch lock căn nào được tạo. Nhấn nút Tạo mới để khởi tạo lịch đầu tiên
        - if policy(CampaignLock.new).create?
          %a.btn.btn-primary.mt-3.btn-create-campaign-lock{href: new_admin_campaign_lock_path} Tạo mới
    - else
      .card.mt-3
        .card-body
          .table-responsive.p-0
            %table.table.text-nowrap.table-hover
              %thead
                %tr
                  %th Trạng thái
                  %th Dự án
                  %th Mã sản phẩm
                  %th Thời gian mở phiên
                  %th.d-none
              %tbody
                - @campaign_locks.each_with_index do |campaign_lock|
                  %tr
                    %td
                      - if campaign_lock.state == 'upcoming'
                        .d-none= 0
                      - elsif campaign_lock.state == 'locking'
                        .d-none= 1
                      - else
                        .d-none= 2
                      .label-campaign-lock{class: "#{campaign_lock.display_label_state(campaign_lock.state)}"}= I18n.t("campaign_lock.states.#{campaign_lock.state}")
                    %td= campaign_lock.project.name
                    %td
                      .d-flex
                        .text-truncate{style: 'max-width: 250px'}= campaign_lock.get_products
                        - if campaign_lock.products.present?
                          %span.count-value{style: 'color: #7B61FF'}= "(+#{campaign_lock.products.length})"
                    %td= campaign_lock.session_opening_time&.localtime&.strftime('%d/%m/%Y - %H:%M')
                    %td.text-right.d-none
                      %a.btn.btn-outline-primary.btn-edit{href: edit_admin_campaign_lock_path(campaign_lock.id)}
                        %i.fas.fa-pencil-alt
          = render partial: 'shared/pagination', locals: { pagy: @pagy }
- content_for :content_footer do
  - if @campaign_locks.present? && policy(CampaignLock.new).create?
    %footer.main-footer.main-footer-fixed
      .row
        .col-12
          %a.btn.btn-reti-primary.btn-create-campaign-lock.mt-0.mr-0.w-auto{href: new_admin_campaign_lock_path} Tạo mới