= form_with model: [:admin, @instruction_document] , url: { action: "create" }, id: 'instruction-document-submit-form' do |f|
  .form-group
    = f.label :title, 'Tên tài liệu', class: 'title-instruction-document'
    = f.text_field :title, class: 'form-control', type: 'text', placeholder: 'Vui lòng nhập'
    - f.object.errors.messages[:title].each do |error|
      %span.invalid-feedback.custom-validation= error
  .form-group
    = f.label :file, 'Tải file tài liệu', class: 'title-instruction-document'
    = f.file_field :file, id: 'instruction-document-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', accept: "application/pdf"
    - f.object.errors.messages[:file].each do |error|
      %span.invalid-feedback.custom-validation= error
  %button.btn.btn-reti-primary.btn-save-instruction-document.mt-4{"data-disable-with" => "Lưu"} Lưu