- unless @instruction_document.valid?
  $('#modal-instruction-document .modal-body').html("#{j render('admin/instruction_documents/new_instruction_document')}");
  :plain
    var instructionDocumentConfigs = [], instructionDocumentUrls = [];
    $('#instruction-document-input').fileinput({
        initialPreview: instructionDocumentUrls,
        initialPreviewAsData: true,
        initialPreviewConfig: instructionDocumentConfigs,
        overwriteInitial: false,
        allowedFileTypes: ['pdf'],
        showCancel: false,
        showRemove: false,
        browseLabel: '',
        removeClass: 'btn btn-danger',
        removeLabel: '',
        theme: 'fas',
        maxFileCount: 5,
        deleteUrl: '/',
        ajaxDeleteSettings: {
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        },
        fileActionSettings: {
            showZoom: function (config) {
                return config.type === 'pdf';
            }
        }
    }).on('fileloaded', function () {
        let filePreview = $(this).closest('.file-input.theme-fas');
        if (filePreview.hasClass('has-error')) {
            filePreview.removeClass('has-error')
            filePreview.find('.kv-fileinput-error.file-error-message').hide().empty();
            filePreview.find('.kv-fileinput-caption.file-caption').removeClass('is-invalid');
            filePreview.find('.file-caption-icon').remove();
        }
    }).on('filebeforedelete', function () {
        var aborted = !window.confirm('Bạn có chắc muốn xóa file này?');
        return aborted;
    }).on('filedeleted', function () {
        setTimeout(function () {
            window.alert('Xóa file thành công! ' + krajeeGetCount('file-5'));
        }, 900);
    });