- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Tài liệu HDSD

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          %h5 Tài liệu HDSD
          %table.table.table-hover.table-bordered
            %thead.text-center
              %tr
                %th{width: '40%'} Tài liệu
                %th{width: '40%'} Ngày cập nhật
                %th{width: '20%'}
            - @instruction_documents.each do |instruction_document|
              %tbody
                %tr
                  %td{width: '40%'}= instruction_document.title
                  %td{width: '40%'}= instruction_document.created_at.strftime('%d/%m/%Y')
                  %td.text-center{width: '20%'}
                    %a.btn.btn-outline-primary{href: instruction_document.file.url, target: '_blank'}
                      %i.far.fa-eye
                    %a.btn.btn-outline-primary{href: admin_instruction_document_path(instruction_document), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
          %button.btn.btn-reti-primary.float-right.mt-3.btn-new-instruction-document{"data-target" => "#modal-instruction-document", "data-toggle" => "modal", :type => "button"}
            %i.fas.fa-plus
            Thêm mới
          #modal-instruction-document.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-instruction-document-title", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-dialog-centered{:role => "document", style: 'max-width: 700px !important'}
              .modal-content
                .modal-header
                  %h3#modal-instruction-document-title.modal-title Thêm mới tài liệu
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body.p-5
                  = render partial: 'admin/instruction_documents/new_instruction_document'