.heading.font-weight-600
  != heading
- if contents.length == 1
  .contents
    .pl-2!= auto_link(contents.first)
- elsif contents.length > 1
  .contents
    %ol.pl-4
      - contents.each do |content|
        %li= auto_link(content)
