#histories
  - @histories.order(created_at: :desc).each do |history|
    .kanban-bg-light.rounded.p-2.mb-2
      != auto_link(history.content)
  = render partial: 'shared/pagination', locals: { pagy: @pagy }