.nested-fields
  .row
    .col-4
      .form-group
        %label Phân khu
        = select_tag "subdivision", options_for_select(@subdivisions), {include_blank: true, class: 'tms-select2 form-control select2-subdivision-layout', data: {'select-child-target': 'select2-block-layout', id: 'subdivision', 'select-sub-child-target': 'select2-floor-layout'}, id: ''}
    .col-4
      .form-group
        %label Tòa
        = select_tag "block", options_for_select([]), {include_blank: true, class: 'tms-select2 form-control select2-block-layout', data: {'select-child-target': 'select2-floor-layout', id: 'block'}, id: ''}
    .col-4
      .form-group
        %label Tầng
        = select_tag "floor", options_for_select([]), {include_blank: true, class: 'tms-select2 form-control select2-floor-layout', id: ''}
    = f.hidden_field :division_id, id: '', class: 'division-id'
    - f.object.errors.messages[:division_id].each do |error|
      %span.invalid-feedback.custom-validation= error

  .row
    .col-11
      - if f.object.image.present?
        %input{type: 'hidden', value: f.object.image.identifier, 'data-url': f.object.image.url, 'data-delete-url': '', class: 'interactive-layout-image'}
      = f.hidden_field :image_cache, value: f.object.image_cache
      .form-group
        .file-loading
          = f.file_field :image, 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', class: 'upload-layout-image'
          - f.object.errors.messages[:image].each do |image_error|
            %span.invalid-feedback.custom-validation= image_error
    .col-1
      = link_to_remove_association f do
        .form-group
          %button.btn.btn-outline-danger{type: 'button', style: 'margin-top: 31px'}
            %i.fas.fa-trash
