- content_for :content_modal do
  #modal-layout.modal.fade{role: "dialog", tabindex: "-1", "data-keyboard": "false", "data-backdrop": "static"}
    .modal-dialog.modal-lg.modal-dialog-scrollable
      .modal-content
        .modal-header.d-block.kanban-modal-header-border-bottom.tms-pb-26
          = form_with model: [:admin, @interactive_layout.project, @interactive_layout], local: true do |f|
            .row#interactive-layouts.mt-3
              .col.nested-fields
                .form-group
                  %label
                    Tên
                  %input.form-control{readonly: true, value: @interactive_layout.division ? @interactive_layout.division.name : 'mặt bằng tổng'}
                - if f.object.image.present?
                  %input{type: 'hidden', value: f.object.image.identifier, 'data-url': f.object.image.url, 'data-delete-url': '', class: 'interactive-layout-image'}
                = f.hidden_field :image_cache, value: f.object.image_cache
                .form-group
                  .file-loading
                    = f.file_field :image, 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', class: 'upload-layout-image'
                    - f.object.errors.messages[:image].each do |image_error|
                      %span.invalid-feedback.custom-validation= image_error


            .row
              .col
                .float-right
                  %button.btn.btn-reti-secondary= @interactive_layout.new_record? ? 'Lưu' : 'Lưu thay đổi'

          %button.close{type: "button", 'data-dismiss': "modal"}
            %span{"aria-hidden" => "true"} ×