- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa dự án
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Bảng hàng', admin_project_products_path(@project), class: 'nav-link'
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "interactive-layout-info", "aria-selected" => "false", "data-toggle" => "pill", role: "tab"} Mặt bằng điện tử
      %li.nav-tab-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Quy tắc lock căn', lock_rules_admin_project_path(@project), class: 'nav-link'
  .card.tms-card
    .card-body
      #interactive-layout-info.tab-pane.fade.show.active{"aria-labelledby" => "interactive-layout-info-tab", role: "tabpanel", 'data-url': admin_project_interactive_layouts_path(@project)}
        .row
          .col
            .card.tms-card.collapsed-card
              .card-header
                %h3.card-title Thêm mặt bằng
                .card-tools
                  %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                    %i.fas.fa-plus
              .card-body{style: @project.errors.blank? ? 'display: none;' : 'display: block;'}
                = form_with model: [:admin, @project], url: admin_project_interactive_layouts_path(@project), method: :post, local: true, id: '', class: 'add-interactive-layout' do |f|
                  = f.hidden_field :id, value: @project.id
                  .row
                    .col
                      #interactive-layouts
                        = f.fields_for :interactive_layouts do |doc|
                          - if doc.object.id == nil
                            = render 'interactive_layout_fields', f: doc
                        - f.object.errors.messages[:divis].each do |error|
                          %span.invalid-feedback.custom-validation= error
                        .links
                          = link_to_add_association f, :interactive_layouts do
                            %button.btn.btn-success.btn-float-right{type: 'button'}
                              %i.fas.fa-plus
                              Thêm mặt bằng
                  .row
                    .col
                      %button.btn.btn-reti-secondary
                        Lưu
        .card
          .card-body
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th{width: '5%'}
                    %th{width: '35%'} Ảnh mặt bằng
                    %th{width: '35%'} Tên mặt bằng
                    %th.text-center{width: '25%'}
                %tbody
                  - if @general_layout.present?
                    %tr
                      %td
                        = image_tag(@general_layout.image.url, class: 'img-thumbnail', style: 'width: 100px') if @general_layout.image.present?
                      %td
                        Mặt bằng chung
                      %td.text-center
                        %a.btn.btn-outline-primary{href: edit_admin_project_interactive_layout_path(@project, @general_layout), data: { modal: 'true' }}
                          %i.fas.fa-pencil-alt
                        %a.btn.btn-outline-primary{href: admin_project_interactive_layout_path(@project, @general_layout), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                          %i.fas.fa-trash
                    %tr
                      %td.border-top-0
                      %td.border-top-0{colspan: 3}
                        = form_with model: [:admin, @general_layout.project, @general_layout], local: true do |f|
                          = f.check_box :show_division, value: true, checked: @general_layout.show_division, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                          = f.label :show_division, 'Cho phép hiển thị mặt bằng tổng thể khi chỉ có 1 phân khu', class: 'm-0'
                          %br
                            .font-size-14{style: "margin-left: 40px;"}
                              (Luôn hiển thị mặt bằng tổng với mặt bằng có từ 2 phân khu)
                  - @layout_subdivisions.each do |subdivision|
                    %tr
                      %td
                        - if subdivision.childrens.where(id: @layout_division_ids).size > 0
                          %button.btn.btn-show-childrens.collapsed{'data-toggle': "collapse", 'data-target': "#collapse-#{subdivision.id}", 'aria-expanded': "true", 'aria-controls': "collapse-#{subdivision.id}"}
                      %td{style: "padding-left:30px !important;"}
                        = image_tag(subdivision.interactive_layout.image.url, class: 'img-thumbnail', style: 'width: 100px') if subdivision.interactive_layout.image.present?
                      %td
                        = subdivision.name
                      %td.text-center
                        %a.btn.btn-outline-primary{href: edit_admin_project_interactive_layout_path(@project, subdivision.interactive_layout), 'data-modal': 'true' }
                          %i.fas.fa-pencil-alt
                        %a.btn.btn-outline-primary{href: admin_project_interactive_layout_path(@project, subdivision.interactive_layout), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                          %i.fas.fa-trash
                    - subdivision.childrens.where(id: @layout_division_ids).each do |block|
                      %tr.collapse{id: "collapse-#{subdivision.id}"}
                        %td
                          - if block.childrens.where(id: @layout_division_ids).size > 0
                            %button.btn.btn-show-childrens.collapsed{'data-toggle': "collapse", 'data-target': "#collapse-#{block.id}", 'aria-expanded': "true", 'aria-controls': "collapse-#{block.id}"}
                        %td{style: "padding-left:50px !important;"}
                          = image_tag(block.interactive_layout.image.url, class: 'img-thumbnail', style: 'width: 100px') if block.interactive_layout.image.present?
                        %td
                          = block.name
                        %td.text-center
                          %a.btn.btn-outline-primary{href: edit_admin_project_interactive_layout_path(@project, block.interactive_layout), data: { modal: 'true' }}
                            %i.fas.fa-pencil-alt
                          %a.btn.btn-outline-primary{href: admin_project_interactive_layout_path(@project, block.interactive_layout), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                            %i.fas.fa-trash
                      - block.childrens.where(id: @layout_division_ids).each do |floor|
                        %tr.collapse{id: "collapse-#{block.id}"}
                          %td
                          %td{style: "padding-left:70px !important;"}
                            = image_tag(floor.interactive_layout.image.url, class: 'img-thumbnail', style: 'width: 100px') if floor.interactive_layout.image.present?
                          %td
                            = floor.name
                          %td.text-center
                            %a.btn.btn-outline-primary{href: edit_admin_project_interactive_layout_path(@project, floor.interactive_layout), data: { modal: 'true' }}
                              %i.fas.fa-pencil-alt
                            %a.btn.btn-outline-primary{href: admin_project_interactive_layout_path(@project, floor.interactive_layout), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                              %i.fas.fa-trash
  :javascript
    $("#interactive_layout_show_division").on('ifChanged', function (e) {
      $(this).closest('form').submit();
    });