.col-12.col-md-4.order-sm-1.mb-2
  .card.tms-card.mb-0.h-100
    .card-header
      %h3.m-0.font-size-18.text-center Danh sách dẫn đầu
    .card-body.px-3.pt-3.pb-0
      .row
        -if @sum_price_users.present? && @sum_price_users.map{|c| c.third}.present?
          .col-12
            .d-flex.position-relative
              .chart-millions Tỷ (VNĐ)
              .chart-blocks Căn
          .col-12
            %canvas#myChart.chart-dashboard{width: '400', height: '400','sum_price_current_user': @sum_price, 'sum_products_current_user': @contract_signed_deals.count, 'current_user_name': current_user.full_name}
            - @sum_price_users.map{|c| c.third}.each_with_index do |c, index|
              .d-none
                %div{id: "sum_price_#{index}"}= c
                %div{id: "sum_price_max"}= @sum_price_max
            - @sum_price_users.map{|c| c.fourth}.each_with_index do |d, index|
              %div{id: "deals_#{index}", style: 'display: none'}= d
            - @sum_price_users.map{|c| c.second}.each_with_index do |u, index|
              %div{id: "username_#{index}", style: 'display: none', name: 'username'}= u
        .col-12
          .form-group
            -if @sum_price_users.present?
              .chart-text-1= "Danh sách CTV đứng đầu Reti trong tháng #{Time.zone.now.month} 2021."
            - if @contract_signed_deals.blank?
              .chart-text-2= "Hiện tại bạn chưa có doanh thu trong tháng này!"
            -else
              .chart-text-2= "Hiện nay bạn đang đứng vị trí thứ #{@sum_price_rank.to_i + 1} trong bảng xếp hạng!"