.dashboard-sale-admin-container
  - if !Rails.env.production?
    .d-flex
      .dashboard-sale-admin-header.mb-2 Quản lý lượt lock
      .button-lock-history.cursor-pointer
        %a{style: 'vertical-align: super', href: admin_product_lock_histories_path } Lịch sử lock căn
        %span.expand-collapse-icon{"aria-label" => "down", role: "img"}
          = image_tag 'arrow-right.svg', class: 'd-block'
    .dashboard-sale-admin-lock
      %span.custom-text-color.font-weight-500.count-locks Lượt lock hiện tại (#{@current_product_lock_histories.size})
      - if @current_product_lock_histories.present?
        .dashboard-sale-admin-current-lock
          - @current_product_lock_histories.each do |product_lock_history|
            .dashboard-sale-admin-lock-item{'data-toggle' => "modal", 'data-target' => "#product-lock-history-#{product_lock_history.id}", "data-backdrop" => "static", "data-keyboard" => "false"}
              .lock-countdown.p-8
                .d-flex
                  = image_tag 'countdown.svg'
                  .text-countdown.ml-1{'data-countdown': product_lock_history.display_countdown} Còn lại
              .lock-information
                - product_name = "#{product_lock_history.product.code} - #{product_lock_history.project.name}"
                %span.lock-info-title Sản phẩm
                .custom-text-color.text-truncate{'data-toggle': "tooltip", title: "#{product_name}" }= product_name
                %span.lock-info-title.mt-2 NVKD
                .custom-text-color= product_lock_history.user.full_name
                - class_name = product_lock_history.waiting_reti_acceptance? ? "confirmation-UNC" : "wait-confirmation"
                .product-label.mt-2{class: class_name}= I18n.t("product_lock_history.tms.states.#{product_lock_history.state}")
            .modal-product-lock-history.modal.fade{id: "product-lock-history-#{product_lock_history.id}", "aria-hidden" => "true", "aria-labelledby" => ".product-lock-history-title", role: "dialog", tabindex: "-1"}
              .modal-dialog.modal-lg.modal-dialog-centered.w-max-content{role: "document"}
                .modal-content
                  .modal-header.reti-modal-title
                    .product-lock-history-title.font-weight-500 Xác nhận phiếu lock
                    %button.close.cancel-product-lock-history-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF; margin: -2px -2rem 0 auto'}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body.modal-scroll.pl-4.pt-4.pr-3.pb-3
                    = render partial: 'admin/dashboard/form_unc_product_lock_history', locals: {product_lock_history: product_lock_history}
      - else
        .dashboard-sale-admin-current-lock.empty Chưa có lượt lock nào!
    .dashboard-sale-admin-lock.mt-3
      %span.custom-text-color.font-weight-500.d-block Lượt lock tạm treo (#{@pending_product_lock_histories.size})
      - if @pending_product_lock_histories.present?
        .dashboard-sale-admin-temporary-lock
          - @pending_product_lock_histories.each do |product_lock_history|
            .dashboard-sale-admin-lock-item
              .lock-information
                %span.lock-info-title Sản phẩm
                - product_name = "#{product_lock_history.product.code} - #{product_lock_history.project.name}"
                .custom-text-color.text-truncate{'data-toggle': "tooltip", title: product_name}= product_name
                %span.lock-info-title.mt-2 NVKD
                .custom-text-color= product_lock_history.user.full_name
                .product-label.need-confirmation.mt-2= I18n.t("product_lock_history.tms.states.#{product_lock_history.state}")
      - else
        .dashboard-sale-admin-temporary-lock.empty Chưa có lượt lock nào!
  .dashboard-sale-admin-container
    .dashboard-sale-admin-block
      .d-flex{style: 'margin-top: 24px'}
        .dashboard-sale-admin-header.assign-deal-header= "Phân công giao dịch (#{@count_deals_assignee.present? ? @count_deals_assignee : 0})"
        .button-collapse-expand
          %span Rút gọn
          %span.expand-collapse-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
            = image_tag 'down-arrow.svg', class: 'd-block'
        .button-collapse-expand.d-none
          %span Mở rộng
          %span.expand-collapse-icon{"aria-label" => "down", role: "img"}
            = image_tag 'down-arrow.svg', class: 'd-block'
      %span.reti-color-label.ml-3{style: 'font-size: 14px; line-height: 20px;'} Bạn cần phân công các giao dịch dưới đây cho NVKD chăm sóc
      .dashboard-sale-admin-body
        - if @deals_assignee.present?
          .assign-deal-body.mb-3{num_page: 1}
            - @deals_assignee.each_with_index do |deal, index|
              .dashboard-sale-admin-item{class: "#{deal.get_label_assignee} #{index != 0 ? 'mt-2' : ''}"}
                .d-flex
                  .dashboard-sale-admin-text.text-truncate= deal.name
                  .product-label.ml-2{class: "#{('assign-deal-label-website' if deal.source == 43) || (deal.callio_campaign_id.present? ? 'assign-deal-label-telesale' : 'assign-deal-label-app')}"}= ('Truy cập website' if deal.source == 43) || (deal.callio_campaign_id.present? ? 'Telesale' : 'Cộng tác viên')
                  .product-label.ml-auto{class: "#{deal.get_time_exist_assignee.first}"}
                    = image_tag 'clock-while.svg', class: 'assign-deal-image-label'
                    = deal.get_time_exist_assignee.second
                %a.d-none{href: edit_admin_deal_path(deal.id)}
        - else
          .assign-deal-body
            .blank-form.h-50.d-flex.pt-3.pb-3
              .reti-color-label.m-auto Chưa có giao dịch nào cần phân công!
    .row.pt-4
      .col-6
        .dashboard-sale-admin-block
          .d-flex
            .dashboard-sale-admin-header.complete-deal-header= "Hoàn thành thông tin giao dịch (#{@count_deals.present? ? @count_deals : 0})"
            .button-collapse-expand
              %span Rút gọn
              %span.expand-collapse-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
                = image_tag 'down-arrow.svg', class: 'd-block'
            .button-collapse-expand.d-none
              %span Mở rộng
              %span.expand-collapse-icon{"aria-label" => "down", role: "img"}
                = image_tag 'down-arrow.svg', class: 'd-block'
          %span.reti-color-label{style: 'font-size: 14px; line-height: 20px;'} Các giao dịch dưới đây thiếu thông tin khách hàng, bạn cần nhập bổ sung
          .dashboard-sale-admin-body
            - if @deals.present?
              .complete-deal-body{num_page: 1}
                - @deals.each_with_index do |deal, index|
                  .dashboard-sale-admin-item{class: "#{index != 0 ? 'mt-2' : ''}"}
                    .d-flex
                      .dashboard-sale-admin-text.text-truncate= deal.name
                      .product-label.ml-auto{class: "#{deal.state}-deal-label"}= deal.state == 'contract_signed' ? 'Ký HĐ' : I18n.t("deal.states.#{deal.state}")
                    %a.d-none{href: edit_admin_deal_path(deal.id)}
            - else
              .complete-deal-body
                .blank-form.h-50.d-flex.pt-3.pb-3
                  .reti-color-label.m-auto Chưa có giao dịch nào!
      .col-6
        .dashboard-sale-admin-block
          .d-flex
            .dashboard-sale-admin-header.commission-deal-header= "Cập nhật hoa hồng giao dịch (#{@count_deals_commission.present? ? @count_deals_commission : 0})"
            .button-collapse-expand
              %span Rút gọn
              %span.expand-collapse-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
                = image_tag 'down-arrow.svg', class: 'd-block'
            .button-collapse-expand.d-none
              %span Mở rộng
              %span.expand-collapse-icon{"aria-label" => "down", role: "img"}
                = image_tag 'down-arrow.svg', class: 'd-block'
          %span.reti-color-label{style: 'font-size: 14px; line-height: 20px;'} Các giao dịch dưới đây thiếu thông tin hoa hồng, bạn cần nhập bổ sung
          .dashboard-sale-admin-body
            - if @deals_commission.present?
              .commission-deal-body{num_page: 1}
                - @deals_commission.each_with_index do |deal, index|
                  .dashboard-sale-admin-item{class: "#{index != 0 ? 'mt-2' : ''}"}
                    .d-flex
                      .dashboard-sale-admin-text.text-truncate= deal.name
                    %a.d-none{href: edit_admin_deal_path(deal.id, form: 'commission')}
            - else
              .commission-deal-body
                .blank-form.h-50.d-flex.pt-3.pb-3
                  .reti-color-label.m-auto Chưa có giao dịch nào!
