.product-lock-history-group-body
  = form_with  model: [:admin, product_lock_history], url: admin_product_lock_history_path(product_lock_history.id), local: true, class: 'form-product-lock-history' do |f|
    = f.hidden_field :closeable, value: true, class: 'closeable'
    .d-flex
      .send-unc
        = image_tag(product_lock_history.unc_image.url) if product_lock_history.unc_image.present?
        .url-unc-image.d-none= product_lock_history.unc_image.url
        .btn-copy-unc
          = image_tag 'copy-primary-color.svg', style: 'margin: 0 4px 1px 0'
          Sao chép hình ảnh
      .product-lock-history-state
        .custom-text-color.text-center= "NVKD #{product_lock_history.user.full_name} upload UNC cho sản phẩm"
        .custom-text-color.text-center.font-weight-500= "#{product_lock_history.product.code} - #{product_lock_history.project.name}"
        .mt-3.reti-color-label.text-center Thời gian xác nhận còn lại
        .product-lock-history-countdown.mt-1
          .d-flex
            = image_tag 'timer-pause-clock.svg', class: 'ml-auto'
            .product-lock-history-time.ml-2{'data-countdown': product_lock_history.deadline_for_sale_admin}
        .state-container
          .mb-2.text-center Chọn trạng thái cho phiếu:
          .state-radio
            %label.tms-container-radio.mb-0.mr-83
              = f.label :state, 'Đồng ý', class: 'mb-0'
              = f.radio_button :state, 'deal_confirmation', class: 'tms-popup-state-select2'
              %span.checkmark
            %label.tms-container-radio.mb-0.mr-83
              = f.label :state, 'Từ chối', class: 'mb-0'
              = f.radio_button :state, 'failed', checked: false, class: 'tms-popup-state-select2'
              %span.checkmark
            %label.tms-container-radio.mb-0
              = f.label :state, 'Tạm treo', class: 'mb-0'
              = f.radio_button :state, 'pending', class: 'tms-popup-state-select2'
              %span.checkmark
          .reason_refuse.mt-2.d-none
            = f.label :reason_refuse, 'Lý do từ chối', class: 'd-block mb-1', style: 'text-align: left'
            = f.text_area :reason_refuse, class: 'form-control'
        %button.btn.btn-tms-unable-submit.btn-save-modal.btn-save-state-product-lock-history{"data-disable-with" => 'Lưu', type: "submit", disabled: true} Lưu