.row
  .col-lg-3.col-6
    .small-box.shadow-none.mb-3
      = image_tag 'bg-agent-1.png', class: "w-100"
      .position-absolute.m-auto.w-100.text-center.content-small-box
        Hoàn thành
        %br
        %b= @first_counter.size > 0 ? @first_counter.size : 'Đang cập nhật'
  .col-lg-3.col-6
    .small-box.shadow-none.mb-3
      = image_tag 'bg-agent-2.png', class: "w-100"
      .position-absolute.m-auto.w-100.text-center.content-small-box
        Tổng giá trị GD
        %br
        %b= @second_counter > 0 ? number_to_currency(@second_counter, unit: "") : 'Đang cập nhật'
  .col-lg-3.col-6
    .small-box.shadow-none.mb-3
      = image_tag 'bg-agent-3.png', class: "w-100"
      .position-absolute.m-auto.w-100.text-center.content-small-box
        Hoa hồng tạm tính
        %br
        %b= @third_counter > 0 ? number_to_currency(@third_counter, unit: "") : 'Đang cập nhật'
  .col-lg-3.col-6
    .small-box.shadow-none.mb-3
      = image_tag 'bg-agent-4.png', class: "w-100"
      .position-absolute.m-auto.w-100.text-center.content-small-box
        Hoa hồng thực tế
        %br
        %b= @fourth_counter > 0 ? number_to_currency(@fourth_counter, unit: "") : 'Đang cập nhật'
.row.pb-2
  = render 'admin/dashboard/project_block'
  .col-12.col-md-6
    = link_to 'https://agent.reti.vn/', target: '_blank' do
      = image_tag 'banner-agent.svg', style: 'width: 100%; height: auto'