- if current_user.sale_admin?
  = render 'admin/dashboard/dashboard_sale_admin'
- else
  .row
    .col-lg-3.col-6
      .small-box.shadow-none.mb-3
        = image_tag 'bg-internal-1.png', class: "w-100"
        .position-absolute.m-auto.w-100.text-center.content-small-box
          Leads
          %br
          %b
            - if current_user.super_admin? || current_user.director?
              = policy_scope(Deal.all).size
            - elsif current_user.sale_member?
              = policy_scope(@first_counter).size
            - else
              = policy_scope(@first_counter).size
    .col-lg-3.col-6
      %a{href: admin_calendar_index_path}
        .small-box.shadow-none.mb-3
          = image_tag 'bg-internal-2.png', class: "w-100"
          .position-absolute.m-auto.w-100.text-center.content-small-box
            Lịch hẹn
            %br
            %b= @second_counter
    .col-lg-3.col-6
      .small-box.shadow-none.mb-3
        = image_tag 'bg-internal-3.png', class: "w-100"
        .position-absolute.m-auto.w-100.text-center.content-small-box
          Hoàn thành
          %br
          %b
            - if current_user.super_admin? || current_user.director?
              = policy_scope(Deal.where(state: 'contract_signed')).size
            - else
              = policy_scope(@third_counter).size
    .col-lg-3.col-6
      .small-box.shadow-none.mb-3
        = image_tag 'bg-internal-4.png', class: "w-100"
        .position-absolute.m-auto.w-100.text-center.content-small-box
          Tổng giá trị GD
          %br
          %b
            %a{href: "javascript: void(0)", style: "color: #000000;"}= number_to_currency(@fourth_counter, unit: "")
  - if @pending_deals.size > 0
    .row.m-0.mb-3
      .col-12.px-3.py-2
        .d-flex.justify-content-center
          .mr-3
            %i.far.fa-bell.tms-text-danger
          .notification
            = "Hiện nay #{current_user.gender ? I18n.t("user.gender.#{current_user.gender}").capitalize : 'bạn'} có "
            %b.tms-text-danger
              = "#{@pending_deals.size} leads Chờ xử lý "
            = "và "
            %b.tms-text-danger
              = "#{@today_pending_deals.size} leads "
            = "mới được giao hôm nay "
            %a{href: admin_deals_path, style: "text-decoration:underline;"}
              Xem thêm!
  .row.pb-2
    - unless browser.device.mobile?
      - if @leader
        = render 'admin/dashboard/kpi_block'
      = render 'admin/dashboard/project_block'
      - if !current_user.super_admin? && !current_user.sale_admin?
        = render 'admin/dashboard/chart_block'
    - else
      - if @leader
        = render 'admin/dashboard/kpi_block'
      - if !current_user.super_admin? && !current_user.sale_admin?
        = render 'admin/dashboard/chart_block'
      = render 'admin/dashboard/project_block'