.col-12.col-md-4.order-sm-12.mb-2
  .card.tms-card.mb-0.h-100
    .card-header.text-center
      %h3.card-title.w-100= "Mục tiêu nhóm - Tháng #{Time.now.month}"
    .card-body.px-3.pb-0
      .tms-field-group.mb-0
        .tms-field-group-body.kpi-block
          .row
            .col
              .form-group.text-center.mb-0
                .svg-item
                  %svg.donut{height: "100%", viewbox: "0 0 40 40", width: "100%"}
                    %circle.donut-hole{cx: "20", cy: "20", fill: "#fff", r: "15.9"}
                    %circle.donut-ring{cx: "20", cy: "20", fill: "transparent", r: "15.9", "stroke-width" => "2"}
                    %circle.donut-segment.donut-segment-2{cx: "20", cy: "20", fill: "transparent", r: "15.9", "stroke-dasharray" => "#{@kpi_progress} #{100-@kpi_progress}", "stroke-dashoffset" => "25", "stroke-width" => "2", "stroke-linecap" => "round"}
                    -if @kpi
                      %g.donut-text.donut-text-1
                        %text{transform: "translate(0, 2)", y: "50%"}
                          %tspan.donut-percent{"text-anchor" => "middle", x: "50%"}= "#{@kpi_progress}%"
                        %text{transform: "translate(0, 2)", y: "60%"}
                          %tspan.donut-data{"text-anchor" => "middle", x: "50%"}= "Mục tiêu tháng #{Time.now.month}"
                    - else
                      %g
                        %text{transform: "translate(0, 2)", y: "48%"}
                          %tspan.donut-data{"text-anchor" => "middle", x: "50%"} Đang cập nhật
                    - unless [0, 100].include? @arrow_progress
                      %image{href: asset_path("donut-arrow.png"), class: 'donut-arrow', x: "#{@arrow_pos[:x] - 1}", y: "#{@arrow_pos[:y]}", transform:"rotate(#{@arrow_pos[:rotate]} #{@arrow_pos[:x] + 3} #{@arrow_pos[:y] + 3})"}
                %p.mb-2
                  %span Doanh thu hiện tại:
                  %span.kpi-progress.font-size-18= "#{kpi_currency @revenue} tỷ VNĐ / #{kpi_currency @kpi} tỷ"
                %p.font-weight-500{style: 'color: #595959'}= "Nhóm dẫn đầu #{kpi_currency @most_revenue} tỷ"
                %p.academy-info.font-size-14 Hãy tham gia học viện Reti để tăng doanh thu khủng
    .button.py-3.text-center.text-white.px-3
      %a.btn.btn-dashboard{href: "#"}
        Học viện Reti
