.col-12.mb-2{class: "#{ current_user.internal? ? 'col-md-4 order-sm-1' : 'col-md-6' }"}
  .card.tms-card.mb-0.h-100
    .card-header
      %h3.m-0.font-size-18.text-center Dự án
    .card-body.px-3.pt-3.pb-0
      .row
        .col
          - select_projects = Project.where(id: current_user.project_selected_ids)
          = form_with url: update_project_selected_ids_admin_dashboard_index_path do |f|
            .dashboard-search
              .dropdown.tms-card
                %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  = select_projects.size > 0 ? select_projects.pluck(:name).join(', ') : "Vui lòng chọn"
                  %i.fa.fa-caret-down
                .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                  %form.form-dropdown-deal-mobile
                    %input.form-control.search.border-left-0.border-right-0.br-0{:autofocus => "autofocus", :placeholder => "Tìm kiếm", :type => "search", style: 'border-color: #7ED9DE'}/
                  .menuItems.custom-list-state
                    - select_projects.each_with_index do |project, index|
                      %label.container.mb-0{'data-sort': 0}
                        = project.name
                        %input.dropdown-item.d-none{type: "checkbox", id: "project_#{index}", name: 'project_selected_ids[]', value: project.id, checked: true}
                        %span.checkmark
                    - Project.where.not(id: select_projects.pluck(:id)).each_with_index do |project, index|
                      %label.container.mb-0{'data-sort': 1}
                        = project.name
                        %input.dropdown-item.d-none{type: "checkbox", id: "project_#{index}", name: 'project_selected_ids[]', value: project.id}
                        %span.checkmark
              %button.submit-project-ids.d-none
                save
          .list-project-news{style: "max-height: 55vh"}
            - if @list_project_news.size > 0
              = render partial: 'project_news', collection: @list_project_news, as: :project_news
            - else
              %i.academy-info.font-size-16.p-0
                Chưa cập nhật
    .button.py-3.text-center.text-white.px-3
      %a.btn.btn-dashboard{href: admin_deals_path}
        Quản lý giao dịch