.project-news.p-2.mb-2
  .project.pb-2.d-flex.justify-content-between
    .project-name
      = project_news.project&.name
    .created-at
      = format_date(project_news.created_at)
  .title
    = project_news.title
  .content
    = project_news.content&.html_safe
  .control-view.text-right.pt-2.pr-2
    .view-more
      Xem thêm
      %i.fa.fa-chevron-down
    .view-less.d-none
      Thu gọn
      %i.fa.fa-chevron-up