- content_for :content_body do
  .commission-deal-body
    - @deals_commission.each_with_index do |deal, index|
      .dashboard-sale-admin-item{class: "#{index != 0 ? 'mt-2' : ''}"}
        .d-flex
          .dashboard-sale-admin-text.text-truncate= deal.name
        %a.d-none{href: edit_admin_deal_path(deal.id, form: 'commission')}