- content_for :content_body do
  .complete-deal-body
    - @deals.each_with_index do |deal, index|
      .dashboard-sale-admin-item{class: "#{index != 0 ? 'mt-2' : ''}"}
        .d-flex
          .dashboard-sale-admin-text.text-truncate= deal.name
          .product-label.ml-auto{class: "#{deal.state}-deal-label"}= deal.state == 'contract_signed' ? 'Ký HĐ' : I18n.t("deal.states.#{deal.state}")
        %a.d-none{href: edit_admin_deal_path(deal.id)}
