- content_for :content_body do
  .assign-deal-body
    - @deals_assignee.each_with_index do |deal, index|
      .dashboard-sale-admin-item{class: "#{deal.get_label_assignee} #{index != 0 ? 'mt-2' : ''}"}
        .d-flex
          .dashboard-sale-admin-text.text-truncate= deal.name
          .product-label.ml-2{class: "#{deal.callio_campaign_id.present? ? 'assign-deal-label-telesale' : 'assign-deal-label-app'}"}= deal.callio_campaign_id.present? ? 'Telesale' : 'Cộng tác viên'
          .product-label.ml-auto{class: "#{deal.get_time_exist_assignee.first}"}
            = image_tag 'clock-while.svg', class: 'assign-deal-image-label'
            = deal.get_time_exist_assignee.second
        %a.d-none{href: edit_admin_deal_path(deal.id)}