- content_for :content_header do
  - unless browser.device.mobile?
    .col-sm-6
      %h1.m-0.text-dark{style: 'padding-top: 1px'} Tổng quan
    .col-sm-6.text-right.font-size-18
      = "Chào #{current_user.gender ? I18n.t("user.gender.#{current_user.gender}").capitalize : 'bạn'}"
      %b.tms-text-danger
        = "#{current_user.full_name}"
      %br
      = "Chúc #{current_user.gender ? I18n.t("user.gender.#{current_user.gender}").capitalize : 'bạn'} có một ngày làm việc hiệu quả!"
  - else
    .col-sm-12
      %h1.m-0.text-dark Tổng quan
    .col-sm-12.font-size-18.mt-1{style: 'padding-top: 5px'}
      = "Chào #{I18n.t("user.gender.#{current_user.gender}").capitalize}"
      %b.tms-text-danger
        = "#{current_user.full_name}"
      %br
      = "Chúc #{current_user.gender ? I18n.t("user.gender.#{current_user.gender}").capitalize : 'bạn'} có một ngày làm việc hiệu quả!"
- content_for :content_body do
  = render partial: "admin/dashboard/for_#{current_user.account_type}"
- content_for :js do
  - if current_user.sale_admin?
    :javascript
      $(document).on('turbolinks:load', function() {
        eventScrollDashboardSaleAdmin();

        function eventScrollDashboardSaleAdmin() {
          $(".assign-deal-body").on('scroll', function () {
            if ($(this).scrollTop() + $(this).innerHeight() + 200 >= $(this)[0].scrollHeight) {
              loadMoreDashboardSaleAdmin($(this),'assignee', 'assign');
            }
          })
          $(".complete-deal-body").on('scroll', function () {
            if ($(this).scrollTop() + $(this).innerHeight() + 200 >= $(this)[0].scrollHeight) {
              loadMoreDashboardSaleAdmin($(this),'deals', 'complete');
            }
          })
          $(".commission-deal-body").on('scroll', function () {
            if ($(this).scrollTop() + $(this).innerHeight() + 200 >= $(this)[0].scrollHeight) {
              loadMoreDashboardSaleAdmin($(this),'commission', 'commission');
            }
          })
        }

        function loadMoreDashboardSaleAdmin($this, url, parent) {
          let numPage = parseInt($this.attr('num_page'));
          let isloading = $this.attr('isloading');
          $this.attr('isloading', 'true');
          if (isloading) return;
          $.ajax({
            url: `/dashboard/get_api_dashboard_${url}`,
            type: "get",
            data: {
              page: numPage + 1
            },
            success: function (data) {
              let htmlAppend = '';
              let textHeader = '';
              htmlAppend = $(data).find(`.${parent}-deal-body`).children();
              $(`.${parent}-deal-body`).append(htmlAppend);
              $(`.${parent}-deal-body`).attr({'isloading': '', 'num_page': numPage + 1});
              switch (parent) {
                case 'assign':
                  textHeader = 'Phân công giao dịch';
                  break;
                case 'complete':
                  textHeader = 'Hoàn thành thông tin giao dịch';
                  break;
                case 'commission':
                  textHeader = 'Cập nhật hoa hồng giao dịch';
                  break;
              }
              $(`.${parent}-deal-header`).text(`${textHeader} (${$(`.${parent}-deal-body`).children().length})`)
            }
          })
        }
      });