- content_for :content_body do
  .product-lock-history-container
    %button.show-product-lock-history.d-none{'data-toggle' => "modal", 'data-target' => ".modal-product-lock-history", "data-backdrop" => "static", "data-keyboard" => "false"} Xác nhận phiếu lock
    .modal-product-lock-history.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "product-lock-history-title", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-lg.modal-dialog-centered.w-max-content{role: "document"}
        .modal-content
          .modal-header.reti-modal-title
            .product-lock-history-title.font-weight-500 Xác nhận phiếu lock
            %button.close.cancel-cs-ticket-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF; margin: -2px -2rem 0 auto'}
              %span{"aria-hidden" => "true"} ×
          .modal-body.modal-scroll.pl-4.pt-4.pr-4.pb-3
            .product-lock-history-group-body
              = form_with  model: [:admin, @product_lock_history], url: admin_product_lock_history_path(@product_lock_history.id), local: true, class: 'form-product-lock-history' do |f|
                = f.hidden_field :closeable, value: true, class: 'closeable'
                - if !%w(deposit_confirmation waiting_reti_acceptance).include?(@product_lock_history.state)
                  = f.hidden_field :confirmed, value: true
                .d-flex
                  .send-unc
                    = image_tag(f.object.unc_image.url) if f.object.unc_image.present?
                    .url-unc-image.d-none= f.object.unc_image.url
                    .btn-copy-unc
                      = image_tag 'copy-primary-color.svg', style: 'margin: 0 4px 1px 0'
                      Sao chép hình ảnh
                  .product-lock-history-state
                    .custom-text-color.text-center= "NVKD #{f.object.user.full_name} upload UNC cho sản phẩm"
                    .custom-text-color.text-center.font-weight-500= "#{f.object.product.code} - #{f.object.project.name}"
                    .mt-3.reti-color-label.text-center Thời gian xác nhận còn lại
                    .product-lock-history-countdown.mt-1
                      .d-flex
                        = image_tag 'timer-pause-clock.svg', class: 'ml-auto'
                        .product-lock-history-time.ml-2{'data-countdown': f.object.deadline_for_sale_admin}
                    .state-container
                      .mb-2.text-center Chọn trạng thái cho phiếu:
                      .state-radio
                        %label.tms-container-radio.mb-0.mr-83
                          = f.label :state, 'Đồng ý', class: 'mb-0'
                          = f.radio_button :state, 'deal_confirmation', class: 'tms-popup-state-select2'
                          %span.checkmark
                        %label.tms-container-radio.mb-0.mr-83
                          = f.label :state, 'Từ chối', class: 'mb-0'
                          = f.radio_button :state, 'failed', checked: false, class: 'tms-popup-state-select2'
                          %span.checkmark
                        %label.tms-container-radio.mb-0
                          = f.label :state, 'Tạm treo', class: 'mb-0'
                          = f.radio_button :state, 'pending', class: 'tms-popup-state-select2'
                          %span.checkmark
                      .reason_refuse.mt-2.d-none
                        = f.label :reason_refuse, 'Lý do từ chối', class: 'd-block mb-1', style: 'text-align: left'
                        = f.text_area :reason_refuse, class: 'form-control'
                    %button.btn.btn-tms-unable-submit.btn-save-modal.btn-save-state-product-lock-history{"data-disable-with" => 'Lưu', type: "submit", disabled: true} Lưu