- if @list_project_news.size > 0
  $('.list-project-news').html("#{ raw escape_javascript(render partial: 'admin/dashboard/project_news', collection: @list_project_news, as: :project_news)}")
- else
  $('.list-project-news').html("<i class='academy-info font-size-16 p-0'>Chưa cập nhật</i>")
:plain
  if (device == 'mobile') {
    var height = 48;
  } else {
    var height = 42;
  }
  $('.project-news .content').each(function(){
    if ($(this).height() > height) {
      $(this).css({'height': height + 'px', 'overflow': 'hidden'});
    } else {
      $(this).css({'height': 'auto', 'overflow': 'auto'});
      $(this).closest('.project-news').find('.view-more').addClass('d-none');
    }
  });

  $(document).on('click', '.project-news .view-more', function(){
    $(this).closest('.project-news').find('.content').css({'height': 'auto', 'overflow': 'auto'});
    $(this).addClass('d-none');
    $(this).closest('.project-news').find('.view-less').removeClass('d-none');
  });

  $(document).on('click', '.project-news .view-less', function(){
    $(this).closest('.project-news').find('.content').css({'height': height + 'px', 'overflow': 'hidden'});
    $(this).addClass('d-none');
    $(this).closest('.project-news').find('.view-more').removeClass('d-none');
  });

