.investor-post
  = form_with url: "/projects/#{@project.id}/sale_documents/update_investor_post/#{post.id}", scope: :investor_post do |f|
    = f.hidden_field :pseudo_id, value: post.id || post.pseudo_id, id: rand(1000)
    %input{type: 'hidden', name: '_method', value: 'patch'}
    .row
      .col-5
        .form-group
          = f.label :title, 'Tên bài viết'
          = f.text_field :title, class: 'form-control', placeholder: 'Vui lòng nhập', value: post.title, disabled: post.errors.size == 0
          - post.errors.messages[:title].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-5
        .form-group
          = f.label :post_url, 'Đường dẫn'
          = f.text_field :post_url, class: 'form-control', placeholder: 'Vui lòng nhập', value: post.post_url, disabled: post.errors.size == 0
          - post.errors.messages[:post_url].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-2{style: 'margin-top: 32px'}
        %button.btn.btn-outline-primary.edit-investor-post{type: 'button', class: post.errors.size == 0 ? '' : 'd-none'}
          %i.fas.fa-pencil-alt
        %a.btn.btn-outline-danger.delete-investor-post{class: post.errors.size == 0 ? '' : 'd-none', href: "/projects/#{@project.id}/sale_documents/destroy_investor_post/#{post.id}", data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?', remote: 'true'} }
          %i.fas.fa-trash
        %button.btn.btn-outline-primary{type: 'submit', class: post.errors.size == 0 ? 'd-none' : '' }
          %i.fas.fa-save
        %button.btn.btn-outline-danger.cancel-edit-investor-post{type: 'button', class: post.errors.size == 0 ? 'd-none' : ''}
          %i.fas.fa-times