= form_with model: [:admin, @project, sale_policy] , url: { action: "update_sale_policy" }, class: 'sale-policy-submit-form' do |f|
  %input{type: 'hidden', name: '_method', value: 'patch'}
  = f.hidden_field :project_id, value: @project.id
  = f.hidden_field :sale_document_type, value: sale_policy.sale_document_type
  = f.hidden_field :id, value: sale_policy.id
  .form-group
    = f.label :title, 'Tên tài liệu', class: 'title-sale-document'
    = f.text_field :title, class: 'form-control sale-document-input-title h-48', type: 'text', placeholder: 'Vui lòng nhập'
    - f.object.errors.messages[:title].each do |error|
      %span.invalid-feedback.custom-validation{style: 'display: block; text-align: start;'}= error
  .form-group
    = f.label :file, 'Tải file tài liệu', class: 'title-sale-document'
    - if sale_policy.file.present?
      = hidden_field :sale_document, :file, value: sale_policy.file.identifier, 'data-url': sale_policy.file.url
    = f.file_field :file, id: "edit-sale-policy-input-#{index}", 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', accept: "application/pdf"
    - f.object.errors.messages[:file].each do |error|
      %span.invalid-feedback.custom-validation{style: 'display: block; text-align: start;'}= error
  %button.btn.btn-reti-primary.btn-save-sale-document.mt-4{"data-disable-with" => "Lưu"} Lưu