.investor-post
  = form_with url: create_investor_post_admin_project_sale_documents_path(@project), scope: :investor_post do |f|
    = f.hidden_field :pseudo_id, value: post.id || post.pseudo_id, id: rand(1000)
    .row
      .col-5
        .form-group
          = f.label :title, 'Tên bài viết'
          = f.text_field :title, class: 'form-control', placeholder: 'Vui lòng nhập'
          - post.errors.messages[:title].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-5
        .form-group
          = f.label :post_url, 'Đường dẫn'
          = f.text_field :post_url, class: 'form-control', placeholder: 'Vui lòng nhập'
          - post.errors.messages[:post_url].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-2{style: 'margin-top: 32px'}
        %button.btn.btn-outline-primary{type: 'submit'}
          %i.fas.fa-save
        %button.btn.btn-outline-danger.cancel-create-investor-post{type: 'button'}
          %i.fas.fa-times