= form_with model: [:admin, @project], url: admin_project_sale_documents_path(@project), local: true, class: 'project-submit-form' do |f|
  %input{type: 'hidden', name: '_method', value: 'post'}
  = f.hidden_field :project_id, value: @project.id
  = f.hidden_field :sale_document_type, value: 1
  .input-file-container
    = f.label :file, 'Tải file tài liệu', class: 'title-sale-document'
    = f.file_field :files, multiple: true, type: "file", id: 'sale-policy-input', class: 'sale-document-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', accept: "application/pdf"
  %span.text-sale-kit-input Upload tối đa 5 file
  %button.btn.btn-reti-primary.btn-save-sale-document.d-none.mt-4{"data-disable-with" => "Lưu"} Lưu