- unless @sale_policy.valid?
  $('#modal-sale-policy .modal-body').html("#{j render('admin/sale_documents/new_sale_policy')}");
  :plain
    initFileInputSaleDocument($('#sale-policy-input'));
    function initFileInputSaleDocument(inputId) {
      var saleDocumentConfigs = [];
      var saleDocumentUrls = [];
      inputId.fileinput({
        initialPreview: saleDocumentUrls,
        initialPreviewAsData: true,
        initialPreviewConfig: saleDocumentConfigs,
        overwriteInitial: false,
        allowedFileTypes: ['pdf'],
        showCancel: false,
        showRemove: false,
        browseLabel: '',
        removeClass: 'btn btn-danger',
        removeLabel: '',
        theme: 'fas',
        maxFileCount: 5,
        deleteUrl: '/',
        ajaxDeleteSettings: {
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
        },
        fileActionSettings: {
          showZoom: function (config) {
            return config.type === 'pdf';
          }
        }
      }).on('fileloaded', function (event, file, previewId, fileId, index, reader) {
        let filePreview = $(this).closest('.file-input.theme-fas');
        if (filePreview.hasClass('has-error')) {
          filePreview.removeClass('has-error')
          filePreview.find('.kv-fileinput-error.file-error-message').hide().empty();
          filePreview.find('.kv-fileinput-caption.file-caption').removeClass('is-invalid');
          filePreview.find('.file-caption-icon').remove();
        }
      }).on('filebeforedelete', function () {
        var aborted = !window.confirm('Bạn có chắc muốn xóa file này?');
        return aborted;
      }).on('filedeleted', function () {
        setTimeout(function () {
          window.alert('Xóa file thành công! ' + krajeeGetCount('file-5'));
        }, 900);
      });
    }