- if @investor_post.valid?
  toastr.success('Thêm bài viết từ chủ đầu tư thành công.');
  $('input[value="#{@investor_post.pseudo_id}"]').closest('.investor-post').replaceWith("#{ j render partial: 'admin/sale_documents/edit_investor_post', locals: {post: @investor_post}}");
- else
  toastr.error('Thêm bài viết từ chủ đầu tư thất bại.');
  $('input[value="#{@investor_post.pseudo_id}"]').closest('.investor-post').replaceWith("#{ j render partial: 'admin/sale_documents/new_investor_post', locals: {post: @investor_post}}");