- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Tài liệu bán hàng
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Bảng hàng', admin_project_products_path(@project, level: 0), class: 'nav-link'
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "project-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab"} Tài liệu bán hàng
      %li.nav-tab-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Quy tắc lock căn', lock_rules_admin_project_path(@project), class: 'nav-link'
  .row
    .col
      .card.tms-card
        .card-body
          %h5 Sale kit bán hàng
          %table.table.table-hover.table-bordered.sale-kit-table.dnd-table
            %thead.text-center
              %tr
                %th{width: '40%'} Tài liệu
                %th{width: '40%'} Ngày cập nhật
                %th{width: '20%'}
            %tbody
              - @sale_kits.each_with_index do |sale_kit, index|
                %tr{id: "#{sale_kit.id}", 'data-position': "#{sale_kit.position}"}
                  %td.dnd-icon{width: '40%'}= sale_kit.title
                  %td{width: '40%'}= sale_kit.updated_at.strftime('%d/%m/%Y')
                  %td.text-center{width: '20%'}
                    %a.btn.btn-outline-primary.btn-edit.btn-edit-sale-document{href: "#", "data-target" => "#modal-edit-sale-kit-#{index}", "data-toggle" => "modal", :type => "button"}
                      %i.fas.fa-pencil-alt
                    .modal.modal-edit-sale-kit.fade{id: "modal-edit-sale-kit-#{index}", "aria-hidden" => "true", "aria-labelledby" => "modal-edit-sale-kit-title-#{index}", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog.modal-dialog-centered{:role => "document", style: 'max-width: 700px !important'}
                        .modal-content
                          .modal-header
                            %h3.modal-title{id: "modal-edit-sale-kit-title-#{index}"} Chỉnh sửa tài liệu
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              %span{"aria-hidden" => "true"} ×
                          .modal-body.p-5{style: 'max-height: calc(100vh - 210px); overflow-y: auto;'}
                            = render partial: 'admin/sale_documents/edit_sale_kit', locals: {sale_kit: sale_kit, index: index}
                    %a.btn.btn-outline-primary{href: sale_kit.file.url, target: '_blank'}
                      %i.far.fa-eye
                    %a.btn.btn-outline-primary{href: admin_project_sale_document_path(project_id: @project,id: sale_kit), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
          %button.btn.btn-reti-primary.float-right.mt-3.btn-new-sale-document{"data-target" => "#modal-sale-kit", "data-toggle" => "modal", :type => "button"}
            %i.fas.fa-plus
            Thêm mới
          #modal-sale-kit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-sale-kit-title", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-dialog-centered{:role => "document", style: 'max-width: 700px !important'}
              .modal-content
                .modal-header
                  %h3#modal-sale-kit-title.modal-title Thêm mới tài liệu
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body.p-3{style: 'max-height: calc(100vh - 210px); overflow-y: auto;'}
                  = render partial: 'admin/sale_documents/new_sale_kit'
  .row
    .col
      .card.tms-card
        .card-body
          %h5 Chính sách bán hàng
          %table.table.table-hover.table-bordered.sale-policy-table.dnd-table
            %thead.text-center
              %tr
                %th{width: '40%'} Tài liệu
                %th{width: '40%'} Ngày cập nhật
                %th{width: '20%'}
            %tbody
              - @sale_policies.each_with_index do |sale_policy, index|
                %tr{id: "#{sale_policy.id}", 'data-position': "#{sale_policy.position}"}
                  %td.dnd-icon{width: '40%'}= sale_policy.title
                  %td{width: '40%'}= sale_policy.updated_at.strftime('%d/%m/%Y')
                  %td.text-center{width: '20%'}
                    %a.btn.btn-outline-primary.btn-edit.btn-edit-sale-document{href: "#", "data-target" => "#modal-edit-sale-policy-#{index}", "data-toggle" => "modal", :type => "button"}
                      %i.fas.fa-pencil-alt
                    .modal.fade{id: "modal-edit-sale-policy-#{index}", "aria-hidden" => "true", "aria-labelledby" => "modal-edit-sale-policy-title-#{index}", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog.modal-dialog-centered{:role => "document", style: 'max-width: 700px !important'}
                        .modal-content
                          .modal-header
                            %h3.modal-title{id: "modal-edit-sale-policy-title-#{index}"} Chỉnh sửa tài liệu
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              %span{"aria-hidden" => "true"} ×
                          .modal-body.p-5{style: 'max-height: calc(100vh - 210px); overflow-y: auto;'}
                            = render partial: 'admin/sale_documents/edit_sale_policy', locals: {sale_policy: sale_policy, index: index}
                    %a.btn.btn-outline-primary{href: sale_policy.file.url, target: '_blank'}
                      %i.far.fa-eye
                    %a.btn.btn-outline-primary{href: admin_project_sale_document_path(project_id: @project,id: sale_policy), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
          %button.btn.btn-reti-primary.float-right.mt-3.btn-new-sale-document{"data-target" => "#modal-sale-policy", "data-toggle" => "modal", :type => "button"}
            %i.fas.fa-plus
            Thêm mới
          #modal-sale-policy.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-sale-policy-title", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-dialog-centered{:role => "document", style: 'max-width: 700px !important'}
              .modal-content
                .modal-header
                  %h3#modal-sale-policy-title.modal-title Thêm mới chính sách
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body.p-3{style: 'max-height: calc(100vh - 210px); overflow-y: auto;'}
                  = render partial: 'admin/sale_documents/new_sale_policy'
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: update_media_url_admin_project_sale_documents_path(@project) do |f|
            %h5 Thư viện truyền thông
            .row
              .col-6
                .form-group
                  %label Thư mục Hình ảnh
                  %div
                    %input.form-control{type: 'text', name: 'project[image_folder_url]', placeholder: 'Nhập đường dẫn', value: @project.image_folder_url}
                    %span
              .col-6
                .form-group
                  %label Thư mục Video
                  %div
                    %input.form-control{type: 'text', name: 'project[video_folder_url]', placeholder: 'Nhập đường dẫn', value: @project.video_folder_url}
                    %span
              .col-6
                .form-group
                  %label Layout sản phẩm
                  %div
                    %input.form-control{type: 'text', name: 'project[layout_url]', placeholder: 'Nhập đường dẫn', value: @project.layout_url}
                    %span
            %button.btn.btn-reti-primary.float-right.mt-3{type: 'submit', style: 'width: 115px;'} Lưu
  .row
    .col
      .card.tms-card
        .card-body
          .tms-field-group
            .tms-field-group-header
              %h5{style: 'color: #333333'} Bài viết từ Chủ đầu tư
            #investor-posts
            - @investor_posts.each do |post|
              = render partial: 'admin/sale_documents/edit_investor_post', locals: {post: post}
            %button.btn.btn-reti-primary.float-right.mt-3{type: 'button', id: 'add-investor-post-btn', 'data-project-id': @project.id}
              %i.fas.fa-plus
              Thêm bài viết

- content_for :js do
  :javascript
    $(document).on('turbolinks:load', function () {
      $(".dnd-table tbody").tableDnD({
        onDragClass: 'dnd-table-dragging',
        onDrop: function(table, row) {
          let currentDocId = $(row).attr('id');
          let prevDocId = null;
          if ($(row).prev('tr').length > 0) {
            prevDocId = $($(row).prev('tr')[0]).attr('id')
          }
          $.ajax({
            method: 'POST',
            url: window.location.href + '/reorder_position',
            contentType: 'application/json',
            data: JSON.stringify({
              current_document_id: currentDocId,
              prev_document_id: prevDocId
            }),
            headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
            success: function (response) {
              toastr.success('Sắp xếp tài liệu thành công.');
            }
          })
        }
      });
    });
