- content_for :content_header do
  - if browser.device.mobile?
    .col-12{style: 'padding-bottom: 16px; border-bottom: 1px solid #dee2e6;'}
      %a.main-header--back.text-dark.mr-3{href: admin_project_path(@project)}
        %i.fas.fa-chevron-left
      %span.m-0.text-dark{style: 'font-size: 20px'}= @sale_document.title
    .col-12{style: 'padding-top: 16px'}
      = link_to download_admin_project_sale_document_path(@project, @sale_document), target: '_blank' do
        %button.btn.btn-reti-primary.btn-share-document.mr-3
          = image_tag 'download.svg', class: 'image-project-detail'
          %span.custom-span-width-320.ml-2 Tải xuống
      %button.btn.btn-reti-primary.btn-share-document{'data-toggle': 'modal', 'data-target': '#shareDocumentModal', 'data-redirect-url': "#{admin_project_sale_document_path(@project, @sale_document)}"}
        = image_tag 'share.svg', class: 'image-project-detail'
        %span.custom-span-width-320.ml-2 Chia sẻ tài liệu
  - else
    .col-sm-6
      %a.main-header--back.text-dark{href: admin_project_path(@project)}
        %i.fas.fa-chevron-left{style: 'position: absolute; top: 12px'}
      %span.text-dark.ml-3{style: 'font-size: 24px; padding-left: 16px'}= @sale_document.title
    .col-sm-6
      %button.btn.btn-reti-primary.btn-share-document.float-right{'data-toggle': 'modal', 'data-target': '#shareDocumentModal', 'data-redirect-url': "#{admin_project_sale_document_path(@project, @sale_document)}"}
        = image_tag 'share.svg', class: 'image-project-detail'
        %span.ml-2 Chia sẻ tài liệu
      = link_to download_admin_project_sale_document_path(@project, @sale_document), target: '_blank' do
        %button.btn.btn-reti-primary.btn-share-document.float-right.mr-3
          = image_tag 'download.svg', class: 'image-project-detail'
          %span.ml-2 Tải xuống

- content_for :content_body do
  %iframe{src: "/pdfjs/web/viewer.html?file=#{@sale_document.file.url}", width: '100%', height: "#{browser.device.mobile? ? '600px' : '859px'}", style: 'border: 0', frameborder: "0", scrolling: "no"}
  #shareDocumentModal.share-document-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "shareDocumentModalTitle", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-dialog-centered{role: "document"}
      .modal-content
        .modal-header
          %h5.modal-title Chia sẻ tài liệu dự án
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-group
            %label Mạng xã hội
            .row-share
              %button.item-share.btn-share-facebook{'data-platform': 'facebook', 'data-file': "#{@sale_document.document_url}"}
                Facebook
          .form-group
            %label Nhắn tin và email
            .row
              .col-6
                %a.item-share.cursor-pointer{'data-platform': 'email', 'data-file': "#{@sale_document.document_url}"}
                  = image_tag 'share/email.svg'
                  %span.ml-12.mt-6 Email
              .col-6
                %a.item-share.cursor-pointer{'data-platform': 'messenger', 'data-file': "#{@sale_document.document_url}"}
                  = image_tag 'share/messenger.svg'
                  %span.ml-12.mt-6 Messenger
            .row.mt-4
              .col-6
                %a.item-share.zalo-share-button.cursor-pointer{'data-platform': 'zalo', 'data-color': 'blue', 'data-customize': 'true', 'data-href': "#{@sale_document.document_url}", 'data-layout': '4', 'data-oaid': '795605920558909071'}
                  = image_tag 'share/zalo.svg'
                  %span.ml-12.mt-6 Zalo
              .col-6
                %a.item-share.cursor-pointer{'data-platform': 'viber', 'data-file': "#{@sale_document.document_url}"}
                  = image_tag 'share/viber.svg'
                  %span.ml-12.mt-1 Viber
          .form-group
            %label Sao chép liên kết
            .input-group
              %input.form-control{type: "text", style: 'height: 40px', value: "#{@sale_document.document_url}"}/
              .input-group-prepend
                %button.btn.btn-reti-primary.btn-copy-link{type: "button", style: 'height: 40px', 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Đã sao chép'} Sao chép

- content_for :js do
  :javascript
    $('[data-toggle="tooltip"]').tooltip({
      trigger: "click" 
    });
    $('button.btn-copy-link').on('click', function() {
      let fileUrl = $(this).parent().prev().val();
      let $tmp = $('<input>');
      $tmp.insertAfter($(this));
      $tmp.val(fileUrl).select();
      document.execCommand("copy");
      $tmp.remove();
      setTimeout(function(){ $('[data-toggle="tooltip"]').tooltip('hide'); }, 600);
    });
    $('#shareDocumentModal .item-share').on('click', function() {
      let platform = $(this).attr('data-platform');
      let fileUrl = $(this).attr('data-file');
      let redirectUrl = window.location.href;
      switch (platform) {
        case 'facebook':
          window.open('https://www.facebook.com/sharer/sharer.php?u=' + fileUrl, 'facebook-share-dialog', "width=560, height=767")
          break;
        case 'email':
          let subjectEmail = 'Chia sẻ tài liệu dự án';
          let bodyEmail = `Tài liệu dự án: ${fileUrl}`;
          if (getDevice() === 'pc') {
            window.open(`https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&su=${subjectEmail}&body=${bodyEmail}`);
          } else {
            window.open(`mailto:?subject=${subjectEmail}&body=${bodyEmail}`);
          }
          break;
        case 'messenger':
           if (getDevice() === 'pc') {
            window.open(`https://www.facebook.com/dialog/send?app_id=266752474368189&link=${fileUrl}&redirect_uri=${redirectUrl}`, 'facebook-share-dialog', "width=560, height=767");
          } else {
            window.open('fb-messenger://share?link=' + encodeURIComponent(fileUrl) + '&app_id=' + encodeURIComponent('266752474368189'));
          }
          break;
        case 'viber':
          window.open(`viber://forward?text=${fileUrl}`);
          break;
      }
    });