- if @investor_post.valid?
  toastr.success('Cập nhật thông tin bài viết thành công.');
- else
  toastr.error('Cập nhật thông tin bài viết thất bại.');
$('input[value="#{@investor_post.pseudo_id}"]').closest('.investor-post').replaceWith("#{ j render partial: 'admin/sale_documents/edit_investor_post', locals: {post: @investor_post}}")