- if @project.errors.present?
  toastr.error('Lưu đường dẫn thất bại.');
  - @project.errors.messages.keys.each do |key|
    $('input[name="project[#{key.to_s}]"]').parent().removeClass('field_with_errors').addClass('field_with_errors');
    $('input[name="project[#{key.to_s}]"]').next().empty().removeClass('invalid-feedback custom-validation').addClass('invalid-feedback custom-validation').text("#{@project.errors.messages[key].first}");
- else
  toastr.success('Lưu đường dẫn thành công.');
