.row
  .col
    = form_with model: [:admin, @customer], local: true, class: 'form-customer' do |f|
      %input.d-none#customer_id{value: @customer&.id}
      - unless @is_disabled
        .row.sticky-scroll
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary.btn_save_has_phone= @customer.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col
          .card
            .card-header.p-0.border-bottom-0
              %ul#custom-content-above-tab.nav.nav-tabs{:role => "tablist"}
                %li.nav-item
                  %a#custom-content-above-home-tab.nav-link.active{"aria-controls" => "custom-content-above-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#custom-content-above-home", :role => "tab"}
                    %span.badge.badge-danger.tab-highlight{class: @error_count.to_i == 0 ? 'd-none' : '' }
                      = @error_count
                    Thông tin khách hàng
                - unless @customer.new_record?
                  %li.nav-item
                    = link_to 'Hành trình tương tác', admin_customer_customer_journeys_path(@customer), class: 'nav-link'
                  %li.nav-item
                    = link_to 'Voucher đã gửi', vouchers_admin_customer_path(@customer), class: 'nav-link'
            .card-body
              #custom-content-above-tabContent.tab-content
                #custom-content-above-home.tab-pane.fade.show.active{"aria-labelledby" => "customer-vouchers-tab", :role => "tabpanel"}
                  = render "general_information", f: f