.row
  .col
    .card.tms-card
      .card-header
        %h3.card-title Thông tin khách hàng
        .card-tools
          %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}, disabled: @is_disabled}
            %i.fas.fa-minus
      .card-body
        .tms-field-group
          .tms-field-group-header
            %span Thông tin chính
          .tms-field-group-body
            .row
              .col
                .form-group
                  = f.label :name, 'Tên khách hàng'
                  = f.text_field :name, class: 'form-control', disabled: @is_disabled
                  - if f.object.errors.messages[:name].present?
                    %span.invalid-feedback.custom-validation= f.object.errors.messages[:name].first
                .form-group
                  = f.label :country_code, 'Khu vực'
                  = f.select :country_code, options_for_select(@countries, @customer.country_code || 'VN' ), {include_blank: true}, {class: 'form-control tms-select2 select2-country-code', disabled: @is_disabled}
                  - f.object.errors.messages[:country_code].each do |country_code_error|
                    %span.invalid-feedback.custom-validation= country_code_error
                .form-group
                  = f.label :phone_number, 'Số điện thoại'
                  .input-group.mb-3{class: f.object.errors.messages[:phone_number].present? ? 'field_with_errors' : ''}
                    .input-group-prepend
                      %span.input-group-text.country-code-number
                        = ISO3166::Country.new(@customer.country_code).present? ? "+#{ISO3166::Country.new(@customer.country_code)&.country_code}" : "+84"
                    = f.text_field :phone_number, value: params[:customer] && params[:customer][:phone_number].present? ? params[:customer][:phone_number] : (@customer.phone_number_sanitized ? @customer.phone_number_sanitized : @customer.phone_number) , class: 'form-control not_default_error', disabled: @is_disabled
                    - f.object.errors.messages[:phone_number].each do |phone_number_error|
                      %span.invalid-feedback.custom-validation= phone_number_error.html_safe
                .form-group
                  = f.label :second_phone_number, 'Số điện thoại phụ'
                  .input-group.mb-3{class: f.object.errors.messages[:second_phone_number].present? ? 'field_with_errors' : ''}
                    .input-group-prepend
                      %span.input-group-text.country-code-number
                        = ISO3166::Country.new(@customer.country_code).present? ? "+#{ISO3166::Country.new(@customer.country_code)&.country_code}" : "+84"
                    = f.text_field :second_phone_number, value:params[:customer] && params[:customer][:second_phone_number].present? ? params[:customer][:second_phone_number] : (@customer.second_phone_number_sanitized ? @customer.second_phone_number_sanitized : @customer.second_phone_number) , class: 'form-control not_default_error', disabled: @is_disabled
                    - f.object.errors.messages[:second_phone_number].each do |second_phone_number_error|
                      %span.invalid-feedback.custom-validation= second_phone_number_error
                .form-group
                  = f.label :gender, 'Giới tính'
                  = f.select :gender, options_for_select(Constant::CUSTOMER_GENDER.invert, @customer.gender), {include_blank: true}, {class: 'form-control tms-select2', disabled: @is_disabled}
                .form-group
                  = f.label :email, 'Email'
                  = f.text_field :email, class: 'form-control', disabled: @is_disabled
                  - f.object.errors.messages[:email].each do |email_error|
                    %span.invalid-feedback.custom-validation= email_error
                .form-group
                  = f.label :identity_card, 'CMND'
                  = f.text_field :identity_card, class: 'form-control', disabled: @is_disabled
                  - f.object.errors.messages[:identity_card].each do |identity_card_error|
                    %span.invalid-feedback.custom-validation= identity_card_error
                .form-group
                  = f.label :city_id, 'Tỉnh/Thành phố'
                  = f.select :city_id, options_for_select(@cities, f.object.city_id), {include_blank: true}, {class: 'form-control tms-select2', disabled: @is_disabled}
                .form-group
                  = f.label :address, 'Địa chỉ'
                  = f.text_area :address, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :dob, 'Ngày sinh'
                  .input-group
                    .input-group-prepend
                      %span.input-group-text
                        %i.far.fa-calendar-alt
                    = f.text_field :dob, class: 'form-control float-right datepicker', value: f.object.get_dob, disabled: @is_disabled
                .form-group
                  = f.label :data_source, 'Nguồn khách hàng'
                  - if @is_disabled || (@customer.id && @source_group.blank?)
                    %input.form-control{disabled: 'disabled', value: Constant::DEAL_SOURCES[@customer.data_source]}
                  - else
                    = f.select :data_source, grouped_options_for_select(@source_group, @customer.data_source), {include_blank: true}, { class: 'form-control tms-select2', require: !@customer.data_source}
                    - f.object.errors.messages[:data_source].each do |data_source|
                      %span.invalid-feedback.custom-validation= data_source
                .form-group
                  = f.label :customer_characteristic, 'Đặc tính khách hàng'
                  = f.select :customer_characteristic, options_for_select(Constant::CUSTOMER_CUSTOMER_CHARACTERISTIC.invert, @customer.customer_characteristic), {include_hidden: false}, {class: 'form-control tms-select2', multiple: true, disabled: @is_disabled}
                .form-group
                  = f.label :state, 'Trạng thái xác thực'
                  = f.text_field :state, class: 'form-control', disabled: true, value: f.object.get_state
  .col
    .card.tms-card
      .card-header
        %h3.card-title Thông tin thêm
        .card-tools
          %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
            %i.fas.fa-minus
      .card-body
        .tms-field-group
          .tms-field-group-body
            .row
              .col
                .form-group
                  = f.label :facebook_uid, 'Facebook UID'
                  = f.text_field :facebook_uid, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :job, 'Nghề nghiệp'
                  = f.text_field :job, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :property_ownership, 'Tài sản sở hữu'
                  = f.text_field :property_ownership, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :nationality, 'Quốc tịch'
                  = f.text_field :nationality, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :financial_capability, 'Khả năng tài chính'
                  = f.text_field :financial_capability, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :detail, 'Mô tả thêm'
                  = f.text_area :detail, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :income, 'Thu nhập'
                  = f.text_field :income, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :position, 'Chức vụ'
                  = f.text_field :position, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :work_place, 'Nơi công tác'
                  = f.text_field :work_place, class: 'form-control', disabled: @is_disabled
                .form-group
                  = f.label :marital_status, 'Tình trạng hôn nhân'
                  = f.select :marital_status, options_for_select(Constant::CUSTOMER_MARITAL_STATUS.invert, @customer.marital_status), {include_blank: "Vui lòng chọn"}, {class: 'form-control tms-select2', disabled: @is_disabled}
    .card.tms-card
      .card-header
        %h3.card-title Ghi chú
        .card-tools
          %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
            %i.fas.fa-minus
      .card-body
        #notes
          = f.fields_for :notes do |note|
            %div.note
              = render 'note_fields', f: note
          .links
            = link_to_add_association f, :notes do
              %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                %i.fas.fa-plus
                Thêm ghi chú