- content_for :content_header do
  .col-sm-10
    %h2.m-0.text-dark Khách Hàng
  .col-2.d-flex.justify-content-end.p-0
    .form-group.mb-1.ml-auto.mr-2
      %a.btn.btn-same-deal{href: admin_same_customers_path}
        Khách hàng trùng

- content_for :content_body do
  .row
    .col
      - if policy(Customer).import?
        .card.tms-card.collapsed-card
          .card-header
            %h3.card-title Import khách hàng
            .card-tools
              %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                %i.fas.fa-plus
          .card-body{style: 'display: none;'}
            = form_with url: import_admin_customers_path, html: {id: "import-project-form", multipart: true}, local: true do |f|
              #files-field-project.dropzone.fallback
              .form-group.input-group.btn-zone
                = f.submit "Import", class: 'btn btn-primary'
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_customers_path, method: :get, local: true, class: 'input-group search-group' do |f|
            = f.text_field :query, value: params[:query], id: 'customer-search', class: 'form-control typeahead', type: 'search', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên, SĐT'
            %button{type: 'submit'}
              %i.fa.fa-search

  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th.border-bottom-none Tên khách hàng
              %th.border-bottom-none Số điện thoại
              %th.border-bottom-none Số điện thoại phụ
              %th.border-bottom-none Giới tính
              %th.border-bottom-none Email
              %th.border-bottom-none CMND
              %th.border-bottom-none Ngày sinh
              %th.border-bottom-none Xác thực
              %th.border-bottom-none.last-col-stick
          %tbody
            - @customers.each do |customer|
              %tr
                %td= customer.name
                %td
                  %div{class: "#{'blank-data' if customer.phone_number_international.blank?}"}= "#{customer.phone_number_international.present? ? customer.phone_number_international : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if customer.second_phone_number_international.blank?}"}= "#{customer.second_phone_number_international.present? ? customer.second_phone_number_international : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if customer.get_gender.blank?}"}= "#{customer.get_gender.present? ? customer.get_gender : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if customer.email.blank?}"}= "#{customer.email.present? ? customer.email : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if customer.identity_card.blank?}"}= "#{customer.identity_card.present? ? customer.identity_card : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if customer.get_dob.blank?}"}= "#{customer.get_dob.present? ? customer.get_dob : 'Chưa cập nhật'}"
                %td= customer.get_state
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_customer_path(customer.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(customer).destroy?
                    %a.btn.btn-outline-primary{href: admin_customer_path(customer.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
      = render partial: 'shared/pagination', locals: { pagy: @pagy }

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_customer_path, class: 'btn btn-primary'
