- if @customer_valid
  :plain
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: "Thêm mới khách hàng \"#{@customer.name}\" thành công!",
      showConfirmButton: false,
      showClass: {
        popup: 'swal-create-customer',
      },
      timer: 3000
    }).then((result) => {
      let $deal_customer = $('#deal_customer');
      $deal_customer.append('<option value="#{j @customer.id.to_s}" data-select2-id="#{j @customer.id.to_s}">#{j @customer.name}</option>');
      $deal_customer.val("#{j @customer.id.to_s}").trigger('change');
      $('#deal_phone_number').val("#{j @customer.phone_number}");
      $deal_customer.closest('.form-group').removeClass('field_with_errors');
      $deal_customer.closest('.form-group').find('.field_with_errors').removeClass('field_with_errors');
      $deal_customer.closest('.form-group').find('.custom-validation').hide();
      if ($deal_customer.closest('#general-info').length > 0) {
        $('#general-info-tab').find('span').text( $('#general-info').find('.row').not(".input-hidden").find('.field_with_errors:not(:has(input[type="hidden"]))').length/2 );
        if ($('#general-info').find('.row').not(".input-hidden").find('.field_with_errors').length == 0) {
          $('#general-info-tab').find('span').addClass('d-none');
        }
      }
    })
- else
  $('#swal2-content').html("#{j render('admin/deals/new_customer')}");

:plain
  $('.tms-select2').select2();
