- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chi tiết Khách hàng
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_customers_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-header
          %h3.card-title Thông tin khách hàng
          .card-tools
            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
              %i.fas.fa-minus
        .card-body
          .tms-field-group
            .tms-field-group-header
              %span Thông tin chung
            .tms-field-group-body
              .row
                .col
                  .form-group
                    %label Tên khách hàng
                    %input.form-control{disabled: true, value: @customer.name}
                  .form-group
                    %label Số điện thoại
                    %input.form-control{disabled: true, value: @customer.phone_number}
                  .form-group
                    %label Số điện thoại phụ
                    %input.form-control{disabled: true, value: @customer.second_phone_number}
                  .form-group
                    %label Giới tính
                    %select.tms-select2.form-control{disabled: true}
                      %option= @customer.get_gender
                  .form-group
                    %label Email
                    %input.form-control{disabled: true, value: @customer.email}
                  .form-group
                    %label CMND
                    %input.form-control{disabled: true, value: @customer.identity_card}
                  .form-group
                    %label Tỉnh/Thành Phố
                    %select.tms-select2.form-control{disabled: true}
                      %option= @customer.city.present? ? @customer.city.name_with_type : ''
                  .form-group
                    %label Địa chỉ
                    %textarea.form-control{disabled: true}= @customer.address
                  .form-group
                    %label Ngày sinh
                    %input.form-control{disabled: true, value: @customer.get_dob}
                  .form-group
                    %label Nguồn dữ liệu
                    %select.tms-select2.form-control{disabled: true}
                      %option= Constant::CUSTOMER_DATA_SOURCE.values[@customer.data_source] if @customer.data_source.present?
                  .form-group
                    %label Đặc tính khách hàng
                    %select.tms-select2.form-control{disabled: true, multiple: true}
                      - @customer_characteristic.each do |cc|
                        %option{selected: true}= cc
    .col
      .card.tms-card
        .card-header
          %h3.card-title Thông tin thêm
          .card-tools
            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
              %i.fas.fa-minus
        .card-body
          .tms-field-group
            .tms-field-group-body
              .row
                .col
                  .form-group
                    %label Nghề nghiệp
                    %input.form-control{disabled: true, value: @customer.job}
                  .form-group
                    %label Tài sản sở hữu
                    %input.form-control{disabled: true, value: @customer.property_ownership}
                  .form-group
                    %label Quốc tịch
                    %input.form-control{disabled: true, value: @customer.nationality}
                  .form-group
                    %label Khả năng tài chính
                    %input.form-control{disabled: true, value: @customer.financial_capability}
                  .form-group
                    %label Mô tả thêm
                    %textarea.form-control{disabled: true}= @customer.detail
                  .form-group
                    %label Thu nhập
                    %input.form-control{disabled: true, value: @customer.income}
                  .form-group
                    %label Chức vụ
                    %input.form-control{disabled: true, value: @customer.position}
                  .form-group
                    %label Nơi công tác
                    %input.form-control{disabled: true, value: @customer.work_place}
                  .form-group
                    %label Tình trạng hôn nhân
                    %select.tms-select2.form-control{disabled: true}
                      %option= Constant::CUSTOMER_MARITAL_STATUS.values[@customer.marital_status] if @customer.marital_status.present?
      .card.tms-card
        .card-header
          %h3.card-title Ghi chú
          .card-tools
            %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
              %i.fas.fa-minus
        .card-body
          .tms-field-group
            .tms-field-group-body
              .row
                .col
                  .form-group
                    - if @customer_notes.present?
                      - @customer_notes.each do |note|
                        %textarea.form-control{disabled: true}= note.content
                        %span= note.author.full_name if note.author.present?
                        %span= '- Tạo lúc: ' + note.created_at.localtime.strftime('%d/%m/%Y %H:%M')