- content_for :content_header do
  .col-12
    .d-flex
      %span.title-project-detail Voucher đã gửi
- content_for :content_body do
  .card-body.p-0
    .card.mt-3
      .card-header.p-0.border-bottom-0
        %ul#custom-content-above-tab.nav.nav-tabs{:role => "tablist"}
          %li.nav-item
            = link_to 'Thông tin khách hàng', edit_admin_customer_path(@customer), class: 'nav-link'
          - unless @customer.new_record?
            %li.nav-item
              = link_to 'Hành trình tương tác', admin_customer_customer_journeys_path(@customer), class: 'nav-link'
          %li.nav-item
            = link_to 'Voucher đã gửi', vouchers_admin_customer_path(@customer), class: 'nav-link active'
      .card-body{class: "#{'text-center' unless @vouchers_customers.present?}"}
        - unless @vouchers_customers.present?
          %div{style: 'margin: 10% 0'}
            = image_tag 'ticket.svg'
            .ml-2.mr-2.custom-text-color Chưa có voucher nào được gửi đi.
        - else
          .table-responsive.p-0
            %table.table.table-hover.table-nowrap.unable-click{class: "display nowrap", style: "width:100%; color: #434657"}
              %thead
                %tr
                  %th.font-weight-500 Nội dung voucher
                  %th.font-weight-500 ID voucher
                  %th.font-weight-500 Tên giao dịch
                  %th.font-weight-500 Ngày gửi
              %tbody
                - @vouchers_customers.each_with_index do |voucher_customer|
                  %tr
                    %td.text-truncate{style: 'max-width: 450px; white-space: normal !important'}= voucher_customer.voucher&.content
                    %td= voucher_customer.voucher&.id
                    %td{style: 'max-width: 350px;'}
                      %a{href: edit_admin_deal_path(voucher_customer.deal_id), target: '_blank'}= voucher_customer.get_deal_name
                    %td= voucher_customer.created_at.strftime("%d/%m/%Y")
          = render partial: 'shared/pagination', locals: { pagy: @pagy }