- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Quản lý version

- content_for :content_body do
  .row
    .col
      = form_with model: [:admin, @version], url: admin_version_path(@version), method: 'patch', local: true do |f|
        .row
          .col-12
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary Lưu
        .row
          .col-6
            .card.tms-card
              .card-body
                .form-group
                  = f.label :version, 'Version'
                  = f.text_field :version, class: 'form-control'
                .form-group
                  = f.label :description, 'Mô tả'
                  = f.text_area :description, class: 'form-control'