= form_with url: admin_cs_tickets_path, method: :get, local: true, class: 'input-group form-inline filter-form' do |f|
  = f.hidden_field :state, value: params[:state]
  .container-fluid
    .row.product-filter
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Tìm kiếm
          .col-xl-10.col-lg-9.col-md-8
            = f.text_field :query, value: params[:query], id: 'cs-ticket-deals-search', class: 'form-control typeahead m-0 w-100', placeholder: 'Nhập từ khoá tìm kiếm', type: 'search', state: params[:state]
            %button.d-none{type: 'submit'}
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Dự án
          .col-xl-10.col-lg-9.col-md-8
            = f.select :project, options_for_select(@projects, params[:project]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
      .col-4.filter-expand{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .text-right.font-size-14 NVKD
            .text-right.font-size-14 Chăm sóc
          .col-xl-10.col-lg-9.col-md-8
            = f.select :assignee, options_for_select(@assignee, params[:assignee]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
      .col-4.mt-3.div-space{class: "#{@check_params_filter && params[:level].to_i == 0 ? '' : 'd-none'}"}
      .col-4.mt-3.div-space{class: "#{@check_params_filter && params[:level].to_i == 0 ? '' : 'd-none'}"}
      .col-4.d-flex{class: "#{@check_params_filter ? 'mt-3' : ''}"}
        .ml-auto
          %button.btn.btn-reti-primary{type: 'submit', style: 'margin-left: auto'} Áp dụng
          %a.btn.btn-remove-filter.ml-2{type: 'button', href: admin_cs_tickets_path(state: params[:state])} Xóa
        .product-filter-expand-collapse.cursor-pointer
          - if @check_params_filter
            %span.product-filter-text Thu gọn
            %span.product-filter-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
              = image_tag 'down-arrow.svg', class: 'd-block'
          - else
            %span.product-filter-text Mở rộng
            %span.product-filter-icon{"aria-label" => "down", role: "img"}
              = image_tag 'down-arrow.svg', class: 'd-block'