- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Phiếu CSKH
  .col-sm-6.right
    .input-group-prepend.d-block
      %button.btn.btn-reti-primary.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", type: "button"}
        Xuất file
      .dropdown-menu.p-0{style: ""}
        %button.dropdown-item.download_deal{"data-state" => "deposit"}
          = image_tag asset_path('export.svg'), class: 'export d-none'
          = image_tag asset_path('export-gray.svg'), class: 'export-gray'
          Chặng đã đặt cọc
        %button.dropdown-item.download_deal{"data-state" => "contract_signed"}
          = image_tag asset_path('export.svg'), class: 'export d-none'
          = image_tag asset_path('export-gray.svg'), class: 'export-gray'
          Chặng ký hợp đồng
        %button.dropdown-item.download_deal{"data-state" => "canceled"}
          = image_tag asset_path('export.svg'), class: 'export d-none'
          = image_tag asset_path('export-gray.svg'), class: 'export-gray'
          Chặng đã hủy

- content_for :content_body do
  .row
    .col-12
      .card.mt-2
        .card-body.pl-0
          = render "admin/cs_tickets/filter"
      .card.card-product-tab.mb-2
        %nav
          #nav-tab.nav.nav-tabs{:role => "tablist", style: 'border-bottom: none'}
            %a.nav-deals-tab.nav-item.nav-link.nav-product-tab.flex-auto{href: admin_cs_tickets_path(state: 'deposit'), class: "#{'active' if params[:state] == 'deposit'}"}= "Đã đặt cọc (#{@deals_count[0]})"
            %a.nav-deals-tab.nav-item.nav-link.nav-product-tab.flex-auto{href: admin_cs_tickets_path(state: 'contract_signed'), class: "#{'active' if params[:state] == 'contract_signed'}"}= "Ký hợp đồng (#{@deals_count[1]})"
            %a.nav-deals-tab.nav-item.nav-link.nav-product-tab.flex-auto{href: admin_cs_tickets_path(state: 'canceled'), class: "#{'active' if params[:state] == 'canceled'}"}= "Đã huỷ (#{@deals_count[2]})"
      .card.mt-3
        #nav-tabContent.tab-content
          .nav-deals.fade.active.show
            .card-body{style: 'padding-top: 10px !important'}
              %table.table.table-hover.tms-datatables-scroll.w-100.custom-header-product-table.custom-sorting-table.display{class: "display nowrap", style: "width:100%; color: #434657"}
                %thead
                  %tr
                    %th
                    %th Tên giao dịch
                    %th Khách hàng
                    %th Số điện thoại
                    %th Dự án
                    %th NVKD
                    %th.d-none
                %tbody
                  - @deals.each do |deal|
                    %tr{deal_id: deal.id, cs_state: deal.cs_state}
                      %td
                        .d-none= deal.cs_state
                        .check-box
                          - if deal.cs_state == 2
                            = image_tag 'checkbox-success.svg', class: "position-absolute"
                          - elsif deal.cs_state == 3
                            = image_tag 'checkbox-error.svg', class: "position-absolute"
                      %td= deal.name
                      %td
                        %div{class: "#{'blank-data' if deal.customer&.name.blank?}"}= "#{deal.customer&.name.present? ? deal.customer&.name : 'Chưa cập nhật'}"
                      %td
                        %div{class: "#{'blank-data' if deal.customer&.phone_number.blank?}"}= "#{deal.customer&.phone_number.present? ?  deal.customer&.phone_number : 'Chưa cập nhật'}"
                      %td= deal.project&.name
                      %td
                        %div{class: "#{'blank-data' if deal.assignee&.full_name.blank?}"}= "#{deal.assignee&.full_name.present? ?  deal.assignee&.full_name : 'Chưa cập nhật'}"
                      %td.d-none
                        %a.btn.btn-outline-primary.btn-edit{href: edit_admin_deal_path(deal, project: params[:project], assignee: params[:assignee], return: 'cs_tickets'), target: '_blank'}
