- content_for :content_header do
  %nav.navbar.navbar-expand.navbar-white.navbar-light.d-flex.justify-content-between
    %div.deal-form-title Lịch làm việc tuần

- content_for :content_body do
  - date_now = DateTime.now
  .row.my-3
    .col-12
      .d-flex.justify-content-center
        .label-future-meet.p-2.d-flex.justify-content-start
          .color
          .text.pl-1
            Sắp tới
        .label-meet.p-2.d-flex.justify-content-start
          .color
          .text.pl-1
            Đã gặp
      .d-flex.justify-content-center
        .label-cancel-meet.p-2.d-flex.justify-content-start
          .color
          .text.pl-1
            Huỷ hẹn
        .label-not-meet.p-2.d-flex.justify-content-start
          .color
          .text.pl-1
            Nhỡ hẹn

    .col-12.p-0.event-calendar
      .card.bg-transparent.shadow-none
        .tabbable-responsive.bg-white
          .tabbable
            %ul.nav.nav-tabs{:role => "tablist"}
              - (date_now.beginning_of_week..date_now.end_of_week).each do |day|
                %li.nav-item
                  %a#monday-tab.nav-link{"aria-controls": "#{day.strftime("%A").downcase}", "aria-selected": "true", "data-toggle": "tab", href: "##{day.strftime("%A").downcase}", role: "tab", class: date_now === day ? 'active' : '', id: day.to_s}
                    = "#{I18n.l(day, format: '%A')} #{day.strftime("%d/%m")}"

        .card-body.py-3
          .tab-content
            - (date_now.beginning_of_week..date_now.end_of_week).each do |day|
              .tab-pane.fade.show{ "aria-labelledby": "monday-tab", role: "tabpanel", class: date_now === day ? 'active' : '', id: day.strftime("%A").downcase }
                - if @group_events[day.to_date.to_s]
                  - @group_events[day.to_date.to_s].each do |event|
                    - event_class = case event.state
                    - when nil
                      - if date_now < event.appointment_date
                        - 'custom-event future-meet'
                      - else
                        - 'custom-event not-meet'
                    - when 1
                      - 'custom-event cancel-meet'
                    - when 0
                      - 'custom-event meet'
                    %a{href: edit_admin_deal_path(event.deal)}
                      .custom-event.bg-white{class: event_class}
                        .custom-event-time.pb-2
                          = event.appointment_date.strftime("%H:%M")
                        .custom-event-title.pb-2
                          = event.content
                        .custom-event-content
                          = event.result
                  
                - elsif date_now === day
                  .tms-field-group.text-center
                    .tms-field-group-header
                      %a{href: admin_deals_path('state[]': 'interest')}
                        Hôm nay bạn chưa có lịch hẹn, thiết lập lịch hẹn mới ngay!

- content_for :js do
  :javascript
    $(document).ready(function(){
      let window_width = $( window ).width();
      let e_offset_left = $('.nav-link.active').parent().offset().left;
      let e_width =$('.nav-link.active').parent().width();
      $( "div.tabbable-responsive" ).scrollLeft( e_offset_left - (window_width/2) + (e_width/2) );
    })
    