- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Giao dịch trùng

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_same_deals_path, method: :get, local: true, class: 'input-group search-group form-same-deal-search' do |f|
            = f.text_field :query, value: params[:query], id: 'same-deal-search', class: 'form-control typeahead', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên GD, Tên KH, SĐT, Dự án', type: 'search'
            %button{type: 'submit'}
              %i.fa.fa-search
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên giao dịch
              %th SĐT khách hàng
              %th Dự án quan tâm
              %th Trạng thái GD
              %th Số GD trùng
          %tbody
            - @deals.each do |deal|
              %tr.same-deal-detail-row
                %td
                  %a.same-deal-detail-link{:href => admin_same_deal_path(deal.id) }
                  = deal.name
                %td= deal.customer&.phone_number
                %td= deal.project&.name
                %td= I18n.t("deal.states.#{deal.state}")
                %td= deal.same_deals.size
      = render partial: 'shared/pagination', locals: { pagy: @pagy }