- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark= @deal.name
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_same_deals_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.same_deal_detail_page
    .card-body
      .table-responsive.p-0
        %table.table.table-bordered.text-nowrap.table-same-deal
          %tr.text-center
            %th{width: '200px', style: 'background-color: white'}
            - @deals.each do |deal|
              %th{width: '310px'}
                .deal-name
                  = deal.name
                %div
                  = image_tag deal.assignee.present? ? deal.assignee.get_avatar : asset_path('add-assignee.svg'), alt: 'User Default Avatar', class: 'img-circle avatar-assignee', title: deal.assignee&.full_name
                .state.my-4{class: "state-#{deal.state}"}
                  = I18n.t("deal.states.#{deal.state}")
                .mb-2
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_deal_path(deal), target: '_blank'}
                    %i.fas.fa-pencil-alt
                  - if @deal.id != deal.id && policy(deal).destroy? 
                    %a.btn.btn-outline-danger{href: admin_deal_path(deal.id), "data-toggle": "tooltip", "data-placement": "top", "title": "Xóa giao dịch", data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
          - colspan = @deal.same_deals.size + 2
          - @data.each do |title, array_value|
            - if array_value
              %tr
                %td.cell-heading= title
                - array_value.each_with_index do |item, index|
                  - same_attr_class = (index != 0 && array_value[0] == item) || (index == 0 && array_value.drop(1).include?(item)) ? 'text-bold' : ''
                  %td.text-center{class: same_attr_class}= item.present? ? item : '-'
            - else
              %tr.row-heading
                %td= title
                %td
                %td{colspan: @deal.same_deals.size}