:plain
  $("#feedbacks").prepend("#{j render 'admin/deals/feedback_fields', {o: @feedback, deal: @deal} }");
  $(".feedback-").last().remove();
- if @not_errors
  :plain
    $('#feedback').find('.deal_add_fields').removeClass('d-none');