:plain
  $(".feedback-#{@feedback.id}" ).replaceWith("#{j render 'admin/deals/feedback_fields', {o: @feedback, deal: @deal} }");
- if @not_errors
  :plain
    $('#feedback').find('.deal_add_fields').removeClass('d-none');