.card.kanban-item.d-none.kanban-clone#kanban-item-new
  .card-content.py-2
    %form.kanban-item-new-form
      %input.border-0.form-control.input-title{placeholder: "Nhập tiêu đề"}
      %button.btn.btn-block.btn-outline-info.btn-sm.w-auto.float-right.px-3.mr-2.kanban-item-new-save
        Lưu
%p.kanban-item-title-error{style: 'display:none'} Không được để trống tiêu đề!
