.card.kanban-item.mt-0.mb-2.ml-1.mr-1
  .card-header.kanban-border-bottom
    .title.d-flex.justify-content-between
      %div Anh kính - Sun thuy khuê
      .btn.btn-default.btn-sm.btn-right.btn-show-detail.d-flex.align-items-center{'data-target': "#modal-detail", "aria-expanded" => "false" }
        %i.fa.fa-chevron-right
    .statuses.d-flex.justify-content-between
      .statuses-container
        .status.status-success
          Đã hẹn gặp 
        .status.status-primary
          Đã gửi tt qua zalo
        .status.status-danger.status-gradian
          Label dài dài dài dài
      .status.status-more
        +2
  .card-body.text-muted
    .card-body-line
      %span.mr-1
        %i.tms.tms-building
      %span.text Sun Grand City Thụy Khuê
    .card-body-line
      %span.mr-1
        %i.tms.tms-clock
      %span.text 15/08/2020
    .card-body-line
      %span.mr-1
        %i.tms.tms-infor
      %span.text Telesale 
    .card-body-line
      %span.mr-1
        %i.tms.tms-favourite
      %span.text KH cần mua gấp căn Duplex diện tích diện tích diện tích
    .btn.p-0.image-avatar.btn-assign{'data-target': "#modal-assign"}
      = image_tag asset_path('add-assignee.svg'), alt: 'User Default Avatar', class: 'img-circle w-100'
