.row.flex-nowrap.kanban-ticket.overflow-x.init-kanban
  %section.kanban-col
    .card
      .card-header.kanban-col-title
        %h3.card-title.font-weight-600
          Chờ xử lý
          %span.num-item
        %button.btn.float-right.btn-add.btn-add-kanban-item{:type => "button"}
          %i.far.fa-plus-square
          Tạo mới
      .card-body.p-0.mt-2.mb-2.kanban-body-container.kanban-scroll
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
  %section.kanban-col
    .card
      .card-header.kanban-col-title
        %h3.card-title.font-weight-600
          Đang quan tâm
          %span.num-item
      .card-body.p-0.mt-2.mb-2.kanban-body-container.kanban-scroll
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'

  %section.kanban-col
    .card
      .card-header.kanban-col-title
        %h3.card-title.font-weight-600
          Đã gặp
          %span.num-item
      .card-body.p-0.mt-2.mb-2.kanban-body-container.kanban-scroll
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
  %section.kanban-col
    .card
      .card-header.kanban-col-title
        %h3.card-title.font-weight-600
          Chờ lock căn
          %span.num-item
      .card-body.p-0.mt-2.mb-2.kanban-body-container.kanban-scroll
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'
        = render 'shared/kanban_item'



= render 'shared/modal_detail'
= render 'shared/modal_assign'
= render 'shared/kanban_item_new'