#modal-detail.modal{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.d-block.kanban-border-bottom
        .d-flex.justify-content-between
          %h5#exampleModalLabel.modal-title Anh kính - Sun thuy khuê
          %a.btn.btn-sm.btn-info{href: '#'}
            Xem/Sửa
        .statuses
          .status.status-success
            Đã hẹn gặp
          .status.status-primary
            Đã hẹn gặp dài dài dài
          .status.status-danger
            Đã hẹn gặp dài
          .status.status-success
            Đã hẹn gặp dài
          .status.status-primary
            Đã hẹn gặp dài
          .status.status-danger
            Đã hẹn gặp dài
          .status.status-success
            Đã hẹn gặp dài dài dài dài
          .status.status-primary
            Đã hẹn gặp dài dài dài
          .status.status-danger
            Đã hẹn gặp

      .modal-body.kanban-scroll.p-0
        .detail-item.kanban-border-bottom
          .detail-item-heading Khách hàng
          .row.p-2
            .col-6
              %span.detail-item-heading-sub Tên khách hàng
              .detail-item-content Hà Gia Kính
            .col-6
              %span.detail-item-heading-sub Số điện thoại
              .detail-item-content 0987189187

        .detail-item.kanban-border-bottom
          .detail-item-heading Giao dịch
          .row.p-2
            .col-6
              %span.detail-item-heading-sub Dự án quan tâm
              .detail-item-content Meyhomes Capital Phú Quốc
            .col-6
              %span.detail-item-heading-sub Mã sản phẩm
              .detail-item-content Chưa cập nhật
          .row.p-2
            .col-6
              %span.detail-item-heading-sub Mức độ quan tâm
              .detail-item-content Rất quan tâm
            .col-6
              %span.detail-item-heading-sub Nhu cầu khách hàng
              .detail-item-content Cần tìm nhà 15 tỷ đổ lại, diện tích 999m2 đổ lên là lên là lên là lên, lên nóc nhà là bắt con gà
          .row.p-2
            .col-6
              %span.detail-item-heading-sub Trạng thái giao dịch
              .detail-item-content Chờ xử lý
            .col-6
              %span.detail-item-heading-sub Nguồn
              .detail-item-content Organic Website
          .row.p-2
            .col-6
              %span.detail-item-heading-sub Người phụ trách
              .detail-item-content Nguyễn Hữu Nghị
            .col-6
              %span.detail-item-heading-sub Nhóm KD
              .detail-item-content Nguyễn Hữu Nghị
          .row.p-2
            .col-6
              %span.detail-item-heading-sub Ngày tạo
              .detail-item-content 24/06/2020
            .col-6
              %span.detail-item-heading-sub Ngày cập nhật trạng thái
              .detail-item-content 24/06/2020

        .detail-item.kanban-border-bottom
          .detail-item-heading.mb-2 Ghi chú mới nhất
          .bg-light.rounded.p-2.mb-2
            %p
              Hà Gia Kính
              %i.text-muted.small - 22/02/2002 22:22
            %span
              Tên khách hàng Tên khách hàng Tên khách hàng
          .bg-light.rounded.p-2
            %p
              Hà Gia Kính
              %i.text-muted.small - 22/02/2002 22:22
            %span
              Tên khách hàng Tên khách hàng Tên khách hàng
