#modal-assign.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.assign-heading
        .assign-title Chọn người phụ trách
        %span.assign-btn-close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          .fas.fa-times
      .assign-body
        .assign-search
          .input-group
            %input.form-control{:type => "text", placeholder: 'Tìm kiếm'}/
            .input-group-append
              %span.input-group-text
                %i.fas.fa-search
        .assign-content.kanban-scroll
          .row.assign-item
            .assign-item-avatar.mr-2
              = image_tag 'user_default.png', alt: 'User Default Avatar', class: 'img-circle elevation-2 w-100'
            .assign-item-name
              Hà Gia Kính (Tôi)
          .row.assign-item
            .assign-item-avatar.mr-2
              = image_tag 'user_default.png', alt: 'User Default Avatar', class: 'img-circle elevation-2 w-100'
            .assign-item-name
              Hà Gia Kính
          .row.assign-item
            .assign-item-avatar.mr-2
              = image_tag 'user_default.png', alt: 'User Default Avatar', class: 'img-circle elevation-2 w-100'
            .assign-item-name
              Hà Gia Kính
          .row.assign-item
            .assign-item-avatar.mr-2
              = image_tag 'user_default.png', alt: 'User Default Avatar', class: 'img-circle elevation-2 w-100'
            .assign-item-name
              Hà Gia Kính
          .row.assign-item
            .assign-item-avatar.mr-2
              = image_tag 'user_default.png', alt: 'User Default Avatar', class: 'img-circle elevation-2 w-100'
            .assign-item-name
              Hà Gia Kính




