- documents.each do |document|
  .share-document-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "shareDocumentModalTitle", role: "dialog", tabindex: "-1", id: "shareDocumentModal#{document.id}"}
    .modal-dialog.modal-dialog-centered{role: "document"}
      .modal-content
        .modal-header
          %h5.modal-title Chia sẻ tài liệu dự án
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-group
            %label Mạng xã hội
            .row-share
              %button.item-share.btn-share-facebook{'data-platform': 'facebook', 'data-file': "#{document.document_url}"}
                Facebook
          .form-group
            %label Nhắn tin và email
            .row
              .col-6
                %a.item-share.cursor-pointer{'data-platform': 'email', 'data-file': "#{document.document_url}"}
                  = image_tag 'share/email.svg'
                  %span.ml-12.mt-6 Email
              .col-6
                %a.item-share.cursor-pointer{'data-platform': 'messenger', 'data-file': "#{document.document_url}"}
                  = image_tag 'share/messenger.svg'
                  %span.ml-12.mt-6 Messenger
            .row.mt-4
              .col-6
                %a.item-share.zalo-share-button.cursor-pointer{'data-platform': 'zalo', 'data-color': 'blue', 'data-customize': 'true', 'data-layout': '4', 'data-oaid': '795605920558909071', 'data-href': "#{document.document_url}"}
                  = image_tag 'share/zalo.svg'
                  %span.ml-12.mt-6 Zalo
              .col-6
                %a.item-share.cursor-pointer{'data-platform': 'viber', 'data-file': "#{document.document_url}"}
                  = image_tag 'share/viber.svg'
                  %span.ml-12.mt-1 Viber
          .form-group
            %label Sao chép liên kết
            .input-group
              %input.form-control{type: "text", style: 'height: 40px', value: "#{document.document_url}"}/
              .input-group-prepend
                %button.btn.btn-reti-primary.btn-copy-link{type: "button", style: 'height: 40px', 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Đã sao chép'} Sao chép