- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chi tiết Đơn vị quản lý
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_operators_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .row
    .col
      .card
        .card-body
          = form_with(model: [:admin, @operator]) do |f|
            .form-group
              %label{for: 'name'} Tên
              .field
                = f.text_field :name, class: 'form-control', required: true, disabled: true
            .form-group
              %label{for: 'detail'} Mô tả thêm
              .field
                = f.text_area :detail, class: 'form-control', required: true, disabled: true
            .form-group
              %label{for: 'logo'} Logo
              %p
              = image_tag @operator.logo.variant(resize: '200x200')
              .field