.row
  .col
    = form_with model: [:admin, @kpi], local: true do |f|
      - unless @is_disabled
        .row.sticky-top
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary= @kpi.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row
        .col-12
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col-6
                      .form-group
                        = f.label :year, 'Năm'
                        = f.select :year, options_for_select(2020..2120, @kpi.year || Time.now.year), {include_blank: @is_disabled ? 'Chưa cập nhật' : 'Vui lòng chọn'}, { class: 'form-control tms-select2', data: {'select-child-target': ['kpi_team_id']}, 'data-placeholder': @is_disabled ? 'Chưa cập nhật' : 'Vui lòng chọn', disabled: @is_disabled || @readonly }
                        - f.object.errors.messages[:year].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                    .col-6
                      .form-group
                        = f.label :team_id, 'Nhóm kinh doanh'
                        = f.select :team_id, options_for_select(@teams, @kpi.team_id), {include_blank: @is_disabled ? 'Chưa cập nhật' : 'Vui lòng chọn'}, { class: 'form-control tms-select2', 'data-placeholder': @is_disabled ? 'Chưa cập nhật' : 'Vui lòng chọn', disabled: @is_disabled || @readonly }
                        - f.object.errors.messages[:team_id].each do |team_id_error|
                          %span.invalid-feedback.custom-validation= team_id_error
                    .col-12
                      .form-group
                        = f.label :kpi, 'Mục tiêu kinh doanh (Tỷ VNĐ)'
                      .row
                        - (1..12).each do |month|
                          = render 'monthly_kpi', f: f, month: month
