.col-2
  .card.tms-card
    .card-header
      %h3.card-title= "Tháng #{month}"
    .card-body
      .tms-field-group
        .tms-field-group-body
          .form-group
            = f.number_field Date::ABBR_MONTHNAMES[month].downcase.to_sym, class: 'form-control', step: :any
