- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark KPI

- content_for :content_body do
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th STT
              %th Năm
              %th Nhóm kinh doanh
              - (1..12).each do |i|
                %th= "T#{i}"
              %th
          %tbody
            - @kpis.each.with_index(1) do |kpi, index|
              %tr
                %td= index
                %td= kpi.year
                %td= kpi.team.name
                - (1..12).each do |i|
                  %td= kpi.send(Date::ABBR_MONTHNAMES[i].downcase) || '-'
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_kpi_path(kpi.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(kpi).destroy?
                    %a.btn.btn-outline-primary{href: admin_kpi_path(kpi.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_kpi_path, class: 'btn btn-primary'
