.row
  .col
    = form_with url: admin_custom_keywords_path, local: true, class: 'form-custom-keywords' do |f|
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary= 'Lưu thay đổi'
      .row
        .col
          .card.tms-card
            .card-header
              %h3.card-title Từ khoá phổ biến
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col-12
                      .form-group.mr-1.mb-1
                        %input{type: "hidden", value: @current_keywords, id: 'current_keywords'}
                        = f.select :keywords, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-keyword', id: 'keyword-search', name: 'keywords[]', style: 'width: 100%'}
- content_for :js do
  :javascript
    var Utils = $.fn.select2.amd.require('select2/utils');
    var Dropdown = $.fn.select2.amd.require('select2/dropdown');
    var DropdownSearch = $.fn.select2.amd.require('select2/dropdown/search');
    var AttachBody = $.fn.select2.amd.require('select2/dropdown/attachBody');
    var dropdownAdapter = Utils.Decorate(Utils.Decorate(Dropdown, DropdownSearch), AttachBody);

    $('.select2-search-keyword').select2({
      ajax: {
        url: '../custom_keywords/projects',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term
          }
          return query;
        },
        processResults: function (data) {
          data = _.sortBy(data, function(item) {
            return _.includes($(`.select2-search-keyword`).val(), item.id.toString()) ? 0 : 1;
          });
          var dataResults = [];
          _.forEach(data, function(value) {
            if(_.includes($(`.select2-search-keyword`).val(), value.id.toString())) {
              value.html = `<input class="icheckbox_square-custom mr-1" type="checkbox" checked="true" id="select2-custom-keyword-${value.id}"><label class="mr-1">${value.text}</label>`;
            } else {
              value.html = `<input class="icheckbox_square-custom mr-1" type="checkbox" id="select2-custom-keyword-${value.id}"><label class="mr-1">${value.text}</label>`;
            }
            value.title = value.text;
            dataResults.push(value);
          });
          return {
            results: dataResults
          };
        },
        cache: true
      },
      theme: 'bootstrap',
      language: 'vi',
      maximumSelectionLength: 3,
      width: 'resolve',
      placeholder: 'Chọn từ khoá',
      minimumInputLength: 0,
      dropdownAutoWidth: true,
      allowClear: true,
      multiple: true,
      closeOnSelect: false,
      dropdownAdapter: dropdownAdapter,
      escapeMarkup: function(markup) {
        return markup;
      },
      templateResult: function(data) {
        return (data.html == undefined ? data.text : data.html);
      }
    }).on('select2:open', function(e) {
      customStyleSelect2();
      if ($(this).data('state') === 'unselected') {
        $(this).removeData('state');
        $(this).select2('close');
      }
    }).on('change.select2', function(e) {

    }).on("select2:select", function(e){
      $(`#select2-custom-keyword-${e.params.data.id}`).prop('checked', true);
    }).on("select2:unselect", function(e){
      $(`#select2-custom-keyword-${e.params.data.id}`).prop('checked', false);
    });

    var currentKeywords = JSON.parse($('#current_keywords').val());

    _.forEach(currentKeywords, function(result) {
      var option = new Option(result.text, result.id, true, true);
      $('.select2-search-keyword').append(option).trigger('change');

      // manually trigger the `select2:select` event
      $('.select2-search-keyword').trigger({
        type: 'select2:select',
        params: {
          data: result
        }
      });
    })
