.nested-fields
  .card
    .card-body
      .row
        .col-11
          .form-group
            .fields
              = f.label :name, 'Tên'
              = f.text_field :name, class: 'form-control', disabled: @is_disabled
              - f.object.errors.messages[:name].each do |name_error|
                %span.invalid-feedback.custom-validation= name_error
          .form-group
            .fields
              = f.label :description, 'Mô tả'
              = f.text_area :description, class: 'form-control', maxlength: "250", disabled: @is_disabled
              - f.object.errors.messages[:description].each do |description_error|
                %span.invalid-feedback.custom-validation= description_error
              %small.font-italic.text-muted * Tối đa 250 kí tự
          .form-group
            .fields{class: f.object.errors.messages[:file].present? ? "field_with_errors" : ''}
              = f.label :file, 'File'
              .custom-file
                = f.file_field :file, class: 'custom-file-input not_default_error', disabled: @is_disabled, style: 'cursor: pointer'
                = f.hidden_field :file_cache, value: f.object.file_cache
                = f.label :file, "#{f.object&.file&.identifier || 'Chọn file'}", { class: 'custom-file-label form-control not_default_error', style: 'overflow: auto' }
                - f.object.errors.messages[:file].each do |file_error|
                  %span.invalid-feedback.custom-validation= file_error
          .form-group
            .input-file-container-single{'model_name': 'documents', nested_id: f.object.id, column_name: 'preview_image' }
              .fields{class: f.object.errors.messages[:preview_image].present? ? "field_with_errors" : ''}
                = f.label :preview_image, 'Ảnh đại diện'
                .custom-file
                  - if f.object.preview_image.present?
                    = f.hidden_field :preview_image, value: f.object.preview_image.identifier, 'data-url': f.object.preview_image.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project), class: 'input-file-item-single'
                  = f.file_field :preview_image, class: 'custom-file-input not_default_error input-file-init-single', disabled: @is_disabled
                  = f.hidden_field :preview_image_cache, value: f.object.preview_image_cache
                  - f.object.errors.messages[:preview_image].each do |preview_image_error|
                    %span.invalid-feedback.custom-validation= preview_image_error
        .col-1
          = link_to_remove_association f do
            .form-group
              %button.btn.btn-outline-danger{type: 'button', style: 'margin-top: 31px', disabled: @is_disabled}
                %i.fas.fa-trash