.nested-fields
  .card
    .card-body
      .row
        .col-11
          .form-group
            .fields
              = f.label :real_estate_type  do
                Loại hình BĐS
                %span.required
                  *
              = f.select :real_estate_type, options_for_select(Constant::PROJECT_REAL_ESTATE_TYPE.invert, f.object.real_estate_type), {include_blank: true}, { class: 'tms-select2 form-control floorplan_type', disabled: @is_disabled }
              - f.object.errors.messages[:real_estate_type].each do |real_estate_type_error|
                %span.invalid-feedback.custom-validation= real_estate_type_error
          .form-group
            .input-file-container{'model_name': 'floorplan_images', nested_id: f.object.id, column_name: 'images'}
              %span
                Hình ảnh
              .tms-field-group-body
                - f.object.images.each do |item|
                  = f.hidden_field :images, multiple: true, value: item.identifier, class: 'input-file-item', 'data-url': item.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project)
                = f.hidden_field :images_cache
                .row
                  .col.form-group
                    = f.file_field :images, multiple: true, class: 'input-file-init', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                    - f.object.errors.messages[:images].each do |item_error|
                      %span.invalid-feedback.custom-validation= item_error
        .col-1
          = link_to_remove_association f do
            .form-group
              %button.btn.btn-outline-danger{type: 'button', style: 'margin-top: 31px', disabled: @is_disabled}
                %i.fas.fa-trash