.row
  .col
    = form_with model: [:admin, @project], local: true, id: 'project-submit-form', class: 'form-has-currency' do |f|
      - unless @is_disabled
        .row.sticky-scroll
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary= @project.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col
          .card.tms-card
            .card-header
              %h3.card-title Thông tin dự án
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Thông tin chung
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name do
                          Tên dự án
                          %span.required
                            *
                        = f.text_field :name, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:name].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      .form-group
                        = f.label :real_estate_type  do
                          Loại hình BĐS
                          %span.required
                            *
                        = f.select :real_estate_type, options_for_select(Constant::PROJECT_REAL_ESTATE_TYPE.invert, @project.real_estate_type), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                        - f.object.errors.messages[:real_estate_type].each do |real_estate_type_error|
                          %span.invalid-feedback.custom-validation= real_estate_type_error
                      .form-group
                        = f.label :locking_time do
                          Thời gian lock căn (phút)
                        = f.text_field :locking_time, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:locking_time].each do |locking_time_error|
                          %span.invalid-feedback.custom-validation= locking_time_error
                      .form-group
                        = f.label :construction_density, 'Mật độ xây dựng (%)'
                        = f.text_field :construction_density, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:construction_density].each do |construction_density_error|
                          %span.invalid-feedback.custom-validation= construction_density_error
                      .form-group
                        = f.label :total_area, 'Quy mô (ha)'
                        = f.text_field :total_area, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:total_area].each do |total_area_error|
                          %span.invalid-feedback.custom-validation= total_area_error
                      = f.fields_for :region do |ff|
                        .form-group
                          = ff.label :city_id do
                            Tỉnh/Thành phố
                            %span.required
                              *
                          = ff.select :city_id, options_for_select(@cities, ff.object.city_id), {include_blank: true}, {class: 'tms-select2 form-control select2-region', id: 'project_regions_attributes_city', data: {'select-child-target': %w(project_regions_attributes_district project_regions_attributes_ward)}, disabled: @is_disabled}
                          - ff.object.errors.messages[:city_id].each do |city_id_error|
                            %span.invalid-feedback.custom-validation= city_id_error
                        .form-group
                          = ff.label :district_id do
                            Quận/Huyện
                            %span.required
                              *
                          = ff.select :district_id, options_for_select(@district_children, ff.object.district_id), {include_blank: ""}, {class: 'form-control tms-select2 select2-region', id: 'project_regions_attributes_district', data: {'select-child-target': ['project_regions_attributes_ward']}, disabled: @is_disabled}
                          - ff.object.errors.messages[:district_id].each do |district_id_error|
                            %span.invalid-feedback.custom-validation= district_id_error
                        .form-group
                          = ff.label :ward_id, 'Xã/Phường'
                          = ff.select :ward_id, options_for_select(@ward_children, ff.object.ward_id), {include_blank: ""}, {class: 'form-control tms-select2 select2-region', id: 'project_regions_attributes_ward', data: {'select-child-target': ['project_regions_attributes_street']}, disabled: @is_disabled}
                        .form-group
                          = ff.label :street, 'Đường/Phố'
                          = ff.text_area :street, class: 'form-control', disabled: @is_disabled
                      .form-group
                        = f.label :investors do
                          Chủ đầu tư
                          %span.required
                            *
                        = f.select :investors, options_for_select(@investors, @project.investors), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                        - f.object.errors.messages[:investors].each do |investors_error|
                          %span.invalid-feedback.custom-validation= investors_error
                      .form-group
                        = f.label :constructors, 'Tổng thầu'
                        = f.select :constructors, options_for_select(@constructors, @project.constructors), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                      .form-group
                        = f.label :developments, 'Đơn vị phát triển'
                        = f.select :developments, options_for_select(@developments, @project.developments), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                      .form-group
                        = f.label :operators, 'Đơn vị quản lý'
                        = f.select :operators, options_for_select(@operators, @project.operators), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                      .form-group
                        = f.label :features, 'Đặc tính dự án'
                        = f.select :features, options_for_select(Constant::PROJECT_FEATURES.invert, @project.features), {include_hidden: true}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                      .form-group
                        = f.label :description, 'Mô tả dự án'
                        = f.cktext_area :description, class: 'form-control', ckeditor: {height: '300px'}, disabled: @is_disabled
                      .form-group
                        = f.label :link_video, 'Link video'
                        = f.text_field  :link_video, class: 'form-control', placeholder: 'https://www.youtube.com/embed/...', disabled: @is_disabled
                        - f.object.errors.messages[:link_video].each do |link_error|
                          %span.invalid-feedback.custom-validation= link_error
                      .form-group
                        = f.label :position_description, 'Mô tả vị trí dự án'
                        = f.cktext_area :position_description, class: 'form-control', ckeditor: {height: '300px'}, disabled: @is_disabled
                      .form-group
                        = f.label :position_link_embed, 'Embed file video/gif bản đồ dự án'
                        = f.text_field  :position_link_embed, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:position_link_embed].each do |error|
                          %span.invalid-feedback.custom-validation= error
                  .row
                    .col-6
                      .form-group
                        = f.label :price_from, 'Giá nhỏ nhất (Tỷ)'
                        = f.text_field :price_from, "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'", inputmode: "decimal", class: 'form-control input-decimal', step: :any, disabled: @is_disabled
                        - f.object.errors.messages[:price_from].each do |price_from|
                          %span.invalid-feedback.custom-validation= price_from
                    .col-6
                      .form-group
                        = f.label :price_to, 'Giá lớn nhất (Tỷ)'
                        = f.text_field :price_to, "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'", inputmode: "decimal", class: 'form-control input-decimal', step: :any, disabled: @is_disabled
                        - f.object.errors.messages[:price_to].each do |price_to|
                          %span.invalid-feedback.custom-validation= price_to
                  .row
                    .col-6
                      .form-group
                        = f.label :area_from, 'Diện tích nhỏ nhất'
                        = f.text_field :area_from, "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'", inputmode: "decimal", class: 'form-control input-decimal', step: :any, disabled: @is_disabled
                        - f.object.errors.messages[:area_from].each do |area_from|
                          %span.invalid-feedback.custom-validation= area_from
                    .col-6
                      .form-group
                        = f.label :area_to, 'Diện tích lớn nhất'
                        = f.text_field :area_to, "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'", inputmode: "decimal", class: 'form-control input-decimal', step: :any, disabled: @is_disabled
                        - f.object.errors.messages[:area_to].each do |area_to|
                          %span.invalid-feedback.custom-validation= area_to

              .tms-field-group
                .tms-field-group-header
                  %span
                    Hình ảnh
                    %span.required
                      *
                .tms-field-group-body
                  - @project.images.each_with_index do |image, index|
                    = hidden_field :project, :images, multiple: true, value: image.identifier, class: 'images-item', 'data-url': image.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project)
                  = f.hidden_field :images_cache
                  .row
                    .col.form-group
                      .file-loading
                        = f.file_field :images, multiple: true, id: 'project-images-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                        - f.object.errors.messages[:images].each do |image_error|
                          %span.invalid-feedback.custom-validation= image_error
          .card.tms-card
            .card-header
              %h3.card-title Mặt bằng dự án
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  #floorplan_images
                    = f.fields_for :floorplan_images do |floorplan_image|
                      = render 'floorplan_image_fields', f: floorplan_image
                    .links
                      = link_to_add_association f, :floorplan_images do
                        %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm hình ảnh
          .card.tms-card
            .card-header
              %h3.card-title Phong cách thiết kế
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group-body
                .input-file-container{model_name: 'projects', column_name: 'design_style_images'}
                  %span
                    Hình ảnh
                  .tms-field-group-body
                    - @project.design_style_images.each do |item|
                      = hidden_field :project, :design_style_images, multiple: true, value: item.identifier, class: 'input-file-item', 'data-url': item.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project)
                    = f.hidden_field :design_style_images_cache
                    .row
                      .col.form-group
                        = f.file_field :design_style_images, multiple: true, id: 'design_style_images', class: 'input-file-init', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                        - f.object.errors.messages[:design_style_images].each do |item_error|
                          %span.invalid-feedback.custom-validation= item_error
          .card.tms-card
            .card-header
              %h3.card-title Tài liệu dự án
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  #documents
                    = f.fields_for :documents do |document|
                      = render 'document_fields', f: document
                    .links
                      = link_to_add_association f, :documents do
                        %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm tài liệu
        .col
          .card.tms-card
            .card-header
              %h3.card-title Tiện ích
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .tms-field-group-header
                        %span Tiện ích nội khu
                      .tms-field-group-body
                        .form-group
                          = f.label :internal_utilities do
                            Tiện ích nội khu
                            %span.required
                              *
                          = f.select :internal_utilities, options_for_select(Constant::PROJECT_INTERNAL_UTILITIES.invert, @project.internal_utilities), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                          - f.object.errors.messages[:internal_utilities].each do |internal_utilities_error|
                            %span.invalid-feedback.custom-validation= internal_utilities_error
                        .input-file-container{model_name: 'projects', column_name: 'internal_utility_images'}
                          %span
                            Hình ảnh tiện ích nội khu
                          .tms-field-group-body
                            - @project.internal_utility_images.each do |item|
                              = hidden_field :project, :internal_utility_images, multiple: true, value: item.identifier, class: 'input-file-item', 'data-url': item.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project)
                            = f.hidden_field :internal_utility_images_cache
                            .row
                              .col.form-group
                                = f.file_field :internal_utility_images, multiple: true, id: 'internal_utility_images', class: 'input-file-init', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                - f.object.errors.messages[:internal_utility_images].each do |item_error|
                                  %span.invalid-feedback.custom-validation= item_error
                      .tms-field-group-header
                        %span Tiện ích ngoại khu
                      .tms-field-group-body
                        .form-group
                          = f.label :external_utilities, 'Tiện ích ngoại khu'
                          = f.select :external_utilities, options_for_select(Constant::PROJECT_INTERNAL_UTILITIES.invert, @project.external_utilities), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                          - f.object.errors.messages[:external_utilities].each do |external_utilities|
                            %span.invalid-feedback.custom-validation= external_utilities
                        .input-file-container{model_name: 'projects', column_name: 'external_utility_images'}
                          %span
                            Hình ảnh tiện ích ngoại khu
                          .tms-field-group-body
                            - @project.external_utility_images.each do |item|
                              = hidden_field :project, :external_utility_images, multiple: true, value: item.identifier, class: 'input-file-item', 'data-url': item.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project)
                            = f.hidden_field :external_utility_images_cache
                            .row
                              .col.form-group
                                = f.file_field :external_utility_images, multiple: true, id: 'external_utility_images', class: 'input-file-init', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                - f.object.errors.messages[:external_utility_images].each do |item_error|
                                  %span.invalid-feedback.custom-validation= item_error
          .card.tms-card
            .card-header
              %h3.card-title Pháp lý toàn dự án
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :ownership_period do
                          Thời hạn sở hữu
                          %span.required
                            *
                        = f.select :ownership_period, options_for_select(Constant::PROJECT_OWNERSHIP_PERIOD.invert, @project.ownership_period), {include_blank: true}, { class: 'tms-select2 form-control', disabled: @is_disabled }
                        - f.object.errors.messages[:ownership_period].each do |ownership_period_error|
                          %span.invalid-feedback.custom-validation= ownership_period_error
                      .form-group
                        = f.label :foreigner, 'Người nước ngoài'
                        .row
                          .col
                            = f.radio_button :foreigner, true, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @is_disabled
                            Có
                        .row.mt-2
                          .col
                            = f.radio_button :foreigner, false, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @is_disabled
                            Không
              .tms-field-group
                .tms-field-group-header
                  %span Tài liệu pháp lý
                .tms-field-group-body
                  #legal-documents
                    = f.fields_for :legal_documents do |doc|
                      = render 'legal_document_fields', f: doc
                    .links
                      = link_to_add_association f, :legal_documents do
                        %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm tài liệu
          .card.tms-card
            .card-header
              %h3.card-title Tiến độ dự án
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              #milestones
                = f.fields_for :milestones do |milestone|
                  = render 'milestone_fields', f: milestone
                .links
                  = link_to_add_association f, :milestones do
                    %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                      %i.fas.fa-plus
                      Thêm mốc thời gian

          .card.tms-card
            .card-header
              %h3.card-title Chính sách bán hàng
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Chính sách thanh toán khối Cao tầng
                .tms-field-group-body
                  .form-group
                    = f.label :high_level_number, 'Số đợt thanh toán'
                    = f.text_field :high_level_number, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:high_level_number].each do |high_level_number_error|
                      %span.invalid-feedback.custom-validation= high_level_number_error
                    - f.object.errors.messages[:high_payment_schedule].each do |high_payment_schedule_error|
                      %span.invalid-feedback.custom-validation= high_payment_schedule_error
                  #high-payment-schedules
                    = f.fields_for :payment_schedules do |payment_schedule|
                      - if payment_schedule.object.label_schedule.nil? || payment_schedule.object.label_schedule == 0
                        = render 'payment_schedule_fields', f: payment_schedule
                    .links
                      = link_to_add_association f, :payment_schedules do
                        %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm tiến độ 
              .tms-field-group
                .tms-field-group-header
                  %span Chính sách thanh toán khối Thấp tầng
                .tms-field-group-body
                  .form-group
                    = f.label :low_level_number, 'Số đợt thanh toán'
                    = f.text_field :low_level_number, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:low_level_number].each do |low_level_number_error|
                      %span.invalid-feedback.custom-validation= low_level_number_error
                    - f.object.errors.messages[:low_payment_schedule].each do |low_payment_schedule_error|
                      %span.invalid-feedback.custom-validation= low_payment_schedule_error
                  #low-payment-schedules
                    = f.fields_for :payment_schedules do |payment_schedule|
                      - if payment_schedule.object.label_schedule.nil? || payment_schedule.object.label_schedule == 1
                        = render 'payment_schedule_fields', f: payment_schedule
                    .links
                      = link_to_add_association f, :payment_schedules do
                        %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm tiến độ 
              .tms-field-group
                .tms-field-group-header
                  %span Hỗ trợ vay
                .tms-field-group-body
                  .form-group
                    = f.label :banks, 'Ngân hàng hỗ trợ'
                    = f.select :banks, options_for_select(Constant::PROJECT_BANK.invert, @project.banks), {include_hidden: false}, { class: 'tms-select2 form-control', multiple: true, disabled: @is_disabled }
                  .form-group
                    = f.label :loan_percentage_support, 'Hỗ trợ vay (%)'
                    = f.text_field :loan_percentage_support, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:loan_percentage_support].each do |loan_percentage_support_error|
                      %span.invalid-feedback.custom-validation= loan_percentage_support_error
                  .form-group
                    = f.label :loan_support_period, 'Thời gian hỗ trợ (tháng)'
                    = f.text_field :loan_support_period, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:loan_support_period].each do |loan_support_period_error|
                      %span.invalid-feedback.custom-validation= loan_support_period_error
                  .form-group
                    = f.label :discount_support, 'Hỗ trợ chiết khấu (%)'
                    = f.text_field :discount_support, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:discount_support].each do |discount_support_error|
                      %span.invalid-feedback.custom-validation= discount_support_error
          .card.tms-card
            .card-header
              %h3.card-title Giá trị nổi bật
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  #key_values
                    = f.fields_for :key_values do |key_value|
                      = render 'key_value_fields', f: key_value
                    .links
                      = link_to_add_association f, :key_values do
                        %button.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm giá trị