.nested-fields
  .card
    .card-body
      .row
        .col-11
          .form-group
            .fields
              = f.label :title, 'Tiêu đề'
              = f.text_field :title, class: 'form-control', disabled: @is_disabled
              - f.object.errors.messages[:title].each do |title_error|
                %span.invalid-feedback.custom-validation= title_error
          .form-group
            .fields
              = f.label :description, 'Mô tả'
              = f.text_area :description, class: 'form-control', maxlength: "250", disabled: @is_disabled
              - f.object.errors.messages[:description].each do |description_error|
                %span.invalid-feedback.custom-validation= description_error
              %small.font-italic.text-muted * Tối đa 250 kí tự
          .form-group
            .input-file-container-single{'model_name': 'key_values', nested_id: f.object.id, column_name: 'icon' }
              .fields{class: f.object.errors.messages[:icon].present? ? "field_with_errors" : ''}
                = f.label :icon, 'Icon'
                .custom-file
                  - if f.object.icon.present?
                    = f.hidden_field :icon, value: f.object.icon.identifier, 'data-url': f.object.icon.url, 'data-delete-url': @project.new_record? ? '' : destroy_attachment_admin_project_path(@project), class: 'input-file-item-single'
                  = f.file_field :icon, class: 'custom-file-input not_default_error input-file-init-single', disabled: @is_disabled
                  = f.hidden_field :icon_cache, value: f.object.icon_cache
                  - f.object.errors.messages[:icon].each do |icon_error|
                    %span.invalid-feedback.custom-validation= icon_error
        .col-1
          = link_to_remove_association f do
            .form-group
              %button.btn.btn-outline-danger{type: 'button', style: 'margin-top: 31px', disabled: @is_disabled}
                %i.fas.fa-trash