.row.product-list{ load: "#{@products&.size.to_i > 19 ? 'true' : 'false'}", project_id: @project.id, limit: params[:limit] }
  .col-12
    .card.card-product-tab.mb-2
      %nav
        #nav-tab.nav.nav-tabs{:role => "tablist", style: 'border-bottom: none'}
          %a#nav-high-products-tab.nav-item.nav-link.nav-product-tab{"aria-controls" => "nav-high-products", "aria-selected" => "true", href: show_products_admin_project_path(level: 0), role: "tab", class: "#{'active' if params[:level].to_i == 0}"} Cao tầng
          %a#nav-low-products-tab.nav-item.nav-link.nav-product-tab{"aria-controls" => "nav-low-products", "aria-selected" => "false", href: show_products_admin_project_path(level: 1), role: "tab", class: "#{'active' if params[:level].to_i == 1}"} Thấp tầng
    .card.mt-2
      .card-body.pl-0
        = render "admin/projects/product_filter"
    .card.mt-3
      #nav-tabContent.tab-content
        #nav-high-products.tab-pane.fade{"aria-labelledby" => "nav-high-products-tab", :role => "tabpanel", class: "#{'active show' if params[:level].to_i == 0}"}
          .card-body{style: 'padding-top: 10px !important'}
            %table#view-high-product-table.custom-sorting-table.table.table-hover.table-nowrap{class: "display nowrap", style: "width:100%"}
              %thead
                %tr
                  %th Yêu thích
                  %th Trạng thái
                  %th Mã sản phẩm
                  %th Giỏ hàng
                  %th Phân khu
                  %th Tòa
                  %th Tầng
                  %th Mã căn/Sàn
                  %th Loại hình
                  %th Loại sản phẩm
                  %th Hướng ban công
                  %th Diện tích thông thủy(m2)
                  %th Tổng GT (Đã bao gồm VAT, KPBT)
              %tbody
                - @products.each do |product|
                  %tr{product_id: product.id}
                    %td
                      - if !current_user.favourite_products.include?(product) || product.wish_lists.where(user_id: current_user.id).first&.favourite == false
                        .d-none= 1
                        .icon-heart{favourite: product.wish_lists.present? ? product.wish_lists.where(user_id: current_user.id).first&.favourite.to_s : 'false'}
                          %i.far.fa-heart{style: 'color: #D9D9D9'}
                      - else
                        .d-none= 0
                        .icon-heart{favourite: product.wish_lists.present? ? product.wish_lists.where(user_id: current_user.id).first&.favourite.to_s : 'false'}
                          %i.fas.fa-heart{style: 'color: #F15B40'}
                    %td
                      .product-label{class: "#{product.display_label_state(product.get_state)}"}= product.get_state
                    %td= product.code
                    %td
                      - if product.label.present?
                        .product-label{class: "#{product.label == 'CĐT' ? 'direction-label-2' : 'direction-label-6'}"}= product.label
                      - else 
                        .blank-data Chưa cập nhật  
                    %td= product.subdivision&.name
                    %td= product.block&.name
                    %td= product.floor&.name
                    %td= product.name
                    %td= Reti::Product::REAL_ESTATE_TYPES[product.level][product.real_estate_type]
                    %td
                      %div{class: "#{'blank-data' if product.product_type.blank?}"}= "#{product.product_type.present? ? product.product_type : 'Chưa cập nhật'}"
                    %td
                      .product-label{class: "direction-label-#{product.direction}"}= Reti::Product::DIRECTIONS[product.direction]
                    %td= acreage(product.carpet_area)
                    %td= currency(product.sum_price)
        #nav-low-products.tab-pane.fade{"aria-labelledby" => "nav-low-products-tab", role: "tabpanel", class: "#{'active show' if params[:level].to_i == 1}"}
          .card-body
            %table#view-low-product-table.custom-sorting-table.table.table-hover.table-nowrap{class: "display nowrap", style: "width:100%"}
              %thead
                %tr
                  %th Yêu thích
                  %th Trạng thái
                  %th Mã sản phẩm
                  %th Giỏ hàng
                  %th Phân khu
                  %th Loại hình
                  %th Loại sản phẩm
                  %th Diện tích lô đất (m2)
                  %th Diện tích sử dụng (m2)
                  %th Tổng GT (Giá đất + XD) (Đã bao gồm VAT)
              %tbody
                - @products.each do |product|
                  %tr{product_id: product.id}
                    %td
                      - if !current_user.favourite_products.include?(product) || product.wish_lists.where(user_id: current_user.id).first&.favourite == false
                        .d-none= 1
                        .icon-heart{favourite: product.wish_lists.present? ? product.wish_lists.where(user_id: current_user.id).first&.favourite.to_s : 'false'}
                          %i.far.fa-heart{style: 'color: #D9D9D9'}
                      - else
                        .d-none= 0
                        .icon-heart{favourite: product.wish_lists.present? ? product.wish_lists.where(user_id: current_user.id).first&.favourite.to_s : 'false'}
                          %i.fas.fa-heart{style: 'color: #F15B40'}
                    %td
                      .product-label{class: "#{product.display_label_state(product.get_state)}"}= product.get_state
                    %td= product.code
                    %td
                      - if product.label.present?
                        .product-label{class: "#{product.label == 'CĐT' ? 'direction-label-2' : 'direction-label-6'}"}= product.label
                      - else 
                        .blank-data Chưa cập nhật 
                    %td= product.subdivision&.name
                    %td= Reti::Product::REAL_ESTATE_TYPES[product.level][product.real_estate_type]
                    %td
                      %div{class: "#{'blank-data' if product.product_type.blank?}"}= "#{product.product_type.present? ? product.product_type : 'Chưa cập nhật'}"
                    %td= acreage(product.plot_area)
                    %td
                      %div{class: "#{'blank-data' if product.floor_area.blank?}"}= "#{product.floor_area.present? ? acreage(product.floor_area) : 'Chưa cập nhật'}"
                    %td= currency(product.sum_price)