= form_with url: show_products_admin_project_path, method: :get, local: true, class: 'input-group form-inline filter-form' do |f|
  = f.hidden_field :level, value: params[:level]
  .container-fluid
    .row.product-filter
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Tìm kiếm
          .col-xl-10.col-lg-9.col-md-8
            = f.text_field :query, value: params[:query], id: "product-search", class: 'form-control typeahead product-search-mobile m-0 w-100',
                    'data-url-autocomplete': product_autocomplete_admin_project_url(@project), 'data-level': params[:level].present? ? params[:level] : 0, type: 'search', placeholder: 'Nhập mã sản phẩm để tìm kiếm'
            %button.d-none{type: 'submit'}
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Trạng thái
          .col-xl-10.col-lg-9.col-md-8
            = f.select :state, options_for_select(@all_states, params[:state]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
      - if params[:level] == '0'
        .col-4.filter-expand{class: "#{@check_params_filter ? '' : 'd-none'}"}
          .row
            .col-xl-2.col-lg-3.col-md-4.pr-0
              .filter-label.float-right Tòa
            .col-xl-10.col-lg-9.col-md-8
              = f.select :block_id, options_for_select(@blocks, params[:block_id]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
        .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
          .row
            .col-xl-2.col-lg-3.col-md-4.pr-0
              .filter-label.float-right Tầng
            .col-xl-10.col-lg-9.col-md-8
              = f.select :floor_id, options_for_select(@floors, params[:floor_id]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
        .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
          .row
            .col-xl-2.col-lg-3.col-md-4.pr-0
              .text-right.font-size-14 Mã căn/
              .text-right.font-size-14 Sàn
            .col-xl-10.col-lg-9.col-md-8
              = f.select :name, options_for_select(@all_product_names, params[:name]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
      - unless params[:level] == '0'
        .col-4.filter-expand{class: "#{@check_params_filter ? '' : 'd-none'}"}
          .row
            .col-xl-2.col-lg-3.col-md-4.pr-0
              .filter-label.float-right Loại hình
            .col-xl-10.col-lg-9.col-md-8
              = f.select :real_estate_type, options_for_select(@all_real_estate_types, params[:real_estate_type]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100 unable-remove-d-none', multiple: true }
      .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Loại SP
          .col-xl-10.col-lg-9.col-md-8
            = f.select :product_type, options_for_select(@all_product_types, params[:product_type]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
      - unless params[:level] == '0'
        .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
          .row
            .col-xl-2.col-lg-3.col-md-4.pr-0
              .filter-label.float-right Phân khu
            .col-xl-10.col-lg-9.col-md-8
              = f.select :subdivision_id, options_for_select(@subdivisions, params[:subdivision_id]), {include_hidden: false}, { class: 'product-filter-select2 form-control w-100', multiple: true }
      -else
      .col-4.mt-3.div-space{class: "#{@check_params_filter && params[:level].to_i == 0 ? '' : 'd-none'}"}
      .col-4.mt-3.div-space{class: "#{@check_params_filter && params[:level].to_i == 0 ? '' : 'd-none'}"}
      .col-4.d-flex{class: "#{@check_params_filter ? 'mt-3' : ''}"}
        .ml-auto
          %button.btn.btn-reti-primary{type: 'submit', style: 'margin-left: auto'} Áp dụng
          %a.btn.btn-remove-filter.ml-2{type: 'button', href: show_products_admin_project_path(level: params[:level])} Xóa
        .product-filter-expand-collapse.cursor-pointer
          - if @check_params_filter
            %span.product-filter-text Thu gọn
            %span.product-filter-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
              = image_tag 'down-arrow.svg', class: 'd-block'
          - else
            %span.product-filter-text Mở rộng
            %span.product-filter-icon{"aria-label" => "down", role: "img"}
              = image_tag 'down-arrow.svg', class: 'd-block'