- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Dự án

- content_for :content_body do
  .row
    .col
      - if policy(Project).import?
        .card.tms-card.collapsed-card
          .card-header
            %h3.card-title Import dự án
            .card-tools
              %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                %i.fas.fa-plus
          .card-body{style: 'display: none;'}
            = form_with url: import_admin_projects_path, html: {id: "import-project-form", multipart: true}, local: true do |f|
              #files-field-project.dropzone.fallback
              .form-group.input-group.btn-zone
                = f.submit "Import", class: 'btn btn-primary'
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_projects_path, method: :get, local: true, class: 'input-group search-group' do |f|
            = f.text_field :query, value: params[:query], id: 'project-search', class: 'form-control typeahead', type: 'search', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên'
            %button{type: 'submit', id: 'btn-project-search'}
              %i.fa.fa-search
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th.first-col-stick{style: 'top: 0 !important'} Hình ảnh
              -#%th.second-col-stick Mã dự án
              %th.second-col-stick{style: 'top: 0 !important'} Tên dự án
              %th.top-0 Loại hình
              %th.top-0 Vị trí
              %th.top-0 Giá từ
              %th.top-0 Giá đến
              %th.top-0 Diện tích nhỏ nhất
              %th.top-0 Diện tích lớn nhất
              %th.top-0 Số hàng còn
              %th.top-0.last-col-stick
          %tbody
            - @projects.each do |project|
              %tr
                %td.first-col-stick= image_tag(project.images.first.url, class: 'img-thumbnail', style: 'width: 100px') if project.images.first.present?
                -#%td.align-middle.second-col-stick= "DA-#{project.id}"
                %td.second-col-stick= project.name
                %td= project.real_estate_type_name.join(', ')
                %td= project.region&.city&.name
                %td
                  %div{class: "#{'blank-data' if project.min_price.blank?}"}= "#{project.min_price.present? ? currency(project.min_price) : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if project.max_price.blank?}"}= "#{project.max_price.present? ? currency(project.max_price) : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if project.min_acreage.blank?}"}= "#{project.min_acreage.present? ? acreage(project.min_acreage) : 'Chưa cập nhật'}"
                %td
                  %div{class: "#{'blank-data' if project.max_acreage.blank?}"}= "#{project.max_acreage.present? ? acreage(project.max_acreage) : 'Chưa cập nhật'}"
                %td= project.products.for_sale.size
                %td.text-right.last-col-stick
                  %a.btn.btn-outline-primary.btn-show{href: admin_project_path(project)}
                    %i.far.fa-eye
                  - if policy(project).update?
                    %a.btn.btn-outline-primary.btn-edit{href: edit_admin_project_path(project)}
                      %i.fas.fa-pencil-alt
                  - if policy(project).destroy?
                    %a.btn.btn-outline-primary.remove-project{href: '#', count_deals: project.count_deals, id: project.id}
                      %i.fas.fa-trash

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_project_path, class: 'btn btn-primary'
