- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Thông tin cho Sale/CTV
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'      
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Bảng hàng', admin_project_products_path(@project, level: 0), class: 'nav-link'  
      %li.nav-tab-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'      
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "project-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab"} Thông tin cho Sale/CTV
      %li.nav-tab-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Quy tắc lock căn', lock_rules_admin_project_path(@project), class: 'nav-link'
  .row
    .col
      = form_with model: [:admin, @project], url: update_sale_policy_admin_project_path(@project), local: true do |f|
        .row
          .col-12
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary Lưu
        .row
          .col-6
            .card.tms-card
              .card-body
                .form-group
                  = f.label :labels, 'Nhãn dự án'
                  = f.select :labels, options_for_select(@labels.invert, @project.labels), {include_hidden: true}, { class: 'tms-select2 form-control', multiple: true, id: 'project-labels' }
                .form-group
                  = f.label :sale_policy, 'CSBH cho Sale/CTV'
                  = f.text_field :sale_policy, class: 'form-control', placeholder: 'VD: Hoa hồng lên đến 100 triệu'
                .form-group
                  = f.label :description_for_seller, 'Mô tả dự án'
                  = f.text_area :description_for_seller, class: 'form-control'
