- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa dự án
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Bảng hàng', admin_project_products_path(@project, level: 0), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "project-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab"} Quy tắc lock căn
  .row
    .col
      = form_with model: [:admin, @project], url: update_lock_rules_admin_project_path(@project), local: true do |f|
        .card.tms-card
          .row
            .col-6
              .card-body
                .form-group
                  = f.label :queue_lock, 'Số người chờ lock'
                  = f.text_field :queue_lock, class: 'form-control input-queue-lock', type: 'number'
                  - f.object.errors.messages[:queue_lock].each do |queue_lock_error|
                    %span.invalid-feedback.custom-validation= queue_lock_error
                .form-group
                  = f.label :unc_confirmation_period_for_sale, 'Thời gian xác nhận UNC của Sale (phút)'
                  = f.text_field :unc_confirmation_period_for_sale, class: 'form-control input-queue-lock', type: 'number'
                  - f.object.errors.messages[:unc_confirmation_period_for_sale].each do |unc_confirmation_period_for_sale_error|
                    %span.invalid-feedback.custom-validation= unc_confirmation_period_for_sale_error
                .form-group
                  = f.label :unc_confirmation_period_for_sale_admin, 'Thời gian xác nhận UNC của Sale admin (phút)'
                  = f.text_field :unc_confirmation_period_for_sale_admin, class: 'form-control input-queue-lock', type: 'number'
                  - f.object.errors.messages[:unc_confirmation_period_for_sale_admin].each do |unc_confirmation_period_for_sale_admin_error|
                    %span.invalid-feedback.custom-validation= unc_confirmation_period_for_sale_admin_error
                .form-group
                  = f.label :confirm_deposit_by_sale_admin, 'Admin xác nhận cọc'
                  = f.select :confirm_deposit_by_sale_admin, options_for_select(@users, f.object.confirm_deposit_by_sale_admin), {include_hidden: true, include_blank: true}, { class: 'tms-select2 form-control input-queue-lock'}
                %button.btn.btn-tms-unable-submit.btn-save-queue-lock{disabled: true} Lưu thay đổi