- content_for :content_header do
  .col-12
    .d-flex
      %a{href: admin_project_path(@project), style: 'color: #595959'}
        %i.fas.fa-chevron-left.pt-1.pt-md-2
      %span.title-project-detail Bảng hàng
- content_for :content_body do
  - if browser.device.mobile?
    = render 'admin/projects/mobile/product_table'
  - else
    = render 'product_table'