- content_for :content_header do
  .col-12
    .d-flex
      %a{href: admin_projects_path, style: 'color: #595959'}
        %i.fas.fa-chevron-left.pt-1.pt-md-2
      %span.title-project-detail Chi tiết dự án

- content_for :content_body do
  .row.bd-bottom-detail-project.pb-3
    .col-12.col-xl-6.mb-3.mb-xl-0
      #carousel-project-detail.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          - @project.images.each_with_index do |image, index|
            .carousel-item{class: "#{'active' if index == 0}"}
              =image_tag image.main_slider.url, class: 'img-thumbnail', width: '100%'
        %a.carousel-control-prev{"data-slide" => "prev", href: "#carousel-project-detail", role: "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", href: "#carousel-project-detail", role: "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
    .col-12.col-xl-6
      .info-department.p-2.p-md-3.p-xl-4.w-100
        = image_tag 'map-pin.svg', alt: 'map-pin'
        %span.address= @project&.get_regions
        %h3.department-name.ml-0.pt-2= @project.name
        .price-department.ml-0
          .d-flex
            %span.price-department__type VNĐ
            %span= @project.price_from.present? && @project.price_to.present? ? "#{Float(@project&.price_from).to_i} - #{Float(@project&.price_to).to_i} tỷ" : "Đang cập nhật"
        .mt-3
          .d-flex.mb-3
            .acreage.col-6.pl-0.ml-0
              .row
                .col-2.col-md-1
                  = image_tag 'shape-square 4.svg', alt: 'shape-square'
                .col-10.col-md-11
                  %span.pl-2= @project.area_from.present? && @project.area_to.present? ? "#{Float(@project&.area_from).to_i} - #{Float(@project&.area_to).to_i}m" : "Đang cập nhật"
            .sun-group.col-6
              .row
                .col-2.col-md-1
                  = image_tag 'sun.svg', alt: 'sun'
                .col-10.col-md-11
                  %p.pl-2= @project_investors
          .d-flex
            .apartment.col-6.pl-0.ml-0
              .row
                .col-2.col-md-1
                  = image_tag 'number of apartment.svg', alt: 'number of apartment'
                .col-10.col-md-11
                  %p.pl-2= @project&.real_estate_type_name.join(', ')
            .sun-group.col-6
              .row
                .col-2.col-md-1
                  = image_tag 'group.svg', alt: 'group'
                .col-10.col-md-11
                  %span.pl-2= @project.get_handover_date
        .mt-2
          %h5 CHI TIẾT
          .d-flex.mb-3
            .amount.col-6.pl-0
              %span Số căn còn lại:
              %span= @project.products.present? ? @project&.products.for_sale.count : 'Đang cập nhật'
            .floor.col-6
              %span Phân khu:
              %span= @project.get_detail_level
          .d-flex
            .amount.col-6.pl-0
              %span Số căn:
              %span= @project.products.present? ? @project.products.count: 'Đang cập nhật'
            .floor.col-6
              %span Tòa/dãy:
              %span= @project.get_number_division
    - if @project&.description.html_safe.present?
      .col-12
        %h5.mt-3.title-project-description Mô tả dự án
        .project-description.truncate-project-description= @project&.description.html_safe
        - unless browser.device.mobile?
          - if @project&.description.html_safe.length > 570
            %a.btn-more-less{href: "javascript: void(0)", style: 'text-decoration: underline'} Xem thêm
        - else
          - if @project&.description.html_safe.length > 135
            %a.btn-more-less{href: "javascript: void(0)", style: 'text-decoration: underline'} Xem thêm
  .row.bd-bottom-detail-project.info-project-detail.mt-3
    .col-12{class: "#{'mb-4' if @sale_kits.present?}"}
      .d-flex
        = image_tag 'rightArrow.svg'
        %span.title-project-detail Bộ sale kit
    - if @sale_kits.blank?
      .col-12.mt-3.mb-3
        %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
    - @sale_kits.each do |sale_kit|
      .col-12.mb-3.pl-3.pr-3
        .row{style: 'border-bottom: 1px solid #F0F0F0'}
          .col-8.col-lg-6.mb-2
            .legal-sale-kit= sale_kit.title
            .updated-sale-kit= "Cập nhật ngày #{sale_kit.created_at.strftime('%d/%m/%Y')}"
          .col-4.col-lg-6
            .d-flex.float-right.pt-2.pt-lg-0
              - unless browser.device.mobile?
                = link_to download_admin_project_sale_document_path(@project, sale_kit), target: '_blank' do
                  %button.btn.btn-sale-kit.mr-2.position-relative
                    = image_tag 'download-color.svg', class: 'image-project-detail'
                %button.btn.btn-sale-kit.mr-2.position-relative{'data-toggle': 'modal', 'data-target': "#shareDocumentModal#{sale_kit.id}", 'data-redirect-url': "#{admin_project_path(@project)}"}
                  = image_tag 'salekit.svg', class: 'image-project-detail'
                %a.btn.btn-sale-kit.mr-3.position-relative{href: admin_project_sale_document_path(@project, sale_kit)}
                  %i.fas.fa-eye.fa-lg.eye-project-detail
              - else
                = link_to download_admin_project_sale_document_path(@project, sale_kit), target: '_blank' do
                  %button.btn.btn-sale-kit.mr-2.position-relative
                    = image_tag 'download-color.svg', class: 'btn-download'
                %button.btn.btn-sale-kit.mr-2.position-relative{'data-toggle': 'modal', 'data-target': "#shareDocumentModal#{sale_kit.id}", 'data-redirect-url': "#{admin_project_path(@project)}"}
                  = image_tag 'salekit-mobile.svg', class: 'image-project-detail'
                %a.btn.btn-sale-kit.position-relative{href: admin_project_sale_document_path(@project, sale_kit)}
                  %i.fas.fa-eye.eye-project-detail
  .row.bd-bottom-detail-project.info-project-detail.mt-3
    .col-12{class: "#{'mb-4' if @sale_policies.present?}"}
      .d-flex
        = image_tag 'rightArrow.svg'
        %span.title-project-detail Chính sách bán hàng
    - if @sale_policies.blank?
      .col-12.mt-3.mb-3
        %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
    - @sale_policies.each do |sale_policy|
      .col-12.mb-3.pl-3.pr-3
        .row{style: 'border-bottom: 1px solid #F0F0F0'}
          .col-8.col-lg-6.mb-2
            .legal-sale-kit= sale_policy.title
            .updated-sale-kit= "Cập nhật ngày #{sale_policy.created_at.strftime('%d/%m/%Y')}"
          .col-4.col-lg-6
            .d-flex.float-right.pt-2.pt-lg-0
              - unless browser.device.mobile?
                = link_to download_admin_project_sale_document_path(@project, sale_policy), target: '_blank' do
                  %button.btn.btn-sale-kit.mr-2.position-relative
                    = image_tag 'download-color.svg', class: 'image-project-detail'
                %button.btn.btn-sale-kit.mr-2.position-relative{'data-toggle': 'modal', 'data-target': "#shareDocumentModal#{sale_policy.id}", 'data-redirect-url': "#{admin_project_path(@project)}"}
                  = image_tag 'salekit.svg', class: 'image-project-detail'
                %a.btn.btn-sale-kit.mr-3.position-relative{href: admin_project_sale_document_path(@project, sale_policy)}
                  %i.fas.fa-eye.fa-lg.eye-project-detail
              - else
                = link_to download_admin_project_sale_document_path(@project, sale_policy), target: '_blank' do
                  %button.btn.btn-sale-kit.mr-2.position-relative
                    = image_tag 'download-color.svg', class: 'btn-download'
                %button.btn.btn-sale-kit.mr-2.position-relative{'data-toggle': 'modal', 'data-target': "#shareDocumentModal#{sale_policy.id}", 'data-redirect-url': "#{admin_project_path(@project)}"}
                  = image_tag 'salekit-mobile.svg', class: 'image-project-detail'
                %a.btn.btn-sale-kit.position-relative{href: admin_project_sale_document_path(@project, sale_policy)}
                  %i.fas.fa-eye.eye-project-detail
  .row.bd-bottom-detail-project.info-project-detail.mt-3
    - if @project.products.size > 0
      .col-12.col-md-6.mb-3.mb-lg-4
        .d-flex.mt-2
          = image_tag 'rightArrow.svg'
          %span.title-project-detail Bảng hàng
      .col-12.col-md-6.mb-3.mb-lg-0
        .f-right
          %a.btn.btn-view-product{href: show_products_admin_project_path}
            .d-flex
              = image_tag 'building-2.svg', class: ''
              %span{style: 'padding: 4px 4px 4px 8px;'} Xem bảng hàng
    - else
      .col-12
        .d-flex
          = image_tag 'rightArrow.svg'
          %span.title-project-detail Bảng hàng
      .col-12.mt-3.mb-3
        %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
  .row.bd-bottom-detail-project.info-project-detail.mt-3
    - if @project.image_folder_url.present? || @project.video_folder_url.present? || @project.layout_url.present?
      .col-12.col-md-6.mb-3.mb-lg-4
        .d-flex.mt-2
          = image_tag 'rightArrow.svg'
          %span.title-project-detail Thư viện truyền thông
      .col-12.col-md-6.mb-3.mb-lg-0
        .f-right
          - if @project.layout_url.present?
            %a.btn.btn-view-product.mr-3{href: @project.layout_url, target: '_blank', class: "#{'d-none' unless @project.layout_url.present?}"}
              .d-flex
                = image_tag 'image.svg'
                %span{style: 'padding: 4px 4px 4px 8px;'} Layout sản phẩm
          - if @project.image_folder_url.present?
            %a.btn.btn-view-product.mr-3{href: @project.image_folder_url, target: '_blank', class: "#{'d-none' unless @project.image_folder_url.present?}"}
              .d-flex
                = image_tag 'image.svg'
                %span{style: 'padding: 4px 4px 4px 8px;'} Hình ảnh
          - if @project.video_folder_url.present?
            %a.btn.btn-view-product{href: @project.video_folder_url, target: '_blank', class: "#{'d-none' unless @project.video_folder_url.present?}"}
              .d-flex
                = image_tag 'video.svg'
                %span{style: 'padding: 4px 4px 4px 8px;'} Video
    - else
      .col-12
        .d-flex
          = image_tag 'rightArrow.svg'
          %span.title-project-detail Thư viện truyền thông
      .col-12.mt-3.mb-3
        %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
  .row.info-project-detail.mt-3
    .col-12.mb-4
      .d-flex
        = image_tag 'rightArrow.svg'
        %span.title-project-detail Thư viện bài viết
    .col-12
      %nav
        #nav-tab.nav.nav-tabs{:role => "tablist"}
          %a#nav-news-tab.nav-item.nav-link.active{"aria-controls" => "nav-news", "aria-selected" => "true", "data-toggle" => "tab", href: "#nav-news", role: "tab"} Blog RETI
          %a#nav-video-tab.nav-item.nav-link{"aria-controls" => "nav-video", "aria-selected" => "false", "data-toggle" => "tab", href: "#nav-video", role: "tab"} Bài viết chủ đầu tư
      #nav-tabContent.tab-content
        #nav-news.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
          .row.mt-3
            .col-12.col-lg-8.post-left.mb-md-3
              .row
                .col-6.mb-2
                  %psan.legal-sale-kit Tin tức dự án
                .col-6.pr-0
                  %a.float-right{href: @news_posts_url, class: "#{'d-none' if @news_posts.blank?}", target: '_blank', style: 'text-decoration: underline'} Xem tất cả
              - if @news_posts.present?
                .row.ml-0.list-items
                  - @news_posts.each do |post|
                    .col-12.col-md-6.mb-2.mb-md-3.item
                      %a{href: post['link'], target: '_blank'}
                        .d-flex
                          - if post['image_url']
                            = image_tag post['image_url']['source_url'], alt: post['image_url']['file']
                          - else
                            = image_tag asset_url("img-placeholder.svg"), alt: ''
                          .ml-2.item-description
                            = sanitize post['text']
              - else
                .row
                  .col-12
                    %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
            .col-12.col-lg-4.post-right.mb-3.mb-md-0
              .row
                .col-6.mb-2.mt-3.mt-lg-0.pl-0
                  %psan.legal-sale-kit Video
                .col-6.mt-3.mt-lg-0
                  %a.float-right{href: @videos_posts_url, class: "#{'d-none' if @videos_posts.blank?}", target: '_blank', style: 'text-decoration: underline'} Xem tất cả
              - if @videos_posts.present?
                .row.ml-0.list-items
                  - @videos_posts.each do |post|
                    .col-12.col-sm-6.col-md-6.col-lg-12.mb-2.mb-md-3.item
                      %a{href: post['link'].present? ? post['link'] : 'javascript:;', target: post['link'].present? ? '_blank' : ''}
                        .d-flex
                          - if post['image_url']
                            = image_tag post['image_url']['source_url'], alt: post['image_url']['file']
                          - else
                            = image_tag asset_url("img-placeholder.svg"), alt: ''
                          .ml-2.item-description.pr-0
                            = sanitize post['text']
              - else
                .row
                  .col-12.pl-0
                    %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
        #nav-video.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", role: "tabpanel"}
          - if @project.investor_posts.blank?
            .col-12.mt-3.mb-3
              %span{style: 'color: #5C5C5C; font-style: italic;'} Đang cập nhật
          - else
            - @project.investor_posts.each do |investor_post|
              .col-12.mb-3.pl-3.pr-3.mt-3
                .row{style: 'border-bottom: 1px solid #F0F0F0'}
                  .col-8.col-lg-6
                    .legal-sale-kit= investor_post.title
                  .col-4.col-lg-6.mb-3
                    .d-flex.float-right.pt-2.pt-lg-0
                      - unless browser.device.mobile?
                        %a.btn.btn-sale-kit.mr-3.position-relative{href: investor_post.post_url, target: '_blank'}
                          %i.fas.fa-eye.fa-lg.eye-project-detail
                      - else
                        %a.btn.btn-sale-kit.position-relative{href: investor_post.post_url, target: '_blank'}
                          %i.fas.fa-eye.eye-project-detail
  = render partial: 'shared/modal_share_document', locals: {documents: @sale_kits + @sale_policies}

- content_for :js do
  :javascript
    $('[data-toggle="tooltip"]').tooltip({
      trigger: "click" 
    });
    $('button.btn-copy-link').on('click', function() {
      let fileUrl = $(this).parent().prev().val();
      let $tmp = $('<input>');
      $tmp.insertAfter($(this));
      $tmp.val(fileUrl).select();
      document.execCommand("copy");
      $tmp.remove();
      setTimeout(function(){ $('[data-toggle="tooltip"]').tooltip('hide'); }, 600);
    });
    $('.item-share').on('click', function() {
      let platform = $(this).attr('data-platform');
      let fileUrl = $(this).attr('data-file');
      let redirectUrl = window.location.href;
      switch (platform) {
        case 'facebook':
          window.open('https://www.facebook.com/sharer/sharer.php?u=' + fileUrl, 'facebook-share-dialog', "width=560, height=767")
          break;
        case 'email':
          let subjectEmail = 'Chia sẻ tài liệu dự án';
          let bodyEmail = `Tài liệu dự án: ${fileUrl}`;
          if (getDevice() === 'pc') {
            window.open(`https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&su=${subjectEmail}&body=${bodyEmail}`);
          } else {
            window.open(`mailto:?subject=${subjectEmail}&body=${bodyEmail}`);
          }
          break;
        case 'messenger':
          if (getDevice() === 'pc') {
            window.open(`https://www.facebook.com/dialog/send?app_id=266752474368189&link=${fileUrl}&redirect_uri=${redirectUrl}`, 'facebook-share-dialog', "width=560, height=767");
          } else {
            window.open('fb-messenger://share?link=' + encodeURIComponent(fileUrl) + '&app_id=' + encodeURIComponent('266752474368189'));
          }
          break;
        case 'viber':
          window.open(`viber://forward?text=${fileUrl}`);
          break;
      }
    });
