- content_for :content_header do
  .col-sm-6
    %h1.m-0.text-dark Dashboard
  .col-sm-6
    %ol.breadcrumb.float-sm-right
      %li.breadcrumb-item
        %a{href: "#"} Home
      %li.breadcrumb-item.active Dashboard
- content_for :content_body do
  / .row
  /   .col-lg-3.col-6
  /     .small-box.bg-info
  /       .inner
  /         %h3 150
  /         %p New Orders
  /       .icon
  /         %i.ion.ion-bag
  /       %a.small-box-footer{href: "#"}
  /         More info
  /         %i.fas.fa-arrow-circle-right
  /   .col-lg-3.col-6
  /     .small-box.bg-success
  /       .inner
  /         %h3
  /           53
  /           %sup{style: "font-size: 20px"} %
  /         %p Bounce Rate
  /       .icon
  /         %i.ion.ion-stats-bars
  /       %a.small-box-footer{href: "#"}
  /         More info
  /         %i.fas.fa-arrow-circle-right
  /   .col-lg-3.col-6
  /     .small-box.bg-warning
  /       .inner
  /         %h3 44
  /         %p User Registrations
  /       .icon
  /         %i.ion.ion-person-add
  /       %a.small-box-footer{href: "#"}
  /         More info
  /         %i.fas.fa-arrow-circle-right
  /   .col-lg-3.col-6
  /     .small-box.bg-danger
  /       .inner
  /         %h3 65
  /         %p Unique Visitors
  /       .icon
  /         %i.ion.ion-pie-graph
  /       %a.small-box-footer{href: "#"}
  /         More info
  /         %i.fas.fa-arrow-circle-right
  -# = render 'shared/kanban'