.row
  .col
    = form_with model: [:admin, @regulation], local: true, id: 'form-regulation' do |f|
      - if @dup_reg_info.present?
        = f.hidden_field :is_duplicate, value: true
        = f.hidden_field :dup_project, value: @dup_reg_info[:project_name]
        = f.hidden_field :dup_type, value: @dup_reg_info[:type]
        = f.hidden_field :dup_time, value: @dup_reg_info[:time]
        = f.hidden_field :dup_url, value: @dup_reg_info[:url]
      .row.sticky-scroll
        .col
          .card.tms-card
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Trạng thái
                .tms-field-group-body
                  .form-group
                    .row
                      .col
                        = f.radio_button :state, @regulation.aasm.current_state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                        = f.label :state, I18n.t("regulation.states.#{@regulation.aasm.current_state}"), class: 'margin-right-5 checkbox-label', for: "regulation_state_#{@regulation.aasm.current_state}"
                        = f.hidden_field :stored_state, value: @stored_state
                        - unless @regulation.new_record? || @state_is_disable
                          - f.object.next_states.each do |state|
                            = f.radio_button :state, state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                            = f.label :state, I18n.t("regulation.states.#{state}"), class: 'margin-right-5 checkbox-label', for: "regulation_state_#{state}"
                        - f.object.errors.messages[:state].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      - unless @is_disabled && @state_is_disable
                        .float-right
                          %button#regulation-submit.btn.btn-reti-secondary= @regulation.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name  do
                          Tên cơ chế
                          %span.required
                            *
                        = f.text_field :name, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:name].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :project_id  do
                          Dự án
                          %span.required
                            *
                        = f.select :project_id, options_for_select(@projects, @regulation.project_id), {include_blank:  'Chọn'}, { class: 'form-control', data: {'select-child-target': ['regulation_real_estate_type']}, disabled: @is_disabled}
                        - f.object.errors.messages[:project_id].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :real_estate_type  do
                          Loại hình
                          %span.required
                            *
                        = f.select :real_estate_type, options_for_select(Constant::PROJECT_REAL_ESTATE_TYPE.invert, @regulation.real_estate_type), {include_blank:  'Chọn'}, { class: 'form-control', multiple: true, disabled: @is_disabled}
                        - f.object.errors.messages[:real_estate_type].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :date_range  do
                          Thời gian áp dụng cơ chế
                          %span.required
                            *
                        .date-range-input{class: "#{'field_with_errors' if f.object.errors.messages[:date_range].present? || f.object.errors.messages[:start_date].present?}"}
                          = f.text_field :date_range, class: 'form-control', disabled: @is_disabled, autocomplete: 'off', readonly: 'readonly'
                        %i.fa.fa-calendar{style: "position: absolute;right: 15px;margin-top: -26px;"}
                        - f.object.errors.messages[:date_range].each do |error|
                          %span.date-range-error.invalid-feedback.custom-validation= error
                        - f.object.errors.messages[:start_date].each do |error|
                          %span.date-range-error.invalid-feedback.custom-validation= error
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Hoa hồng theo vị trí (%)
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Trưởng phòng kinh doanh
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :manager_comm do
                          Hoa hồng (%)
                          %span.required
                            *
                        = f.number_field :manager_comm, class: 'form-control', disabled: @is_disabled, step: 0.01, min: 0, max: 100
                        - f.object.errors.messages[:manager_comm].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.check_box :manager_duplicate_comm, checked: @regulation.manager_duplicate_comm, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                        = f.label :manager_duplicate_comm, 'Áp dụng cơ chế đúp khi TPKD trực tiếp bán hàng'
                .tms-field-group-header
                  %span Trưởng nhóm kinh doanh
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :leader_comm do
                          Hoa hồng (%)
                          %span.required
                            *
                        = f.number_field :leader_comm, class: 'form-control', disabled: @is_disabled, step: 0.01, min: 0, max: 100
                        - f.object.errors.messages[:leader_comm].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.check_box :leader_duplicate_comm, checked: @regulation.leader_duplicate_comm, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                        = f.label :leader_duplicate_comm, 'Áp dụng cơ chế đúp khi TNKD trực tiếp bán hàng'
                .tms-field-group-header
                  %span Trưởng nhóm kinh doanh độc lập
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :free_leader_comm do
                          Hoa hồng (%)
                          %span.required
                            *
                        = f.number_field :free_leader_comm, class: 'form-control', disabled: @is_disabled, step: 0.01, min: 0, max: 100
                        - f.object.errors.messages[:free_leader_comm].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.check_box :free_leader_duplicate_comm, checked: @regulation.free_leader_duplicate_comm, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                        = f.label :free_leader_duplicate_comm, 'Áp dụng cơ chế đúp khi TNKDĐL trực tiếp bán hàng'
                .tms-field-group-header
                  %span Nhân viên kinh doanh
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :member_comm_sale do
                          Hoa hồng (%) - nguồn từ Sale
                          %span.required
                            *
                        = f.number_field :member_comm_sale, class: 'form-control', disabled: @is_disabled, step: 0.01, min: 0, max: 100
                        - f.object.errors.messages[:member_comm_sale].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :member_comm_company do
                          Hoa hồng (%) - nguồn từ Công ty
                          %span.required
                            *
                        = f.number_field :member_comm_company, class: 'form-control', disabled: @is_disabled, step: 0.01, min: 0, max: 100
                        - f.object.errors.messages[:member_comm_company].each do |error|
                          %span.invalid-feedback.custom-validation= error
                .tms-field-group-header
                  %span Sale admin
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :admin_comm do
                          Hoa hồng (%)
                          %span.required
                            *
                        = f.number_field :admin_comm, class: 'form-control', disabled: @is_disabled, step: 0.01, min: 0, max: 100
                        - f.object.errors.messages[:admin_comm].each do |error|
                          %span.invalid-feedback.custom-validation= error
- content_for :js do
  :javascript
    if ($('#regulation_is_duplicate').length > 0) {
      var html = `Hệ thống đã tồn tại Cơ chế cho dự án <strong>${$('#regulation_dup_project').val()}</strong>, loại hình <strong>${$('#regulation_dup_type').val()}</strong> với thời gian áp dụng là <strong>${$('#regulation_dup_time').val()}</strong>. Vui lòng kiểm tra lại cơ chế cũ hoặc cài đặt thời gian áp dụng mới.`;

      var footer = `<button type="button" id="close-duplicate-regulation" class="swal2-confirm btn btn-kanban-danger font-size-14 tms-line-height-22 pl-5 pr-5 mr-2" aria-label="" style="display: inline-block;">OK</button>
      <a class="btn btn-link font-size-14" target="_blank" href="${$('#regulation_dup_url').val()}">Xem cơ chế cũ</a>`;

      swalWithBootstrapButtons.fire({
        html: html,
        showConfirmButton: false,
        allowOutsideClick: false,
        showCloseButton: true,
        footer: footer,
        onOpen: () => swalWithBootstrapButtons.getCloseButton().blur()
      });

      $(document).on('click', '#close-duplicate-regulation', function() {
        swalWithBootstrapButtons.close();
      })
    }
