- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Cơ chế tính hoa hồng

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_regulations_path, method: :get, local: true, class: 'input-group search-group regulation-search-group' do |f|
            = f.hidden_field :reg_type
            = f.text_field :query, value: params[:query], class: 'form-control typeahead regulation-search-input', type: 'search', 'url-autocomplete': autocomplete_admin_regulations_path
            %button{type: 'submit', id: 'regulation-search-btn'}
              %i.fa.fa-search
  .card
    .card-body
      = render partial: 'shared/pagination', locals: { pagy: @pagy }
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên
              %th Dự án
              %th Loại hình
              %th Thời gian áp dụng
              %th Trạng thái
              %th
          %tbody.regulation-table
            - @regulations.each do |regulation|
              %tr
                %td= regulation.name
                %td= regulation.project.name
                %td= regulation.real_estate_type.map { |type| Constant::PROJECT_REAL_ESTATE_TYPE[type] }.join(', ')
                %td= "#{format_regulation regulation.start_date} - #{format_regulation regulation.end_date}"
                %td.regulation{class: "regulation-#{regulation.state}"}= I18n.t("regulation.states.#{regulation.state}")
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_regulation_path(regulation)}
                    %i.fas.fa-pencil-alt
                  - if policy(regulation).destroy?
                    %a.btn.btn-outline-primary{href: admin_regulation_path(regulation), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_regulation_path, class: 'btn btn-primary'
