.nested-fields{class: "appointment-#{o.id || o.pseudo_id}"}
  = form_with model: [:admin, deal, o], class: 'edit-appointment' do |f|
    = f.hidden_field :pseudo_id, value: o.id || o.pseudo_id, id: "pseudo-id-#{rand(1000)}"
    .row.group-form.mx-0.p-0.rounded{ class: (f.object.id.present? && !f.object.errors.present?) || f.object.canceled ? 'd-none' : ''}
      .col-12.p-2
        .form-group.mb-0
          .fields
            = f.text_field :created_by_id, hidden: true, value: current_user.id, id: "user-#{f.object.id}"
            .row.content-time
              .col-12
                .form-group
                  = f.label :content, 'Nội dung', class: 'detail-item-heading-sub label-required'
                  = f.text_field :content, class: 'form-control', id: "content-#{f.object.id}", autocomplete: "off"
                  - f.object.errors.messages[:content].each do |error|
                    %span.invalid-feedback.custom-validation= error
              .col-12
                .form-group
                  = f.label :appointment_date, 'Ngày hẹn gặp', class: 'detail-item-heading-sub label-required'
                  .input-group.appointment-datetimepicker.border-0
                    = f.text_field :appointment_date, value: f.object.appointment_date&.localtime&.strftime('%d/%m/%Y - %H:%M'), class: 'form-control', autocomplete: "off", id: "date-#{f.object.id}", readonly: true
                    %span
                      %i.tms.tms-calendar
                  - f.object.errors.messages[:appointment_date].each do |error|
                    %span.invalid-feedback.custom-validation= error
              - unless f.object.id.nil?
                .col-12
                  .form-group.mb-0
                    - Constant::APPOINTMENT_STATE.each_with_index do |state, i|
                      = f.radio_button :state, state.first, class: 'tms-icheck-tab not_default_error', data: {skin: 'square', color: 'blue'}, id: "action-type-#{f.object.id}-#{i}"
                      = f.label :state, state.last, class: 'mr-2 ml-1 not_default_error checkbox-label', for: "action-type-#{f.object.id}-#{i}"
                    - f.object.errors.messages[:state].each do |error|
                      %span.invalid-feedback.custom-validation= error
                .col-12.appointment-result{class: "#{'d-none' if f.object.state != 0}"}
                  .form-group
                    = f.label :result, 'Kết quả', class: 'detail-item-heading-sub label-required'
                    = f.text_area :result, class: 'form-control result-appointment', id: "result-#{f.object.id}"
                    - f.object.errors.messages[:result].each do |error|
                      %span.invalid-feedback.custom-validation= error
              .col-12
                .form-group.nested-btn-group
                  %button.btn.btn-kanban-danger.btn-save-nested.mr-2.pr-3{type: 'button'}
                    %i.tms.tms-save-small.mr-1
                    Lưu lại
                  %button.btn.btn-outline-danger.btn-destroy-nested{type: 'button', 'data-destroy': f.object.id.nil? ? 'remove' : 'cancel'}
                    Hủy
    .row.group-show.mb-3{ class: f.object.id.nil? || f.object.errors.present? ? 'd-none' : ''}
      .col-12
        .author-name.tms-line-height-2
          .name.font-weight-500.font-size-16
            = f.object.author.full_name if (f.object.author.present? && f.object.errors.blank?)
          %span.date.font-size-16.float-right.font-weight-400
            = f.object.created_at.localtime.strftime('%d/%m/%Y - %H:%M') if f.object.created_at.present?
        .content.pl-2.pt-2.pb-2.pr-0.shadow-none
          %table
            %tr
              %td.label-show{style: 'width: 113px'}
                Nội dung:
              %td.content-show.pl-2.font-weight-400
                = f.object.content
            %tr
              %td.label-show
                Ngày giờ:
              %td.content-show.pl-2.font-weight-400
                = f.object.appointment_date.localtime.strftime('%d/%m/%Y - %H:%M') if f.object.appointment_date.present?
            %tr
              %td.label-show
                Trạng thái:
              %td.content-show.pl-2.font-weight-400
                - if f.object.state.present?
                  %label.btn{class: f.object.state == 0 ? 'label-met' : 'label-canceled'}= Constant::APPOINTMENT_STATE[f.object.state]
            - unless f.object.state == 1
              %tr
                %td.label-show.align-top
                  Chi tiết kết quả:
                %td.content-show.pl-2.font-weight-400
                  %p{style: "white-space:pre-wrap;"}= auto_link(f.object.result)
            %tr
              %td{colspan: 2}
                .btn-group-mobile{style: 'display: inline-flex'}
                  - unless deal.request_recall? || @deal.canceled? || @deal.contract_signed?
                    %button{type: 'button', class: 'btn-edit ml-2 mb-2', id: "btn-appointment-#{f.object.id}"}
                      - if browser.device.iphone?
                        %i.fa.fa-pen.font-size-14{style: "margin-left: -6px"}
                      - else
                        %i.fa.fa-pen.font-size-14
                    %label.btn-edit-text.mb-0{for: "btn-appointment-#{f.object.id}"} Chỉnh sửa
