= form_with model: [:admin, @deal], url: update_state_admin_deal_path(@deal), id: 'edit-deal-state' do |f|
  = f.hidden_field :canceled_reason, value: f.object.canceled_reason, id: 'deal_canceled_reason'
  = f.submit 'Lưu lại', name: 'save_state', style: 'display: none', id: 'save-state-btn'
  .row
    .col-6.mb-3
      .deal-state
        = f.select :state, options_for_select(@deal.available_states, @deal.state), {include_hidden: false}, { class: 'tms-select2 detail-item-content', id: 'deal_state', disabled: @deal.state_disabled? }
    .col-12.deal-invalid-warning.mt-2
      Vui lòng nhập đầy đủ mục bắt buộc tại
      %a.toggle-tab-general Thông tin chung
      %span.comma
        = ", "
      %a.toggle-tab-customer Chân dung khách hàng
  .row
    - unless current_user.sale_member?
      .col-6.mb-3.assignee-mobile{class: "#{@deal.allow_assignee? ? 'assignee' : ''}", 'data-assignee-id': @deal.assignee_id}
        .deal-info-label
          Người chăm sóc
          %i.tms.tms-edit-bl.detail-page{class: "#{@deal.allow_assignee? ? '' : 'd-none'}", 'data-assignee-id': @deal.assignee_id}
        .font-weight-500.dropdown-assign
          .info-item-content.font-weight-500.m-0{id: "#{@deal.allow_assignee? ? 'assignee' : 'assignee-readonly'}", 'data-assignee-id': @deal.assignee_id}
            = @deal.assignee.present? ? "#{@deal.assignee&.full_name}#{@deal.assignee == @current_user ? ' (Tôi)': '' }" : 'Chưa cập nhật'
      .col-6.mb-3
        .deal-info-label
          Nhóm kinh doanh
        .font-weight-500.team-lead-content
          - if @deal.assignee
            = @deal.assignee.sale_leader? ? @deal.assignee.full_name : @deal.assignee&.leader&.full_name
          - else
            = "Chưa cập nhật"
      .col-6.mb-3
        .deal-info-label
          Ngày cập nhật mới nhất
        .font-weight-500
          = format_date @deal.updated_at
    .col-6.mb-3{'deal-source': f.object.source, id: "#{'deal_source_mobile' if @source_group.present?}"}
      .deal-info-label
        Nguồn
        - if @source_group.present?
          %i.tms.tms-edit-bl.btn-edit-mobile#change_deal_source
      .font-weight-500
        .text-display
          = Constant::DEAL_SOURCES[@deal.source] || 'Chưa cập nhật'
        - if @source_group.present?
          .input-edit.d-none
            = f.select :source_data, grouped_options_for_select(@source_group, f.object.source), {include_blank: true}, { class: 'form-control tms-select2', id: "deal_source"}
    .col-6.mb-3.clickable-label
      = render 'admin/deals/edit_field', title: 'Chi tiết nguồn', value: @deal.source_detail, type: 'string', class_name: 'source-detail', editable: true
    - if @deal.is_show_commission
      .col-6.mb-3.clickable-label
        %a{href: "javascript: void(0)", style: "color: #212529;"}= render 'edit_field', title: 'Giá trị giao dịch (vnđ)', value: @deal.total_price, type: 'number', class_name: 'total-price', editable: !@deal.commission_disabled?
      .col-6.mb-3
        .deal-info-label
          Ngày ký hợp đồng GD
        .font-weight-500
          = @deal.contract_signed_at.present? ? format_regulation(@deal.contract_signed_at) : 'Đang cập nhật'
      .col-6.mb-3
        - if @deal.commission&.actually_commission
          .deal-info-label
            Hoa hồng thực nhận (vnđ)
          .font-weight-500
            %a{href: "javascript: void(0)", style: "color: #F15B40;"}
              = @deal.transfer_histories.present? ? "Không áp dụng cho căn chuyển nhượng" : currency(@deal.commission.actually_commission)
        - else
          .deal-info-label
            Hoa hồng tạm tính (vnđ)
          .font-weight-500
            %a{href: "javascript: void(0)", style: "#{@deal.commission&.temporary_commission ? 'color: #F15B40;' : 'color: #212529;'}"}
              = @deal.transfer_histories.present? ? "Không áp dụng cho căn chuyển nhượng" : (currency(@deal.commission&.temporary_commission) || 'Đang cập nhật')
    - unless current_user.sale_member?
      .col-6.mb-3
        .deal-info-label
          Ngày phân công NV
        .font-weight-500
          = @deal.assigned_at.present? ? format_date(@deal.assigned_at) : 'Chưa cập nhật'
      - check_change_create_date = (current_user.id == @deal.created_by_id || current_user.super_admin? || current_user.bi_ba?) && @deal.is_change_create_date != true
      .col-6.mb-3{id: "#{'deal_created_at_mobile' if check_change_create_date}"}
        .deal-info-label
          Ngày tạo
          - if check_change_create_date
            %i.tms.tms-edit-bl.btn-edit-mobile
        .font-weight-500
          - create_deal_date = @deal.create_deal_date.present? ? @deal.create_deal_date : @deal.created_at
          .text-display
            = format_regulation(create_deal_date)
          .d-none
            = f.text_field :journey_create_date, class: 'form-control', value: '', id: "create_deal_date"
    - if @deal.aasm.current_state == :canceled
      .col-6.mb-3
        .deal-info-label
          Lý do hủy
        .font-weight-500
          - if @deal.canceled_reason == 6
            = @deal.canceled_note
          - else
            = Constant::CANCELED_REASON[@deal.canceled_reason]
  .row
    .col-6.deal-info-label
      Đánh giá độ nét
    .col-12{style: 'margin-top: -20px;'}
      %label
      %ul.range-labels
        - (1..10).each do |i|
          %li{class: "#{'active selected' if (i == @deal.lead_scoring) || (@deal.lead_scoring.nil? && i == 4)}"}= i
      .range
        = f.text_field :journey_lead_scoring, value: f.object.lead_scoring || 4, max: 10, min: 1, steps: 1, type: "range"