.tab-content
  #general-info.tab-pane{"aria-labelledby" => "general-info-tab", role: "tabpanel", class: "#{params[:form].blank? || params[:form] == 'general' ? 'active' : ''}"}
    #general-info-content
      = render "admin/deals/mobile/form_general"
  #customer-portrait.tab-pane{"aria-labelledby" => "customer-portrait-tab", role: "tabpanel", class: "#{params[:form] == 'customer' ? 'active' : ''}"}
    #customer-info-content
      = render "admin/deals/mobile/form_customer"
  #appointment.tab-pane.appointment-mobile{"aria-labelledby" => "appointment-tab", role: "tabpanel", class: "#{['general', 'customer'].include?(params[:form]) ? '' : 'active'}"}
    =image_tag 'btn-RETI.svg', class: 'btn-toggle',name: 'edit', value: 'edit', 'data-toggle': "collapse",'data-target': "#navbarCTA-appointment", 'aria-controls': "navbarNav"
    #navbarCTA-appointment.collapse.navbar-collapse
      %ul.navbar-nav
        - if @deal.customer_persona&.email.present?
          %li.nav-item
            .action-email{style: 'top: calc(100vh - 293px'}
              .action-text Gửi mail
              %a.btn.btn-deal-save.btn-email{href: "mailto:#{@deal.customer_persona&.email}",name: 'email', value: 'send', style: 'top: calc(100vh - 293px); padding: 10px 8px 0 10px'}
                %i.tms.tms-email-btn{style: 'line-height: 2 !important'}
        - if @deal.customer&.phone_number.present?
          %li.nav-item
            .action-call{style: 'top: calc(100vh - 220px'}
              .action-text Gọi điện
              %a.btn.btn-deal-save.btn-phone{href: "tel:+#{@deal.customer&.phone_number}", name: 'phone', value: 'call', style: 'top: calc(100vh - 220px)'}
                %i.tms.tms-phone-btn
        %li.nav-item
          %button.btn.btn-deal-cancel.btn-toggle-cancel
            %i.tms.tms-cancel
    - unless @deal.canceled? || @deal.contract_signed?
      = link_to_deal_add_fields 'Tạo lịch hẹn', @deal, :appointments, '#appointments', mobile: true, class_name: 'btn-create'
    %input#appointment-editing{value: false, type: "hidden"}
    #appointments
      - if @deal.appointments.blank?
        %p.not-appointment.font-weight-500.font-size-16 Chưa có lịch hẹn
      - @deal.appointments.order('state ASC NULLS FIRST').order(appointment_date: :asc).each do |appointment|
        = render 'admin/deals/mobile/appointment_fields', {o: appointment, deal: @deal}
