= form_with model: [:admin, @deal], html: {'data-is-editing': @is_edit_customer || false} do |f|
  = f.hidden_field :lock_version, id: 'customer_persona_lock_version'
  - unless @is_edit_customer
    - f.object.errors.clear
  = hidden_field_tag :form_id, :deal_detail
  = hidden_field_tag :drag_state_changed, @drag_state_changed
  = hidden_field_tag :deal_update_comm, @deal_update_comm
  = hidden_field_tag :form, :customer, id: 'customer_persona'
  = f.fields_for :customer_persona, f.object.customer_persona || f.object.build_customer_persona  do |ff|
    .row.mb-2
      .col-7.font-weight-500
        1. Thông tin liên hệ
      .col-5.text-right
        %a.a-collapse.font-size-14{"aria-controls": "contactInfo", "aria-expanded": "false", "data-toggle": "collapse", href: "#contactInfo", role: "button"}
          Ẩn bớt
          %i.tms.tms-up-mobile.ml-1
    #contactInfo.collapse.show
      .row.mb-3.form-group
        .col-12.deal-info-label
          %label Khách hàng
        .col-12
          %input.form-control.deal-customer-name{value: @deal&.customer&.name, placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: true}
      .row.mb-3.form-group
        .col-12.deal-info-label
          = f.label :phone_number, 'Số điện thoại'
        .col-12
          = f.text_field :phone_number, value: @deal&.customer&.phone_number, class: 'form-control deal-phone-number', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: true

      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :second_phone_number, 'Số điện thoại phụ', class: f.object.label_required('second_phone_number')
        .col-12
          = ff.text_field :second_phone_number, value: ff.object.second_phone_number, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:second_phone_number].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :email, 'Email', class: f.object.label_required('email')
        .col-12
          = ff.text_field :email, value: ff.object.email, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - f.object.errors.messages[:email].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :city_id, 'Tỉnh/Thành phố', class: f.object.label_required('city_id')
        .col-12
          = ff.select :city_id, options_for_select(@cities, ff.object.city_id), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'tms-select2 form-control select2-region', data: {'select-child-target': %w(deal_customer_persona_attributes_district_id)}, disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
          - ff.object.errors.messages[:city_id].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :district_id, 'Quận/Huyện', class: f.object.label_required('district_id')
        .col-12
          = ff.select :district_id, options_for_select(@districts, ff.object.district_id), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2 select2-region', data: {'select-child-target': ['deal_customer_persona_attributes_ward_id']}, disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
          - ff.object.errors.messages[:district_id].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :ward_id, 'Xã/Phường', class: f.object.label_required('ward_id')
        .col-12
          = ff.select :ward_id, options_for_select(@wards, ff.object.ward_id), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2 select2-region', data: {'select-child-target': []}, disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
          - ff.object.errors.messages[:ward_id].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :settlements, 'Địa chỉ', class: f.object.label_required('settlements')
        .col-12
          = ff.text_area :settlements, class: 'form-control', placeholder: 'Số nhà/ Tên tòa nhà/ Tên đường/ Tên khu vực', disabled: !@is_edit_customer, rows: 1
          - ff.object.errors.messages[:settlements].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.mb-2
      .col-7.font-weight-500
        2. Nhân khẩu học
      .col-5.text-right
        %a.a-collapse.font-size-14{"aria-controls": "demographic", "aria-expanded": "true", "data-toggle": "collapse", href: "#demographic", role: "button"}
          Ẩn bớt
          %i.tms.tms-down-mobile.ml-1
    #demographic.collapse.show
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :gender, 'Giới tính', class: f.object.label_required('gender')
        .col-12
          = ff.select :gender, options_for_select(Constant::CUSTOMER_GENDER.invert, ff.object.gender), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}
          - ff.object.errors.messages[:gender].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :identity_card, 'Số CMTND/CCCD/Hộ chiếu', class: f.object.label_required('identity_card')
        .col-12
          = ff.text_field :identity_card, value: ff.object.identity_card, class: "form-control", placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:identity_card].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :domicile, 'Nguyên quán', class: f.object.label_required('domicile')
        .col-12
          = ff.text_field :domicile, value: ff.object.domicile, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:domicile].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :dob, 'Ngày sinh', class: f.object.label_required('dob')
        .col-12
          = ff.number_field :dob, value: ff.object.get_dob, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:dob].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :nationality, 'Quốc tịch', class: f.object.label_required('nationality')
        .col-12
          = ff.text_field :nationality, value: ff.object.nationality, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:nationality].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :workplace, 'Nơi làm việc', class: f.object.label_required('workplace')
        .col-12
          = ff.text_field :workplace, value: ff.object.workplace, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:workplace].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :customer_position, 'Chức vụ', class: f.object.label_required('customer_position')
        .col-12
          = ff.text_field :customer_position, value: ff.object.customer_position, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:customer_position].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.mb-2
      .col-7.font-weight-500
        3. Thông tin tài chính
      .col-5.text-right
        %a.a-collapse.font-size-14{"aria-controls": "economic_info", "aria-expanded": "true", "data-toggle": "collapse", href: "#economic_info", role: "button"}
          Xem thêm
          %i.tms.tms-down-mobile.ml-1
    #economic_info.collapse
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :financial_capability, 'Đánh giá khả năng tài chính', class: f.object.label_required('financial_capability')
        .col-12
          = ff.select :financial_capability, options_for_select(Constant::FINANCIAL_CAPABILITY.invert, ff.object.financial_capability), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}
          - ff.object.errors.messages[:financial_capability].each do |error|
            %span.invalid-feedback.custom-validation= error
      .row.mb-3.form-group
        .col-12.deal-info-label
          = ff.label :property_ownership, 'Tài sản sở hữu', class: f.object.label_required('property_ownership')
        .col-12
          = ff.text_field :property_ownership, value: ff.object.property_ownership, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
          - ff.object.errors.messages[:property_ownership].each do |error|
            %span.invalid-feedback.custom-validation= error
    - if current_user.super_admin? || current_user.director? || current_user.customer_service?
      .row.mb-2
        .col-7.font-weight-500
          5. Sở thích
        .col-5.text-right
          %a.a-collapse.font-size-14{"aria-controls": "psychology", "aria-expanded": "true", "data-toggle": "collapse", href: "#psychology", role: "button"}
            Xem thêm
            %i.tms.tms-down-mobile.ml-1
      #psychology.collapse
        - unless true
          .row.mb-3.form-group
            .col-12.deal-info-label
              = ff.label :marital_status, 'Tình trạng hôn nhân', class: f.object.label_required('marital_status')
            .col-12
              = ff.select :marital_status, options_for_select(Constant::CUSTOMER_MARITAL_STATUS.invert, ff.object.marital_status), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
              - ff.object.errors.messages[:marital_status].each do |error|
                %span.invalid-feedback.custom-validation= error
          .row.mb-3.form-group
            .col-12.deal-info-label
              = ff.label :people_in_family, 'Thành viên trong gia đình', class: f.object.label_required('people_in_family')
            .col-12
              = ff.text_area :people_in_family, value: ff.object.people_in_family, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer, rows: 3
              - ff.object.errors.messages[:people_in_family].each do |error|
                %span.invalid-feedback.custom-validation= error
        .row.mb-3.form-group
          .col-12.deal-info-label
            = ff.label :hobbies, 'Sở thích/ Lối sống', class: f.object.label_required('hobbies')
          .col-12.form-group
            %input{type: "hidden", value: @current_hobbies, id: 'current_hobbies'}
            %input{type: "hidden", value: @hobbies, id: 'hobbies'}
            = ff.select :hobbies, options_for_select([]), {}, { class: 'form-control select2-search-hobby', style: 'width: 100%', multiple: true, disabled: !@is_edit_customer, multiple: true}
            - ff.object.errors.messages[:hobbies].each do |error|
              %span.invalid-feedback.custom-validation= error
    - if current_user.director? || current_user.customer_service?
      .row.mb-2
        .col-7.font-weight-500
          6. Sở thích đầu tư
        .col-5.text-right
          %a.a-collapse.font-size-14{"aria-controls": "investment_preferences", "aria-expanded": "true", "data-toggle": "collapse", href: "#investment_preferences", role: "button"}
            Xem thêm
            %i.tms.tms-down-mobile.ml-1
      #investment_preferences.collapse
        .row.mb-3.form-group
          .col-12.deal-info-label
            = ff.label :positions_to_invest, 'Vị trí mong muốn đầu tư', class: f.object.label_required('positions_to_invest')
          .col-12
            = ff.text_area :positions_to_invest, value: ff.object.positions_to_invest, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer, rows: 3
            - ff.object.errors.messages[:positions_to_invest].each do |error|
              %span.invalid-feedback.custom-validation= error
        .row.mb-3.form-group
          .col-12.deal-info-label
            = ff.label :real_estate_type_to_invest, 'Loại hình dự án mong muốn đầu tư', class: f.object.label_required('real_estate_type_to_invest')
          .col-12
            = ff.select :real_estate_type_to_invest, options_for_select(Constant::PROJECT_REAL_ESTATE_TYPE.invert, ff.object.real_estate_type_to_invest), {include_hidden: false}, { class: 'form-control tms-select2', multiple: true, disabled: !@is_edit_customer }
            - ff.object.errors.messages[:real_estate_type_to_invest].each do |error|
              %span.invalid-feedback.custom-validation= error
  - if @is_edit_customer
    .action-save
      .text-save Lưu
      %button.btn.btn-deal-save{name: 'save', value: 'save'}
        %i.tms.tms-save
    %button.btn.btn-deal-cancel{name: 'cancel', value: 'cancel'}
      %i.tms.tms-cancel
  - else
    =image_tag 'btn-RETI.svg', class: 'btn-toggle',name: 'edit', value: 'edit', 'data-toggle': "collapse",'data-target': "#navbarCTA-customer", 'aria-controls': "navbarNav"
    #navbarCTA-customer.collapse.navbar-collapse
      %ul.navbar-nav
        - if @deal.customer_persona&.email.present?
          %li.nav-item
            .action-email{style: 'top: calc(100vh - 366px'}
              .action-text Gửi mail
              %a.btn.btn-deal-save.btn-email{href: "mailto:#{@deal.customer_persona&.email}",name: 'email', value: 'send', style: 'top: calc(100vh - 366px); padding: 10px 8px 0 10px'}
                %i.tms.tms-email-btn{style: 'line-height: 2 !important'}
        - if @deal.customer&.phone_number.present?
          %li.nav-item
            .action-call{style: 'top: calc(100vh - 293px'}
              .action-text Gọi điện
              %a.btn.btn-deal-save.btn-phone{href: "tel:+#{@deal.customer&.phone_number}", name: 'phone', value: 'call', style: 'top: calc(100vh - 293px)'}
                %i.tms.tms-phone-btn
        %li.nav-item
          .action-edit{style: 'top: calc(100vh - 220px'}
            .action-text{style:'width: 89px !important; left: calc(100vw - 186px)'} Chỉnh sửa
            %button.btn.btn-deal-save.btn-edit-deal{name: 'edit', value: 'edit', style: 'top: calc(100vh - 220px)'}
              %i.tms.tms-edit-btn
        %li.nav-item
          %button.btn.btn-deal-cancel.btn-toggle-cancel
            %i.tms.tms-cancel