.d-flex.justify-content-start.px-3.mb-2.pt-3.boder-top-container.align-items-center

  %a.text-dark{href: admin_deals_path('state[]': @deal.state, project: params[:project], product_type: params[:product_type], purchase_purpose: params[:purchase_purpose], order_by: params[:order_by], sort: params[:sort]), style: "line-height: 24px;"}
    %i.tms.tms-back-dark
  
  - if @deal.transfer_label == 'Đã chuyển nhượng'
    %button.btn.btn-reti-primary.btn-transfer-label.font-weight-500{style: 'height: 40px;'} #{@deal.transfer_label}
  - elsif @deal.transfer_label == 'Được chuyển nhượng'
    %button.btn.btn-kanban-danger.btn-transfer-label.font-weight-500{style: 'height: 40px;'} #{@deal.transfer_label}

  %h5.font-size-16.mb-0.ml-2{style: 'line-height: 27px;'}
    = form_with model: [:admin, @deal], id: 'form-edit-title-deal', class: "flex-fill mr-4" do |f|
      = hidden_field_tag :form, :name, id: 'form_name'
      = f.text_field :name, class: 'w-100 input-edit-title-deal font-size-16', placeholder: 'Vui lòng nhập', style: 'display: none'
      - f.object.errors.messages[:name].each do |name_error|
        %span.invalid-feedback.custom-validation= name_error
      .deal-full-name
        %span.deal-name-text.font-size-16
          = f.object.name
        %span.deal-sub-name-text{class: "deal-sub-name-text-#{@deal.id}"}= @deal.suggestive_display_name
        %i.tms.tms-edit-bl.btn-edit-mobile.icon-edit-title
      = f.submit 'Lưu lại', name: 'save', class: 'd-none'

.statuses.mx-3.mb-3
  .statuses-container{style: "display: #{@deal.display_labels.present? ? 'block' : 'none'}"}
    - @deal.display_labels.each do |label|
      .status.font-size-14.status-label.mb-0{class: "#{@deal.display_label_class(label)}"}
        = label
