- cache ["deal-#{deal.id}", deal.cached_at.to_i, current_user.id] do
  .card.kanban-item.mb-2.ml-1.mr-1.mt-1{'data-id': deal.id, 'data-deal': deal.company_source? ? 'auto' : 'craft', 'data-capability': deal.financial_capability, 'data-advances': deal.demand_for_advances, 'data-project-id': deal.project_id, 'data-project-name': deal.project&.name, 'data-product-id': deal.product_id, 'data-product-code': deal.product&.code, 'data-product-state': deal.product&.state}
    = link_to 'Edit Deal', edit_admin_deal_path(deal, 'project': params[:project], 'product_type': params[:product_type], 'purchase_purpose': params[:purchase_purpose], order_by: params[:order_by], sort: params[:sort]), data: { modal: true }, class: 'detail-modal-btn'
    = link_to 'Preview Deal', admin_deal_path(deal), data: { modal: true }, class: 'preview-modal-btn'
    .card-header.border-bottom-0
      .title.d-flex.justify-content-between
        %div.left.truncated-title= "#{deal.name} <span class='deal-sub-name-text deal-sub-name-text-#{deal.id}'>#{deal.suggestive_display_name}</span>".html_safe
      .statuses
        - if deal.canceled?
          .statuses-container
            .status.font-size-14.status-canceled
              = Constant::CANCELED_REASON[deal.canceled_reason]
        - elsif deal.uninterested?
          .statuses-container
            .status.font-size-14.status-uninterested
              = Constant::UNINTERESTED_REASON[deal.uninterested_reason]
        - else
          .statuses-container{style: "display: #{deal.display_labels.present? ? 'block' : 'none'}"}
            - deal.display_labels.each do |label|
              .status.font-size-14{class: "#{deal.display_label_class(label)}"}
                = label
        - if (task = deal.showed_task)
          .status-task.d-flex.justify-content-between.tms-mt-6
            .status-task-left{class: !%w(not_call_2 busy_1_2 busy_2_2 cant_call_1_2 cant_call_2_2).include?(task.code) ? 'line-height-2' : ''}
              %i.tms.tms-warning.tms-mr-6
              = task.title
            .status-task-right
              %button.btn.font-size-14.tms-line-height-14.pr-1.pl-1{class: "#{task.overdue? ? 'btn-kanban-danger' : 'btn-kanban-warning'}"}
                %i.tms.tms-clock-while
                = format_task_date task.deadline
    %hr.m-0.custom-hr-tag
    .card-body.text-muted
      .body-right
        .card-body-line
          %span.tms-mr-10
            %i.tms.tms-building
          %span.text= deal.is_external_project ? 'Khác' : deal.project&.name
        .card-body-line
          %span.tms-mr-10
            %i.tms.tms-clock
          %span.text= format_date(deal.state_changed_at) if deal.state_changed_at.present?
        .card-body-line.mb-0
          %span.tms-mr-10
            %i.tms.tms-infor
          %span.text= Constant::DEAL_SOURCES[deal.source] || 'Chưa cập nhật'
        / .card-body-line.mb-0
        /   %span.tms-mr-10
        /     %i.tms.tms-favourite
        /   %span.text Chưa cập nhật
      .body-left
        %form
          // da co js set value
          %input.d-none.input-assignee{value: ''}
          .btn.p-0.image-avatar.btn-assign.assignee-mobile.list-page{class: deal.allow_assignee? ? 'assignee' : 'assignee-readonly'}
            = image_tag deal.assignee.present? ? deal.assignee.get_avatar : asset_path('add-assignee.svg'), alt: 'User Default Avatar', class: 'img-circle w-100'
