.row.flex-nowrap.kanban-ticket.overflow-auto.init-kanban-deals.kanban-scroll.overflow-x-hidden{'data-user': (current_user.super_admin? || current_user.bi_ba?) ? 'admin' : '', class: flash.present? ? 'has-flash' : '', num_page: 0}
  = link_to 'Edit New Deal', @edit_deal_url, data: { modal: true }, class: 'auto-toggle-modal-btn'
  %section.kanban-col
    .card.mb-3
      .card-header.kanban-col-title.position-sticky#list-deal-mobile
        .d-flex
          .dropdown-state
            .dropdown.tms-card
              %button.btn.btn-reti-primary.dropdown-toggle#current-state{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button", value: params[:state]&.first || 'pending'}
                %span{class: "#{'dropdown-state-width-320 dropdown-state' if  @current_state&.length.to_i > 10}"}= @current_state
                %span= "(#{@num_item[params[:state]&.first || (current_user.sale_admin? ? 'refundable_deposit' : 'pending')]})"
              .dropdown-menu.dropdown-deal-mobile{"aria-labelledby" => "dropdown_user"}
                %form.form-dropdown-deal-mobile
                  %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                .menuItems.custom-list-state
                  - @show_states.each do |state|
                    %a.dropdown-item{href: admin_deals_path('state[]': state, project: params[:project], product_type: params[:product_type], purchase_purpose: params[:purchase_purpose], order_by: params[:order_by], sort: params[:sort]), 'data-state': state}
                      = "#{I18n.t("deal.states.#{state}")} (#{@num_item[state]})"
                .dropdown-header.dropdown_empty{style: "display:none;"} No entry found
          - if current_user.check_permission 'Deal', 'can_create'
            %button.btn.ml-auto.btn-add#mobile-new-deal-button{type: "button"}
              %a.text-white{href: new_admin_deal_path}
                %i.far.fa-plus-square.mr-2
                Tạo mới
      - @show_deals = current_user.sale_admin? ? @deal_groups[params[:state]&.first || 'refundable_deposit'] : @deal_groups[params[:state]&.first || 'pending']
      .card-body.pt-1.pb-0.pl-1.pr-1.kanban-body-container.container-sortable.kanban-mobile{ num_page: 0, load: "#{@show_deals&.size.to_i > 4 ? 'true' : 'false'}" }
        - if @show_deals&.size.to_i > 0
          = render partial: 'admin/deals/mobile/kanban_item', collection: @show_deals, as: :deal
        - else
          .card.mb-2.ml-1.mr-1.mt-1.p-3
            %p
              Không có kết quả ở trạng thái này, anh/chị chọn trạng thái khác để xem

= render 'new_deal'