- content_for :content_body do
  #modal-edit{'data-id': @deal.id, 'data-state': @deal.state}
    #deal-form-header
      = render "admin/deals/mobile/form_deal_header"
    .card.tms-card.shadow-none.rounded-0.p-3.boder-top-container.m-0#mobile-layout
      #deal-state-form
        = render "admin/deals/mobile/form_deal_state"
    .card.tms-card.shadow-none.rounded-0.p-3.boder-top-container.m-0
      .row.mb-3
        .col-6
          .dropdown.tms-card
            %button.btn.btn-reti-primary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
              Thông tin chung
            .dropdown-menu.dropdown-deal-mobile{"aria-labelledby": "dropdown_user"}
              %form.form-dropdown-deal-mobile
              .menuItems.custom-list-state.deal-info-tabs
                %input.dropdown-item{type: "button", value: "Thông tin chung", "data-toggle": "tab", href: "#general-info", role: "tab"}
                %input.dropdown-item{type: "button", value: "Chân dung khách hàng", "data-toggle": "tab", href: "#customer-portrait", role: "tab"}
                %input.dropdown-item{type: "button", value: "Lịch hẹn", "data-toggle": "tab", href: "#appointment", role: "tab"}
              .dropdown-header.dropdown_empty{style: "display:none;"} No entry found
      #deal-detail-form
        = render 'admin/deals/mobile/form_deal_detail'
      .d-none
        = render 'new_customer'
      .d-none
        = render 'transfer_histories'
