- content_for :content_header do
  %nav.navbar.navbar-expand.navbar-white.navbar-light.d-flex.justify-content-between
    %div.deal-form-title Quản lý giao dịch

- content_for :content_body do
  .row
    .col-12
      .tms-card.form-search-filter-sidebar
        = form_with url: admin_deals_path, method: :get, local: true, class: 'mw-100 navbar-search kanban-search-group' do |f|
          .d-flex
            = f.text_field :query, value: params[:query], id: 'deal-search', class: 'form-control typeahead search-deal-mobile m-0 w-100', type: 'search', placeholder: 'Nhập từ khóa tìm kiếm'
            .ml-2
              %button.btn.btn-show-filter.btn-reti-primary{type: "button", style: 'position: relative;'}
                %a.nav-link{role: "button", style: 'padding: 2px !important'}
                  = image_tag 'filter.svg'
                  .border-50{style: "#{'display: block' if params && (params[:project] || params[:product_type] || params[:purchase_purpose])}"}
                    %i.fas.fa-check.fa-sm{style: 'color: #3ac5c9; font-size: 6px !important; position: absolute;right: 1px; top: 2px;'}
              .sidebar-filter-deal-mobile.elevation-4
                .sidebar-filter
                  .sidebar-filter-header
                    .d-flex
                      .icon-back-header
                        %i.fas.fa-times.fa-lg
                      %h5.filter-header Bộ lọc
                  .sidebar-filter-body
                    .shadow-filter-body
                    -#.dropdown.tms-card
                    -#  %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    -#    Người chăm sóc
                    -#  .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                    -#    %form.form-dropdown-deal-mobile
                    -#      %input.form-control.search.border-left-0.border-right-0.br-0{:autofocus => "autofocus", :placeholder => "Tìm kiếm", :type => "search", style: 'border-color: #7ED9DE'}/
                    -#    .menuItems.custom-list-state{style: 'overflow: hidden'}
                    -#      %label.container.sidebar-filter-checkbox.mb-0
                    -#        = current_user.full_name
                    -#        %input.dropdown-item{:type => "checkbox", id: "assignee_0", name: 'assignee', value: current_user.id}
                    -#        %span.checkmark
                    -#        -current_user.members.each_with_index do |member, index|
                    -#          %label.container.sidebar-filter-checkbox.mb-0
                    -#            = member.values.second
                    -#            %input.dropdown-item{:type => "checkbox", id: "assignee_#{index}", name: 'assignee', value: member.id}
                    -#            %span.checkmark
                    .dropdown.tms-card
                      %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:project]}"}
                        %span= params[:project] ? "Dự án (#{params[:project].size})" : 'Dự án'
                      .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                        %form.form-dropdown-deal-mobile
                          %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                        .menuItems.custom-list-state
                          - @projects.each_with_index do |project, index|
                            %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:project] && params[:project].include?(project.values.first.to_s)}"}
                              = project.values.second
                              %input.dropdown-item{type: "checkbox", id: "project_#{index}", name: 'project[]', value: project.values.first, checked: params[:project] && params[:project].include?(project.values.first.to_s)}
                              %span.checkmark
                    .dropdown.tms-card
                      %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:product_type]}"}
                        %span= params[:product_type] ? "Loại hình sản phẩm (#{params[:product_type].size})" : 'Loại hình sản phẩm'
                      .dropdown-menu{"aria-labelledby" => "dropdown_user"}
                        %form.form-dropdown-deal-mobile
                          %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                        .menuItems.custom-list-state
                          - Constant::PROJECT_REAL_ESTATE_TYPE.each do |key, value|
                            %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:product_type] && params[:product_type].include?(key.to_s)}"}
                              = value
                              %input.dropdown-item{type: "checkbox", id: "product-type_#{key}", name: 'product_type[]', value: key, checked: params[:product_type] && params[:product_type].include?(key.to_s)}
                              %span.checkmark
                    .dropdown.tms-card
                      %button.btn.btn-filter.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", style: "#{'background-color: #56C5D0; color: #FFFFFF' if params[:purchase_purpose]}"}
                        %span= params[:purchase_purpose] ? "Mục đích mua (#{params[:purchase_purpose].size})" : 'Mục đích mua'
                      .dropdown-menu.mb-2{"aria-labelledby" => "dropdown_user"}
                        %form.form-dropdown-deal-mobile
                          %input.form-control.search.border-left-0.border-right-0.br-0{autofocus: "autofocus", placeholder: "Tìm kiếm", type: "search", style: 'border-color: #7ED9DE'}/
                        .menuItems.custom-list-state{style: 'overflow: hidden'}
                          - Constant::PURCHASE_PURPOSE.each do |key, value|
                            %label.container.sidebar-filter-checkbox.mb-0{style: "#{'background-color: #F9F9F9; color: #595959; font-weight: 500' if params[:purchase_purpose] && params[:purchase_purpose].include?(key.to_s)}"}
                              = value
                              %input.dropdown-item{type: "checkbox", id: "purchase-purpose_#{key}", name: 'purchase_purpose[]', value: key, checked: params[:purchase_purpose] && params[:purchase_purpose].include?(key.to_s)}
                              %span.checkmark
                  .sidebar-filter-footer
                    .float-right
                      .btn.btn-canceled-filter.mr-1 Xóa bộ lọc
                      .btn.btn-submit-filter Áp dụng
            .sort-deal-mobile.pl-2
              .dropdown
                %button#dropdown-sort-deal.btn.btn-reti-primary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                  %i.fas.fa-sort-alpha-down
                .dropdown-menu.dropdown-menu-right.dropdown-menu-sort-deal{"aria-labelledby": "dropdown-sort-deal"}
                  .dropdown-body.text-left.dropdown-body-sort-deal{style: 'height: auto !important; border-bottom: 1px solid #EBEBEB'}
                    %label.container{class: params[:order_by].blank? || params[:order_by] == 'none' ? 'disabled' : ''}
                      Sắp xếp từ a > z
                      %input{name: "sort", value: "ASC", checked: !params[:order_by] || params[:order_by] == 'none' || params[:sort] == 'ASC', type: "radio", disabled: params[:order_by].blank? || params[:order_by] == 'none'}
                      %span.checkmark
                    %label.container{class: params[:order_by].blank? || params[:order_by] == 'none' ? 'disabled' : ''}
                      Sắp xếp từ z > a
                      %input{name: "sort", value: "DESC", checked: params[:order_by] && params[:sort] == 'DESC', type: "radio", disabled: params[:order_by].blank? || params[:order_by] == 'none'}
                      %span.checkmark
                  .dropdown-menu-header.dropdown-header-sort-deal
                    %a.dropdown-item{href: "javascript:0"} Tiêu chí sắp xếp
                  .dropdown-body.text-left.dropdown-body-sort-deal
                    %label.container
                      Mặc định
                      %input{checked: params[:order_by].blank?, name: "order_by", type: "radio", value: "none"}
                      %span.checkmark
                    %label.container
                      Ngày tạo
                      %input{checked: params[:order_by] == 'created_at', name: "order_by", type: "radio", value: "created_at"}
                      %span.checkmark
                    %label.container
                      Ngày cập nhật
                      %input{checked: params[:order_by] == 'updated_at', name: "order_by", type: "radio", value: "updated_at"}
                      %span.checkmark
                    %label.container
                      Nguồn
                      %input{checked: params[:order_by] == 'source', name: "order_by", type: "radio", value: "source"}
                      %span.checkmark
                    %label.container
                      Dự án
                      %input{checked: params[:order_by] == 'project_id', name: "order_by", type: "radio", value: "project_id"}
                      %span.checkmark
                    %label.container
                      Mục đích mua
                      %input{checked: params[:order_by] == 'purchase_purpose', name: "order_by", type: "radio", value: "purchase_purpose"}
                      %span.checkmark
                    %label.container
                      Loại hình sản phẩm
                      %input{checked: params[:order_by] == 'product_type', name: "order_by", type: "radio", value: "product_type"}
                      %span.checkmark
                  .btn.btn-check.btn-sort-deal-mobile
                    %i.fas.fa-check{style: 'color: #3ac5c9'}
                  .btn.btn-canceled.btn-sort-deal-mobile
                    %i.fas.fa-lg.fa-times{style: 'font-size: 1.1em !important'}
  #kanban-list
    = render 'admin/deals/mobile/kanban'