- content_for :content_header do
  %nav.navbar.navbar-expand.navbar-white.navbar-light.d-flex.justify-content-between
    %div.deal-form-title Tạo mới giao dịch
- content_for :content_body do
  #modal-edit{'data-id': @deal.id, 'data-state': @deal.state}
    .card.tms-card.shadow-none.rounded-0.p-3.boder-top-container.m-0
      .row.mb-3
        .col-6
          .dropdown.tms-card
            %button.btn.btn-reti-primary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
              Thông tin chung
      #deal-detail-form
        .tab-content
          #general-info.tab-pane{"aria-labelledby" => "general-info-tab", role: "tabpanel", class: "#{params[:form].blank? || params[:form] == 'general' ? 'active' : ''}"}
            #general-info-content
              = form_with model: [:admin, @deal], local: true do |f|
                = f.hidden_field :lock_version
                = hidden_field_tag :form_id, :deal_detail, id: 'deal-detail-form-id'
                = hidden_field_tag :contact_status_changed
                = hidden_field_tag :drag_state_changed, @drag_state_changed
                = hidden_field_tag :deal_update_comm, @deal_update_comm
                = hidden_field_tag :current_deal_id, @deal&.id
                = hidden_field_tag :form, :general
                = hidden_field_tag :is_mobile, browser.device.mobile?
                .row.mb-3.form-group
                  .col-12.deal-info-label
                    = f.label :suggestive_name, 'Tên gợi nhớ'
                  .col-12
                    = f.text_field :suggestive_name, value: f.object.suggestive_name, class: 'form-control', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật'
                .row.mb-2
                  .col-7.font-weight-500
                    Thông tin chính
                  .col-5.text-right
                    %a.a-collapse.font-size-14{"aria-controls": "mainInfo", "aria-expanded": "false", "data-toggle": "collapse", href: "#mainInfo", role: "button"}
                      Ẩn bớt
                      %i.tms.tms-up-mobile.ml-1
                #mainInfo.collapse.show
                  .project-select-group{class: "#{'input-hidden' if @deal.is_external_project}"}
                    .row.mb-3.form-group
                      .col-12.deal-info-label
                        = f.label :project_id, 'Dự án quan tâm', class: 'label-required'
                      .col-12
                        = f.select :project_id, options_for_select(@projects, f.object.project_id), {include_blank:  'Vui lòng chọn'}, { class: 'form-control tms-select2 select2-deal-project', data: {'select-child-target': ['deal_product_id']}, 'data-placeholder': 'Vui lòng chọn' }
                        - f.object.errors.messages[:project_id].each do |error|
                          %span.invalid-feedback.custom-validation= error
                    .row.mb-3.form-group
                      .col-12.deal-info-label
                        = f.label :product_id, 'Mã sản phẩm', class: f.object.label_required('product_id')
                      .col-12
                        = f.select :product_id, options_for_select([[f.object.product&.code, f.object.product&.id]], f.object.product&.id), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-deal-product', 'data-placeholder': 'Vui lòng chọn' }
                        - f.object.errors.messages[:product_id].each do |error|
                          %span.invalid-feedback.custom-validation= error
                  - unless Deal.find_by(id: @deal.id)&.project_id
                    .row.mb-3.form-group
                      .col-12
                        = f.check_box :is_external_project, checked: @deal.is_external_project, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                        = f.label :is_external_project, 'Khách quan tâm dự án ngoài', class: "margin-right-5"
                      .col-12
                        = f.text_field :external_project, value: @deal.external_project, class: "form-control #{'input-hidden' unless @deal.is_external_project}", placeholder: 'Vui lòng nhập dự án quan tâm'
                        - f.object.errors.messages[:external_project].each do |error|
                          %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :customer_id, 'Khách hàng', class: 'label-required'
                    .col-12
                      = f.select :customer_id, options_for_select([[f.object.customer&.name, f.object.customer&.id]], f.object.customer&.id), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-deal-customer', id: 'deal_customer', 'data-placeholder': 'Vui lòng chọn' }
                      - f.object.errors.messages[:customer_id].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :phone_number, 'Số điện thoại'
                    .col-12
                      = f.text_field :phone_number, value: f.object&.customer&.phone_number, class: 'form-control deal-phone-number', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: true
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :gender, 'Giới tính'
                    .col-12
                      = f.text_field :gender, value: "#{Constant::CUSTOMER_GENDER[@deal.customer_persona&.gender] if @deal.customer_persona&.gender.present?}", class: 'form-control', placeholder: 'Chưa cập nhật', disabled: true
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :interaction_detail, 'Nội dung tương tác', class: f.object.label_required('interaction_detail')
                    .col-12
                      = f.collection_check_boxes :interaction_detail, Constant::INTERACTION_CHECKLIST, :first, :last do |cb|
                        = cb.label(class: "form-group col-12 p-0 #{Constant::INTERACTION_CHECKLIST.size == (cb.value + 1) ? 'mb-0' : ''}") do
                          = cb.check_box class: 'tms-icheck interaction-detail', data: {skin: 'square', color: 'blue'}
                          = cb.text
                      - f.object.errors.messages[:interaction_detail].each do |error|
                        %span.invalid-feedback.custom-validation= error
                .row.mb-2
                  .col-7.font-weight-500
                    Chi tiết nhu cầu khách hàng
                  .col-5.text-right
                    %a.a-collapse.font-size-14{"aria-controls": "additionalInfo", "aria-expanded": "true", "data-toggle": "collapse", href: "#additionalInfo", role: "button"}
                      Ẩn bớt
                      %i.tms.tms-down-mobile.ml-1
                #additionalInfo.collapse.show
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :product_type, 'Loại hình sản phẩm', class: f.object.label_required('product_type')
                    .col-12
                      = f.select :product_type, options_for_select([[Constant::PROJECT_REAL_ESTATE_TYPE[@deal.product_type], @deal.product_type]], @deal.product_type), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-product-type', 'data-placeholder': 'Vui lòng chọn' }
                      - f.object.errors.messages[:product_type].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :product_type_detail, 'Chi tiết loại hình', class: f.object.label_required('product_type_detail')
                    .col-12
                      = f.text_area :product_type_detail, class: 'form-control', placeholder: 'Ví dụ: 2PN , 3PN + 2WC, Biệt thự đơn lập, Biệt thự tứ lập,...', rows: 3
                      - f.object.errors.messages[:product_type_detail].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :price_range, 'Khoảng giá', class: f.object.label_required('price_range')
                    .col-12
                      = f.select :price_range, options_for_select(Constant::DEAL_PRICE_RANGE.invert, @deal.price_range), {include_blank: 'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn' }
                      - f.object.errors.messages[:price_range].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :acreage_range, 'Diện tích sản phẩm', class: f.object.label_required('acreage_range')
                    .col-12
                      = f.select :acreage_range, options_for_select(Constant::DEAL_ACREAGE_RANGE.invert, @deal.acreage_range), {include_blank: 'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn' }
                      - f.object.errors.messages[:acreage_range].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :interested_product, 'Căn đang quan tâm', class: f.object.label_required('interested_product')
                    .col-12
                      = f.text_field :interested_product, class: 'form-control', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật'
                      - f.object.errors.messages[:interested_product].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :purchase_purpose, 'Mục đích mua', class: f.object.label_required('purchase_purpose')
                    .col-12
                      = f.select :purchase_purpose, options_for_select(Constant::PURCHASE_PURPOSE.invert, f.object.purchase_purpose), {include_blank:  'Vui lòng chọn'}, { class: 'tms-select2', 'data-placeholder': 'Vui lòng chọn' }
                      - f.object.errors.messages[:purchase_purpose].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  - selection_criteria_option = Constant::PRODUCT_SELECTION_CRITERIA[@deal.product_type].present? ? Constant::PRODUCT_SELECTION_CRITERIA[@deal.product_type].invert : []
                  .row.mb-3.form-group.group-product-selection-criteria{class: selection_criteria_option == [] ? 'd-none' : ''}
                    .col-12.deal-info-label
                      = f.label :product_selection_criteria, 'Tiêu chí chọn sản phẩm', class: f.object.label_required('product_selection_criteria')
                    .col-12
                      = f.select :product_selection_criteria, options_for_select(selection_criteria_option, @deal.product_selection_criteria), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-product-selection-criteria', 'data-placeholder': 'Vui lòng chọn', multiple: true }
                      - f.object.errors.messages[:product_selection_criteria].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :door_direction, 'Hướng cửa', class: f.object.label_required('door_direction')
                    .col-12
                      = f.select :door_direction, options_for_select(Reti::Product::DIRECTIONS.invert, f.object.door_direction), {prompt:  'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn', multiple: true }
                      - f.object.errors.messages[:door_direction].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :balcony_direction, 'Hướng ban công', class: f.object.label_required('balcony_direction')
                    .col-12
                      = f.select :balcony_direction, options_for_select(Reti::Product::DIRECTIONS.invert, f.object.balcony_direction), {prompt:  'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn', multiple: true }
                      - f.object.errors.messages[:balcony_direction].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :trouble_problem_list, 'Vấn đề vướng mắc', class: f.object.label_required('trouble_problem_list')
                    .col-12
                      = f.select :trouble_problem_list, options_for_select(Constant::PROBLEMS.invert, f.object.trouble_problem_list), {include_blank: 'Vui lòng chọn'}, { class: 'form-control select2-deal-trouble-problem-list', multiple: true }
                      - f.object.errors.messages[:trouble_problem_list].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group.trouble-problem-group{class: "#{'input-hidden' unless Constant::PROBLEMS.values_at(*@deal.trouble_problem_list).include?('Khác')}"}
                    .col-12.deal-info-label
                      = f.label :trouble_problem, 'Chi tiết vướng mắc', class: f.object.label_required('trouble_problem')
                    .col-12
                      = f.text_area :trouble_problem, class: 'form-control h-38', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', autofocus: true
                      - f.object.errors.messages[:trouble_problem].each do |error|
                        %span.invalid-feedback.custom-validation= error
                  .row.mb-3.form-group
                    .col-12.deal-info-label
                      = f.label :demand_for_advances, 'Nhu cầu vay', class: f.object.label_required('demand_for_advances')
                    .col-12
                      = f.text_area :demand_for_advances, class: 'form-control', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', rows: 3
                      - f.object.errors.messages[:demand_for_advances].each do |error|
                        %span.invalid-feedback.custom-validation= error

                .action-save
                  .text-save Lưu
                  %button.btn.btn-deal-save{name: 'save', value: 'save'}
                    %i.tms.tms-save   
      .d-none
        = render 'new_customer'
