.exclusive
  = form_with model: [:admin, @project, company_revenue], class: 'edit-exclusive-revenue-form' do |f|
    = f.hidden_field :pseudo_id, value: company_revenue.id || company_revenue.pseudo_id, id: rand(1000)
    = f.hidden_field :objectable_id, value: @project.id, id: rand(1000)
    = f.hidden_field :objectable_type, value: 'Project', id: rand(1000)
    .row
      .col-3
        .form-group
          = f.label :real_estate_type, 'Loại hình'
          = f.select :real_estate_type, options_for_select(@real_estate_types, f.object.real_estate_type), {include_blank:  true}, { class: "tms-select2 form-control", disabled: f.object.errors.size == 0, id: '' }
          - f.object.errors.messages[:real_estate_type].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-3
        .form-group
          = f.label :percentage, 'Doanh thu (%)'
          = f.number_field :percentage, class: 'form-control', step: 0.001, min: 0, max: 100, disabled: f.object.errors.size == 0, id: rand(1000), placeholder: "Nhập giá trị"
          - f.object.errors.messages[:percentage].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-4
        .form-group
          = f.label :apply_period, 'Thời gian áp dụng'
          - company_revenue_date = (company_revenue.start_date.blank? || company_revenue.end_date.blank?) ? '' : "#{company_revenue&.start_date&.strftime('%d/%m/%Y')} - #{company_revenue&.end_date&.strftime('%d/%m/%Y')}"
          = f.text_field :apply_period, value: company_revenue_date, class: 'form-control apply-period', disabled: f.object.errors.size == 0, id: rand(1000), placeholder: "dd/mm/yyyy - dd/mm/yyyy"
          - f.object.errors.messages[:apply_period].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-2{style: 'margin-top: 32px'}
        %button.btn.btn-outline-primary.edit-revenue{type: 'button', class: f.object.errors.size == 0 ? '' : 'd-none'}
          %i.fas.fa-pencil-alt
        %a.btn.btn-outline-danger.delete-revenue{class: f.object.errors.size == 0 ? '' : 'd-none', href: admin_project_company_revenue_path(@project, company_revenue), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?', remote: 'true'} }
          %i.fas.fa-trash
        %button.btn.btn-outline-primary{type: 'submit', class: f.object.errors.size == 0 ? 'd-none' : '' }
          %i.fas.fa-save
        %button.btn.btn-outline-danger.cancel-edit-revenue{type: 'button', class: f.object.errors.size == 0 ? 'd-none' : ''}
          %i.fas.fa-times