.exception
  = form_with model: [:admin, @project, company_revenue], class: 'edit-exception-revenue-form' do |f|
    = f.hidden_field :pseudo_id, value: company_revenue.id || company_revenue.pseudo_id, id: rand(1000)
    = f.hidden_field :objectable_type, value: 'Product', id: rand(1000)
    .row
      .col-3
        .form-group
          = f.label :objectable_id, 'Mã sản phẩm'
          = f.select :objectable_id, options_for_select(exception_products.map { |p| [p.code, p.id] }, f.object.objectable_id), {include_blank: true}, { class: 'tms-select2 form-control', disabled: f.object.errors.size == 0, id: '' }
          - f.object.errors.messages[:objectable_id].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-3
        .form-group
          = f.label :percentage, 'Doanh thu (%)'
          = f.number_field :percentage, class: 'form-control', step: 0.001, min: 0, max: 100, disabled: f.object.errors.size == 0, id: rand(1000), placeholder: "Nhập giá trị"
          - f.object.errors.messages[:percentage].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-2{style: 'margin-top: 32px'}
        %button.btn.btn-outline-primary.edit-revenue{type: 'button', class: f.object.errors.size == 0 ? '' : 'd-none'}
          %i.fas.fa-pencil-alt
        %a.btn.btn-outline-danger.delete-revenue{class: f.object.errors.size == 0 ? '' : 'd-none', href: admin_project_company_revenue_path(@project, company_revenue), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?', remote: 'true'} }
          %i.fas.fa-trash
        %button.btn.btn-outline-primary{type: 'submit', class: f.object.errors.size == 0 ? 'd-none' : ''}
          %i.fas.fa-save
        %button.btn.btn-outline-danger.cancel-edit-revenue{type: 'button', class: f.object.errors.size == 0 ? 'd-none' : ''}
          %i.fas.fa-times