- if @company_revenue.objectable_type == 'Project'
  - if @company_revenue.valid?
    $('input[value="#{@company_revenue.pseudo_id}"]').closest('.exclusive').replaceWith("#{ j render partial: 'admin/company_revenues/edit_exclusive_revenue', locals: { company_revenue: @company_revenue, real_estate_types: @real_estate_types } }");
  - else
    $('input[value="#{@company_revenue.pseudo_id}"]').closest('.exclusive').replaceWith("#{ j render partial: 'admin/company_revenues/new_exclusive_revenue', locals: { company_revenue: @company_revenue, real_estate_types: @real_estate_types } }");
- else
  - if @company_revenue.valid?
    $('input[value="#{@company_revenue.pseudo_id}"]').closest('.exception').replaceWith("#{ j render partial: 'admin/company_revenues/edit_exception_revenue', locals: { company_revenue: @company_revenue, exception_products: @exception_products } }");
  - else
    $('input[value="#{@company_revenue.pseudo_id}"]').closest('.exception').replaceWith("#{ j render partial: 'admin/company_revenues/new_exception_revenue', locals: { company_revenue: @company_revenue, exception_products: @exception_products } }");
:plain
  $('.tms-select2').select2({
    theme: 'bootstrap',
    language: 'vi',
    placeholder: 'Vui lòng chọn'
  });

  $(".apply-period").daterangepicker({
    autoUpdateInput: false,
    opens: 'right',
    minYear: 2019,
    maxYear: 2119,
    drops: "auto",
    locale: {
      format: 'DD/MM/YYYY'
    }
  }).on('apply.daterangepicker', function (ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  });