- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Cơ chế doanh thu
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Bảng hàng', admin_project_products_path(@project, level: 0), class: 'nav-link'
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'      
      %li.nav-tab-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "project-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab"} Cơ chế doanh thu
      %li.nav-tab-item
        = link_to 'Quy tắc lock căn', lock_rules_admin_project_path(@project), class: 'nav-link'
  .row 
    .col
      .card.tms-card
        .card-body
          .tms-field-group
            .tms-field-group-header
              %span{style: 'color: #333333'} Cơ chế mặc định
            #exclusive-revenues
            - @exclusive_revenues.each do |revenue|
              = render partial: 'admin/company_revenues/edit_exclusive_revenue', locals: {company_revenue: revenue, real_estate_types: @real_estate_types}
            %button.btn.btn-reti-primary{type: "button", id: 'add-exclusive-revenue-btn', 'data-project-id': @project.id,}
              %i.fas.fa-plus
              Thêm cơ chế
      .card.tms-card
        .card-body 
          .tms-field-group
            .tms-field-group-header
              %span{style: 'color: #333333'} Cơ chế ngoại lệ
            #exception-revenues
            - @exception_revenues.each do |revenue|
              = render partial: 'admin/company_revenues/edit_exception_revenue', locals: {company_revenue: revenue, exception_products: @exception_products}
            %button.btn.btn-reti-primary{type: "button", id: 'add-exception-revenue-btn', 'data-project-id': @project.id}
              %i.fas.fa-plus
              Thêm cơ chế
