.row
  .col
    - if current_user.super_admin?
      .card.tms-card
        .card-header
          %h3.card-title Import Giao dịch
        .card-body
          = form_with url: admin_deal_imports_path, model: @deal_import, local: true do |f|
            = f.file_field :file
            - f.object.errors.messages[:file].each do |file_error|
              %span.invalid-feedback.custom-validation= file_error
            #progress-bar
              %div
            .form-group.input-group.btn-zone
              = f.submit "Import", class: 'btn btn-primary', onclick: "showImporting(true)"
