#history-interactions
  - if history_interaction_group.present?
    .row
      .col-12
        .author-name.mt-5.m-1
          .name.font-weight-bold.font-size-16
            Lịch sử tương tác
  - history_interaction_group.each do |history_interactions|
    %li.font-weight-bold.mb-2.mt-3{id: "history-interaction-#{history_interactions.first}"}= history_interactions.first
    - history_interactions.second.each do |history_interaction|
      = render 'admin/history_interactions/history_interaction_fields', {o: history_interaction, deal: deal}
