.nested-fields{class: "history-interaction-#{o.id || o.pseudo_id}"}
  = form_with model: [:admin, deal, o], class: 'edit-history-interaction', local: true do |f|
    = f.hidden_field :pseudo_id, value: o.id || o.pseudo_id, id: "pseudo-id-#{rand(1000)}"
    .row.group-form.mx-0.mt-3.rounded{ class: (f.object.id.present? && f.object.errors.empty?) || f.object.canceled ? 'd-none' : ''}
      .col-12
        .form-group
          .fields
            = f.text_field :created_by_id, hidden: true, value: current_user.id, id: "user-#{f.object.id}"
            .row.content-time
              .col-6
                .form-group
                  = f.label :interaction_type, 'Hình thức tương tác', class: 'detail-item-heading-sub label-required'
                  = f.select :interaction_type, options_for_select([["Telesale", 0], ["Trực tiếp", 1]], f.object.interaction_type), {include_blank: true}, { class: 'tms-select2 form-control', id: '' }
                  - f.object.errors.messages[:interaction_type].each do |error|
                    %span.invalid-feedback.custom-validation= error
              .col-6
                .form-group
                  = f.label :interaction_date, 'Ngày tương tác', class: 'detail-item-heading-sub label-required'
                  .input-group.history-interaction-datepicker.border-0
                    = f.text_field :interaction_date, value: f.object.interaction_date.present? ? f.object.interaction_date&.strftime('%d/%m/%Y - %H:%M') : DateTime.now.strftime('%d/%m/%Y - %H:%M'), class: 'form-control', autocomplete: "off", id: "interaction_date-#{f.object.id}"
                    %span
                      %i.tms.tms-calendar
                  - f.object.errors.messages[:interaction_date].each do |error|
                    %span.invalid-feedback.custom-validation= error
              .col-12
                .form-group
                  = f.label :interaction_content, 'Nội dung tương tác', class: 'detail-item-heading-sub label-required'
                  = f.text_area :interaction_content, class: 'form-control', id: "interaction_content-#{f.object.id}"
                  - f.object.errors.messages[:interaction_content].each do |error|
                    %span.invalid-feedback.custom-validation= error
              .col-12
                .form-group.nested-btn-group
                  %button.btn.btn-kanban-danger.btn-save-nested.mr-2.pr-3{type: 'submit'}
                    %i.tms.tms-save-small
                    Lưu lại
                  %button.btn.btn-outline-danger.btn-destroy-nested{type: 'button', 'data-destroy': f.object.id.nil? ? 'remove' : 'cancel'}
                    Hủy
    .row.group-show.mb-2.ml-2.mr-2{ class: f.object.id.nil? || f.object.errors.present? ? 'd-none' : ''}
      .col-12
        .content.pl-3.pt-3.pb-3.pr-0.shadow-none.history-interaction
          %table
            %tr
              %td
                .history-interaction-title= "#{f.object&.author&.full_name}:"
              %td
                %button{type: 'button', class: 'btn-edit', style: 'top: 16px; right: 16px' }
                  %i.fa.fa-pen
            %tr
              %td{style: 'width: 150px;'}
                .history-interaction-label Hình thức tương tác:
              %td.pl-2
                = f.object&.get_interaction_type
            %tr
              %td{style: 'width: 150px; vertical-align: top'}
                .history-interaction-label Nội dung:
              %td.pl-2
                = f.object&.interaction_content
            %tr
              %td{style: 'width: 150px; vertical-align: top'}
                .history-interaction-label Thời gian:
              %td.pl-2
                = f.object&.interaction_date&.strftime('%H:%M')
:javascript
  $(document).on('turbolinks:load', function() {
    $('.tms-select2').select2({
      theme: 'bootstrap',
      language: 'vi',
      placeholder: 'Vui lòng chọn'
    });

    $('.history-interaction-datepicker').daterangepicker({
      singleDatePicker: true,
      autoUpdateInput: false,
      minYear: 2019,
      maxYear: 2119,
      timePicker: true,
      timePicker24Hour: true,
      locale: {
        format: 'DD/MM/YYYY HH:mm'
      }
    }).on('apply.daterangepicker', function(ev, picker) {
      $(this).find('input').val(picker.startDate.format('DD/MM/YYYY - HH:mm'));
    });
  })
