- if @history_interaction.valid?
  $("#history-interactions").replaceWith("#{ j render 'admin/history_interactions/history_interaction_container', {history_interaction_group: @history_interaction_group, deal: @deal} }");
- else
  $(".history-interaction-#{@history_interaction.id}").replaceWith("#{ j render 'admin/history_interactions/history_interaction_fields', {o: @history_interaction, deal: @deal} }");
:plain
  $('.tms-select2').select2({
    theme: 'bootstrap',
    language: 'vi',
    placeholder: 'Vui lòng chọn'
  });
  $('.history-interaction-datepicker').daterangepicker({
    singleDatePicker: true,
    autoUpdateInput: false,
    minYear: 2019,
    maxYear: 2119,
    locale: {
      format: 'DD/MM/YYYY'
    }
  }).on('apply.daterangepicker', function(ev, picker) {
    $(this).find('input').val(picker.startDate.format('DD/MM/YYYY'));
  });
