.row
  .col
    = form_with model: [:admin, @role], local: true do |f|
      .row.sticky-scroll
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary= @role.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col-12
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name, 'Tên'
                        = f.text_field :name, class: 'form-control'
                        - f.object.errors.messages[:name].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                  .row
                    .col
                      - Permission::GROUP_MODEL.keys.sort.each do |model_group|
                        .card.tms-card
                          .card-header
                            %h3.card-title
                              = model_group
                            .card-tools
                              %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                                %i.fas.fa-minus
                          .card-body.py-0
                            .tms-field-group
                              .tms-field-group-body
                                - Permission::GROUP_MODEL[model_group].keys.each do |m|
                                  - p = @role.permissions.find {|x| x['name'] == m }
                                  - p = @role.permissions.build(name: m) unless p
                                  = f.fields_for :permissions, p do |permission|
                                    - if m == "Giao dịch" 
                                      - check_all = permission.object.can_create && permission.object.can_edit && permission.object.can_update && permission.object.can_destroy && permission.object.change_state && permission.object.can_assign && permission.object.can_update_price
                                    - elsif m == "Khách hàng" || m == "Thông tin dự án" || m == "Bảng hàng"
                                      - check_all = permission.object.can_create && permission.object.can_edit && permission.object.can_update && permission.object.can_destroy && permission.object.can_import
                                    - elsif m == "Phiếu lock căn"
                                      - check_all = permission.object.can_create && permission.object.can_edit && permission.object.can_update
                                    - else
                                      - check_all = permission.object.can_create && permission.object.can_edit && permission.object.can_update && permission.object.can_destroy
                                    .row.border-bottom.pt-3
                                      .col-2.py-2
                                        %b.py-2
                                          = m
                                        = permission.hidden_field :name, value: m
                                      .col-10
                                        .row
                                          .col-2
                                            .py-2
                                              
                                          .col-10
                                            .d-flex.overflow-auto.pb-3.scrollbar-default.permission-group
                                              - unless m == "Hoa hồng"
                                                .d-flex.flex-column
                                                  .text.p-2{style: "width: 130px"}
                                                    Chọn tất cả
                                                  .checkbox-input.p-2
                                                    %input.tms-icheck.check-all{name: "check_all", type: "checkbox", checked: check_all, data: {skin: 'square', color: 'blue'}}
                                                .d-flex.flex-column
                                                  .text.p-2{style: "width: 130px"}
                                                    Tạo
                                                  .checkbox-input.p-2
                                                    = permission.check_box :can_create, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                              .d-flex.flex-column{class: "#{"check-commission-policy" if m == "Hoa hồng"}"}
                                                .text.p-2{style: "width: 130px"}
                                                  Xem
                                                .checkbox-input.p-2
                                                  = permission.check_box :can_edit, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                              .d-flex.flex-column{class: "#{"check-commission-policy" if m == "Hoa hồng"}"}
                                                .text.p-2{style: "width: 130px"}
                                                  Sửa
                                                .checkbox-input.p-2
                                                  = permission.check_box :can_update, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                              - unless m == "Hoa hồng" || m == "Phiếu lock căn"
                                                .d-flex.flex-column
                                                  .text.p-2{style: "width: 130px"}
                                                    Xoá
                                                  .checkbox-input.p-2
                                                    = permission.check_box :can_destroy, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                                - if m == "Khách hàng" || m == "Thông tin dự án" || m == "Bảng hàng"
                                                  .d-flex.flex-column
                                                    .text.p-2{style: "width: 130px"}
                                                      Import
                                                    .checkbox-input.p-2
                                                      = permission.check_box :can_import, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                                - if m == "Giao dịch" || m == "Cơ chế hoa hồng" || m == "Bảng hàng" || m == "Tài khoản khách hàng" || m == "Đăng ký tư vấn"
                                                  .d-flex.flex-column
                                                    .text.p-2{style: "width: 130px"}
                                                      Đổi trạng thái
                                                    .checkbox-input.p-2
                                                      = permission.check_box :change_state, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                                - if m == "Giao dịch"
                                                  .d-flex.flex-column
                                                    .text.p-2{style: "width: 130px"}
                                                      Phân công
                                                    .checkbox-input.p-2
                                                      = permission.check_box :can_assign, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                                  .d-flex.flex-column
                                                    .text.p-2{style: "width: 130px"}
                                                      Cập nhật GTGD
                                                    .checkbox-input.p-2
                                                      = permission.check_box :can_update_price, class: 'tms-icheck permission-icheck', data: {skin: 'square', color: 'blue'}
                                        - if (model_group == "Khách hàng" && m == Permission::GROUP_MODEL[model_group].keys.last) || (model_group == "Quản lý giao dịch" && m == Permission::GROUP_MODEL[model_group].keys.first)
                                          .row.pt-3
                                            .col-2
                                              .py-2
                                                Phạm vi data
                                            .col-10.d-flex
                                              - Permission::DATA_AREA.each do |data|
                                                .p-2
                                                  %label.tms-container-radio.mr-4
                                                    - case data.last
                                                    - when 0
                                                      - title = 'Người dùng được truy cập vào dữ liệu thuộc quyền sở hữu của họ'
                                                    - when 1
                                                      - title = 'Người dùng được truy cập vào dữ liệu thuộc quyền sở hữu của họ và của những thành viên cấp dưới'
                                                    - when 2
                                                      - title = 'Người dùng được truy cập vào tất cả các dữ liệu có trên TMS mà không phân biệt chủ sở hữu'
                                                    = permission.label :data_area, data.first
                                                    %sup
                                                      %i.fa.fa-info-circle.mr-5.text-reti-primary{'data-toggle': "tooltip", 'data-placement': "top", 'title': title}
                                                    = permission.radio_button :data_area, data.last, class: 'tms-popup-state-select2'
                                                    %span.checkmark
                                        - if model_group == "Quản lý giao dịch" && m == Permission::GROUP_MODEL[model_group].keys.first
                                          .row.pt-3
                                            .col-2
                                              .py-2
                                                Trạng thái hiển thị
                                            .col-10.pb-3
                                              = permission.select :state_area, options_for_select(permission.object.get_deal_state_area, permission.object.state_area), {include_blank: false}, { class: 'permission-state-select2 form-control', multiple: true }
                                        - if model_group == "Hoa hồng" && m == Permission::GROUP_MODEL[model_group].keys.first
                                          .row.pt-3.select-commission-fields
                                            .col-2
                                              .py-2
                                                Các trường được xem
                                            .col-10.pb-3
                                              = permission.select :commission_fields_can_view, options_for_select(permission.object.get_deal_commission_fields, permission.object.commission_fields_can_view), {include_blank: false}, { class: 'permission-commission-fields-select2 form-control', multiple: true, disabled: !(permission.object.can_edit || permission.object.can_update) }
                                          .row.pt-3.select-commission-fields
                                            .col-2
                                              .py-2
                                                Các trường được sửa
                                            .col-10.pb-3
                                              = permission.select :commission_fields_can_edit, options_for_select(permission.object.get_deal_commission_fields, permission.object.commission_fields_can_edit), {include_blank: false}, { class: 'permission-commission-fields-select2 form-control', multiple: true, disabled: !permission.object.can_update }
                                          .row.pt-3.select-commission-fields
                                            .col-2
                                              .py-2
                                                Các trường bắt buộc nhập
                                            .col-10.pb-3
                                              = permission.select :commission_fields_validation, options_for_select(permission.object.get_deal_commission_fields, permission.object.commission_fields_validation), {include_blank: false}, { class: 'permission-commission-fields-select2 form-control', multiple: true, disabled: !permission.object.can_update }