- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Phân quyền

- content_for :content_body do
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên
              %th
          %tbody
            - @roles.each do |role|
              %tr
                %td= role.name
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_role_path(role.id), 'data-toggle': "tooltip", 'data-placement': "top", title:"Chỉnh sửa"}
                    %i.fas.fa-pencil-alt
                  %a.btn.btn-outline-primary{href: new_clone_admin_role_path(role.id), 'data-toggle': "tooltip", 'data-placement': "top", title:"Copy"}
                    %i.fas.fa-clone
                  %a.btn.btn-outline-primary{href: admin_role_path(role.id), 'data-toggle': "tooltip", 'data-placement': "top", title:"Xoá", data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                    %i.fas.fa-trash
      = render partial: 'shared/pagination', locals: { pagy: @pagy }

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_role_path, class: 'btn btn-primary'