.reminder-item.d-flex{'data-id': reminder.id, class: reminder.read_at.blank? ? 'unread' : ''}
  %a{href: "#{reminder.related_url}", target: "_blank"}
    %i.fas.mr-2{class: "#{Constant::ICONS[reminder.tag || 0]}"}
    != reminder.content
    %span.ml-auto.float-right.text-muted.text-sm= format_date reminder.created_at
