- content_for :content_header do
  .col-sm-6
    %h1.m-0.text-dark{style: 'padding-top: 1px'} Lịch làm việc tuần
  .col-sm-6.text-right.font-size-18
    = "Chào #{I18n.t("user.gender.#{current_user.gender}").capitalize}"
    %b.tms-text-danger
      = "#{current_user.full_name}"
    %br
    = "Chúc #{current_user.gender ? I18n.t("user.gender.#{current_user.gender}").capitalize : 'bạn'} có một ngày làm việc hiệu quả!"
- content_for :content_body do
  - if @event_count == 0
    .tms-field-group.text-center
      .tms-field-group-header
        %a{href: admin_deals_path}
          Hôm nay bạn chưa có lịch hẹn, thiết lập lịch hẹn mới ngay!

  .d-flex.justify-content-center
    .label-future-meet.p-2.d-flex.justify-content-start
      .color
      .text.pl-1
        Sắp tới
    .label-meet.p-2.d-flex.justify-content-start
      .color
      .text.pl-1
        Đã gặp
    .label-cancel-meet.p-2.d-flex.justify-content-start
      .color
      .text.pl-1
        Huỷ hẹn
    .label-not-meet.p-2.d-flex.justify-content-start
      .color
      .text.pl-1
        Nhỡ hẹn

  #calendar.event-calendar
  
- content_for :js do
  :javascript
    $(document).on('turbolinks:load', function() {
      let calendarEl = document.getElementById('calendar');
      if (calendarEl) {
        let Calendar = FullCalendar.Calendar;
        let calendar = new Calendar(calendarEl, {
          headerToolbar: false,
          allDaySlot: false,
          height: 'auto',
          initialView: 'timeGridWeek',
          themeSystem: 'bootstrap',
          selectable: false,
          locale: 'vi',
          slotMinTime: '06:00:00',
          slotMaxTime: '23:00:00',
          slotLabelFormat: {
                              hour: 'numeric',
                              minute: '2-digit',
                              omitZeroMinute: false,
                              meridiem: 'short'
                            },
          events: '/calendar/get_events',
          eventClick: function(info) {
            info.jsEvent.preventDefault();
            if (info.event.url) {
              window.open(info.event.url);
            }
          },
          eventContent: function(arg, createElement) {
            return { html: arg.event._def.title }
          },
          firstDay: 1,
          editable  : false,
          droppable : false,
        });
        calendar.render();
      }
    })