.row
  .col
    = form_with model: [:admin, @development], local: true do |f|
      - unless @is_disabled
        .row.sticky-scroll
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary= @development.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row.window-content
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name, 'Tên'
                        = f.text_field :name, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:name].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      .form-group
                        = f.label :description, 'Mô tả thêm'
                        = f.text_area :description, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:description].each do |description_error|
                          %span.invalid-feedback.custom-validation= description_error
                      .tms-field-group
                        .tms-field-group-header
                          %span Logo
                        .tms-field-group-body
                          - if @development.logo.present?
                            = hidden_field :development, :logo, value: @development.logo.identifier, 'data-url': @development.logo.url, 'data-delete-url': destroy_attachment_admin_development_path(@development)
                          .row
                            .col
                              .file-loading
                                = f.file_field :logo, id: 'development-logo-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                - f.object.errors.messages[:logo].each do |logo_error|
                                  %span.invalid-feedback.custom-validation= logo_error