.row.window-content
  .col
    = form_with model: [:admin, popup], url: admin_popup_path(popup.group), local: true, id: "#{popup.position}-submit-form" do |f|
      = f.hidden_field :id, value: popup.id

      %button.d-none.btn-guide-tour-submit Lưu thay đổi
      .row
        .col
          .card.tms-card
            .card-header
              %h3.card-title= "Guide tour #{I18n.t("popup.positions.#{popup.position}")}"
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        .row
                          .col-12
                            = f.label :active do
                              Trạng thái
                          .col-12
                            %label.tms-container-radio.mr-4
                              Hiển thị
                              = f.radio_button :active, true, {class: 'form-control tms-popup-state-select2', 'data-confirm': Popup.find_by(group: :subscribe, position: popup.position)&.active, 'data-page': I18n.t("popup.positions.#{popup.position}"), 'data-minimum-results-for-search': "Infinity", 'data-popup': 'Nhận thông tin bằng Email/SĐT'}
                              %span.checkmark

                            %label.tms-container-radio
                              Ẩn
                              = f.radio_button :active, false, {class: 'form-control tms-popup-state-select2', 'data-confirm': Popup.find_by(group: :subscribe, position: popup.position)&.active, 'data-page': I18n.t("popup.positions.#{popup.position}"), 'data-minimum-results-for-search': "Infinity", 'data-popup': 'Nhận thông tin bằng Email/SĐT'}
                              %span.checkmark

                      .form-group
                        .row
                          .col-2
                            %label List vị trí hiển thị:
                        .step-nested-fields{id: "steps-#{popup.position}"}
                          %button.btn.btn-kanban-danger.btn-add-nested-field.mb-2{type: 'button', 'data-trigger': "#{popup.position}-nested-btn"}
                            %i.fas.fa-plus
                            Thêm mới
                          = f.fields_for :steps do |step|
                            = render 'step_fields', f: step
                          .links.mb-2
                            = link_to_add_association f, :steps do
                              %button.btn.btn-reti-primary{type: 'button', id: "#{popup.position}-nested-btn", style: 'display: none'}
                                %i.fas.fa-plus
                                Thêm mới
