.nested-fields{'data-position': f.object.popup.position}
  .row.group-form
    .col-2
      .form-group
        .fields
          = f.label :name, 'Bước'
          = f.number_field :name, class: 'form-control step'
          - f.object.errors.messages[:name].each do |name_error|
            %span.invalid-feedback.custom-validation= name_error

    .col-9
      .form-group
        .fields
          = f.label :content, 'Nội dung'
          = f.text_area :content, class: "form-control editable-popup"
          - f.object.errors.messages[:content].each do |content_error|
            %span.invalid-feedback.custom-validation= content_error

    .col-1
      = link_to_remove_association f do
        .form-group
          %button.btn.btn-outline-danger{type: 'button', style: 'margin-top: 31px'}
            %i.fas.fa-trash
