.row.window-content
  .col
    = form_with url: admin_popup_path(params[:group]), method: :patch, local: true, id: "submit-form" do |f|
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary Lưu thay đổi
      .row
        .col
          .card.tms-card
            .card-header
              %h3.card-title= "Guide tour "
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    - @popups.each do |popup|
                      .col-9
                        .form-group
                          = I18n.t("popup.positions.#{popup.position}")
                      .col-3
                        .form-group
                          = select_tag "#{popup.id}[active]", options_for_select({'Hiển thị': true, 'Ẩn': false}, popup.active), {include_hidden: false, class: 'form-control tms-popup-state-select2 tms-select2', 'data-confirm': Popup.find_by(group: :guide_tour, position: popup.position)&.active, 'data-page': I18n.t("popup.positions.#{popup.position}"), 'data-minimum-results-for-search': "Infinity", 'data-popup': 'Guide tour'}