- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark= I18n.t("popup.groups.#{params[:group]}")
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_popups_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  - if @popups.present?
    - if params[:group] == 'subscribe'
      = render 'subscribe_form'
    - elsif params[:group] == 'guide_tour'
      .row.sticky-scroll
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary.btn-submit-guide-tour Lưu lại
      .card.tms-card
        %ul.nav.nav-pills.nav-tms{style: "border-bottom: 1px solid rgba(0, 0, 0, 0.1);"}
          %li.nav-item
            %a.nav-link{"aria-controls" => "##{@guide_tour_home.position}", "aria-selected" => "true", "data-toggle" => "pill", id: "#{@guide_tour_home.position}-tab", href: "##{@guide_tour_home.position}", role: "tab", class: "#{@current_tab != @guide_tour_project_detail.position ? 'active' : ''}"}= I18n.t("popup.positions.#{@guide_tour_home.position}")
          %li.nav-item
            %a.nav-link{"aria-controls" => "##{@guide_tour_project_detail.position}", "aria-selected" => "true", "data-toggle" => "pill", id: "#{@guide_tour_project_detail.position}-tab", href: "##{@guide_tour_project_detail.position}", role: "tab", class: "#{@current_tab == @guide_tour_project_detail.position ? 'active' : ''}"}= I18n.t("popup.positions.#{@guide_tour_project_detail.position}")
        .card-body
          .tab-content
            .tab-pane.fade.show{"aria-labelledby" => "#{@guide_tour_home.position}-tab", role: "tabpanel", id: "#{@guide_tour_home.position}", class: "#{@current_tab != @guide_tour_project_detail.position ? 'active' : ''}"}
              = render 'guide_tour_form', popup: @guide_tour_home
            .tab-pane.fade.show{"aria-labelledby" => "#{@guide_tour_project_detail.position}-tab", role: "tabpanel", id: "#{@guide_tour_project_detail.position}", class: "#{@current_tab == @guide_tour_project_detail.position ? 'active' : ''}"}
              = render 'guide_tour_form', popup: @guide_tour_project_detail
