- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Quản lý popup

- content_for :content_body do
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.table-tms.table-bordered
          %thead
            %tr
              %th STT
              %th Tên popup
              %th
          %tbody
            - @popup_groups.each.with_index(1) do |group_name, idx|
              %tr
                %td= idx
                %td= I18n.t("popup.groups.#{group_name}")
                %td.text-left
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_popup_path(group_name)}
                    %i.fas.fa-pencil-alt
