- content_for :content_header do
  .col-sm-10
    %h2.m-0.text-dark Tin tức cập nhật

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-header
          %h3.card-title Import Tin Tức
        .card-body
          = form_with url: import_admin_app_news_index_path, html: {id: "import-news-form"}, local: true do |f|
            #files-field-news.dropzone.fallback
            .form-group.input-group.btn-zone
              = f.submit "Import", class: 'btn btn-primary'