.row
  .col
    = form_with model: [:admin, @deposit], local: true, id: 'edit-deposit' do |f|
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Trạng thái
                .tms-field-group-body
                  .form-group
                    .row
                      .col
                        = f.radio_button :state, @deposit.aasm.current_state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @is_disabled
                        = f.label :state, I18n.t("deposit.states.#{@deposit.aasm.current_state}"), class: 'margin-right-5'
                        - f.object.next_states.each do |state|
                          = f.radio_button :state, state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @is_disabled
                          = f.label :state, I18n.t("deposit.states.#{state}"), class: 'margin-right-5'
                        - f.object.errors.messages[:state].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      - unless @is_disabled
                        .float-right
                          %button#deposit-submit.btn.btn-reti-secondary{type: 'button'}= @deposit.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chung
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Thông tin khách hàng
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name, 'Tên phiếu cọc'
                        = f.text_field :name, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:name].each do |error|
                          %span.invalid-feedback.custom-validation= error
                      .form-group
                        = f.label :customer_id, 'Khách hàng'
                        = f.select :customer_id, options_for_select(@customers, @deposit.customer_id), {include_blank: true}, { class: 'tms-select2 form-control', id: 'customer', disabled: @is_disabled}
                        - f.object.errors.messages[:customer_id].each do |error|
                          %span.invalid-feedback.custom-validation= error

              .tms-field-group
                .tms-field-group-header
                  %span Thông tin khác
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :user_id, 'Sale phụ trách'
                        = f.select :user_id, options_for_select(@users, @deposit.user_id), {include_hidden: false}, { class: 'tms-select2 form-control', id: 'user', disabled: @is_disabled}
                        - f.object.errors.messages[:user_id].each do |error|
                          %span.invalid-feedback.custom-validation= error

                      .form-group
                        = f.label :commission, 'Hoa hồng'
                        = f.text_field :commission, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:commission].each do |error|
                          %span.invalid-feedback.custom-validation= error

                      .form-group
                        = f.label :created_at, 'Ngày tạo phiếu'
                        = f.text_field :created_at, value: format_date(@deposit.created_at), readonly: true, class: 'form-control', disabled: @is_disabled

              .tms-field-group
                .tms-field-group-header
                  %span Ghi chú
                .tms-field-group-body
                  = f.hidden_field :stored_state, value: @stored_state
                  = f.hidden_field :third_holding_reason
                  = f.hidden_field :is_third_holding
                  #notes
                    = f.fields_for :notes do |note|
                      %div.note
                        = render 'note_fields', f: note
                    .links
                      = link_to_add_association f, :notes do
                        %button#add-note.btn.btn-reti-primary{type: 'button', disabled: @is_disabled}
                          %i.fas.fa-plus
                          Thêm ghi chú
                  - f.object.errors.messages[:notes].each do |error|
                    %span.invalid-feedback.custom-validation= error

        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Nội dung phiếu cọc
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :project, 'Dự án'
                        = f.text_field :project, value: @deposit&.project_name, readonly: true, class: 'form-control', disabled: @is_disabled

                      .form-group
                        = f.label :product_code, 'Mã căn hộ'
                        = f.text_field :product_code, readonly: true, class: 'form-control', disabled: @is_disabled

                      .form-group
                        = f.label :area, 'Diện tích (m2)'
                        = f.text_field :area, readonly: true, class: 'form-control', disabled: @is_disabled

                      .form-group
                        = f.label :direction, 'Hướng'
                        = f.text_field :direction, value: Reti::Product::DIRECTIONS[@deposit.direction], readonly: true, class: 'form-control', disabled: @is_disabled

                      .form-group
                        = f.label :price, 'Đơn giá (bao gồm VAT, KPBT)'
                        = f.text_field :price, value: currency(@deposit.price), readonly: true, class: 'form-control', disabled: @is_disabled

                      .form-group
                        = f.label :total_price, 'Tổng GTCH'
                        = f.text_field :total_price, value: currency(@deposit.total_price), readonly: true, class: 'form-control', disabled: @is_disabled

                      .form-group
                        = f.label :deposit, 'Số tiền cọc (VNĐ)'
                        = f.text_field :deposit, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:deposit].each do |error|
                          %span.invalid-feedback.custom-validation= error

                      .form-group
                        = f.label :total_price_after_discount, 'Tổng GTCH trên HĐ'
                        = f.text_field :total_price_after_discount, class: 'form-control', disabled: @is_disabled
                        - f.object.errors.messages[:total_price_after_discount].each do |error|
                          %span.invalid-feedback.custom-validation= error
