- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Phiếu cọc

- content_for :content_body do
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên
              %th Dự án
              %th Sản phẩm
              %th Sale phụ trách
              %th Thời gian chờ
              %th Trạng thái
              %th
          %tbody
            - @deposits.each do |deposit|
              %tr
                %td= deposit.name
                %td= deposit&.project_name
                %td= deposit&.product_code
                %td= deposit.assignee&.full_name
                %td.countdown-timer.right
                  - if deposit.state == 'request_lock'
                    %span{"data-countdown" => "#{countdown_timer(deposit)}", "data-id" => "#{deposit.id}", "data-state" => "#{deposit.state}"}
                %td.state= I18n.t("deposit.states.#{deposit.aasm.current_state}")
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_deposit_path(deposit.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(deposit).destroy?
                    %a.btn.btn-outline-primary{href: admin_deposit_path(deposit.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
      = render partial: 'shared/pagination', locals: { pagy: @pagy }
