.row
  .col
    = form_with model: [:admin, @project, @product], class: 'col form-has-currency', id: 'edit-product-form' do |f|
      %input.d-none{name: 'confirm'}
      = f.hidden_field :level, value: @product&.level == 0 ? 0 : 1
      .row.sticky-scroll
        .col
          .card.tms-card
            .card-body
              .tms-field-group
                .tms-field-group-header
                  %span Trạng thái
                .tms-field-group-body
                  .form-group
                    .row
                      .col-8.d-flex
                        -# = f.radio_button :state, @product.aasm.current_state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @state_is_disable
                        -# = f.label :state, I18n.t("product.states.#{@product.aasm.current_state}"), class: 'margin-right-5'
                        = f.hidden_field :stored_state, value: @stored_state
                        - Product.aasm.states.map(&:name).each do |state|
                          = f.radio_button :state, state, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: @state_is_disable
                          - if @state_is_disable && state.to_s != 'out_of_stock'
                            = f.label :state, I18n.t("product.states.#{state}"), style: 'margin-left: 5px; margin-right: 10px; color: #DCDEE9'
                          - else
                            = f.label :state, I18n.t("product.states.#{state}"), style: 'margin-left: 5px; margin-right: 10px;'
                      .col-4
                        - unless @is_disabled && @state_is_disable
                          .float-right
                            = f.submit @product.new_record? ? 'Lưu' : 'Lưu thay đổi', class: 'btn btn-reti-secondary', id: 'product-submit'
                    - f.object.errors.messages[:state].each do |error|
                      %span.invalid-feedback.custom-validation.mt-0= error
      - if @product&.level == 0
        = render 'high_form', f: f
      - else
        = render 'low_form', f: f

- content_for :js do
  - if @show_confirm
    - list_deal = ''
    - @product.deals.where.not(state: 'canceled').each do |d|
      - list_deal += "giao dịch <strong>#{d.name}</strong> của NVKD <strong>#{d.assignee&.full_name}</strong> sẽ bị xóa"
    :javascript
      function swal_confirm_product_recall() {
        html = "Chuyển đổi trạng thái sản phẩm sang <strong>#{I18n.t("product.states.#{@product.state}")}</strong> đồng nghĩa sản phẩm trong #{list_deal.html_safe}";
        swalWithBootstrapButtons.fire({
          title: 'Xác nhận cập nhật trạng thái',
          html: html,
          showConfirmButton: true,
          showCancelButton: true,
          cancelButtonText: 'Hủy',
          confirmButtonText: 'OK',
          showCloseButton: true,
          allowOutsideClick: false,
          focusConfirm: true,
          showClass: {
            popup: 'swal2-modal-custom',
          }
        }).then((result) => {
          if (result.isConfirmed) {
            $('[name="confirm"]').val('true');
          } else {
            // reload page
            $('[name="confirm"]').val('false');
          }
          $('#product-submit').click();
        })
      }
      swal_confirm_product_recall();
