.table-responsive.p-0
  %table#high-product-table.custom-sorting-table.table.table-hover.table-nowrap.product-sticky-top-0.custom-header-product-table{class: "display nowrap", style: "width:100%"}
    %thead
      %tr
        %th.first-col-stick Ảnh sản phẩm
        %th.second-col-stick Mã sản phẩm
        %th Giỏ hàng
        %th Phân khu
        %th Tòa
        %th Mã căn/Sàn
        %th Loại hình
        %th Loại sản phẩm
        %th Hướng ban công
        %th Đơn giá (Đã bao gồm VAT, KTBT)
        %th Diện tích thông thủy(m2)
        %th Tổng GT (Đã bao gồm VAT, KPBT)
        %th Trạng thái
        %th Nguồn sản phẩm
        %th.last-col-stick
    %tbody
      = render partial: 'high_product_item'