= form_with url: import_admin_project_products_path, html: {id: "import-product-form"}, local: true do |f|
  #files-field.dropzone.fallback
  .form-group.input-group.btn-zone
    = f.submit "Import", class: 'btn btn-primary'