- @products.each do |product|
  %tr
    %td.first-col-stick
      - if product.images.first.present?
        = image_tag(product.images.first.url, class: 'img-thumbnail', style: 'width: 100px')
      - else
        .blank-data Chưa cập nhật
    %td.second-col-stick= product.code
    %td
      - if product.label.present?
        .product-label{class: "#{product.label == 'CĐT' ? 'direction-label-2' : 'direction-label-6'}"}= product.label
      - else 
        .blank-data Chưa cập nhật 
    %td= product.subdivision&.name
    %td= Reti::Product::REAL_ESTATE_TYPES[product.level][product.real_estate_type]
    %td
      %div{class: "#{'blank-data' if product.product_type.blank?}"}= "#{product.product_type.present? ? product.product_type : 'Chưa cập nhật'}"
    %td= currency(product.price)
    %td= currency(product.sum_price)
    %td= acreage(product.plot_area)
    %td
      %div{class: "#{'blank-data' if product.floor_area.blank?}"}= "#{product.floor_area.present? ? acreage(product.floor_area) : 'Chưa cập nhật'}"
    %td
      .product-label{class: "#{product.display_label_state(product.get_state)}"}= product.get_state
    %td= product.source
    %td.text-right.last-col-stick
      %a.btn.btn-outline-primary.btn-edit{href: edit_admin_project_product_path(@project, product.id)}
        %i.fas.fa-pencil-alt
      - if policy(product).destroy?
        %a.btn.btn-outline-primary.remove-product{href: '#', deals: product.get_deals, product_id: product.id}
          %i.fas.fa-trash