.table-responsive.p-0
  %table#low-product-table.custom-sorting-table.table.table-hover.table-nowrap.product-sticky-top-0.custom-header-product-table{class: "display nowrap", style: "width:100%"}
    %thead
      %tr
        %th.first-col-stick Ảnh sản phẩm
        %th.second-col-stick Mã sản phẩm
        %th Giỏ hàng
        %th Phân khu
        %th Loại hình
        %th Loại sản phẩm
        %th Đơn giá (Giá đất + XD)(Đã bao gồm VAT)
        %th Tổng GT (Giá đất + XD) (Đã bao gồm VAT)
        %th Diện tích lô đất(m2)
        %th Diện tích sử dụng (m2)
        %th Trạng thái
        %th Nguồn sản phẩm
        %th.last-col-stick
    %tbody
      = render partial: 'low_product_item'