.row.product-list{ load: "#{@products&.size.to_i > 19 ? 'true' : 'false'}", project_id: @project.id, limit: params[:limit] }
  .col-12
    .card.card-product-tab.mb-2
      %nav
        #nav-tab.nav.nav-tabs{:role => "tablist", style: 'border-bottom: none'}
          %a#nav-high-products-tab.nav-item.nav-link.nav-product-tab{"aria-controls" => "nav-high-products", "aria-selected" => "true", href: admin_project_products_path(level: 0), role: "tab", class: "#{'active' if params[:level].to_i == 0}"} Cao tầng
          %a#nav-low-products-tab.nav-item.nav-link.nav-product-tab{"aria-controls" => "nav-low-products", "aria-selected" => "false", href: admin_project_products_path(level: 1), role: "tab", class: "#{'active' if params[:level].to_i == 1}"} Thấp tầng
    .card.mt-2
      .card-body.pl-0
        = render "filter"
    .card.mt-3
      #nav-tabContent.tab-content
        #nav-high-products.tab-pane.fade{"aria-labelledby" => "nav-high-products-tab", :role => "tabpanel", class: "#{'active show' if params[:level].to_i == 0}"}
          .card-body{style: 'padding-top: 10px !important'}
            = render 'high_level_table'
        #nav-low-products.tab-pane.fade{"aria-labelledby" => "nav-low-products-tab", role: "tabpanel", class: "#{'active show' if params[:level].to_i == 1}"}
          .card-body
            = render 'low_level_table'