-# - if params[:level].to_s == '0'
-#   - if (@high_products.size > 0)
-#     $('#high-level-product-info tbody').html("#{ raw escape_javascript(render partial: 'high_product_item', collection: @high_products, as: :product)}");
-#   - else
-#     $('#high-level-product-info tbody').html("</tr><td>Không có dữ liệu</td></tr>")
-# - if params[:level].to_s == '1'
-#   - if (@low_products.size > 0)
-#     $('#low-level-product-info tbody').html("#{ raw escape_javascript(render partial: 'low_product_item', collection: @low_products, as: :product)}");
-#   - else
-#     $('#low-level-product-info tbody').html("</tr><td>Không có dữ liệu</td></tr>")
-# :plain
-#   $('.high-paginate').html("#{ raw escape_javascript(render partial: 'shared/pagination', locals: { pagy: @high_pagy })}");
-#   $('.low-paginate').html("#{ raw escape_javascript(render partial: 'shared/pagination', locals: { pagy: @low_pagy })}");
-#
-#   if ($('.first-col-stick').length > 0) {
-#     let first_col_stick_width = $('.first-col-stick').outerWidth();
-#     $('.second-col-stick').css('left', first_col_stick_width + 'px');
-#     $('.table-hover tbody tr').each(function () {
-#       $(this).mouseenter(function () {
-#         $(this).find('.first-col-stick, .second-col-stick, .last-col-stick').css('background-color', '#ededed');
-#       }).mouseleave(function () {
-#         $(this).find('.first-col-stick, .second-col-stick, .last-col-stick').css('background-color', 'white');
-#       })
-#     })
-#   }
-#
-#   $('.table-hover tbody tr td').each(function () {
-#     if ($(this).find('a.btn-edit').length == 0) {
-#       $(this).click(function () {
-#         if ($(this).parent().find('.btn-edit').length > 0) {
-#           $(this).parent().find('.btn-edit')[0].click();
-#         }
-#       })
-#     }
-#   })
-#   showLoading(false);