- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa dự án
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card.shadow-none.w-max-content
    %ul.nav.nav-tabs.bd-bottom-none{role: "tablist", style: 'height: 48px'}
      %li.nav-tab-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-tab-item
        %a.nav-link.active{"aria-controls" => "product-info", "aria-selected" => "false", "data-toggle" => "pill", role: "tab"} Bảng hàng
      -#%li.nav-item
      -#  = link_to 'Mặt bằng', admin_project_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-tab-item
        = link_to 'Quy tắc lock căn', lock_rules_admin_project_path(@project), class: 'nav-link'
  .card.tms-card
    .card-body
      .row
        .col-6
          #product-info.tab-pane.fade.show.active{"aria-labelledby" => "product-info-tab", role: "tabpanel", 'data-products-url': admin_project_products_url(@project.id)}
            - if policy(Product).import?
              .card.tms-card.collapsed-card
                .card-header
                  %h3.card-title Tạo từ file excel
                  .card-tools
                    %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                      %i.fas.fa-plus
                .card-body{style: 'display: none;'}
                  %a.btn.btn-success.btn-float-right{href: export_template_admin_project_products_path, target: '_blank'}
                    %i.fa.fa-download
                    Tải file mẫu
                  = render 'import_product_form'
        .col-6
          #product-new.tab-pane.fade.show.active{"aria-labelledby" => "product-new-tab", role: "tabpanel"}
            .card.tms-card.collapsed-card
              .card-header
                %h3.card-title Tạo lẻ sản phẩm
                .card-tools
                  %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                    %i.fas.fa-plus
              .card-body{style: 'display: none;'}
                .row
                  .col-6
                    = link_to 'Cao tầng', new_admin_project_product_path(level: 0), class: 'btn btn-primary float-right', style: 'width: 100%'
                  .col-6
                    = link_to 'Thấp tầng', new_admin_project_product_path(level: 1), class: 'btn btn-primary float-right', style: 'width: 100%'
  .card.tms-card
    .card-body
      .product-container
        = render 'product_container'