- list_deal = ''
- @deals.each do |d|
  - list_deal += "<li class='text-left'><a href=#{edit_admin_deal_path(d)} target='_blank'><strong>#{d.name}</strong></a> - NV <strong>#{d.assignee&.full_name}</strong></li>"
- if @show_confirm
  - html = "Chuyển trạng thái sản phẩm sang <strong>#{I18n.t("product.states.#{@product.state}")}</strong> đồng nghĩa rằng sản phẩm trong các GD sau sẽ bị xóa: <ul>#{list_deal}</ul>"
  :plain
    function swal_confirm_product_recall() {
      swalWithBootstrapButtons.fire({
        title: 'Xác nhận cập nhật trạng thái',
        html: "#{html.html_safe}",
        showConfirmButton: true,
        showCancelButton: true,
        cancelButtonText: 'Hủy',
        confirmButtonText: 'OK',
        showCloseButton: true,
        allowOutsideClick: false,
        focusConfirm: true,
        showClass: {
          popup: 'swal2-modal-custom product-confirm-change-state',
        }
      }).then((result) => {
        if (result.isConfirmed) {
          $('[name="confirm"]').val('true');
          $('#edit-product-form').removeAttr('data-remote').removeData('remote');
          $('#edit-product-form').submit();
        } else {
          $('input[value="#{@product.state_was}"]').iCheck('check');
        }
      })
    }
    swal_confirm_product_recall();
- elsif @check_state
  - html = "Chuyển trạng thái sản phẩm sang <strong>#{I18n.t("product.states.#{@product.state}")}</strong> #{"của các GD: <ul>#{list_deal}</ul>" if @product&.deals.present?}"
  :plain
    swalWithBootstrapButtons.fire({
      title: 'Xác nhận cập nhật trạng thái',
      html: "#{html.html_safe}",
      showConfirmButton: true,
      confirmButtonText: 'Xác nhận',
      showCloseButton: true,
      allowOutsideClick: false,
      focusConfirm: true,
      showClass: {
        popup: 'swal2-modal-custom',
      }
    }).then((result) => {
      if (result.isConfirmed) {
        $('[name="confirm"]').val('true');
        $('#edit-product-form').removeAttr('data-remote').removeData('remote');
        $('#edit-product-form').submit();
      }
    })
- elsif @check_complete_deal
  - html = "Bạn không thể chuyển trạng thái sản phẩm sang <strong>#{I18n.t("product.states.#{@product.state}")}</strong> do ảnh hưởng đến các giao dịch đã hoàn thành"
  :plain
    swalWithBootstrapButtons.fire({
      title: 'Có lỗi xảy ra',
      html: "#{html.html_safe}",
      showConfirmButton: true,
      confirmButtonText: 'Xác nhận',
      showCloseButton: true,
      allowOutsideClick: false,
      focusConfirm: true,
      showClass: {
        popup: 'swal2-modal-custom',
      }
    })
- else
  :plain
    $('[name="confirm"]').val('false');
    $('#edit-product-form').removeAttr('data-remote').removeData('remote').submit();