:plain
  $(".online-feedback-#{@online_feedback.id}" ).replaceWith("#{j render 'admin/deals/online_feedback_fields', {o: @online_feedback, deal: @deal} }");
  $("#online-feedbacks").find('.datetimepicker').datetimepicker({
    format: 'd/m/Y H:i',
    lang: 'vi'
  });
  $("#online-feedbacks").find(".tms-icheck-tab").each(function () {
    let $el = $(this);
    let skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
      color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
    let opt = {
      checkboxClass: 'icheckbox' + skin + color,
      radioClass: 'iradio' + skin + color,
    };
    $el.iCheck(opt);
  });
- if @not_errors
  :plain
    $('#online-feedback').find('.deal_add_fields').removeClass('d-none');