%body.login-page
  .login-box
    .login-logo
      = image_tag 'full_logo.svg'
    .card
      .card-body.login-card-body
        %h5{align: "center", style: "padding-bottom: 6px; padding-top: 3px"} THIẾT LẬP MẬT KHẨU
        = form_with(model: resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.hidden_field :reset_password_token
          .form-group.mb-3
            = f.password_field :password, autofocus: true, required: true, autocomplete: "new-password", class: "form-control", placeholder: "Mật khẩu"
          .form-group.mb-3
            = f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control", placeholder: "Xác nhận mật khẩu"
          .row.mb-3
            .col-12
              %button.btn.btn-primary.btn-block{type: "submit", disabled: true} Xác nhận thay đổi mật khẩu
          .row
            .col-12.text-right
              %a{href: new_user_session_path} Quay trở lại đăng nhập

- content_for :js do
  :javascript
    $('.form-control').on('input', function() {
      let passwordLength = $('#user_password').val().length,
          passwordConfirmLength = $('#user_password_confirmation').val().length;
      if (passwordConfirmLength > 0 && passwordLength > 0 ) {
        $(':button[type="submit"]').prop('disabled', false);
      }
    });

    var password = document.getElementById("user_password");
    var password_confirmation = document.getElementById("user_password_confirmation");

    function Validate() {
      if (password.value.length < 6) {
        password.setCustomValidity("Mật khẩu quá ngắn, mời thử lại!")
      } else
        password.setCustomValidity('');
      if (password.value !== password_confirmation.value) {
        password_confirmation.setCustomValidity("Mật khẩu không khớp, mời thử lại!");
      } else
        password_confirmation.setCustomValidity('');
    }

    password.onchange = Validate;
    password.onkeyup = Validate;
    password_confirmation.onkeyup = Validate;
    password_confirmation.onchange = Validate;
