%body.login-page
  .login-box
    .login-logo
      = image_tag 'full_logo.svg'
    .card
      .card-body.login-card-body
        %h5{align: "center", style: "padding-bottom: 6px; padding-top: 3px"} QUÊN MẬT KHẨU
        = form_with(model: resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .form-group.mb-3
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Vui lòng nhập email'
          .row.mb-3
            .col-12
              %button.btn.btn-primary.btn-block{type: "submit", disabled: true} Gửi yêu cầu xác thực
          .row
            .col-12.text-right
              %a{href: new_user_session_path} Quay trở lại đăng nhập

- content_for :js do
  :javascript
    $('.form-control').on('input', function() {
      let emailLength = $('#user_email').val().length
      if (emailLength > 0) {
        $(':button[type="submit"]').prop('disabled', false);
      }
    });
