%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    :css
      .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -7.5px;
        margin-left: -7.5px;
      }
      .col-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;

        }
      .col-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
      }
      .user-confirmation {
        height: 100%;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        line-height: 24px;
       }
      .user-forgot-pw-information-img {
        display: block;
        margin: 2rem auto;
      }
      .user-forgot-pw-information {
        background: #fbfbfd;
        height: auto;
        border-radius: 16px;
        padding: 16px;
      }
      .user-forgot-pw-information-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        padding: 1rem 0 1rem 0;
        color: #595959;
        display: block;
      }
      .content-successful {
        color: #595959;
      }
      .content-user-information {
        color: #595959 !important;
        margin: 1rem 0;
      }
      .user-forgot-pw {
        text-align: center;
      }
      .user-forgot-pw-title {
        color: #434657;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        font-weight: 500;
      }
      .user-forgot-pw-btn {
        display: inline-block;
        text-decoration: none;
        background: #56C5D0;
        border-radius: 8px;
        color: #FFFFFF !important;
        width: auto;
        height: 24px;
        margin-bottom: 32px;
        padding: 12px 20px
      }
      .user-forgot-pw-text {
        font-weight: bold;
        margin-left: 0
      }
      .text-color {
        color: #595959;
      }
      .slogan {
        font-size: 14px;
        line-height: 24px;
      }
      .text-address {
        width: 100%;
      }
      .contact-link {
        color: #8C8C8C !important;
        text-decoration: none;
      }
      .reminder-title {
        font-family: Roboto;
        color: black;
        font-weight: 700;
        font-style: italic;
      }
      @media (max-width: 430px) {
        .user-confirmation {
          width: 100%
        }
        .user-forgot-pw-information {
          padding: 2rem !important;
        }
        .user-forgot-pw-btn {
          width: 156px;
        }
        .user-forgot-pw-text {
          margin-left: 0
        }
        .text-address {
          width: 85%;
        }
      }
  %body
    %div
      %table.user-confirmation{:align => "center"}
        %tbody
          %tr
            %td
              = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/new-logo.png', class: 'user-forgot-pw-information-img'
          %tr
            %td.user-forgot-pw-information
              %span.user-forgot-pw-information-title RETI kính tặng quý khách voucher
              %div{style: 'height: 1px; background: #F0F0F0; margin-bottom: 1rem'}
              .user-forgot-pw-information-content
                .content-successful
                  %span= "RETI kính tặng quý khách voucher #{@content}. LH 18008085 để biết thêm chi tiết."
          %tr
            %td{style: 'padding: 2rem 0 1rem 1rem'}
              = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/new-logo.png', height: 65
              .contact-link.slogan Smart move, Life changer
              .contact-link
                .row
                  .col-1
                    = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/house.png', alt: '', style: 'margin-right: 0.5rem; margin-top: 2px', width: 20, height: 17
                  .col-11
                    %a.text-address.contact-link{rel: "nofollow"} Tầng 3 Tòa nhà Terra, 83 Hào Nam, Ô Chợ Dừa, Đống Đa, TP Hà Nội
              .contact-link{style: 'margin-top: 0.25rem'}
                %a.contact-link{href: "tel: 1800 8085", style: 'display: flex !important'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/phone.png', alt: '', style: 'margin-right: 0.5rem; margin-top: 2px', width: 21, height: 20
                  %span 1800 8085
              .contact-link{style: 'margin-top: 0.5rem'}
                %a.contact-link{href: "mailto:chamsockhachhang@reti.vn", style: 'display: flex !important'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/message.png', alt: '', style: 'margin-right: 0.5rem; margin-top: 0.25rem', width: 20, height: 16
                  %span chamsockhachhang@reti.vn
              %div{style: 'display: flex !important; margin-top: 0.5rem'}
                %a.contact-link{:href => "https://www.facebook.com/retiproptech/", :target => "_blank", style: 'margin-right: 1rem'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/facebook.png', alt: "facebook", width: 33, height: 34
                %a.contact-link{:href => "https://www.instagram.com/retiproptech/", :target => "_blank", style: 'margin-right: 1rem'}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/instagram.png', alt: "facebook", width: 35, height: 35
                %a.contact-link{:href => "https://www.linkedin.com/company/reti-proptech-real-estate", :target => "_blank"}
                  = image_tag 'https://reti-tms-production.s3.ap-southeast-1.amazonaws.com/mailer/linkedin.png', alt: "facebook", width: 35, height: 35
