%div{style:'font-size: 17px'}
  .table-responsive.p-0
    %table.table.text-nowrap.table-hover
      %thead
        %tr
          %th ID Deal
          %th Status
          %th Detail
      %tbody
        - @unimported_deals.each do |deal|
          %tr
            %td= deal.id
            %td
              %i.fas.fa-times
            %td= deal.errors.messages
        - @imported_deals.each do |deal|
          %tr
            %td= deal.id
            %td
              %i.fas.fa-check
            %td
