%div{style:'font-size: 17px'}
  %p= @content.html_safe
  - if @deal
    %h4 A. Thông tin chung:
    %p
      %ol
        %li
          Tên giao dịch:
          %span{style: 'color: #17a2b8'}= @deal.name
        %li
          Tên khách hàng:
          %span{style: 'color: #17a2b8'}= @deal.customer&.name
        %li
          Số điện thoại khách hàng:
          %span{style: 'color: #17a2b8'}= @deal&.customer&.phone_number
        %li
          Dự án quan tâm:
          %span{style: 'color: #17a2b8'}= @deal&.project&.name
        %li
          Nguồn:
          %span{style: 'color: #17a2b8'}= Constant::DEAL_SOURCES[@deal.source] || 'Chưa cập nhật'
        - if @show_created_at
          %li
            Ngày tạo:
            %span{style: 'color: #17a2b8'}= format_regulation @deal.created_at
        %li
          Người chăm sóc:
          %span{style: 'color: #17a2b8'}= @deal.assignee&.full_name || 'Chưa cập nhật'
        %li
          Trạng thái:
          %span{style: 'color: #17a2b8'}= I18n.t("deal.states.#{@deal.state}")
    %p
      URL:
      %a{:href => @deal_url} Xem chi tiết
    - if @show_same_deal && @deal.same_deals.present?
      %h4 B. Thông báo giao dịch trùng:
      %p
        %ol
          - Deal.where(id: @deal.same_deals).each do |deal|
            %li= "#{deal.name} #{deal.assignee ? '- Người chăm sóc' : ''} #{deal&.assignee&.full_name}"
      %p
        %a{:href => @same_deal_url}
          Xem chi tiết các giao dịch trùng
