:plain
  $("#notes").prepend("#{j render 'admin/deals/note_fields', {o: @note, deal: @deal} }");
  $(".note-").last().remove();
- if @not_errors
  :plain
    $('#note').find('.deal_add_fields').removeClass('d-none');