:plain
  $(".note-#{@note.id}" ).replaceWith("#{ j render 'admin/deals/note_fields', {o: @note, deal: @deal} }");
- if @not_errors
  :plain
    $('#note').find('.deal_add_fields').removeClass('d-none');