- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chủ đầu tư

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_investors_path, method: :get, local: true, class: 'input-group search-group' do |f|
            = f.text_field :query, value: params[:query], class: 'form-control typeahead general-search-input', type: 'search', 'url-autocomplete': autocomplete_admin_investors_path, placeholder: 'Nhập từ khoá tìm kiếm theo: Tên'
            %button{type: 'submit'}
              %i.fa.fa-search
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th.border-bottom-none Tên
              %th.border-bottom-none Mô tả thêm
              %th.border-bottom-none Logo
              %th.border-bottom-none.last-col-stick
          %tbody
            - @investors.each do |investor|
              %tr
                %td= investor.name
                %td= truncate(investor.description, length: 90, separator: ' ')
                %td
                  - if investor.logo.present?
                    = image_tag(investor.logo.url, class: 'img-thumbnail', style: 'width: 100px') 
                  - else 
                    .blank-data Chưa cập nhật
                %td.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_investor_path(investor.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(investor).destroy?
                    %a.btn.btn-outline-primary{href: admin_investor_path(investor.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_investor_path, class: 'btn btn-primary'
