= form_with url: admin_groups_path, method: :get, local: true, class: 'input-group form-inline filter-form' do |f|
  .container-fluid
    .row
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Tìm kiếm
          .col-xl-10.col-lg-9.col-md-8
            = f.text_field :query, value: params[:query], id: 'group-search', class: 'form-control typeahead m-0 w-100', placeholder: 'Nhập từ khoá tìm kiếm', type: 'search'
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Tỉnh/ Thành phố
          .col-xl-10.col-lg-9.col-md-8
            = f.select :cities, options_for_select(@cities, params[:cities]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'state-search-deal', name: 'cities[]', style: 'width: 100%', multiple: true}
      .col-4.filter-expand{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right GĐCN/GĐKD
          .col-xl-10.col-lg-9.col-md-8
            = f.select :directors, options_for_select(@directors, params[:directors]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'source-search-deal', name: 'directors[]', style: 'width: 100%', multiple: true}
      .col-8.mt-3.div-space{class: "#{@check_params_filter ? '' : 'd-none'}"}
      .col-4.d-flex{class: "#{@check_params_filter ? 'mt-3' : ''}"}
        .ml-auto
          %button.btn.btn-reti-primary.btn-submit-filter{type: 'submit', style: 'margin-left: auto'} Áp dụng
          %a.btn.btn-remove-filter.ml-2{type: 'button', href: admin_groups_path} Xóa
        .product-filter-expand-collapse.cursor-pointer
          - if @check_params_filter
            %span.product-filter-text Thu gọn
            %span.product-filter-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
              = image_tag 'down-arrow.svg', class: 'd-block'
          - else
            %span.product-filter-text Mở rộng
            %span.product-filter-icon{"aria-label" => "down", role: "img"}
              = image_tag 'down-arrow.svg', class: 'd-block'