.row
  .col
    = form_with model: [:admin, @group], local: true do |f|
      .row.sticky-top
        .col
          .card.tms-card
            .card-body
              .float-right
                %button.btn.btn-reti-secondary= @group.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .form-group
                        = f.label :name, 'Tên'
                        = f.text_field :name, class: 'form-control'
                        - f.object.errors.messages[:name].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      .form-group
                        = f.label :city_ids, 'Tỉnh/Thành phố'
                        = f.select :city_ids, options_for_select(@cities, f.object.city_ids), {include_blank: false}, { class: 'tms-select2 form-control', multiple: true }
                        - f.object.errors.messages[:city_ids].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      .form-group
                        = f.label :supervisor_id, 'Giám sát'
                        = f.select :supervisor_id, options_for_select(@supervisors, f.object.supervisor_id), {include_blank: true}, { class: 'tms-select2 form-control'}
                        - f.object.errors.messages[:supervisor_id].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      .form-group
                        = f.label :director_id, 'GĐCN/GĐKD'
                        = f.select :director_id, options_for_select(@directors, f.object.director_id), {include_blank: true}, { class: 'tms-select2 form-control'}
                        - f.object.errors.messages[:director_id].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error
                      .form-group
                        = f.label :user_ids, 'Nhân sự chi nhánh'
                        = f.select :user_ids, options_for_select(@staffs, f.object.user_ids), {include_blank: false}, { class: 'tms-select2 form-control', multiple: true }
                        - f.object.errors.messages[:user_ids].each do |name_error|
                          %span.invalid-feedback.custom-validation= name_error