- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Sơ đồ tổ chức

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = render "filter"
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          %thead
            %tr
              %th.border-bottom-none STT
              %th.border-bottom-none Tên nhóm
              %th.border-bottom-none Tỉnh/ Thành phố
              %th.border-bottom-none Giám sát
              %th.border-bottom-none GĐCN/GĐKD
              %th.border-bottom-none
          %tbody
            - @groups.each_with_index do |group, index|
              %tr
                %td= index + 1
                %td= group.name
                %td= group.cities
                %td= group.supervisor&.full_name
                %td= group.director&.full_name
                %td.text-right
                  %a.btn.btn-outline-primary{href: members_admin_group_path(group.id)}
                    %i.fas.fa-users
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_group_path(group.id)}
                    %i.fas.fa-pencil-alt
                  %a.btn.btn-outline-primary{href: admin_group_path(group.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                    %i.fas.fa-trash

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_group_path, class: 'btn btn-primary'