- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Khách hàng trùng

- content_for :content_body do
  .row
    .col
      .card.tms-card
        .card-body
          = form_with url: admin_same_customers_path, method: :get, local: true, class: 'input-group search-group form-same-deal-search' do |f|
            = f.text_field :query, value: params[:query], id: 'same-customer-search', class: 'form-control typeahead', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên KH, SĐT', type: 'search'
            %button{type: 'submit'}
              %i.fa.fa-search
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên khách hàng
              %th Số điện thoại
              %th Giới tính
              %th Số KH trùng
          %tbody
            - @customers.each do |customer|
              %tr.same-deal-detail-row
                %td
                  %a.same-deal-detail-link{href: admin_same_customer_path(customer.id) }
                  = customer.name
                %td= customer&.phone_number
                %td= customer&.gender ? Constant::CUSTOMER_GENDER.values[customer&.gender] : '-'
                %td= policy_scope(Customer.where(id: customer.same_customers)).count
      = render partial: 'shared/pagination', locals: { pagy: @pagy }
