- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark= @customer.name
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_same_customers_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.same_deal_detail_page
    .card-body
      .table-responsive.p-0
        %table.table.table-bordered.text-nowrap.table-same-deal
          %tr.text-center
            %th{width: '200px', style: 'background-color: white'}
            - @customers.each do |customer|
              %th{width: '310px'}
                .deal-name
                  = customer.name
                .mb-2
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_customer_path(customer.id), target: '_blank'}
                    %i.fas.fa-pencil-alt
                  - if @customer.id != customer.id && policy(customer).destroy?
                    %a.btn.btn-outline-danger{href: admin_customer_path(@customer.id), "data-toggle": "tooltip", "data-placement": "top", "title": "Xóa khách hàng", data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
          - @data.each do |title, array_value|
            - if array_value
              %tr
                %td.cell-heading= title
                - array_value.each do |item|
                  %td.text-center{class: (array_value.count(item) > 1 ? 'text-bold' : '')}= item.present? ? item : '-'
