.fc .fc-timegrid-slot{
  height: 3.5rem!important;
}

.fc-day-today{
  background-color:inherit !important;
}

.fc-col-header-cell.fc-day{
  background: #f4f6f9;
  padding: 16px;
  color: #8C8C8C;
}

.fc-col-header-cell.fc-day.fc-day-today{
  color: $reti-primary-color;
  background: #f4f6f9!important;;
}

.fc-timegrid-axis{
  background: #f4f6f9;
}

.event-calendar{
  padding-bottom: 32px;
  .custom-event{
    border: none;
    padding: 4px;
    .fc-event-main{
      color: #595959!important;
    }
    .custom-event-time{
    }
    .custom-event-title{
      font-weight: 500;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .custom-event-content{
      font-weight: 400;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .not-meet{
    border-left: 3px solid #A6A6A6;
    .custom-event-time{
      color: #A6A6A6;
    }
  }

  .cancel-meet{
    border-left: 3px solid #F15B40;
    .custom-event-time{
      color: #F15B40;
    }
  }

  .meet{
    border-left: 3px solid #43DA71;
    .custom-event-time{
      color: #43DA71;
    }
  }

  .future-meet{
    border-left: 3px solid #1990FF;
    .custom-event-time{
      color: #1990FF;
    }
  }
}

.label-meet{
  .color{
    width: 20px;
    height: 20px;
    background: #43DA71;
    border-radius: 2px;
  }
}

.label-cancel-meet{
  .color{
    width: 20px;
    height: 20px;
    background: #F15B40;
    border-radius: 2px;
  }
}

.label-future-meet{
  .color{
    width: 20px;
    height: 20px;
    background: #1990FF;
    border-radius: 2px;
  }
}

.label-not-meet{
  .color{
    width: 20px;
    height: 20px;
    background: #A6A6A6;
    border-radius: 2px;
  }
}

// Mobile
@media (max-width: 599px) {
  .event-calendar{
    .tabbable-responsive {
      display: block;
      min-width: 100%;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar:horizontal {
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparentize(#ccc, 0.7);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: transparentize(#ccc, 0.7);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      }
    }

    .tabbable {
      min-width: 100%;
      .nav-tabs {
        white-space: nowrap;
        display: inline-block;
        min-width: 100%;
        .nav-item {
          display: inline-block;
          a{
            color: #595959;
            &.active{
              color: $reti-primary-color;
            }
          }
          .nav-link {
            display: inline-block;
          }
        }
      }
    }
    .custom-event{
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}