/* Global Variables */
$reti-primary-color: #56C5D0;
$reti-secondary-color: #ef5b40;
$status-for-sale-border: #43DA71;
$status-for-sale-background: #F0FFF2;
$status-for-sale-color: #43DA71;
$status-locking-border: #F6BA33;
$status-locking-background: #FFF9D9;
$status-locking-color: #F6BA33;
$status-deposited-border: #CC3F2D;
$status-deposited-background: #FFEFE8;
$status-deposited-color: #F15B40;
$status-sold-border: #D9D9D9;
$status-sold-background: #F5F5F5;
$status-sold-color: #8C8C8C;
$status-out-of-stock-border: #D9D9D9;
$status-out-of-stock-background: #F5F5F5;
$status-out-of-stock-color: #8C8C8C;
$confirmation-UNC-color: #E6983A;
$wait-confirmation-color: #1473CC;
$need-confirmation-color: #F15B40;

body {
  font-family: 'Roboto', sans-serif;
  padding-right: 0 !important;
}

label {
  font-weight: 400;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/* Drag & Drop Table */
.dnd-icon::before {
  content: '';
  background: asset-url('drag-and-drop.svg') no-repeat center;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.dnd-table-dragging {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  z-index: 1001 !important;
  background-color: #F8F8FC;
  cursor: grabbing !important;
}

/* Custom Footer */
.main-footer-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  width: calc(100%);
  background-color: white;
  z-index: 10;

  .btn {
    float: right !important;
    margin-right: 18px;
    width: 13%;
  }

  .btn-add-deal {
    background: #CC3F2D;
    color: white;
    width: 10% !important;
    height: 40px;
  }
}

.create-deal-block {
  padding: 16px 20px;
  width: calc(100%);
  background-color: white;
  z-index: 10;

  .btn {
    float: right !important;
    margin-right: 18px;
    width: 13%;
  }

  .btn-add-deal {
    background: #CC3F2D;
    color: white;
    width: 10% !important;
    height: 40px;
  }
}

/* Custom Datepicker */
.ui-widget.ui-widget-content {
  border-color: #66afe9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.ui-datepicker {
  width: 20em;
  padding: 10px 15px;

  .ui-widget-header {
    border: none;
    background: none;

    .ui-icon {
      background: none;
    }
  }

  .ui-datepicker-prev, .ui-datepicker-next {
    border: 1px solid #2E384D;
    cursor: pointer;
  }

  .ui-datepicker-prev span, .ui-datepicker-next span {
    border-color: inherit !important;
    width: 6px;
    height: 6px;
    border-width: 1.5px 1.5px 0 0;
    border-style: solid;
    color: #2E384D;
    top: 18px;
    position: absolute;
  }

  .ui-datepicker-prev span {
    left: 20px;
    transform: rotate(225deg);
  }

  .ui-datepicker-next span {
    left: 16px;
    transform: rotate(45deg);
  }

  .ui-state-hover {
    border: 1px solid #2E384D;
    background: none;
    color: #2E384D;
  }

  .ui-datepicker-prev-hover span, .ui-datepicker-next-hover span {
    border-color: #3F3356 !important;
  }

  table.ui-datepicker-calendar {
    thead {
      border-bottom: 1px dashed #ECEBED;

      th {
        padding-bottom: 3px;
      }
    }

    tbody:before {
      content: ".";
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    td span, td a {
      padding: 0.8em;
      text-align: center;
    }

    .ui-state-default {
      border: none;
      background: none;
      font-weight: bold;
      color: $reti-primary-color;
    }

    .ui-state-active {
      border: 1px solid #0C77C6;
      background-color: #0C77C6;
      border-radius: 50%;
      line-height: 14px;
      color: #FFFFFF;
    }

    .ui-state-highlight {
      border: 1px solid rgba(12, 119, 198, 0.1);
      background-color: rgba(12, 119, 198, 0.1);
      border-radius: 50%;
      line-height: 14px;
      color: #0C77C6
    }

    .ui-datepicker-week-end a {
      color: $reti-secondary-color;
    }
  }
}

/* Custom Header */
.tms-header {
  background-color: #FFFFFF;
}

/* Custom Select2 */
.select2-container--bootstrap .select2-selection--single, .select2-container--bootstrap .select2-selection--multiple {
  min-height: calc(2.25rem + 2px);
  line-height: 1.6;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: #0074F0;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
  background-color: #d9d9d9;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected=true] {
  background-color: #d9d9d9;
  color: #262626;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: #56C5D0;
  border: 1px solid #56C5D0;
  border-radius: 16px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
  position: relative;
  bottom: 1px;
  color: #56C5D0;
  margin-right: 4px;
}

/* Custom Input Label */
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}

/* TMS Field Group*/
.tms-field-group {
  margin-bottom: 16px;

  .tms-field-group-header {
    color: $reti-primary-color;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

/* TMS Card */
.tms-card {
  .select2-container {
    width: 100% !important;
  }

  .card-header {
    background-color: $reti-primary-color;
    color: #ffffff;
  }

  .btn-tool {
    color: #ffffff;

    :hover {
      opacity: .56;
    }
  }

  .btn-reti-primary {
    background-color: $reti-primary-color;
    color: #ffffff;

    i {
      font-size: 14px;
      padding-right: 4px;
    }
  }

  .btn-reti-primary:hover {
    background-color: #60d6d6;
    color: #ffffff;
  }

  .card-tools .btn {
    vertical-align: middle;
  }
}

/* TMS Button */
.btn-reti-primary {
  background-color: $reti-primary-color;
  color: #ffffff;
}

.btn-reti-primary:hover {
  background-color: #60d6d6;
  color: #ffffff;
}

.btn-reti-secondary {
  width: 256px;
  height: 40px;
  background-color: $reti-secondary-color;
  color: #ffffff;
}

.btn-reti-secondary:hover {
  background-color: #f5674d;
  color: #ffffff;
}

.btn-share-document {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: $reti-primary-color;
  color: #FFFFFF;
}

.btn-share-document:hover {
  color: #FFFFFF;
}

.btn-share-facebook::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background-image: asset-url('share/facebook.svg');
}

.btn-share-email::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background-image: asset-url('share/email.svg');
}

.btn-share-messenger::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background-image: asset-url('share/messenger.svg');
}

.btn-share-zalo::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background-image: asset-url('share/zalo.svg');
}

.btn-share-viber::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background-image: asset-url('share/viber.svg');
}

.btn-outline-reti-primary {
  color: $reti-primary-color;
  border-color: $reti-primary-color;
  background: #FFFFFF;

  &:hover {
    color: $reti-primary-color;
    border-color: $reti-primary-color;
    background: #FFFFFF;
  }

  &:active, &:focus {
    color: #FFFFFF;
    border: none !important;
    background: $reti-primary-color !important;
  }
}

/* Custom Validation */
.custom-validation {
  font-size: 90%;
  display: block;
}

.field_with_errors {
  .form-control {
    border: 0.8px solid #dc3545;
  }

  .select2-container--bootstrap .select2-selection--single:not([aria-disabled="true"]), .select2-container--bootstrap .select2-selection--multiple:not([aria-disabled="true"]) {
    border: 0.8px solid #dc3545;
  }

  .cke {
    border: 0.8px solid #dc3545;
  }
}

/* TMS Flash */
.tms-flash-notice {
  background: #F4FFF2;
  border: 1px solid rgba(83, 195, 5, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 16px 16px;

  .icon-successful {
    color: #52C41A
  }

  .icon-danger {
    color: #dc3545
  }

  .text-successful {
    margin: 0 0 0 5px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px
  }
}

.tms-flash-alert {
  background: #FDE9EC;
  border: 1px solid #F7D4D6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 16px 16px;

  .icon-error {
    color: #ED5B57;
  }

  .text-error {
    margin: 0 0 0 5px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px
  }
}

.alert {
  .close {
    padding: 3px 9px;
    font-size: 20px;
  }
}

/* ActiveStorage Drag & Drop */
label.asdndzone {
  max-width: unset;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-family: unset;
  letter-spacing: 0;
  font-size: 16px;

  .direct-upload {
    padding: 2px 10px;
  }

  .direct-upload__remove {
    margin-top: 11px;
  }
}

label.asdndzone:focus-within {
  border-color: #80bdff;
  outline: 0;
}

/* Inline & Float Right Buttons */
.btn-float-right {
  float: right;
  margin-left: 5px;
  width: 170px;
}

.search-group {
  .form-control {
    padding-right: 50px;
  }

  button {
    position: absolute;
    right: 7px;
    top: 7px;
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .form-check {
    margin-right: 10px;
  }

  margin-bottom: 10px;
}

#import-product-form {
  margin-top: 60px;
}

.btn-zone {
  margin-top: 10px;
  text-align: center;
}

/* Product Tab */
.tab-content {
  h4, .main-header--back {
    margin-left: 5px;
  }

  #product-info, #product-new {
    margin-top: 10px;
  }
}

.nav-tabs {
  margin-left: -1px;
}

.required {
  color: #dc3545;
}

.margin-right-5 {
  margin-right: 5px;
}

/* Index Project Stick Column */
.first-col-stick {
  position: sticky !important;
  left: 0px;
  background-color: white;
  width: 100px;
}

.second-col-stick {
  position: sticky !important;
  background-color: white;
}

.last-col-stick {
  position: sticky;
  background-color: white;
  right: 0px;
}

.table-hover {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.dropdown-menu-lg {
  width: 400px;
  max-width: 400px !important;
}

.notification-item, .reminder-item {
  .dropdown-item {
    font-size: .875rem;
    white-space: normal;
    padding-bottom: 1.5rem;

    .float-right {
      color: #007bff !important;
    }
  }
}

.right {
  text-align: right;
}

.position-icon {
  position: relative;
  margin-right: 7px;
  left: 2px;
  bottom: 1px
}

.countdown-timer {
  color: #007bff;
}

/* Custom Banner */
#sortable .item {
  cursor: move;
}

/* Custom Notification */
.unread {
  color: #1f2d3d !important;
  background-color: #eeeeee !important;
}

.notification-item, .reminder-item {
  color: #212529;
  border-bottom: 1px solid #ccc;

  a {
    color: #212529;
    padding: 1rem 0.25rem 1rem 0.5rem;
    width: 100%;
  }
}

.notification-item:hover, .reminder-item:hover {
  text-decoration: none;
  background-color: #f8f9fa;
}

.height-body {
  height: 640px;
}

.user-panel img {
  height: 2.1rem;
}

.avatar-assign {
  width: 40px !important;
  height: 40px !important;
}

.input-hidden {
  display: none;
}

.select2-search__field {
  width: 100% !important;
}

/* Modal Product */
.swal2-modal-custom {
  padding: 0px 0px 20px 0px !important;

  .swal2-header {
    height: 60px;
    background: $reti-primary-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    #swal2-title {
      top: 15px;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
    }
  }

  .swal2-content {
    padding: 16px 80px 0px 80px;

    .form-group {
      text-align: left;
    }

    #swal2-content {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.main-header {
  .nav-item {
    font-size: 24px;
  }

  .notification-counter {
    color: #ffffff;
    background-color: #dc3545;
    font-size: 14px;
    font-weight: 600;
  }

  .reminder-counter {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }
}

.bg-toast-info {
  background-color: #DCF7F7;
  color: #ffffff;

  button {
    font-size: 1.5rem;
  }

  a {
    color: #ffffff;
  }

  .toast-header {
    line-height: 2;

    .close {
      font-size: 1.5rem;
      font-weight: 700;
      padding-top: 0.5rem;
    }
  }
}

#interactive-layout-info {
  table {
    .show {
      display: table-row;
    }

    .expand-button:before {
      content: '-';
    }

    .collapsed > .expand-button:before {
      content: '+';
    }
  }
}

.div-source-select2 {
  position: relative;
}

.container-source-select2 {
  position: absolute;
  max-width: 275px !important;
  display: none;
  top: 0;
  left: 0;
}

.sub-source-text, .source-text {
  cursor: pointer;
}

.select2-container--bootstrap .select2-results__group {
  font-size: 16px;
}

.select2-results__options--nested {
  .select2-results__option {
    padding: 6px 24px !important;
  }
}

.btn-show-childrens::before {
  background: asset-url('up.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

.btn-show-childrens.collapsed::before {
  background: asset-url('down.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

/* Margin Button Create */
body:not(.body-kanban) {
  .content-wrapper {
    margin-bottom: 71px;
  }
}

.regulation-table {
  .regulation {
    border-radius: 99px;
    text-align: center;
    font-size: 14px;
    height: 24px;
  }

  .regulation-pending {
    border: 1px solid #FCECCE;
    background: #FCF8E3;
    color: #F0AF41;
  }

  .regulation-applying {
    border: 1px solid #E4F4DC;
    background: #F4FFF2;
    color: #52C41A;
  }

  .regulation-not_apply {
    border: 1px solid #E0E0E0;
    background: #F2F2F2;
    color: #828282;
  }

  .regulation-expired {
    border: 1px solid #E0E0E0;
    background: #F2F2F2;
    color: #828282;
  }
}

.icheckbox_square-blue.disabled {
  background-color: #E9E7E4;
}

/* Same Deals */
.btn-same-deal {
  color: #3ac5c9;
  border: 1px solid #3ac5c9;
}

.btn-same-deal:hover {
  background-color: #3ac5c9;
  color: white;
}

.same_deal_detail_page {
  .table-same-deal {
    width: auto;

    th, td {
      width: 310px;
    }

    th:nth-child(1), td:nth-child(1) {
      position: sticky;
      left: 0px;
      width: 200px;
    }

    th:nth-child(2), td:nth-child(2) {
      background-color: #f0fffe;
      position: sticky;
      left: 200px;
    }

    .row-heading {
      td {
        background-color: $reti-primary-color;
        color: white;
        border-left: none;
        border-right: none;
      }
    }
  }

  .deal-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 15px 26px;
    white-space: normal;
    width: 285px;
  }

  .avatar-assignee {
    width: 64px;
    height: 64px;
  }

  .state {
    display: inline-block;
    padding: 2px 12px;
    border-radius: 99px;
    font-weight: 400;
  }

  .state-pending, .state-interest {
    background-color: #FCF8E3;
    color: #F0AF41;
  }

  .state-meet, .state-lock, .state-confirm, .state-book, .state-refundable_deposit {
    background-color: #F0F7FF;
    color: #3E91F7;
  }

  .state-deposit, .state-contract_signed, .state-completed {
    background-color: #F4FFF2;
    color: #52C41A;
  }

  .state-canceled {
    background-color: #F2F2F2;
    color: #828282;
  }

  .state-request_recall {
    background-color: #FDE9EC;
    color: #ED5B57;
  }

  .current_deal {
    background-color: #f0fffe;
  }

  .row-heading {
    background-color: $reti-primary-color;
    color: white;
  }

  .cell-heading {
    background-color: #f2f2f2;
    display: inline-block;
  }
}

/* Form Search Same Deal */
.form-same-deal-search .tt-menu .group-name {
  background-color: #3ac5c9;
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
  color: white;
}

/* Sticky Header Table */
.table-responsive {
  max-height: calc(100vh - 145px);

  thead {
    th {
      background: white;
      position: sticky;
      top: -1px;
      left: 0;
      z-index: 2;
      // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }

    .first-col-stick, .second-col-stick, .last-col-stick {
      z-index: 3 !important;
    }
  }
}

.product-sticky-top-0 {
  thead {
    th {
      top: 0 !important;
    }
  }
}

.custom-header-product-table {
  thead {
    th:last-child::before {
      display: none !important;
    }

    th:last-child::after {
      display: none !important;
    }
  }
}

.duplicated-hide {
  display: none;
}

.duplicated-content {
  text-align: left;

  .duplicated-subcontent {
    padding-left: 1rem;
  }
}

.duplicated-expand {
  color: $reti-primary-color;
  cursor: pointer;
  font-size: 14px;
}

.product-search-group {
  .btn-add-filter {
    margin-right: -5px;

    &:hover {
      background-color: $reti-primary-color;
      color: white;
    }
  }

  .btn-clear-filter {
    color: #CC3F2D;

    &:hover {
      background-color: #CC3F2D;
      color: white;
    }
  }

  #deal-search {
    width: 208px;
    margin-top: 2px;
  }

  input[type="search"].tt-hint {
    padding-right: 20px !important;
  }

  #deal-search::-webkit-search-cancel-button,
  #deal-search::-webkit-search-decoration {
    cursor: pointer !important;
    color: black !important;
  }

  .add-filter-group {
    width: 0px;
  }

  .add-filter-group .select2-selection,
  .add-filter-class-0,
  .add-filter-class-1,
  .add-filter-class-2,
  .add-filter-class-3,
  .add-filter-class-4,
  .add-filter-class-5,
  .add-filter-class-6,
  .add-filter-class-7,
  .add-filter-class-8 {
    display: none;
    margin-top: 1px;
  }

  .search-icon {
    position: absolute;
    border: 0;
    left: 205px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 3px;
    width: 30px;
    font-size: 12px;
    height: 38px;
    top: -2px;
  }

  .search-button {
    font-size: 14px;
    padding: 7px 10px;
    background: #CC3F2D;
    color: #ffffff;
    cursor: pointer;
    margin-top: 2px;
  }

  .select2-selection__choice__remove {
    display: none !important;
  }

  .select2-selection__clear {
    color: white;
    margin-top: 8px !important;
  }

  span.select2-selection {
    background-color: $reti-primary-color;
  }

  .add-filter-class-3,
  .add-filter-class-4 {
    input {
      padding-right: 30px !important;
      margin-right: -7px;
    }

    .fa-created-at,
    .fa-updated-at {
      font-size: 10px;
      margin-left: -23px;
      height: 36px;
      margin-right: -7px;
      width: 30px;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      padding-top: 13px;
    }
  }

  .add-filter-class-0,
  .add-filter-class-1,
  .add-filter-class-2,
  .add-filter-class-5,
  .add-filter-class-6,
  .add-filter-class-7,
  .add-filter-class-8 {
    ul.select2-selection__rendered {
      padding-right: 30px !important;

      &:after {
        content: "×";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        font-weight: bold;
        background-color: white;
        width: 30px;
        height: 36px;
        text-align: center;
        padding-top: 7px;
      }
    }

    ul.select2-selection__rendered.hidden {
      padding-right: 0px !important;

      &:after {
        display: none;
      }
    }
  }

  ul.select2-selection__rendered {
    li.select2-search--inline {
      background-color: white !important;
      height: 36px !important;
      width: 100% !important;
    }

    li.select2-selection__choice {
      border: none !important;
      padding-top: 3px !important;
      background-color: $reti-primary-color;
      color: white;

      &:first-of-type {
        margin-right: 0 !important;
      }

      &:nth-child(3) {
        padding-left: 0 !important;
        margin-left: 0 !important;
      }

      &:nth-child(n + 4) {
        display: none !important;
      }
    }
  }

  .select2-search__field {
    padding-top: 2px !important;
  }

  .select2-container--bootstrap {
    .select2-selection, .select2-dropdown {
      border-radius: 0 !important;
    }
  }

  .deal-search-group {
    display: inline-block !important;

    .twitter-typeahead {
      display: initial !important;

      .tt-hint {
        width: 100%;
      }
    }

    .tt-menu {
      z-index: 1001 !important;
      border: 1px solid $reti-primary-color !important;
      border-radius: 0 !important;
      margin-top: 20px !important;

      .group-name {
        background-color: $reti-primary-color;
        padding: 5px;
        padding-left: 10px;
        font-size: 16px;
        color: white;
      }

      .tt-suggestion {
        font-size: 14px !important;

        &:hover {
          background-color: #F0F7FF !important;
          color: black !important;
        }
      }
    }
  }
}

/* Customer Journeys */
.user_name {
  font-size: 14px;
  font-weight: bold;
}

.comments-list .media {
  border-bottom: 1px dotted #ccc;
}

.form-custom-keywords {
  .select2-search--inline {
    display: none;
  }
}

.swal2-close {
  outline: none !important;
}

.tick-manual {
  background-image: asset-url('tick-manual.svg');
}

.tick-all {
  background-image: asset-url('tick-all.svg');
}

.add-folder {
  background-image: asset-url('add-folder.svg');
}

.upload-image {
  background-image: asset-url('upload-image.svg');
}

.form-destroy-item-btn-group-action {
  margin-right: 116px;
  margin-top: 8px;

  .btn {
    border-radius: 2px;
  }
}

/* Deal Detail */
.deal-detail-target-blank {
  .select2-container {
    width: 100% !important;
  }
}

.select2-container--bootstrap .select2-dropdown--above {
  border-top: 1px solid $reti-primary-color !important;
}

.table-tms {
  thead {
    tr {
      th {
        background-color: $reti-primary-color;
        color: #fff;
      }
    }
  }
}

.nav-tms {
  .nav-link {
    padding: 4px 12px;
    height: 36px;
    color: #828282;
    background: #F2F2F2;
    border-radius: unset;

    &.active {
      color: #FFFFFF;
      background: $reti-primary-color;
    }

    &.hover {
      color: #828282;
    }
  }

  .nav-link:not(.active):hover {
    color: #828282;
  }
}

.tms-container-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid $reti-primary-color;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* Hide the browser's default radio button */
.tms-container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tms-container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.tms-container-radio input:checked ~ .checkmark {
  background-color: #fff;
}

.tms-container-radio input:checked ~ .checkmark:after {
  display: block;
}

.tms-container-radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $reti-primary-color;
}

/* Product confirm change state */
.product-confirm-change-state {
  .swal2-content {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

/* Custom Login Page */
.login-box {
  .login-logo {
    margin-bottom: 30px;
  }

  .card {
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    .btn-primary {
      border-color: $reti-primary-color;
      background-color: $reti-primary-color;
      border-radius: 2px;
    }
  }

  .form-control::placeholder {
    color: #939ba2;
    opacity: 0.5
  }

  @media (max-width: 576px) {
    font-size: 14px;
    .form-control::placeholder {
      font-size: 14px;
    }
  }
  @media (min-width: 576px) {
    width: 550px;
  }
}

.same-customer, .same-customer-mobile {
  color: #007bff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.custom-hr-tag {
  border: none;
  height: 2px;
  background: #EBEBEB;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.br-0 {
  border-radius: 0 !important;
}

#assignee {
  cursor: pointer;
}

.content-small-box {
  top: 30%;
  font-size: 18px;
  color: #595959;

  b {
    font-size: 32px;
    color: #323031;
  }

  @media (max-width: 599px) {
    top: 25%;
    font-size: 16px;
    color: #595959;
    b {
      font-size: 18px;
      color: #323031;
    }
  }
}

.bg-notification {
  background: #DCF7F7;
  box-shadow: 0px 4px 16px rgba(217, 217, 217, 0.85);
  border-radius: 4px;

  i {
    font-size: 28px;
    line-height: 40px;
  }

  .notification {
    font-size: 18px;
    line-height: 40px;
  }

  @media (max-width: 425px) {
    border: 1px solid #7ED9DE;
    box-shadow: none;
    i {
      font-size: 20px;
      line-height: 24px;
    }
    .notification {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.tms-text-danger {
  color: #F15B40;
}

.content-header .container-fluid hr {
  padding: 0 !important;
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 0.5rem !important;
}

.border-50 {
  display: none;
  position: absolute;
  left: 23px;
  bottom: 13px;
  border-radius: 50%;
  background: #FFFFFF;
  width: 9px;
  height: 9px;
}

// nav tabs horizontal scrolling in deal detail
.deal-session {
  .nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-top: 10px;
    margin-top: -10px;
  }

  .nav-link {
    white-space: nowrap;
  }
}

// Appointment mobile
.appointment-mobile {
  .btn-create {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .225rem .75rem;
  }

  .group-show .content {
    box-shadow: none;

    .btn-edit {
      position: relative;
      border: 1px solid #1990FF;
      color: #1990FF;
      width: 30px;
      height: 30px;
    }

    .btn-edit-text {
      color: #1990FF;
      margin-top: 0.7rem !important;
    }
  }
}

.edit-appointment {
  .form-control[readonly] {
    background-color: #fff;
  }
}

.label-show {
  height: 32px;
}

.label-met {
  background: #C9FFD4;
  border-radius: 4px;
  color: #2EB35A;
  height: 32px;
  padding: .275rem .75rem;
  margin-bottom: 0;

  &:hover {
    color: #2EB35A;
  }
}

.label-canceled {
  background: #FFCFC9;
  border-radius: 4px;
  color: #CC3F2D;
  height: 32px;
  padding: .275rem .75rem;
  margin-bottom: 0;

  &:hover {
    color: #CC3F2D;
  }
}

.checkbox-label {
  cursor: pointer;
}

.input-group.appointment-datetimepicker, .input-group.history-interaction-datepicker, .input-group.campaign-lock-datetimepicker {
  input {
    border-radius: .25rem !important;
    background-color: transparent !important;
  }

  span {
    position: absolute;
    right: 0;
    height: 100%;
  }

  .field_with_errors, .field_with_errors_unhighlight {
    width: 100%;
  }

  .field_with_errors_unhighlight {
    .form-control {
      border: 1px solid #ccc;
    }
  }
}

.main-sidebar {
  z-index: 2100;
}

.swal2-container {
  z-index: 2150 !important;
}

.swal-uninterested-group {
  .swal2-header {
    height: 85px !important;
  }
}

.scrollbar-default::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #EDEEF1;
}

.scrollbar-default::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #EDEEF1;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BDBDBD;
}

.checkbox-select2-container {
  .select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 22px;
    width: 22px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    margin-right: 20px;
    vertical-align: middle;
  }

  .select2-results__option[aria-selected=true]:before {
    background: asset-url('/assets/icheck/square/blue-abff66ea99f7e2b2a51d02feb00d0385f2ac35100fdc65b5d4e4395228fd020b.png') no-repeat;
    display: inline-block;
    background-position: -48px 0;
    border: none;
  }

  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
  }
}

.text-reti-primary {
  color: $reti-primary-color !important;
}

.sticky-scroll-option {
  position: -webkit-sticky;
  position: sticky;
  top: 92vh;
  z-index: 1020;
}

.view-mode-radio:hover input ~ .checkmark {
  background-color: #fff;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ededed !important;
}

.carousel-control-prev-icon {
  width: 35px;
  height: 35px;
  z-index: 3;
  border-radius: 50%;
  background: rgba(245, 245, 245, .35) asset-url('lefy.svg') no-repeat center;
}

.carousel-control-next-icon {
  width: 35px;
  height: 35px;
  z-index: 3;
  border-radius: 50%;
  background: rgba(245, 245, 245, .35) asset-url('Shape.svg') no-repeat center;
}

.info-department {
  background: #fff;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 4px;
  height: 100%;

  .address {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    color: #323031;
    display: inline;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .department-name {
    font-style: normal;
    font-weight: bold;
    color: #323031;
    font-size: 24px;
    line-height: 32px;
  }

  .price-department span.price-department__type {
    color: #FFFFFF;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    height: 26px;
    background-color: #ef5b40;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 8px;
  }

  .price-department span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #EF5B40;
  }

  h3.department-name {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 0 !important;
  }
}

.title-project-detail {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #323031;
  margin-left: 16px
}

.info-project-detail {
  .icon-title-sale-kit {
    height: 25px;
    width: 13px;
    margin-top: 2px;
  }

  .legal-sale-kit {
    font-weight: 500;
    font-size: 18px;
    color: #595959;
  }

  .updated-sale-kit {
    color: #8C8C8C;
  }

  .btn {
    border: 1px solid $reti-primary-color;
  }

  .btn-sale-kit {
    width: 48px;
    height: 44px;
  }

  .image-project-detail {
    position: absolute;
    right: 22%;
    top: 20%;
  }

  .eye-project-detail {
    position: absolute;
    right: 24%;
    top: 30%;
    color: $reti-primary-color;
  }

  .btn-view-product {
    width: auto;
    background-color: $reti-primary-color;
    color: white;
  }

  .btn-view-product:hover {
    color: #FFFFFF !important;
  }

  .list-items {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 16px 16px 0 16px;

    .item-description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 4.5rem;
      color: #212529;
    }
  }

  .post-right {
    padding-left: 15.5px
  }

  .post-left {
    padding-right: 16px
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFFFF;
    background-color: $reti-primary-color;
  }

  .nav-tabs .nav-link {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #F5F5F5;
    color: #8C8C8C;
  }

  .nav-tabs {
    border-bottom: 1px solid #F0F0F0;
  }

  .f-right {
    float: right !important;
  }

  .investor-post-url {
    color: #212529;
  }

  .investor-post-url:hover {
    color: #8C8C8C;
    text-decoration: underline;
  }
}

.bd-bottom-detail-project {
  border-bottom: 8px solid #F0F0F0;
}

@media (max-width: 321px) {
  .sun-group span {
    padding-left: 0.4rem !important;
  }
  .btn-share-document {
    margin-right: 0 !important;
  }
  .custom-span-width-320 {
    margin-left: 0 !important;
  }
}

@media (max-width: 430px) {
  .title-project-detail {
    font-size: 18px;
    line-height: 24px;
  }
  .bd-bottom-detail-project {
    border-bottom: 4px solid #F0F0F0;
  }
  .info-project-detail .list-items {
    padding: 8px 8px 0 4px;
  }
  .info-project-detail .updated-sale-kit {
    font-size: 14px;
    line-height: 24px;
  }
  .info-project-detail .btn-sale-kit {
    width: 32px;
    height: 32px;
  }
  .info-project-detail .image-project-detail {
    right: 16%;
    top: 16%;
  }
  .info-project-detail .eye-project-detail {
    right: 21%;
    top: 23%;
  }
  .info-project-detail .post-left {
    padding-right: 15.5px;
  }
  .info-project-detail .post-right {
    padding-right: 15.5px;
  }
  .info-project-detail .f-right {
    float: none !important;
  }
  .table-list-project {
    max-height: unset;
    border: 2px solid #dee2e6;
    border-radius: 4px;

    thead th {
      position: unset !important;
      border-top: none;
    }
  }
  .search-group button {
    top: 13px;
  }
  .info-project-detail .btn-download {
    position: absolute;
    top: 10%;
    right: 10%
  }
  .btn-share-document {
    padding: 8px 12px;
  }
}

@media (max-width: 769px) {
  .info-project-detail .post-left {
    padding-right: 15.5px;
  }
}

.btn-save-sale-document, .btn-save-instruction-document {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  height: 35px;
  border-radius: 8px;
}

.title-sale-document {
  font-weight: bold !important;
  display: block;
  text-align: start;
}

.text-sale-kit-input {
  font-size: 12px;
  line-height: 24px;
  color: #767676;
  font-style: italic;
}

.title-project-description {
  color: $reti-primary-color;
  font-size: 18px;
  line-height: 24px
}

.truncate-project-description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: horizontal;
  -moz-line-clamp: 3;
  -moz-box-orient: horizontal;
  overflow: hidden;
  max-height: 70px;
  height: auto;
}

.share-document-modal {
  label {
    font-weight: 500;
    color: #595959;;
  }

  .btn-reti-primary {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .row-share {
    display: flex;

    button {
      border: none;
      align-items: center;
      padding: 0;
    }

    .item-share {
      display: flex;
      flex: 0 0 50%;
      background-color: unset;
    }
  }

  .item-share:focus, .item-share:focus-visible {
    outline: unset;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.card-product-tab {
  width: fit-content;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.nav-product-tab {
  width: 176px;
  color: #8C8C8C !important;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 0 !important;
  flex: 1 1 50%
}

.nav-tabs .nav-product-tab:focus, .nav-tabs .nav-product-tab:hover {
  border-color: #FFFFFF !important;
}

.nav-product-tab.active {
  color: #FFFFFF !important;
  border-color: $reti-primary-color !important;
  background: $reti-primary-color !important;
}

.nav-product-tab.active:focus, .nav-product-tab.active:hover {
  border-color: $reti-primary-color !important;
}

// Custom product table
.custom-sorting-table thead th {
  border-top: none;
}

table.custom-sorting-table thead .sorting:before,
table.custom-sorting-table thead .sorting_desc:before,
table.custom-sorting-table thead .sorting_asc:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0de" !important;
}

table.custom-sorting-table thead .sorting:after,
table.custom-sorting-table thead .sorting_asc:after,
table.custom-sorting-table thead .sorting_desc:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0dd" !important;
  right: 16px !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

#nav-high-products, #nav-low-products {
  .dataTables_scrollBody {
    margin-bottom: 1rem !important;
  }
}

.icon-heart {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 20px;
}

// Custom product label
.product-label {
  border-radius: 99px;
  height: 30px;
  font-size: 14px;
  padding: 4px 12px;
  width: fit-content;
}

.status-for-sale {
  border: 1px solid $status-for-sale-border;
  background: $status-for-sale-background;
  color: $status-for-sale-color;
}

.status-locking {
  border: 1px solid $status-locking-border;
  background: $status-locking-background;
  color: $status-locking-color;
}

.status-deposited {
  border: 1px solid $status-deposited-border;
  background: $status-deposited-background;
  color: $status-deposited-color;
}

.status-sold {
  border: 1px solid $status-sold-border;
  background: $status-sold-background;
  color: $status-sold-color;
}

.status-out-of-stock {
  border: 1px solid $status-out-of-stock-border;
  background: $status-out-of-stock-background;
  color: $status-out-of-stock-color;
}

// East
.direction-label-0 {
  border: 1px solid #00CC3C;
  background: #FFFFFF;
  color: #00CC3C;
}

// West
.direction-label-1 {
  border: 1px solid #840015;
  background: #FFFFFF;
  color: #840015;
}

// South
.direction-label-2 {
  border: 1px solid #FF9300;
  background: #FFFFFF;
  color: #FF9300;
}

// North
.direction-label-3 {
  border: 1px solid #DA4343;
  background: #FFFFFF;
  color: #DA4343;
}

// Southeast
.direction-label-4 {
  border: 1px solid #00B7FF;
  background: #FFFFFF;
  color: #00B7FF;
}

// Southwest
.direction-label-5 {
  border: 1px solid #008059;
  background: #FFFFFF;
  color: #008059;
}

// Northeast
.direction-label-6 {
  border: 1px solid #F15B40;
  background: #FFFFFF;
  color: #F15B40;
}

// Northwest
.direction-label-7 {
  border: 1px solid #0057FF;
  background: #FFFFFF;
  color: #0057FF;
}

// Voucher
.voucher-label-1 {
  border: 1px solid #F7D4D6;
  background: #FDE9EC;
  color: #ED5B57;
}

.voucher-label-2, .deposit-deal-label {
  border: 1px solid #E4F4DC;
  background: #F4FFF2;
  color: #52C41A;
}

.sent-voucher {
  border: 1px solid #30CD60;
  background: #F0FFF2;
  color: #30CD60;
}

.assign-deal-label-telesale, .lock-deal-label {
  padding: 4px 12px !important;
  background: #F0F7FF;
  border-radius: 16px;
  color: #3E91F7;
  border: 1px solid #C1DFFF;
}

.assign-deal-label-website {
  padding: 4px 12px !important;
  background: #F0F7FF;
  border-radius: 16px;
  color: #7B61FF;
  border: 1px solid #7B61FF;
}

.assign-deal-label-app {
  padding: 4px 12px !important;
  background: #F0FFFE;
  border-radius: 16px;
  color: #56C5D0;
  border: 1px solid #56C5D0;
}

.assign-deal-label-year {
  background: #DA4343;
  border-radius: 16px;
  color: #FFFFFF;
  align-items: center !important;
  display: flex;
}

.assign-deal-label-month {
  background: #F15B40;
  border-radius: 16px;
  color: #FFFFFF;
  align-items: center !important;
  display: flex;
}

.assign-deal-label-week {
  background: #FFA940;
  border-radius: 16px;
  color: #FFFFFF;
  align-items: center !important;
  display: flex;
}

.assign-deal-label-day {
  background: #30CD60;
  border-radius: 16px;
  color: #FFFFFF;
  align-items: center !important;
  display: flex;
}

.contract_signed-deal-label {
  background: #F0FFFE;
  border-radius: 16px;
  color: #56C5D0;
  align-items: center !important;
  display: flex;
}

.filter-form {
  .filter-label {
    margin-top: 8px !important;
    font-size: 14px;
  }

  .select2-container.checkbox-select2-container {
    width: 100% !important;
  }

  .product-filter .select2-selection__rendered {
    padding-top: 2px;
  }

  .btn {
    min-height: 40px !important;
  }

  .btn-remove-filter {
    background-color: #FFFFFF;
    color: #8C8C8C;
    border: 1px solid #EBEBEB;
    margin-right: 32px;
    padding-top: 8px;
  }

  .product-filter-expand-collapse {
    color: #1990FF;
    padding-top: 0.5rem;
    margin-right: 1rem;
  }

  .product-filter-text {
    margin-right: 10px;
  }

  .product-filter-icon {
    transition: all 0.3s ease 0s;
    transform: rotate(0turn);
    display: inline-block;
  }
}

// TMS select2 checkbox
.checkbox-select2-container .select2-results__option:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 22px;
  width: 22px;
  border: 1px solid #C2C7D0;
  border-radius: 4px;
  background: #FFFFFF;
  color: #C2C7D0;
  margin-right: 20px;
  vertical-align: middle;
}

.checkbox-select2-container .select2-results__option[aria-selected=true] {
  color: #595959 !important;
}

.checkbox-select2-container .select2-results__option[aria-selected=true]:before {
  background-image: asset-url('checkbox-success.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-select2-container .select2-results__option {
  color: #8C8C8C !important;
}

.checkbox-select2-container .select2-results__option--highlighted[aria-selected] {
  color: #595959 !important;
}

@media (max-width: 430px) {
  .card-product-tab {
    width: auto;
  }
  .nav-product-tab {
    width: auto;
  }
  .form-search-filter-sidebar {
    .product-search-mobile {
      height: 48px !important;
      border: 1px solid #E0E0E0 !important;
    }
  }
  .product-ticket {
    background: #FFFFFF;
    border-radius: 12px;

    .product-code {
      font-weight: 500;
      margin-top: 2px;
      color: #323031;
    }

    .ticket-information {
      display: block;
      margin-top: 0.25rem;
      font-size: 14px;
      color: #595959;
    }

    .ticket-sum-price {
      margin-top: 4px;
      margin-left: auto;
      font-size: 14px;
      color: #323031;
    }
  }
  div.product-ticket:last-child {
    margin-bottom: 1rem
  }
  .icon-heart {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
}

/* Blank Data Tables  */
.blank-data {
  color: #82869E;
  font-size: 1rem;
}

// Custom complete deal label
.complete-deal-label {
  border-radius: 99px;
  height: 30px;
  font-size: 14px;
  padding: 3px 12px;
  width: fit-content;
}

.calculation-type-label-0 {
  border: 1px solid #2BB956;
  background: #FFFFFF;
  color: #2BB956;
}

.calculation-type-label-1 {
  border: 1px solid #CC3F2D;
  background: #FFFFFF;
  color: #CC3F2D;
}

.history-interaction table tr td {
  padding-bottom: 16px
}

.history-interaction-title {
  font-weight: 700;
  font-style: italic;
  color: #000000
}

.history-interaction-label {
  color: #82869E
}

.history-interaction-btn {
  width: fit-content;
}

.history-interaction-datepicker .tms-calendar {
  margin-right: 15px;
  margin-top: 6px;
}

.history-interaction-datepicker .tms-calendar::before {
  background: asset-url('calendar.svg') no-repeat left center;
}

.campaign-lock-datetimepicker .tms-calendar::before {
  margin-top: 3px;
}

#history-interactions li {
  list-style: none;
}

#history-interactions li::before {
  color: $reti-primary-color;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 14px;
  position: relative;
  top: 4px;
  font-size: 24px;
}

.btn-referral-code {
  padding: 4px 12px !important;
}

.btn-new-product {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bd-bottom-none {
  border-bottom: none !important;
}

.nav-tab-item {
  .nav-link {
    color: #82869E;
    height: 48px;
    display: flex;
    align-items: center;
  }

  .nav-link.active {
    border-radius: 4px !important;
    color: #FFFFFF !important;
    border-color: $reti-primary-color !important;
    background: $reti-primary-color !important;
  }

  .nav-link:hover {
    border-color: #FFFFFF;
  }
}

.h-48 {
  height: 48px !important;
}

.icon-sale-document {
  position: absolute;
  left: 17px;
  z-index: 999;
  top: 10px;
  color: #A7ABC3;
  font-size: 18px;
}

.custom-form-control::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-form-control {
  border: 1px solid #E4E5F0;
  border-radius: 8px !important;
}

.input-sale-document .form-control:disabled {
  background-color: #FFFFFF !important;
}

.check-box {
  position: relative;
  border-radius: 4px;
  color: white;
  width: 24px;
  height: 24px;
  z-index: 0;
}

.check-box:after {
  position: absolute;
  border-radius: 4px;
  padding: 2px;
  content: "";
  width: 24px;
  height: 24px;
  background: linear-gradient(#D0D0D0, #C2C7D0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  z-index: -1;
}

.nav-deals-tab {
  height: 56px;
  padding-top: 16px;
  color: #82869E !important;
}

.btn-edit-deal-customer {
  font-weight: 500;
  color: #4C9AFF !important;
  margin-top: 8px;
  cursor: pointer;
  display: block;
}

.range-labels-cs-ticket {
  margin: 0px -4.6% 30px;
  padding: 0 4px;
  list-style: none;

  li {
    position: relative;
    float: left;
    width: 9%;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  .active {
    color: #37adbf;
    font-weight: 500;
  }

  .selected::before {
    background: #37adbf;
  }

  .active.selected::before {
    display: none;
  }
}

a.edit-cs-ticket {
  &:hover {
    color: #007bff !important;
  }

  &:active {
    color: #007bff !important;
  }

  &:focus {
    color: #007bff !important;
  }
}

.btn-create-cs-ticket {
  background: #F15B40;
  border-radius: 8px;
  color: #FFFFFF;
  height: 44px;
  display: block;
  margin: 0 16px 0 auto;
}

.btn-create-cs-ticket:hover {
  color: #FFFFFF;
}

.btn-tms-unable-submit {
  color: #A7ABC3;
  background: #DCDEE9;
  border-radius: 8px;
  border: none;
  padding: 7px 7px;
}

.btn-tms-unable-submit:hover {
  color: #A7ABC3;
  background: #DCDEE9;
  border-radius: 8px;
  border: none;
  padding: 7px 7px;
}

.cancel-cs-ticket-modal {
  color: #56C5D0;
  border-color: #56C5D0;
  background: #FFFFFF;
}

.cancel-cs-ticket-modal:hover {
  color: #56C5D0;
  border-color: #56C5D0;
  background: #FFFFFF;
}

.cancel-cs-ticket-modal:active {
  color: #FFFFFF;
  border-color: #56C5D0;
  background: #56C5D0;
}

.btn-create-voucher {
  width: 150px !important;
  height: 48px;
  margin-top: 16px;
}

.btn-voucher-enable-submit {
  background: #1990FF;
  color: #FFFFFF;
  border-radius: 8px !important;

  &:hover {
    background: #1990FF;
    color: #FFFFFF;
    border-radius: 8px !important;
  }

  &:focus {
    background: #1990FF;
    color: #FFFFFF;
    border-radius: 8px !important;
  }

  &:active {
    background: #1990FF;
    color: #FFFFFF;
    border-radius: 8px !important;
  }
}

.send-voucher-zalo-content {
  background: #F8F8FC;
  border-radius: 4px;
  padding: 0 12px;
  overflow-wrap: anywhere;
}

.btn-copy-send-voucher {
  margin-top: 32px;
  min-width: 101px;
  height: 48px;
  padding: 12px 12px;
}

.new-cs-ticket-group-body {
  textarea.form-control {
    height: 38px;
  }
}

.cs-ticket-field-group {
  textarea.form-control {
    height: 38px;
  }
}

.border-radius-8 {
  border-radius: 8px !important
}

.reti-modal-title {
  color: #FFFFFF;
  background: $reti-primary-color;
  height: 56px;
}

.reti-color-label {
  color: #82869E !important;
}

.cs-ticket-assignee {
  color: #1990FF;
  font-weight: 500;
}

#cs-tickets-content {
  background: #F9F7F6;
  padding-bottom: 4px;

  .cs-tickets-group {
    .leg-header {
      .leg-col {
        background: #56C5D0;
        border-radius: 8px;
        height: 24px;
        width: 3px;
      }

      .leg-text {
        color: #434657;
        font-weight: 500;
      }
    }

    .leg-body {
      .cs-ticket-field-group {
        background: #FFFFFF;
        min-height: 64px;
        border-radius: 8px;

        .leg-body-title-background .expand {
          background: #56C5D0;
          border-radius: 8px;
          position: relative;
          bottom: 4px;
          width: max-content;
          margin-top: 24px;

          .leg-body-title {
            color: #FFFFFF;
            padding: 4px 8px 4px 0;
          }
        }

        .leg-body-title-background {
          .leg-body-title {
            color: #56C5D0;
          }
        }
      }
    }
  }
}

#create-cs-ticket-label, #edit-cs-ticket-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

a.disable-edit-cs-ticket {
  color: #DCDEE9 !important;
  cursor: not-allowed !important;

  &:hover, &:focus {
    color: #DCDEE9 !important;
    cursor: not-allowed !important;
  }
}

.modal-scroll {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden
}

.icon-star {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background-image: url('icon-star.svg');
  background-repeat: no-repeat;
}

.limited-text {
  color: #BCBFD6;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-top: 4px;
  text-align: end;
}

.span-arrow-select2 {
  position: absolute;
  bottom: 0;
  right: 12px;
  top: 0;
  width: 4px;
}

.arrow-select2 {
  border-color: #999 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  height: 0;
  left: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.action-x {
  &:hover {
    color: #bbb !important;
    background: none !important;
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    background: none !important;
  }
}

.disable-x {
  &:hover {
    background: none !important;
  }
}

.h-38 {
  min-height: 38px !important;
}

.custom-text-color {
  color: #434657 !important;
}

.top-0 {
  top: 0 !important;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-auto {
  flex: auto !important;
}

.z-index-1051 {
  z-index: 1051 !important;
}

/* Export CS Tickets */
.download_deal {
  color: #82869E;
  height: 40px;
}

.download_deal:hover {
  background-color: #f0fffe;
  color: #56c5D0;
}

.download_deal:hover > .export-gray {
  display: none;
}

.download_deal:hover > .export {
  display: inline-block !important;
}

// Dashboard for sale admin
.dashboard-sale-admin-body {
  background: #F5F6F9;
  border-radius: 8px;
  padding: 16px;
}

.dashboard-sale-admin-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.assign-deal-body {
  overflow: auto;
  max-height: 519px;

  .dashboard-sale-admin-text {
    max-width: 600px;
    padding-top: 3px;
    height: 30px;
  }
}

.complete-deal-body, .commission-deal-body {
  overflow: auto;
  max-height: 519px;

  .dashboard-sale-admin-text {
    max-width: 450px;
    padding-top: 3px;
    height: 30px;
  }
}

.dashboard-sale-admin-item {
  padding: 14px 12px;
  background: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.assign-deal-year {
  box-shadow: inset 4px 0 0 #DA4343;
}

.assign-deal-month {
  box-shadow: inset 4px 0 0 #F15B40;
}

.assign-deal-week {
  box-shadow: inset 4px 0 0 #FFA940;
}

.assign-deal-day {
  box-shadow: inset 4px 0 0 #30CD60;
}

.assign-deal-image-label {
  margin-bottom: 2px;
  margin-right: 5px;
}

.text-total {
  color: #434657;
  font-weight: 400;
  font-size: 1rem;
}

.blank-form {
  background: #FFFFFF;
  border-radius: 8px;
}

.dropdown-scroll {
  max-height: 392px;
  overflow: auto;
}

.custom-list-dropdown-checkbox {
  font-size: 16px;
  line-height: 16px;
  color: #6c757d !important;
  box-shadow: inset 0px -1px 0px #E4E5F0;

  .dropdown-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 36px;
    padding: 9px 0 0 38px;
  }

  .dropdown-item-checkbox {
    opacity: 0;
    padding: 0.5rem 0.5rem;
  }

  .label-dropdown-item {
    margin: 8.5px 7.5px 7.5px 7.5px;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 36px;
    padding: 9px 0 0 29px;

    input {
      opacity: 0;
    }

    :hover input ~ .checkmark {
      background-color: #ccc;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    input:checked ~ .checkmark {
      background-color: $reti-primary-color;
      border: 2px solid $reti-primary-color;
    }

    .checkmark {
      position: absolute;
      top: 7px;
      left: 4px;
      height: 18px;
      width: 18px;
      border: 1.5px solid #82869E;
      border-radius: 4px;
    }

    .checkmark:after {
      position: absolute;
      left: 4px;
      bottom: 3px;
      width: 6px;
      height: 10px;
      border: solid #FFFFFF;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      border-width: 0 2px 2px 0;
    }

    .dropdown-image-checkbox-checked {
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
}

// Export deals
.export-deals {
  .btn-export-deals {
    display: flex !important;
    width: 163px;
    background: $reti-primary-color;
    color: #FFFFFF;
    border-radius: 4px;

    &:hover {
      color: #FFFFFF;
    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .btn-export-deals-icon {
    padding: 5px 8px 5px 4px
  }
}

.export-deals-expand-text {

}

.remove-option-export-deals {
  color: #DCDEE9;
}

@media (max-width: 1200px) {
  .assign-deal-body {
    .dashboard-sale-admin-text {
      max-width: 500px !important;
    }
  }

  .complete-deal-body, .commission-deal-body {
    .dashboard-sale-admin-text {
      max-width: 250px !important;
    }
  }
}

.w-max-content {
  width: max-content !important;
}

.btn-save-queue-lock {
  padding: 12px 43px;
  border-radius: 4px;
}

.btn-save-queue-lock:hover {
  padding: 12px 43px;
  border-radius: 4px;
}

.button-collapse-expand {
  color: #1990FF;
  padding-top: 0.5rem;
  margin-right: 1rem;
  margin-left: auto;
  cursor: pointer;
}

.expand-collapse-icon {
  transition: all 0.3s ease 0s;
  transform: rotate(0turn);
  display: inline-block;
}

.button-lock-history {
  color: #1990FF;
  font-size: 14px;
  padding-top: 0.5rem;
  margin-left: auto;
  font-weight: 700;
}

.dashboard-sale-admin-lock {
  padding: 16px 16px 8px 16px;
  background-color: #FFF6EC;
  border-radius: 8px;

  .empty {
    min-height: 180px;
    align-items: center;
    justify-content: center;
    color: #82869E;
  }
}

.dashboard-sale-admin-current-lock, .dashboard-sale-admin-temporary-lock {
  margin-top: 8px;
  padding-bottom: 8px;
  display: flex;
  overflow-x: auto;
  width: auto;
}

.dashboard-sale-admin-lock-item {
  max-width: 280px;
  min-width: 260px;
  margin-right: 16px;
  flex-grow: 1;
  cursor: pointer;
}

.lock-countdown {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #FFEFE8;
  padding: 8px;
}

.text-countdown {
  color: #F15B40;
}

.lock-information {
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #FFFFFF;
}

.lock-info-title {
  color: #82869E;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.confirmation-UNC {
  border-radius: 99px;
  background: $confirmation-UNC-color;
  color: #FFFFFF;
  font-size: 16px !important;
}

.wait-confirmation {
  border-radius: 99px;
  background: $wait-confirmation-color;
  color: #FFFFFF;
  font-size: 16px !important;
}

.need-confirmation {
  border-radius: 99px;
  background: $need-confirmation-color;
  color: #FFFFFF;
  font-size: 16px !important;
}

.leg-col-transfer {
  background: #56C5D0;
  border-radius: 8px;
  height: 24px;
  width: 3px;
}

.swal2-container {
  .transfer-histories-content {
    padding: 16px 80px 0px 16px !important;
  }

  .transfer-histories-title {
    font-weight: 500 !important;
    line-height: 24px !important;
    margin: 0px !important;
    top: 0px !important;
  }

  .transfer-histories-header {
    align-items: start;
    padding: 16px 40px 16px 16px;
    height: 56px !important;
  }

  .bc-primary {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #56C5D0;
  }

  .fc {
    margin-right: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .leg-col {
    width: 4px;
    background: #56C5D0;
    height: 100%;
    min-height: 16px;
  }

  .leg-col-min {
    width: 4px;
    background: #56C5D0;
    min-height: 0.25rem;
  }
}

.btn.transfer-disabled {
  color: #A7ABC3;
  background-color: #DCDEE9;
  width: 221px;
  height: 48px;
  padding: 12px 77px 12px 77px;
  border: 0px !important;
}

.btn-reti-primary.transfer-enabled {
  width: 221px;
  height: 48px;
  padding: 12px 77px 12px 77px;
  border: 0px !important;
}

.btn-transfer-label {
  min-width: 185px;
}

.btn-create-campaign-lock {
  height: 48px;
  background: #56C5D0 !important;
  border-color: #56C5D0 !important;
  padding: 12px 31px;
  border-radius: 8px !important;
}

.btn-save-campaign-lock {
  padding: 8px 73px;
  color: #FFFFFF;
  background: #B5B5B5;
  border-radius: 4px;

  &:hover {
    color: #FFFFFF;
  }
}

.label-campaign-lock {
  border-radius: 99px;
  color: #FFFFFF;
  text-align: center;
  width: fit-content;
  padding: 4px 16px;
  height: 32px;
}

.label-campaign-lock-upcoming {
  background: #F15B40;
}

.label-campaign-lock-locking {
  background: #6F57E6;
}

.label-campaign-lock-out-of-stock {
  background: #82869E;
}

.btn-remove-campaign-lock {
  background: #DA4343;
  margin-left: auto;
  margin-right: 12px;
  height: 48px;
  padding: 12px 36px;
  border-radius: 8px !important;
  color: #FFFFFF;
  &:hover {
    color: #FFFFFF;
  }
}

.campaign-lock-datetimepicker.disabled {
  background-color: #eeeeee !important;
  #campaign_lock_session_opening_time {
    cursor: not-allowed;
    border-color: #ced4da !important;
  }
}

#prievew-products {
  .nav-tabs {
    border-bottom: 0px !important;
  }

  .nav-link {
    cursor: pointer;
    background-color: #F8F8FC !important;
    color: #434657 !important;
  }

  .nav-link.active {
    background-color: #56C5D0 !important;
    color: #FFFFFF !important;
  }

  table {
    color: #434657 !important;
    max-width: 100%;
    white-space: nowrap;
  }
}

#btn-import-product-campaign {
  background-color: #30CD60;
}

.export-users {
  .btn-export-users {
    display: flex !important;
    width: 163px;
    background: $reti-primary-color;
    color: #FFFFFF;
    border-radius: 4px;

    &:hover {
      color: #FFFFFF;
    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .btn-export-deals-icon {
    padding: 5px 8px 5px 4px
  }

  .dropdown-item {
    padding-left: 0;
    color: #82869E;

    &:hover {
      color: #56C5D0;
      background-color: #F0FFFE;
    }

    &:hover > .export-gray {
      display: none;
    }
    
    &:hover > .export {
      display: inline-block !important;
    }
  }
}


.label-product-lock-history-pending {
  background: #F15B40;
}

.label-product-lock-history-waiting-reti-acceptance {
  background: #E6983A;
}

.label-product-lock-history-deposit-confirmation {
  background: #1473CC;
}

.label-product-lock-history-locking {
  background: #6F57E6;
}

.label-product-lock-history-success {
  background: #2BB956;
}

.label-product-lock-history-failed {
  background: #82869E;
}

.label-product-lock-history-out-of-time {
  background: #DA4343;
}

.label-product-lock-history-canceled {
  background: #82869E;
}

.product-lock-history-title {
  margin: auto;
  font-size: 20px;
  line-height: 24px
}

.btn-copy-unc {
  border: 1px dashed #56C5D0;
  border-radius: 8px;
  background: #FFFFFF;
  color: #56C5D0;
  padding: 12px 16px;
  width: fit-content;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.product-lock-history-state {
  margin-left: 16px;
}

.product-lock-history-time {
  color: #DA4343;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin-right: auto
}

.state-container {
  margin: 16px 0;
  padding: 16px;
  border: 1px dashed #BCBFD6;
  border-radius: 4px;
  text-align: center;
}

.btn-save-state-product-lock-history {
  font-weight: 500;
  border-radius: 8px;
  padding: 12px 71px !important;
  display: block;
  margin: auto;
}

.mr-83 {
  margin-right: 83px !important;
}