.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    padding: 0;
    margin: 0
}

.timeline::before {
  background: none;
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
}

.tl-item>* {
    padding: 10px
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

.tl-content p:last-child {
    margin-bottom: 0
}

.tl-date {
    font-size: .85em;
    margin-top: 2px;
    min-width: 100px;
    max-width: 100px
}

.b-warning {
    border-color: #595959 !important
}

.timeline > div {
  margin-bottom: 0px;
}

.panel-heading {
  padding: 0;
  border:0;
}
.panel-title {
  display:block;
  padding:10px 0 10px 0;
  color:#000000;
  font-size:16px;
  font-weight:normal;
}

.panel-title>a>.time{
  font-weight: 300;
  color: #8C8C8C;
}

.panel-heading .a-collapse:before {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  float: right;
  transition: all 0.5s;
  font-weight: 700;
  color: #323031;
  margin-top: -2px;
}

.panel-heading .a-collapse.collapsed:before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  float: right;
  transition: all 0.5s;
  font-weight: 700;
  color: #323031;
  margin-top: -2px;
}

.panel-heading {
  .card-header {
    background-color: white;
    color: black;
    border-bottom: none;
    padding-top: 1.2rem;
    .card-title {
      font-size: 1rem;
      max-width: 95%;
      text-align: justify;
      .time {
        color: #8C8C8C;
        font-size: 14px;
      }
    }
    .card-tools {
      margin-right: -.15rem;
    }
  }
}

.panel-collapse {
  .btn-outline-primary {
    width: 2rem;
    height: 2rem;
    padding-left: 0.55rem;
  }
}

.form-customer{
  .histories{
    .card{
      .card-body{
        background-color: #F5F6F9;
        .panel.panel-default{
          margin-bottom: 10px;
          background-color: #FFFFFF;
          .panel-body{
            padding:0px 15px 15px 1.2rem;
            .description{
              font-size: 14px;
              color: #8C8C8C;
            }
            .timeline .tl-content .tl-title{
              color:#000000;
              font-weight:bold;
            }
            ul li {
              padding: 5px 0px;
              span:last-child{
                font-weight:bold;
              }
            }
          }
        }
        .panel.panel-default:last-child{
          margin-bottom: 0px;
        }
        .nested-fields{
          margin-bottom: 10px;
          background-color: #FFFFFF;
          padding: 5px 8px;
        }
        .btn-reti-secondary {
          width: 120px;
        }
      }
      .padding-default{
        padding: 0 0 2rem 0;
        background-color: #F5F6F9;
        margin-bottom: 10px;
      }
      .visit-journey-title {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .visit-journey-hidden, .add-visit-buttons {
      display: none;
    }

    .custom-chevron-group {
      width: 40px;
    }

    .email-journey-empty {
      padding: 1rem 1.2rem 1rem 1.2rem;
      font-size: 1rem;
    }

    .remove-group {
      text-align: right;
      a, button {
        padding-top: 0.25rem;
        padding-left: 0.5rem;
      }
    }
  }
}

.histories{
  .links{
    background-color: #fff;
    margin-top: -10px;
  }
  .journey-control{
    background-color: #fff;
  }
  .edit-visit-buttons, .ads-journey-control {
    background-color: #fff;
  }
}

.card-body{
  .ads-journey-edit{
    .nested-fields{
      margin-bottom: 0px!important;
    }
  }
}

#custom-content-above-home-tab {
  position: relative;
}
