.list-project-news::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #EDEEF1;
}

.list-project-news::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #EDEEF1;
}

.list-project-news::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #BDBDBD;
}
.list-project-news{
  font-size: 14px;
  overflow-x: auto;
  @media (max-width: 599px) {
    font-size: 16px;
  }
  .project-news{
    border: 1px solid #F2F2F2;
    .project{
      .project-name{
        color: $reti-primary-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 8px;
      }
      .project-name::before{
        background: asset-url('tms-building-color.svg') no-repeat left center;
        content: "";
        display: inline-block;
        width: 14px;
        height: 12px;
      }
      .created-at{
        white-space: nowrap;
      }
    }
    .title{
      font-weight: 700;
    }
    .content{
    }
    .control-view{
      color: #007BFF;
      .view-more, .view-less{
        cursor: pointer;
        display: inline-block;
      }
    }
  }
}

.dashboard-search{
  .dropdown.tms-card.show {
    .dropdown-toggle {
      background: #FFFFFF;
      border: 1px solid #7ED9DE;
      box-shadow: 0px 1px 3px rgba(126, 217, 222, 0.85);
      border-radius: 2px 2px 0px 0px !important;
    }
    .dropdown-menu.show {
      top: 48px!important;
      transform: translate3d(-5px, -8px, 0px) !important;
    }
    .menuItems {
      font-size: 16px;
      line-height: 16px;
      color: #6c757d !important;
      overflow-y: scroll;
      max-height: 300px;
      .label-dropdown-item {
        margin: 8.5px 7.5px 7.5px 7.5px;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .container {
        display: inline-block;
        position: relative;
        cursor: pointer;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        min-height: 36px;
        padding: 8px 0 8px 38px;
        input {
          opacity: 0;
        }
        :hover input ~ .checkmark {
          background-color: #ccc;
        }
        input:checked ~ .checkmark:after {
          display: block;
        }
        input:checked ~ .checkmark {
          background-color: #FFFFFF;
          border: 2px solid $reti-primary-color;
        }
        .checkmark {
          position: absolute;
          top: 7px;
          left: 8px;
          height: 18px;
          width: 18px;
          border: 2px solid #3ac5c9;
          border-radius: 2px;
        }
        .checkmark:after {
          position: absolute;
          left: 4px;
          bottom: 3px;
          width: 6px;
          height: 10px;
          border: solid $reti-primary-color;
          -webkit-transform: rotate(40deg);
          -ms-transform: rotate(40deg);
          transform: rotate(40deg);
          border-width: 0 2px 2px 0;
        }
      }
      .container[data-sort='0'] {
        background-color: #F0F7FF;
        color: #000000;
        font-weight: 500;
      }
    }
    .menuItems::-webkit-scrollbar-track
    {
      border-radius: 10px;
      background-color: #EDEEF1;
    }

    .menuItems::-webkit-scrollbar
    {
      width: 8px;
      height: 8px;
      background-color: #EDEEF1;
    }

    .menuItems::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #BDBDBD;
    }
  }
  .dropdown-toggle{
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 38px !important;
    border-radius: 2px !important;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    margin: 0 0 0.5rem 0;
    position: relative;
    padding-right: 30px;
    color: #828282;
    .fa-caret-down{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #CED4DA;
    }
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-menu {
    border: 1px solid #7ED9DE;
    border-top: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    border-radius: 2px 2px 0px 0px;
    padding: 0 !important;
    width: -webkit-fill-available;
    margin: 3px -5px 0 5px;
  }
  .shadow-filter-body {
    position: inherit;
    bottom: 8px;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.12);
  }
}
.min-height-518{
  min-height: 518px;
}

.chart-text-1 {
  margin-top: 4px;
  color: #595959;
  text-align: center;
}
.chart-text-2 {
  margin-top: 8px;
  font-weight: bold;
  color: #595959;
  text-align: center;
}

.chart {
  width: auto;
  height: 500px;
  margin: 0 auto;
}

.chart-millions {
  position: inherit;
  color: #8C8C8C;
  margin-left: 4px;
}

.chart-blocks {
  position: inherit;
  color: #8C8C8C;
  margin-left: auto;
  margin-right: 8px;
}

.chart-dashboard {
  margin-top: -4px
}

@media (max-width: 425px) {
  .chart-dashboard {
    margin-top: -4px;
    margin-left: -8px
  }
}

@media (max-width: 375px) {
  .chart-dashboard {
    margin-top: -4px;
    margin-left: -2px
  }
}