.svg-item {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

.donut-ring {
    stroke: #F5F5F5;
}

.donut-segment {
    transform-origin: center;
    stroke: #FF6200;
}

.donut-segment-2 {
    stroke: $reti-primary-color;
    // animation: donut1 3s;
}

.segment-1{fill:#ccc;}
.segment-2{fill:aqua;}
.segment-3{fill:#d9e021;}
.segment-4{fill:#ed1e79;}

.donut-percent {
    animation: donutfadelong 1s;
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 100, 0;
    }
}

.donut-text {
    // font-family: Arial, Helvetica, sans-serif;
    fill: #FF6200;
}
.donut-text-1 {
    fill: $reti-primary-color;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: 700;
}

.donut-data {
    font-size: 0.125em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#000;
    fill: #000;
    animation: donutfadelong 1s;
}

.donut-arrow {
    position: absolute;
    width: 0.4em;
    height: 0.4em;
}

.btn-dashboard {
  width: 100%;
  height: 40px;
  background-color: #F15B40;
  color: #ffffff;
}

.btn-dashboard:hover {
  background-color: #f5674d;
  color: #ffffff;
}

.academy-info {
  font-style: italic;
  font-weight: normal;
  color: #8C8C8C;
  padding-left: 15%;
  padding-right: 15%;
}

.kpi-progress {
  color: $reti-primary-color;
  font-weight: 700;
}
