@mixin set-height($flash: true) {
  @if $flash {
    height: calc(100vh - 360px);
  } @else {
    height: calc(100vh - 264px);
  }
}
.container-fluid{
  .kanban-ticket{
    @include set-height($flash: false);
  }
  .kanban-ticket.has-flash{
    @include set-height($flash: true);
  }
}
.text-one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.kanban-ticket {
  .btn-add {
    background: #CC3F2D;
    color: #ffffff;
  }
  .kanban-col > .card{
    background-color: #EDEEF1;
    color: #000000;
    box-shadow: none;
    .kanban-col-title{
      padding: 10px 16px;
      border-bottom: 1px solid #E9EAED;
      background-color: #EDEEF1;
      z-index: 99;
      top: 0;
      .card-title{
        line-height: 2;
        height: 29px;
      }
      .btn-add-kanban-item{
        font-size: 14px;
        padding: 4px 10px;
      }
    }
    .kanban-body-container{
      // overflow-y: auto;
      // max-height: calc(100vh - 260px);
      min-height: 200px;
    }
  }
  .kanban-col{
    padding-right: 7.5px;
    padding-left: 7.5px;
    flex: 0 0 340px;
    @media (max-width: 599px) {
      flex: unset;
    }
  }

  .kanban-item {
    width: 320px;
    cursor: pointer;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
      .btn-right{
        width: 24px;
        height: 24px;
        font-size: 11px;
      }
    }
    .card-header{
      padding: 1rem 0.75rem;
    }
    .kanban-top {
      position: relative;
      .kanban-border-top {
        z-index: 10;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        .kanban-border-top-5 {
          background: #CC3F2D;
          border: 1px solid #FFEFE8;
          box-sizing: border-box;
          border-radius: 8px;
          transform: matrix(1, 0, 0, -1, 0, 0);
          width: 20%;
        }
        .kanban-border-top-4 {
          background: #EF5B40;
          border: 1px solid #FFEFE8;
          box-sizing: border-box;
          border-radius: 8px;
          transform: matrix(1, 0, 0, -1, 0, 0);
          width: 20%;
        }
        .kanban-border-top-3 {
          background: #FF886E;
          border: 1px solid #FFEFE8;
          box-sizing: border-box;
          border-radius: 8px;
          transform: matrix(1, 0, 0, -1, 0, 0);
          width: 20%;
        }
        .kanban-border-top-2 {
          background: #FFAD96;
          border: 1px solid #FFEFE8;
          box-sizing: border-box;
          border-radius: 8px;
          transform: matrix(1, 0, 0, -1, 0, 0);
          width: 20%;
        }
        .kanban-border-top-1 {
          background: #FFCFBF;
          border: 1px solid #FFEFE8;
          box-sizing: border-box;
          border-radius: 8px;
          transform: matrix(1, 0, 0, -1, 0, 0);
          width: 20%;
        }
      }
      .kanban-border-top-blank {
        background-color: #FFEFE8;
        width: 100%;
        height: 5px;
      }
    }
    .card-body {
      display: flex;
      flex-wrap: nowrap;
      padding: 16px 12px 12px 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      .body-right{
        width: 266px;
        padding-right: 20px;
        .card-body-line{
          text-overflow: ellipsis;
          margin-bottom: 0.25rem;
          overflow: hidden;
          white-space: nowrap;
          padding-right: 2rem;
        }
        .card-body-line:last-child{
          padding-right: 0.5rem;
        }
      }

    }
    .body-left{
      .image-avatar {
        height: 40px !important;
        width: 40px !important;
        position: absolute;
        right: 12px;
        bottom: 12px;
      }
    }

  }
  .kanban-item.active {
    z-index: 1050;
    // opacity: 0.5;
  }
  .item-sorting {
    background-color: #F0F7FF;
    transform: rotate(1deg);
    z-index: 1001 !important;
  }
}

.kanban-label{
  font-size: 1rem;
  line-height: 1.5rem; 
}

.state-day{
  background: #82869E;
  color: #ffffff;
  display: inline-block;
  border-radius: 99px;
  .states{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 99px;
  }
}

.statuses {
  margin-top: 4px;
  .statuses-container {
    overflow: hidden;
    white-space: normal;
    max-width: 100%;
    margin-right: 10px;
  }
  .status{
    display: inline-block;
    padding: 2px 12px;
    border-radius: 99px;
    margin-right: 8px;
    margin-bottom: 3px;
  }
  .status-success {
    background: #52C41A;
    color: #FFFFFF;
  }
  .status-primary {
    background: #3E91F7;
    color: #FFFFFF;
  }
  .status-danger {
    background: #DA4343;
    color: #FFFFFF;
  }
  .status-warning {
    background: #FFBB00;
    color: #FFFFFF;
  }
  .status-canceled {
    background: #595959;
    color: #FFFFFF;
  }
  .status-uninterested {
    background: #DA4343;
    color: #FFFFFF;
  }
  .status-no-phone {
    background: #F28123;
    color: #FFFFFF;
  }
}

.status-gradian{
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  background-color: #fff;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

#modal-detail {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0.3;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

#modal-detail .modal-dialog {
  margin-top: 0px;
  position: absolute;
  max-width: 640px;
  width: 640px;
  height: 757px;
}

#modal-detail .modal-dialog .modal-content .modal-body{
  height: 600px;
  overflow: auto;
}

.detail-item {
  padding: 16px;
  .detail-item-heading {
    // font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: $reti-primary-color;
  }
}

.info-item-group{
  margin-top: 14px;
  .info-item-label {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
  }
  .info-item-content {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

// class add tag body
.body-kanban {
  height: 100vh;
  //overflow: hidden;
}

#modal-assign .modal-dialog {
  margin-top: 0px;
  position: absolute;
  // max-width: 340px;
  width: 340px;
  max-height: 320px;
  // overflow: hidden;

  .modal-content{
    // overflow: hidden;
    // height: 320px;
  }
  .assign-body {
    font-size: 14px;
    line-height: 16px;
  }
  .assign-search {
    padding: 8px 4px;
    input {
      font-size: 14px;
      border-right: none;
    }
    .input-group-append {
      .input-group-text{
        background: none;
        color: #6c757d;
        position: absolute;
        right: 0px;
        height: 38px;
      }
    }
    // .tt-menu {
    //   border-top: 0;
    //   left: -5px;
    //   width: 104%;
    //   border: 1px solid #3ac5c9;
    // }
  }
  .assign-heading {
    background: $reti-primary-color;
    border: 1px solid $reti-primary-color;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    .assign-btn-close {
      cursor: pointer;
    }
  }
  .assign-content {
    max-height: 224px;
    overflow: auto;
  }
  .assign-item {
    margin: 0;
    padding: 0.5rem 1rem;
    align-items: center;
    cursor: pointer;
    .assign-item-avatar {
      width: 32px;
      height: 32px;
      margin-right: 5px;
    }
    .image-avatar {
      margin-right: 5px;
    }
  }
  .assign-item:hover{
    background: #F0F7FF;
  }

  .tt-menu{
    border: none !important;
    box-shadow: none !important;
    display: block !important;
    left: -4px !important;
    width: calc(100% + 8px);
    .tt-suggestion{
      color: black !important;
    }
  }

  .assign-content,
  .assign-search .tt-dataset-value {
    max-height: 220px;
    overflow: auto;
  }

}

.nav-sidebar .menu-open > .nav-link i.right {
  transform: rotate(90deg) !important;
}

// kanban item new
.kanban-item-error{
  border: 1px solid #dc3545 !important;
  margin-bottom: 0 !important;
}
.kanban-item-title-error {
  padding-top: 0.25rem !important;
  margin-bottom: 0.5rem !important;
  color: #ED5B57;
}

.kanban-scroll::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #EDEEF1;
}

.kanban-scroll::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #EDEEF1;
}

.kanban-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #BDBDBD;
}

.kanban-border-bottom{
  border-bottom: 1px solid #F0F0F0;
}

.kanban-item .card-header .title .btn-default {
  background-color: #F2F2F2;
  border-color: #E0E0E0;
  color: #828282;
}
.overflow-x{
  overflow-x: auto;
  overflow-y: hidden;
}

[class*=sidebar-dark-] .nav-treeview > .nav-item.menu-open > .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link {
  padding-left: 1.7rem;
}

[class*=sidebar-dark-] .nav-treeview .nav-treeview > .nav-item > .nav-link {
  padding-left: 2.7rem;
}

// Custom sidebar
// .main-sidebar,
// .layout-fixed .brand-link {
//   width: 320px;
// }

// @media (min-width: 768px) {
//   body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
//     transition: margin-left .3s ease-in-out;
//     margin-left: 320px;
//   }
// }

.main-footer-fixed .btn {
  width: 15%;
}
.font-weight-600{
  font-weight: 600 !important;
}
.font-weight-500{
  font-weight: 500 !important;
}
.tt-menu{
  max-height: 300px;
  overflow: auto;
}
.modal-header .close {
  font-size: 28px;
  margin: 0 -2rem 0 auto;
  color: #000;
}

#edit-modal-btn {
  display: none;
}

/*.modal {
  overflow-y: auto !important;
}*/

@media (min-width: 992px) {
  #modal-edit {
    .modal-lg {
      max-width: 1040px !important;
    }
    .ticket-labels {
      width: 950px;
    }
  }
}

#modal-edit {
  .detail-item {
    padding: 0px;
    .form-group {
      margin-bottom: 0 !important;
    }
  }
  .nav-pills {
    margin-bottom: 10px;
  }
  .nav-item {
    //margin-right: 5px;
  }
  .nav-link {
    padding: 4px 12px;
    height: 36px;
    color: #828282;
    background: #F2F2F2;
    border-radius: unset;
    &.active {
      color: #FFFFFF;
      background: $reti-primary-color;
    }
  }

  #add-label {
    border: 1px solid #EF5B40;
    border-radius: 4px;
    background-color: white;
    i {
      font-size: 12px;
      color: #EF5B40;
    }
  }

  .ticket-label-btn {
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
    font-size: 14px;
  }

  .ticket-label {
    margin-bottom: 0 !important;
  }

  #add-appointment {
    padding: 4px 16px 0px;
    //height: 32px;
    //color: #EF5B40;
    border: 1px solid #EF5B40;
    box-sizing: border-box;
    border-radius: 4px;
    i {
      border: 1px solid #EF5B40;
      border-radius: 4px;
      padding: 3px 4px;
      font-size: 12px;
      margin-bottom: 4px;
    }
  }

  .deal-state {
    padding: 0 !important;
    text-align: center;
    .select2-container {
      .select2-selection {
        display: flex;
        justify-content: center;
        .select2-selection__arrow {
          position: unset;
          b{
            border: solid $reti-primary-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            left: unset;
            top: 45%;
            margin-left: 5px;
          }
          b::focus{
            border-width: 2px 0px 0px 2px;
          }
        }
      }
    }
    .select2-container--open {
      .select2-selection {
        display: flex;
        justify-content: center;
        .select2-selection__arrow {
          position: unset;
          b{
            border: solid $reti-primary-color;
            border-width: 2px 0px 0px 2px;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            left: unset;
            top: 50%;
            margin-left: 5px;
          }
          b::focus{
            border-width: 2px 0px 0px 2px;
          }
        }
      }
    }
  }

  #deal_state {
    margin-top: 1rem;
    // background: $reti-primary-color;
    // border: solid 1px $reti-primary-color;
    // color: $reti-primary-color;
  }

  // #appointments .nested-fields,
  // #calls .nested-fields,
  // #online-feedbacks .nested-fields,
  // #feedbacks .nested-fields,
  // #notes .nested-fields {
  //   border: 1px solid #F2F2F2;
  //   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  //   padding: 10px;
  //   margin-bottom: 10px;
  // }

  .nested-btn-group {
    margin-bottom: 0 !important;
    margin-top: 10px;
    .btn {
      height: 32px;
      padding: .175rem .75rem;
    }
    .btn-save-nested {
      background: #EF5B40;
      color: #FFFFFF;
    }
  }

  .image-avatar{
    width: 40px;
    vertical-align: unset;
    margin-right: 5px;
  }

  .close-modal-edit:focus {
    outline: none;
  }
}

.auto-toggle-modal-btn, .detail-modal-btn, .preview-modal-btn {
  display: none;
}
.deal-state .select2-selection {
  background-color: #FFFFFF;
  border: solid 1px $reti-primary-color;
  .select2-selection__rendered{
    color: $reti-primary-color;
  }
}

.select2-container--bootstrap.select2-container--open{
  z-index: 2052;
}

.select2-container--bootstrap.select2-container--open.swal-select2-container{
  z-index: 2200;
}

.select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: $reti-primary-color;
  // border: solid 2px $reti-primary-color;
  border-bottom: none;
}
.select2-container--bootstrap .select2-dropdown {
  border-color: $reti-primary-color;
  // border: solid 2px $reti-primary-color;
  border-top: none;
}


.font-size-14{
  font-size: 14px;
}

.font-size-16{
  font-size: 16px;
}

.font-size-18{
  font-size: 18px!important;
}

.btn-kanban-warning{
  background: #FFBB00;
  color: #FFFFFF;
  border: solid 2px #FFBB00;
}

.btn-kanban-danger{
  background: #EF5B40;
  color: #FFFFFF;
  border: solid 2px #EF5B40;
}

.btn-kanban-danger:hover{
  background: #EF5B40;
  color: #FFFFFF;
  border: solid 2px #EF5B40;
}

.btn-kanban-warning:hover{
  background: #FFBB00;
  color: #FFFFFF;
  border: solid 2px #FFBB00;
}

.btn-kanban-border-danger{
  background: #FFFFFF;
  color: #EF5B40;
  border: solid 2px #EF5B40;
}

.btn-kanban-border-danger:hover{
  background: #FFFFFF;
  color: #EF5B40;
  border: solid 2px #EF5B40;
}

.btn-kanban-success{
  line-height: 24px;
  padding: 4px;
  background: #52C41A;
  color: #FFFFFF;
}
.btn-kanban-success:hover{
  background: #52C41A;
  color: #FFFFFF;
}

.tms-mr-10{
  margin-right: 10px;
}

.tms-mr-6{
  margin-right: 6px;
}

.tms-mt-6{
  margin-top: 6px;
}

.tms-p-16{
  padding: 16px;
}

.tms-pb-26{
  padding-bottom: 26px;
}

.tms-pr-35{
  padding-right: 35px;
}

.kanban-btn-info{
  color: #fff;
  background-color: $reti-primary-color;
  border-color: $reti-primary-color;
  box-shadow: none;
}

.kanban-level {
  position: relative;
  .kanban-modal-level {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    .kanban-modal-level-5 {
      background: #CC3F2D;
      border: 1px solid #FFEFE8;
      box-sizing: border-box;
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 20%;
    }
    .kanban-modal-level-4 {
      background: #EF5B40;
      border: 1px solid #FFEFE8;
      box-sizing: border-box;
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 20%;
    }
    .kanban-modal-level-3 {
      background: #FF886E;
      border: 1px solid #FFEFE8;
      box-sizing: border-box;
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 20%;
    }
    .kanban-modal-level-2 {
      background: #FFAD96;
      border: 1px solid #FFEFE8;
      box-sizing: border-box;
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 20%;
    }
    .kanban-modal-level-1 {
      background: #FFCFBF;
      border: 1px solid #FFEFE8;
      box-sizing: border-box;
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 20%;
    }
  }
  .kanban-modal-level-blank {
    background-color: #FFEFE8;
    width: 100%;
    height: 8px;
  }
}

.kanban-bg-light{
  background-color: #EDEEF1!important;
}

.kanban-bg-gray{
  background-color: #F9F7F6 !important;
}


.overflow-hidden{
  overflow: hidden;
}

.flex-70{
  flex: 70%;
}

.flex-30{
  flex: 30%;
}

.task{
  .task-left{
    line-height: 2;
  }
}

.deal-session-border-bottom{
  border-bottom: solid 8px #EDEEF1;
}

.tms-line-height-2{
  line-height: 2;
}

.tms-line-height-14{
  line-height: 14px;
}

.tms-line-height-16{
  line-height: 16px;
}

.tms-line-height-18{
  line-height: 18px;
}

.tms-line-height-20{
  line-height: 20px;
}

.tms-line-height-22{
  line-height: 22px;
}

//css edit assignee
.dropdown-assign {
  position: relative;
}

.dropdown-assign-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  // overflow: auto;
  border-color: $reti-primary-color;
  border: solid 2px $reti-primary-color;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);

  .assign-heading {
    background: $reti-primary-color;
    border: 1px solid $reti-primary-color;
    box-sizing: border-box;
    // border-radius: 4px 4px 0px 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    .assign-btn-close {
      cursor: pointer;
    }
  }

  .assign-search {
    padding: 8px 4px;
    input {
      font-size: 14px;
      border-right: none;
    }
    .input-group-append {
      .input-group-text{
        background: none;
        color: #6c757d;
        position: absolute;
        right: 0px;
        height: 38px;
      }
    }
    .tt-menu {
      left: -6px !important;
      width: calc(100% + 12px);
      border: 2px solid #3ac5c9;
      border-top: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    .image-avatar {
      margin-right: 5px;
    }
  }

  .assign-content,
  .assign-search .tt-dataset-value {
    max-height: 224px;
    overflow: auto;
    .assign-item {
      margin: 0;
      color: black;
      padding: 4px 8px;
      align-items: center;
      cursor: pointer;
      display: block;
      .assign-item-avatar {
        width: 32px;
        height: 32px;
        margin-right: 5px;
      }
      .image-avatar {
        margin-right: 5px;
      }
    }
    .assign-item:hover {
      background-color: #F0F7FF;
    }
  }
}

.show {display: block;}

body {
  .swal2-modal{
    padding: 0px 0px 20px 0px;
    .swal2-header{
      height: 60px;
      background: $reti-primary-color;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      #swal2-title{
        top: 15px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
      }
    }
    .swal2-content{
      padding: 16px 80px 0px 80px;
      .form-group{
        text-align: left;
      }
      #swal2-content{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .swal-create-customer{
    padding: 1.25em;
    .swal2-header{
      height: auto;
      background: none;
      border-top-left-radius: none;
      border-top-right-radius: none;
      #swal2-title{
        color: black;
      }
    }
  }
}
.btn-new-customer {
  color: white;
  background-color: #EF5B40;
  &:hover {
    color: white;
  }
}
.status-task-right {
  .btn-kanban-warning,
  .btn-kanban-danger {
    min-width: 109px !important;
  }
}
.status-task-left{
  font-size: 14px;
}
.new-customer-group-body,
.new-call-group-body, .cs-ticket-group-body {
  text-align: left;
}

.select2-customer-phone-result {
  display: flex;
  p {
    font-weight: 400;
    margin-left: 4px;
    color: #828282;
  }
}

.form-control:disabled {
  background-color: #eeeeee !important;
}
.author-name{
  .name{
    display: inline-block;
  }
  .date{
    display: inline-block;
    color: #828282;
  }
}
.group-show{
  .content{
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;
    .label-show{
      color: #828282;
    }
    .btn-edit, .report-appointment{
      position: absolute;
      top: 8px;
      right: 8px;
      background: #FFFFFF;
      border: 1px solid #3E91F7;
      box-sizing: border-box;
      border-radius: 4px;
      color: #3E91F7;
      outline: unset;
    }
  }
}

.nested-fields{
  .group-form{
    border: 1px solid #F2F2F2;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
    padding: 10px;
    margin-bottom: 10px;
  }
}

#form-edit-title-deal{
  display: inline-flex;
  .input-edit-title-deal{
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .input-edit-title-deal:focus{
    border: none;
    background: #eee;
  }
  .input-edit-title-deal[readonly]{
    background-color: none;
    outline: none;
  }
  .input-edit-title-deal[readonly]:focus{
    background: inherit;
  }
  .deal-full-name{
    font-size: 2rem;
    color: #434657;
    .deal-name-text{
      font-weight: 500;
    }
  }
}

.assign-btn-close {
  -webkit-appearance: unset;
}

.swal-canceled-group .swal2-html-container {
  text-align: left;
}

.swal-update-product-group {
  .swal2-html-container {
    text-align: left !important;
  }
  .swal2-header {
    height: 85px !important;
  }
  .select2-container {
    width: auto !important;
  }
  .swal2-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.swal-update-commission-group {
  .swal2-html-container {
    text-align: left !important;
  }
  .swal2-header {
    height: 85px !important;
  }
  .select2-container {
    width: auto !important;
  }
  .swal2-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .swal2-modal {
    width: 650px;
  }
  .swal2-title {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.select2-search__field {
  width: 100% !important;
}

.select2-search__field::placeholder {
  width: 100% ;
}

.icheck-text-decoration-line-through{
  text-decoration: line-through;
  color: #BDBDBD;
}

.note-table-content {
  width: 556px;
  display: inline-block;
  word-break: break-word;
  text-align: justify;
}

.label-required::after {
  content: " *";
  color: #dc3545;
}

.btn-collapse{
  cursor: pointer;
  color: #007BFF;
  font-size: 16px;
}
.show-more:before {
  content: "Xem thêm ";
}
.show-more:after {
  background: asset-url('down.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.show-less:before {
  content: "Ẩn bớt ";
}
.show-less:after {
  background: asset-url('up.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.tab-highlight{
  position: absolute;
  top: -9px;
  right: 0px;
}

.kanban-search-group {
  .btn-add-filter {
    margin-right: -5px;
    &:hover {
      background-color: $reti-primary-color;
      color: white;
    }
  }

  .btn-clear-filter {
    color: #CC3F2D;
    &:hover {
      background-color: #CC3F2D;
      color: white;
    }
  }

  #deal-search {
    width: 208px;
    margin-top: 2px;
  }
  input[type="search"].tt-hint {
    padding-right: 20px !important;
  }

  #deal-search::-webkit-search-cancel-button,
  #deal-search::-webkit-search-decoration {
    cursor: pointer !important;
    color: black !important;
  }

  .add-filter-group {
    width: 0px;
  }

  .add-filter-group .select2-selection,
  .add-filter-class-0,
  .add-filter-class-1,
  .add-filter-class-2,
  .add-filter-class-3,
  .add-filter-class-4,
  .add-filter-class-5,
  .add-filter-class-6,
  .add-filter-class-7,
  .add-filter-class-8 {
    display: none;
    margin-top: 1px;
  }

  .search-icon {
    position: absolute;
    border: 0;
    left: 175px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 3px;
    width: 30px;
    font-size: 12px;
    height: 38px;
  }

  .search-button {
    font-size: 14px;
    padding: 7px 10px;
    background: #CC3F2D;
    color: #ffffff;
    cursor: pointer;
    margin-top: 2px;
  }

  .select2-selection__choice__remove {
    display: none !important;
  }

  .select2-selection__clear {
    color: white;
    margin-top: 8px !important;
  }

  span.select2-selection {
    background-color: $reti-primary-color;
  }

  .add-filter-class-1,
  .add-filter-class-2 {
    input {
      padding-right: 30px !important;
      margin-right: -7px;
    }
    .fa-created-at,
    .fa-updated-at {
      font-size: 10px;
      margin-left: -23px;
      height: 36px;
      margin-right: -7px;
      width: 30px;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      padding-top: 13px;
    }
  }

  .add-filter-class-0,
  .add-filter-class-1,
  .add-filter-class-2,
  .add-filter-class-3,
  .add-filter-class-4,
  .add-filter-class-5,
  .add-filter-class-6,
  .add-filter-class-7,
  .add-filter-class-8 {
    ul.select2-selection__rendered {
      padding-right: 30px !important;
      &:after {
        content: "×";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        font-weight: bold;
        background-color: white;
        width: 30px;
        height: 36px;
        text-align: center;
        padding-top: 7px;
      }
    }
    ul.select2-selection__rendered.hidden {
      padding-right: 0px !important;
      &:after {
        display: none;
      }
    }
  }

  ul.select2-selection__rendered {
    li.select2-search--inline {
      background-color: white !important;
      height: 36px !important;
      width: 100% !important;
    }
    li.select2-selection__choice {
      border: none !important;
      padding-top: 3px !important;
      background-color: $reti-primary-color;
      color: white;
      &:first-of-type {
        margin-right: 0 !important;
      }
      &:nth-child(3) {
        padding-left: 0 !important;
        margin-left: 0 !important;
      }
      &:nth-child(n + 4) {
        display: none !important;
      }
    }
  }

  .select2-search__field {
    padding-top: 2px !important;
  }

  .select2-container--bootstrap {
    .select2-selection, .select2-dropdown {
      border-radius: 0 !important;
    }
  }

  .deal-search-group {
    display: inline-block !important;
    .twitter-typeahead {
      display: initial !important;
      .tt-hint {
        width: 100%;
      }
    }
    .tt-menu {
      z-index: 1001 !important;
      border: 1px solid $reti-primary-color !important;
      border-radius: 0 !important;
      margin-top: 20px !important;
      .group-name {
        background-color: $reti-primary-color;
        padding: 5px;
        padding-left: 10px;
        font-size: 16px;
        color: white;
      }
      .tt-suggestion {
        font-size: 14px !important;
        &:hover {
          background-color: #F0F7FF !important;
          color: black !important;
        }
      }
    }
  }
}

.select2-container--bootstrap {
  .select2-results > .select2-results__options {
    max-height: 220px !important;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: #F0F7FF !important;
    color: black;
  }
  .select2-results__option[aria-selected=true] {
    background-color: #F0F7FF !important;
    label {
      font-weight: bold !important;
    }
  }

  #select2-keyword-search-results,
  #select2-deal_customer_persona_attributes_hobbies-results,
  #select2-state-search-product-results,
  #select2-subdivision_id-search-product-results,
  #select2-block_id-search-product-results,
  #select2-floor_id-search-product-results,
  #select2-state-search-deal-results,
  #select2-source-search-deal-results,
  #select2-project-search-deal-results,
  #select2-assignee-search-deal-results,
  #select2-filter-search-deal-results,
  #select2-label-search-deal-results,
  #select2-group-search-deal-results,
  #select2-purchase-purpose-search-deal-results,
  #select2-product-type-search-deal-results,
  #select2-door-direction-search-deal-results,
  #select2-project-ids-search-deal-results,
  #select2-balcony-direction-search-deal-results {
    .select2-results__message, .select2-results__option {
      font-size: 14px !important;
      label {
        padding-top: 3px;
      }
    }
    label {
      position: relative;
      padding-left: 40px;
      font-weight: normal;
      cursor: pointer;
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &:not(.has_child):before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 22px;
        height: 22px;
        transition: transform 0.28s ease;
        border-radius: 3px;
        border: 2px solid $reti-primary-color;
      }
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 5px;
        border-bottom: 2px solid $reti-primary-color;
        border-left: 2px solid $reti-primary-color;
        transform: rotate(-45deg) scale(0);
        transition: transform ease 0.25s;
        position: absolute;
        top: 12px;
        left: 10px;
      }
    }
    input[type="checkbox"] {
      pointer-events: none;
      width: auto;
      opacity: 0.00000001;
      position: absolute;
      left: 0;
      margin-left: -20px;
      &:checked ~ label{
        &:not(.has_child):before {
          border: 2px solid $reti-primary-color;
        }
        &:after {
          transform: rotate(-45deg) scale(1);
        }
      }
      &:focus + label::before {
        outline: 0;
      }
    }

  }

  #select2-deal_customer_persona_attributes_hobbies-results {
    .select2-container--bootstrap .select2-results > .select2-results__options {
      max-height: 336px !important;
    }
    .select2-search__field {
      display: none;
    }
    .group-action {
      float: right;
      margin-right: 10px;
      font-size: 12px;
      padding-top: 4px;
    }
    .select2-results__option {
      border-top: 1px solid lightgrey;
    }
    .select2-results__option[title="hidden"] {
      display: none;
    }
    .has_child {
      font-size: 14px;
      padding-left: 10px;
      margin-bottom: 2px;
    }
    .l1 {
      width: 100%;
    }
    .l2 {
      margin-left: 24px;
      width: calc(100% - 24px);
    }
    .l3 {
      margin-left: 48px;
      width: calc(100% - 48px);
    }
  }
}

.spanner{
  position:fixed;
  top: 50%;
  left: 0;
  background: #2a2a2a55;
  width: 100%;
  display:block;
  text-align:center;
  height: 100%;
  color: #FFF;
  transform: translateY(-50%);
  z-index: 2055;
  visibility: hidden;
  padding-top: 45vh;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
}

.show{
  visibility: visible;
}

.spanner, .overlay{
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show, .overlay.show {
  opacity: 1
}

.select2-container--open .select2-dropdown.select2-dropdown--below {
  overflow: unset !important;
}

.suggestive-name {
  margin-top: 4px;
}

.truncated-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  .deal-sub-name-text {
    font-weight: 400;
  }
}

.input-show-source-group{
  .form-group{
    margin: 0;
  }
  .button-control{
    position: absolute;
    right: 0;
    bottom: -30px;
    .btn-source-cancel{
      padding: 5px 10px 4px 10px;
      font-size: 12px;
      color: gray;
    }
    .btn-source-check{
      padding: 5px 7px 4px 8px;
      font-size: 12px;
      color: gray;
    }
  }
}

.input-create-deal-date{
  position: relative;
  .form-group{
    margin: 0;
  }
  .button-control{
    position: absolute;
    right: 0;
    bottom: -30px;
    .btn-create-date-cancel{
      padding: 5px 10px 4px 10px;
      font-size: 12px;
      color: gray;
    }
    .btn-create-date-check{
      padding: 5px 7px 4px 8px;
      font-size: 12px;
      color: gray;
    }
  }
}

.source-group{
  .button-control-edit{
    font-size: 14px;
    color: gray;
  }
}

.assign-search .tt-menu {
  display: block !important;
}

.regulation-search-group {
  .twitter-typeahead {
    display: initial !important;
    .tt-hint {
      width: 100%;
    }
  }
  .tt-menu {
    z-index: 1001 !important;
    border: 1px solid $reti-primary-color !important;
    border-radius: 0 !important;
    .group-name {
      background-color: $reti-primary-color;
      padding: 5px;
      padding-left: 10px;
      font-size: 16px;
      color: white;
      margin-bottom: 0px;
    }
    .tt-suggestion {
      font-size: 14px !important;
      &:hover {
        background-color: #F0F7FF !important;
        color: black !important;
      }
    }
  }
  .tt-suggestion {
    cursor: pointer !important;
  }
}

.regulation-search-input::-webkit-search-cancel-button,
.regulation-search-input::-webkit-search-decoration {
  cursor: pointer !important;
  color: black !important;
}

.checkbox-label {
  &:hover {
    cursor: pointer;
  }
}

// Commission fields
.source-group, .total-price, .contract-signed-at, .create-deal-date, .source-detail {
  cursor: default;
  .button-control-edit{
    font-size: 14px;
    color: gray;
  }
}

.editable {
  cursor: pointer;
  &:hover {
    background-color: aliceblue;
  }
}

.input-show-commission-group{
  .form-group{
    margin: 0;
  }
  .button-control{
    text-align: right;
    margin-top: 2px;
    .btn-tms-cancel {
      padding: 5px 10px 4px 10px;
      font-size: 12px;
      color: gray;
    }
    .btn-tms-check {
      padding: 5px 7px 4px 8px;
      font-size: 12px;
      color: gray;
    }
  }
}

#input-show-text-contract-signed-at[readonly],
#created-at-search-deal[readonly],
#updated-at-search-deal[readonly] {
  background-color: white;
}

#created-at-search-deal,
#updated-at-search-deal {
  border-radius: 0;
}

#swal_regulation_end_date, #regulation_date_range[readonly], #swal_deal_signed_at[readonly] {
  background-color: transparent;
}

.custom-tooltip {
  position: relative;
}

.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: $reti-primary-color;
  color: white;
  text-align: left;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
}

.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
}
.super-admin-control{
  margin-bottom: 16px;
  margin-right: 16px;
  .btn-destroy-deal{
    margin-left: 10px;
  }
}
.button-edit-canceled{
  cursor: pointer;
  font-size: 14px;
  color: gray;
}
.btn-canceled-cancel{
  float: right;
  padding: 5px 10px 4px 10px;
  font-size: 12px;
  color: gray;
}
.btn-canceled-check{
  float: right;
  padding: 5px 7px 4px 8px;
  font-size: 12px;
  color: gray;
  margin-right: 3px;
}
#show-change-canceled-reason{
  margin-bottom: 30px;
}
.line-height-2{
  line-height: 2;
}
.select2-container--open {
  z-index: 10000;
}
.content-show{
  p{
    margin-bottom: 0;
  }
}

.view-mode{
  .close-modal-edit{
    display: none;
  }
}

.view-mode.modal-content {
  box-shadow: none;
  border: none;
}

@media (min-width: 576px) {
  .view-mode.modal-content {
    box-shadow: none;
  }
}

#dropdown-sort-deal{
  color: #fff;
  background-color: $reti-primary-color;
  border-color: $reti-primary-color;
  border-top-left-radius: .25rem!important;
  border-bottom-left-radius: .25rem!important;
  border-top-right-radius: 0rem!important;
  border-bottom-right-radius: 0rem!important;
}
.dropdown-menu-sort-deal{
  z-index: 10000;
  padding-top: 0.25rem;
  .dropdown-menu-header{
    border-bottom: 1px solid #EBEBEB;
  }
  .dropdown-body{
    padding-top: 10px;
    .container {
      display: block;
      position: relative;
      padding-left: 36px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
    }
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark {
      position: absolute;
      top: 4px;
      left: 12px;
      height: 16px;
      width: 16px;
      background-color: #ccc;
      border-radius: 50%;
    }
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    .container input:checked ~ .checkmark {
      background-color: $reti-primary-color;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
    }
  }
}
.btn-sort-deal{
  color: $reti-primary-color;
  border-color: $reti-primary-color;
  border-top-right-radius: .25rem!important;
  border-bottom-right-radius: .25rem!important;
  border-top-left-radius: 0rem!important;
  border-bottom-left-radius: 0rem!important;
  height: 37px;
}
