#mobile-modal>.modal{
	position: fixed;
	z-index: 11000;
	top: unset;
	/*left: 10%;*/
	width: 100%;
  height: auto;
	background: #e8e8e8;
	text-align: center;
	-webkit-transform: translate3d(0,100%,0);
          transform: translate3d(0,100%,0);
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property: transform, opacity;
	opacity: 0;
	-webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
#mobile-modal .modal-inner{
	padding: 16px;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: #e8e8e8;
}
#mobile-modal .modal-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
#mobile-modal .modal-title + #mobile-modal .modal-text {
    margin-top: 10px;
}
#mobile-modal .modal-buttons {
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#mobile-modal .modal-button {
    width: 100%;
    padding: 0 5px;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    color: #0894ec;
    background: #e8e8e8;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border-top: 1px solid #b5b5b5;
}
#mobile-modal .modal-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
    display: block;
    z-index: 15;
    transform: scaleY(.5);
}
#mobile-modal .modal-button:first-child,
#mobile-modal .modal-button:last-child {
    border-radius: 0 0 8px 8px;
}
#mobile-modal .modal-button:last-child:after {
  display: none;
}
#mobile-modal .modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
#mobile-modal .modal-overlay.modal-overlay-visible{
    visibility: visible;
    opacity: 1;
}
#mobile-modal .modal.modal-in {
  display: block;
	opacity: 1;
  bottom: 0;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#mobile-modal .modal.modal-out {
	opacity: 0;
	z-index: 10999;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#mobile-modal .m-toast{
	position: absolute;
	left: 50%;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50px;
	color: white;
	padding: 0 20px;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	width: auto;
}
#mobile-modal .m-actionsheet{
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5000;
    width: 100%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    z-index: 10601;
    background:#efeff4;
    max-height: 80vh;
}
#mobile-modal .m-actionsheet.active{
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s;
  .actions-menu{
    max-height: 50vh;
    overflow-y: auto;
  }
}
#mobile-modal .actions-cell{
	position: relative;
    padding: 10px 30px;
    font-size: 16px;
    background: #fff;
}
#mobile-modal .actions-cell[data-disabled="true"] {
    background: #f2f2f2;
}
#mobile-modal .actions-group-title{
  padding: 10px 16px;
  text-align: left;
  font-size: 16px;
}
#mobile-modal .actions-cell:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
#mobile-modal .actions-cancel{
    margin-top: 6px;
    color: #EF5B40;
}

#mobile-modal .actions-title{
	position: relative;
    height: 50px;
    padding: 0 20px;
    line-height: 1.4;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    background: #3ac5c9;
    color: #fff;
}
#mobile-modal .modal-mask{
	position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#mobile-modal .m-loading .toast{
	position: fixed;
    z-index: 5001;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
#mobile-modal .m-loading .icon{
	display: block;
	margin: 30px auto 6px auto;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
    animation: loading 1s steps(12, end) infinite;
    background: url(../loading.svg) no-repeat;
    background-size: 100%;
}
@keyframes loading{
	0% {
	    -webkit-transform: rotate3d(0, 0, 1, 0deg);
	    transform: rotate3d(0, 0, 1, 0deg);
	}
	100% {
	    -webkit-transform: rotate3d(0, 0, 1, 360deg);
	    transform: rotate3d(0, 0, 1, 360deg);
	}
}


/***picker**/
#mobile-modal .picker{
	display: none;
	position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    background-color: rgba(37,38,45,.4);
}
#mobile-modal .picker .picker-panel{
	position: absolute;
    z-index: 600;
    bottom: 0;
    width: 100%;
    height: 273px;
    background: #fff;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: all .3s;
}
#mobile-modal .picker.active .picker-panel{
	transition: all .3s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#mobile-modal .picker .picker-title{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    color: #999;
    border-bottom: 1px solid #E3E3E3;
}
#mobile-modal .picker .picker-title .cancel,
#mobile-modal .picker .picker-title .confirm{
	width: 70px;
	height: 100%;
	line-height: 60px;
}
#mobile-modal .picker .picker-title .confirm{color: #1E90FF;}
#mobile-modal .picker .picker-title .title{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-weight: 400;
    text-align: center;
	font-size: 18px;
	color: #333;
}
#mobile-modal .picker .pickerClose {
    color: #EF5B40 !important;
}
#mobile-modal .border-1px:after,
#mobile-modal .border-top-1px:after{
	content: '';
	display: block;
	position: absolute;
    border-bottom: 1px solid #ebebeb;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform-origin: 0 bottom;
    transform-origin: 0 bottom;
}
#mobile-modal .border-top-1px:after{
	top: 0;
	bottom: auto;
}
#mobile-modal .wheel-item{
	list-style: none;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}
#mobile-modal .picker-content{
	position: relative;
	height: 174px;
}
#mobile-modal .mask-top,
#mobile-modal .mask-bottom{

	z-index: 10;
    width: 100%;
    height: 68px;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
#mobile-modal .mask-top{
	    position: absolute;
	    top: 0;
	    background: -webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));
	    background: linear-gradient(0deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8));
}
#mobile-modal .mask-bottom{
	    position: absolute;
	    bottom: 1px;
	    background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));
	    background: linear-gradient(180deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8));
}
#mobile-modal .wheel{
	-ms-flex: 1 1 1e-9px;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    -ms-flex-preferred-size: 1e-9px;
    flex-basis: 1e-9px;
    width: 1%;
    height: 173px;
    overflow: hidden;
    font-size: 20px;
}
#mobile-modal .wheel-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
}
#mobile-modal .wheel-scroll{
	padding: 0;
    margin-top: 68px;
    line-height: 36px;
    list-style: none;
}


/*****toptip******/
#mobile-modal .m-toptip{
    position: fixed;
    z-index: 10000;
    top:0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #ef4437;
    transform: translate3d(0,-100%,0);
    transition: all .3s;
}
#mobile-modal .m-toptip.success{background: #3cc51f;}
#mobile-modal .m-toptip.warning{background: #f60;}
#mobile-modal .m-toptip.active{
    transform: translate3d(0,0,0);
}
