@media (min-width: 576px){
  .row-deal-form{
    margin: 0rem !important;
    .col-deal-form{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .sidebar-mini.sidebar-collapse .content-wrapper.form-deal-content-wrapper{
    font-size: 16px;
    .history-group{
      padding-left: 10px;
      ul{
        font-size: 16px;
      }
    }
    .card-title{
      font-size: 24px;
    }
  }
  .select2-container--bootstrap .select2-selection{
    font-size: 16px;
  }
}

@media (max-width: 768px){
  .sidebar-mini.sidebar-collapse .content-wrapper.form-deal-content-wrapper{
    .search-group{
      .form-control{
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 576px){
  .sidebar-mini.sidebar-collapse .content-wrapper.form-deal-content-wrapper{
    font-size: 16px;
    .history-group{
      ul{
        font-size: 16px;
      }
    }
    .search-group{
      .form-control{
        font-size: 16px;
      }
    }
    .form-control{
      line-height: 24px;
      font-size: 16px;
    }
  }
}

// Mobile
@media (max-width: 599px) {
  .tt-menu{
    width: calc(100vw - 32px);
    border: 1px solid #7ED9DE;
    border-radius: 4px;
    .tt-dataset.tt-dataset-value{
      .group-name{
        padding: 4px 8px;
        background: #7ED9DE;
        color: #FFFFFF;
        margin: 0;
      }
      .tt-suggestion.tt-selectable{
        padding: 8px 16px;
        border-bottom: 1px solid #D9D9D9;
      }
    }
  }
  .tms-card .btn-reti-primary i {
    font-size: 24px;
    padding-right: 0;
  }
  .tms-card .btn-reti-primary i::after {
    display: none !important;
  }
  .kanban-ticket {
    padding: 0 1.5rem 0 1.5rem;
    min-height: 400px;
    .kanban-col > .card {
      background: #F0F0F0;
      border: 1px solid #F0F0F0;
      box-sizing: border-box;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      .kanban-col-title {
        z-index: 99;
        .btn-add-kanban-item {
          font-size: 16px;
          padding: 4px 8px;
        }
      }
      .kanban-body-container {
        height: auto;
        min-height: 0;
      }
    }
    .kanban-col {
      padding-right: 0;
      padding-left: 0;
      flex: 0 0 auto;
      width: -moz-available;
      width: -webkit-fill-available
    }
    .kanban-item {
      width: auto !important;
      border: 1px solid #EBEBEB;
      box-sizing: border-box;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      .card-body {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }
    }
  }
  .sidebar-filter-open .sidebar-filter-deal-mobile {
    margin-left: 4.5rem!important;
  }
  .form-search-filter-sidebar {
    padding: 1rem 16.5px 0.5rem 16.5px !important;
    .btn {
      width: 48px !important;
      height: 48px !important;
    }
    .input-group {
      border: none !important;
      border-radius: 0 !important;
    }
    .typeahead.search-deal-mobile:focus {
      border: 1px solid #D9D9D9;
    }
    .search-deal-mobile::-webkit-search-cancel-button{
      -webkit-appearance: none;
      color: #8C8C8C;
    }
    ::-webkit-search-cancel-button {
      margin: auto;
      height: 16px;
      width: 16px;
      display: block;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      background-size: 16px;
    }
    .kanban-search-group .select2-search__field {
      padding-top: 0 !important;
    }
    .sidebar-filter-deal-mobile {
      margin-left: 40rem;
      width: -webkit-fill-available;
      width: -moz-available;
      height: auto;
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      overflow: hidden;
      transition: margin-left .3s ease-in-out,width .3s ease-in-out;
      .sidebar-filter {
        background: #FFFFFF;
        height: 900px
      }
      .sidebar-filter-header {
        height: 56px;
        background: #F5F5F5;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        .icon-back-header {
          position: absolute;
          padding: 16px 0 0 16px;
          margin-top: 8px;
          width: 50px;
          height: 47px;
        }
        .filter-header {
          width: -webkit-fill-available;
          padding: 23px 0 0 0;
          text-align: center;
        }
      }
      .sidebar-filter-body {
        position: relative;
        padding-top: 0.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background: #ffffff;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        .dropdown.tms-card.show {
          .btn-filter {
            background: #FFFFFF;
            border: 1px solid #7ED9DE;
            box-shadow: 0px 1px 3px rgba(126, 217, 222, 0.85);
            border-radius: 2px 2px 0px 0px !important;
          }
          .dropdown-menu.show {
            position: inherit !important;
            transform: translate3d(-5px, -8px, 0px) !important;
          }
          .custom-list-state {
            font-size: 16px;
            line-height: 16px;
            color: #6c757d !important;
            overflow: scroll;
            max-height: 176px;
            .label-dropdown-item {
              margin: 8.5px 7.5px 7.5px 7.5px;
            }
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }
            .container {
              display: block;
              position: relative;
              cursor: pointer;
              font-size: 1rem;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              height: 36px;
              padding: 9px 0 0 38px;
              input {
                opacity: 0;
              }
              :hover input ~ .checkmark {
                background-color: #ccc;
              }
              input:checked ~ .checkmark:after {
                display: block;
              }
              input:checked ~ .checkmark {
                background-color: #FFFFFF;
                border: 2px solid $reti-primary-color;
              }
              .checkmark {
                position: absolute;
                top: 7px;
                left: 8px;
                height: 18px;
                width: 18px;
                border: 2px solid #8C8C8C;
                border-radius: 2px;
              }
              .checkmark:after {
                position: absolute;
                left: 4px;
                bottom: 3px;
                width: 6px;
                height: 10px;
                border: solid $reti-primary-color;
                -webkit-transform: rotate(40deg);
                -ms-transform: rotate(40deg);
                transform: rotate(40deg);
                border-width: 0 2px 2px 0;
              }
            }
          }
        }
        .dropdown-toggle::after {
          display: none !important;
        }
        .dropdown-menu {
          border: 1px solid #7ED9DE;
          border-top: 0;
          box-shadow: 0px 2px 5px rgba(126, 217, 222, 0.25);
          border-radius: 2px 2px 0px 0px;
          padding: 0 !important;
          width: -webkit-fill-available;
          margin: 3px 3px 0 13px;
        }
        .btn-filter {
          width: -webkit-fill-available !important;
          width: -moz-available !important;
          height: 38px !important;
          border-radius: 2px !important;
          border: 1px solid #F0F0F0;
          box-sizing: border-box;
          margin: 0 0.5rem 0.5rem 0.5rem
        }
        .shadow-filter-body {
          position: inherit;
          bottom: 8px;
          box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.12);
          -webkit-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.12);
          -moz-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.12);
        }
        hr {
          margin: 0.5rem 0 0.5rem 0;
        }
      }
      .sidebar-filter-footer {
        border: 8px solid #FFFFFF;
        background: #FFFFFF;
        width: -webkit-fill-available;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9999;
        .btn-canceled-filter {
          padding: 12px 8px;
          background: #ffffff;
          color: #DA4343;
          border: 1px solid #F15B40;
          width: 94px !important;
          height: auto !important;
        }
        .btn-submit-filter {
          padding: 12px 16px;
          background: $reti-primary-color;
          border: 1px solid $reti-primary-color;
          box-sizing: border-box;
          width: 109px !important;
          height: auto !important;
          color: #ffffff;
        }
      }
    }
  }
  .select2-container--bootstrap .select2-dropdown {
    border-color: #7ED9DE !important;
    box-shadow: 0px 2px 5px rgba(126, 217, 222, 0.25);
    border-radius: 0px 0px 2px 2px;
  }
  .sidebar-mini.sidebar-open {
    overflow: hidden;
  }
  .kanban-search-group input[type="search"].tt-hint {
    padding: .375rem .75rem !important;
  }
  #list-deal-mobile {
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    background: #F0F0F0;
    border-bottom: none;
    .dropdown .dropdown-toggle {
      padding: 0.75rem 0.75rem 0.75rem 0.5rem !important;
      .dropdown-state {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 103px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden
      }
    }
    .dropdown-deal-mobile {
      border: 1px solid #7ED9DE;
      box-sizing: border-box;
      transform: translate3d(0px, 35px, 0px) !important;
      box-shadow: 0 2px 5px rgba(126, 217, 222, 0.25);
      border-radius: 2px;
      width: auto;
      max-height: 328px;
      top: 14px !important;
      padding-bottom: 0 !important;
    }
    .form-dropdown-deal-mobile {
      margin-top: -9px;
    }
    .custom-list-state {
      font-size: 16px;
      line-height: 16px;
      color: #6c757d !important;
      overflow: scroll;
      max-height: 290px;
    }
    ::-webkit-search-cancel-button {
      margin: auto;
      height: 16px;
      width: 16px;
      display: block;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      background-size: 16px;
    }
  }
  .menuItems {
    .dropdown-item {
    padding: 0.5rem 0.5rem;
    }
    .dropdown-item:active {
      background-color: #7ED9DE !important;
      color: white;
    }
    .dropdown-item.active {
      background-color: #7ED9DE !important;
      color: white;
    }
  }
  .dropdown-toggle::after {
    margin-left: 0.5rem !important;
    .dropdown-deal-mobile {
      border: 1px solid #7ED9DE;
      box-sizing: border-box;
      box-shadow: 0 2px 5px rgba(126, 217, 222, 0.25);
      border-radius: 2px;
      width: 198px;
      height: auto;
      max-height: 265px;
    }
    .form-dropdown-deal-mobile {
      margin-top: -9px;
    }
    .custom-list-state {
      font-size: 14px;
      line-height: 16px;
      color: #6c757d !important;
    }
    .menuItems .dropdown-item {
      padding: 0.5rem 0.5rem
    }
    .dropdown-toggle::after {
      margin-left: 0.5rem !important;
    }
  }
  .twitter-typeahead {
    flex: 1 1 auto;
    width: 1%;
    .typeahead {
      height: 48px;
    }
    .group-name {
      padding: 0.25rem 0 0.25rem 0.5rem;
      background: #7ED9DE;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
  .sort-deal-mobile {
    #dropdown-sort-deal {
      border-radius: 0.25rem !important;
    }
    .dropdown-toggle::after {
      display: none !important;
    }
    .btn-sort-deal {
      width: 57px
    }
    .dropdown-menu {
      min-width: 15rem;
      padding: 0 !important;
    }
    .dropdown-menu-sort-deal {
      .dropdown-menu-header {
        .dropdown-item {
          padding: 0.5rem 1rem 0.5rem 1rem
        }
      }
      .dropdown-sorting {
        border-bottom: 1px solid #EBEBEB;
      }
      .dropdown-body {
        height: 158px !important;
        overflow-y: auto;
        padding-top: 0;
        .container {
          .container input:checked {
            background-color: $reti-primary-color;
          }
          margin-bottom: 0;
          font-size: 14px;
          line-height: 21px;
          padding: 10px 0 9px 2.8rem;
          .checkmark {
            top: 14px !important;
            left: 1rem !important;
            height: 13px;
            width: 13px;
          }
          .checkmark::after {
            top: 4px !important;
            left: 4px !important;
            width: 5px !important;
            height: 5px !important;
            display: inline-block !important;
          }
        }
      }
      .btn-sort-deal-mobile {
        position: absolute;
        background: #F5F5F5;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
        width: 40px !important;
        height: 40px !important;
        padding: 8px;
      }
      .btn-check {
        top: 101.5%;
        left: 64.5%;
      }
      .btn-canceled {
        top: 101.5%;
        left: 83%;
      }
    }
    .dropdown-sorting-show {
      position: absolute;
      transform: translate3d(-192px, 48px, 0px);
      top: 0px;
      left: 0px;
      will-change: transform;
      display: block;
    }
  }
  .swal2-modal .swal2-content {
    padding: 16px 16px 0px !important;
  }

  .container.disabled{
    color: #ccc;
  }

  #form-edit-title-deal .input-edit-title-deal {
    font-size: 1rem;
  }

  .input-edit-title-deal {
    width: 90vw !important;
  }

  .kanban-ticket .kanban-item .card-body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .kanban-ticket .kanban-item .card-header {
    padding: 1rem 0.75rem;
  }
  .form-control:disabled, .form-control[readonly] {
    background-color: #eeeeee;
    opacity: 1;
  }
  .form-control{
    border: 1px solid #ccc;
  }
  a.a-collapse:hover {
    color: #007bff;
  }
}

@media (min-width: 411px) and (max-width: 425px) {
  .sidebar-filter-open .sidebar-filter-deal-mobile {
    margin-left: 4.5rem!important;
  }
  .form-search-filter-sidebar .sidebar-filter-deal-mobile {
    margin-left: 26rem;
  }
}

.pt-01 {
  padding-top: 1px !important;
}
.h-50px {
  height: 50px !important;
}

@media (max-width: 360px){
  #list-deal-mobile .custom-list-state {
    max-height: 192px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .dropdown-state-width-320 {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 79px !important;
    display: inline-block;
    vertical-align: top;
    overflow: hidden
  }
  #list-deal-mobile .custom-list-state {
    max-height: 160px;
  }
  .form-search-filter-sidebar .sidebar-filter-deal-mobile .sidebar-filter-body {
    max-height: 360px;
  }
}
@media (max-height: 850px) {
  .form-search-filter-sidebar .sidebar-filter-deal-mobile .sidebar-filter-body {
    max-height: 550px;
    height: auto !important;
  }
}

@media (max-height: 700px) {
  .form-search-filter-sidebar .sidebar-filter-deal-mobile .sidebar-filter-body {
    max-height: 420px;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .kanban-search-group input[type="search"].tt-hint {
    padding: .375rem .75rem !important;
  }
  ::-webkit-search-cancel-button {
    margin: auto;
    height: 16px;
    width: 18px;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 16px;
  }
}

@media (min-width: 992px){
  .sidebar-mini.sidebar-collapse .content-wrapper.form-deal-content-wrapper{
    margin-left: 0rem !important;
  }
}

@media (min-width: 1140px){
  .content-wrapper.form-deal-content-wrapper{
    .content{
      max-width: 1120px;
      margin: auto;
    }
  }
  .tms-deal-form{
    padding-top: 32px;
    .content-form{
      display: none;
    }
  }
  .form-deal-header{
    max-width: 1120px;
    margin: auto;
    .form-deal-logo{
      height: 50px;
      img{
        height: 100%
      }
    }
    .header-form{
      width: 60%;
    }
  }
}

@media (max-width: 1140px){
  .form-deal-header{
    padding: 8px 8px;
    .form-deal-logo{
      height: 50px;
      img{
        height: 100%
      }
    }
    .header-form{
      display: none;
    }
  }
  .tms-deal-form{
    padding-top: 18px;
  }
  .deal-form-autocomplete{
    margin: auto 0px;
  }
}

.sidebar-mini.sidebar-collapse{
  .form-deal-header{
    .pointer{
      cursor: pointer;
    }
    ul.dropdown-menu{
      padding: 0px;
      left: unset;
      right: 0;
      li{
        background-color: #eee;
        margin-bottom: 4px;
        a{
          color: #000;
        }
      }
      li:last-child{
        margin-bottom: 0px;
      }
    }
  }
  .content-wrapper.form-deal-content-wrapper{
    background: #F5F5F5;
    margin-bottom: 0!important;
    .tms-deal-form{
      .tms-card{
        .card-header{
          background-color: #ffffff;
          color: #3ac5c9;
          .btn-tool{
            color: #323031;
          }
        }
        .card-body{
          padding: 10px 8px;
          .input-group{
            border: 1px solid #ced4da;
            border-radius: .25rem;
            .input-group-text{
              background-color: #fff;
              color: #CED4DA;
            }
          }
          .tms-field-group{
            margin-bottom: 0;
          }
        }
      }
      .history-group{
        box-shadow: none;
        border: 1px solid #ABEAEB;
        ul{
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 5px;
        }
      }
      .search-group{
        button {
          right: 0px;
          top: 0px;
          border: 0;
          height: 38px;
          width: 42px;
          background: $reti-primary-color;
          color: #fff;
          border-radius: 0px 4px 4px 0px;
        }
      }
      .select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
        color: #595959;
      }
    }
    .form-control{
      color: #595959;
    }
  }
}

@mixin rangeThumb {
  appearance: none;
  width: 18px;
  height: 18px;
  margin: -6px 0  0;
  border-radius: 50%;
  background: asset-url('outline.svg');
  cursor: pointer;
  border: none;
}

@mixin rangeTrack {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #E9EAED;
  border-radius: .25rem;
}

.range, .range-cs-ticket {
  position: relative;
  width: 100%;
  height: 4px;
}

.range input, .range-cs-ticket input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0px;
  -webkit-appearance: none;
  color: $reti-primary-color;
  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus { // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track { // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

// Labels below slider
.range-labels {
  margin: 0px -4.6% 30px;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    float: left;
    width: 10%;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .active {
    color: #37adbf;
  }

  .selected::before {
    background: #37adbf;
  }

  .active.selected::before {
    display: none;
  }
}

.tms-tooltip{
  .tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #000000;
    text-align: center;
    background-color: #DCF7F7;
    border-radius: .25rem;
  }
  ul{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    font-size: 10px;
    line-height: 15px;
    list-style-type: none
  }
  ul li:before{ content:"- ";}
}
.tms-tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: 0px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #DCF7F7;
}
.tms-tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-bottom .arrow::before {
  margin-left: -5px;
  border-bottom-color: #DCF7F7;
}
.tms-deal-form .btn-reti-primary {
  background-color: #3ac5c9;
  color: #ffffff;
  &:hover{
    color: #ffffff;
  }
}
.form-deal-content-wrapper {
  min-height: calc(100vh - 66px) !important;
}
.deal-form-title {
  font-size: 24px;
  padding: 8px 0 8px 8px;
  font-weight: 500;
}
.btn-deal-search {
  color: #fff;
  background-color: #CC3F2D;
  border-color: #CC3F2D;
  box-shadow: none;
  border-radius: 0 4px 4px 0 !important;
}
.tms-card {
  .dropdown-toggle {
  font-size: 16px !important;
  line-height: 21px !important;
  }
}
.content-wrapper.form-deal-content-wrapper{
  .deal-info-label{
    font-size: 16px;
    color: #828282;
  }
  .input-group{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    .input-group-text{
      background-color: #fff;
      color: #CED4DA;
    }
  }
  .boder-top-container{
    border-top: 2px solid #EBEBEB!important;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
    height: 36px;
  }
  .select2-container--bootstrap .select2-selection{
    font-size: 16px;
  }
  .action-email, .action-call, .action-edit, .action-save{
    position: fixed;
    position: -webkit-fixed; /* Safari */
    z-index: 1111;
  }
  .action-text {
    position: absolute;
    top: 0.7rem;
    left: calc(100vw - 173px);
    width: 76px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 5px 8px;
    font-weight: 500;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }
  .text-save {
    position: inherit;
    left: calc(100vw - 125px);
    top: calc(100vh - 209px);
    width: 44px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 5px 8px;
    font-weight: 500;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }
  .btn-deal-save, .btn-deal-cancel{
    border-radius: 50%;
    color: #fff;
    position: -webkit-fixed; /* Safari */
    position: fixed;
    z-index: 1111;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
  }
  .btn-deal-save{
    height: 56px;
    width: 56px;
    top: calc(100vh - 220px);
    right: 16px;
    background-color: #EF5B40;
  }
  .btn-deal-cancel{
    height: 56px;
    width: 56px;
    top: calc(100vh - 147px);
    right: 16px;
    background-color: $reti-primary-color;
  }
  .btn-toggle {
    position: -webkit-fixed; /* Safari */
    position: fixed;
    z-index: 1111;
    top: calc(100vh - 151px);
    right: 8px;
  }
}

@media (min-height: 630px) {
  .action-text {
    top: -1.7rem !important;
  }
  .content-wrapper.form-deal-content-wrapper .text-save {
    top: calc(100vh - 247px) !important;
  }
  .content-wrapper.form-deal-content-wrapper .btn-toggle {
    top: calc(100vh - 193px) !important;
  }
  .content-wrapper.form-deal-content-wrapper .btn-email {
    top: calc(100vh - 403px) !important;
  }
  .content-wrapper.form-deal-content-wrapper .btn-phone {
    top: calc(100vh - 331px) !important;
  }
  .content-wrapper.form-deal-content-wrapper .btn-edit-deal {
    top: calc(100vh - 258px) !important;
  }
  .content-wrapper.form-deal-content-wrapper .btn-deal-cancel {
    top: calc(100vh - 186px) !important;
  }
  .content-wrapper.form-deal-content-wrapper .btn-deal-save {
    top: calc(100vh - 259px)
  }
}

#mobile-layout{
  .image-avatar {
    width: 40px;
    vertical-align: unset;
    margin-right: 5px;
  }
  .assign-search {
    .tt-menu {
      left: -7px !important;
      width: calc(100% + 13px);
    }
  }
  .dropdown-assign-content{
    width: 200% !important;
  }
}

.deal-invalid-warning, .deal-invalid-warning-desktop {
  color: #dc3545;
  display: none;
  .toggle-tab-general, .toggle-tab-general-desktop, .toggle-tab-customer-desktop, .toggle-tab-customer {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: #007bff;
      text-decoration: underline;
    }
  }
}

.deal-info-tabs {
  .dropdown-item.active {
    color: black;
    text-decoration: none;
    background-color: #F0F7FF !important;
    margin-top: 1px;
  }
}

.deal-state .select2-selection__arrow b {
  right: 1.5rem !important;
}