i.tms{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 400;
}
.tms-clock::before{
  background: asset-url('clock.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

.tms-clock-while::before{
  background: asset-url('clock-while.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

.tms-building::before{
  background: asset-url('building.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

.tms-infor::before{
  background: asset-url('infor.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

.tms-favourite::before{
  background: asset-url('favourite.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
}

.tms-rating::before{
  background: asset-url('rating.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
}

.tms-rating-active::before{
  background: asset-url('ratingfull.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
}

.tms-warning::before{
  background: asset-url('warning.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 14px;
}

.tms-edit::before{
  background: asset-url('edit.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
}

.tms-plus-retangle::before{
  background: asset-url('plus-retangle.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.tms-info::before{
  background: asset-url('tms-info.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
}

.tms-user::before{
  background: asset-url('user-icon.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
}

.tms-customer::before{
  background: asset-url('customer-icon.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
}
.tms-upload::before{
  background: asset-url('upload2.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 25px;
}
.tms-cancel::before{
  background: asset-url('cancel.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 34px;
}
.tms-edit-btn::before{
  background: asset-url('edit-btn.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 34px;
}
.tms-edit-bl::before{
  background: asset-url('edit-bl.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
}

.tms-up-mobile::before{
  background: asset-url('up-mobile.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}

.tms-down-mobile::before{
  background: asset-url('down-mobile.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}

.tms-back-dark::before{
  background: asset-url('back-dark.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 27px;
}

.tms-save::before{
  background: asset-url('icon-save.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin-top: -5px;
}

.tms-save-small::before{
  background: asset-url('icon-save-small.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin-top: -5px;
}

.tms-calendar::before{
  background: asset-url('icon-calendar.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}

.tms-email-btn::before{
  background: asset-url('email.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 34px;
  height: 34px;
  line-height: 0 !important;
}

.tms-phone-btn::before{
  background: asset-url('phone.svg') no-repeat left center;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 27px;
  height: 39px;
}
