.row
  .col-3
    .layout-info.multi-rooms
      = f.label :code, 'Mã căn hộ'
      #coordinates{'data-number-of-product': f.object.number_of_product.to_i}
        = f.fields_for :coordinates do |coordinate|
          = render 'coordinate_fields', f: coordinate
        .links
          = link_to_add_association f, :coordinates do
            %button.btn.btn-reti-primary.btn-add-room{type: 'button'}
              %i.fas.fa-plus
              Thêm căn hộ
        - f.object.errors.messages[:coordinates].each do |error|
          %span.invalid-feedback.custom-validation= error
        %span.invalid-feedback.custom-validation.eq-coordinates
          Mặt bằng đã đủ số lượng sản phẩm, vui lòng kiểm tra lại.
  .col-9.image-container
    - 39.times do |i|
      - if i == 2
        %input{checked: "checked", "data-scale" => "#{"%.2f" % (0.5 + 0.25 * i)}", id: "s#{i}", name: "scale", type: "radio"}
      - else
        %input{"data-scale" => "#{"%.2f" % (0.5 + 0.25 * i)}", id: "s#{i}", name: "scale", type: "radio"}
    .form-group.row.zoom-control
      %button.btn.btn-xs.zoom-button{"data-zoom" => "in", type: "button"}
        %i.fa.fa-minus-circle
      %span.zoom-percentage 100%
      %button.btn.btn-xs.zoom-button{"data-zoom" => "out", type: "button"}
        %i.fa.fa-plus-circle
    #zoom-container{style: 'overflow-y: scroll; overflow-x: hidden'}
      #wrapper.wrapper
        = image_tag (@layout&.image_url || ''), id: "layout_image_drawing", border: 0, height: '502px', usemap: "#project_layout_image", width: '710px'
        %map#project_layout_image{name: "project_layout_image"}
          - @layout.coordinates.each do |coordinate|
            %area{alt: "#{coordinate.product_code}", coords: "#{coordinate.positions}", "data-id" => "#{coordinate.product_code}", "data-title" => "#{coordinate.product_code}", shape: "poly"}

    %input.component-picked-coordinates{name: "component[rooms]", type: "text"}

- content_for :js do
  = javascript_include_tag 'mapify-initialize'