.row
  .col
    .row
      .col-9
        .form-group
          = f.label :name, 'Tên mặt bằng'
          = f.text_field :name, class: 'form-control'
          - f.object.errors.messages[:name].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-3
        .form-group
          = f.label :number_of_product, 'Số sản phẩm/mặt bằng'
          = f.number_field :number_of_product, class: 'form-control'
          - f.object.errors.messages[:number_of_product].each do |error|
            %span.invalid-feedback.custom-validation= error
    .form-group
      = hidden_field :layout, :image, value: @layout.image.identifier, 'data-url': @layout.image.url, 'data-delete-url': destroy_attachment_admin_project_path(@project) if @layout.image.present?
      = f.file_field :image, id: 'layout-image-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file'
      - f.object.errors.messages[:image].each do |error|
        %span.invalid-feedback.custom-validation= error
