.row
  .col-3
    .form-group
      = f.label :level, 'Khối'
      = f.select :level, options_for_select(constant_options(Reti::Product::LEVELS), @layout.level), {include_blank: true, disabled: true}, { class: 'tms-select2 form-control select2-layout-level', data: {'select-child-target': ['layout_subdivision_id', 'layout_block_id', 'layout_floor_ids'], id: 'level'} }
      - f.object.errors.messages[:level].each do |error|
        %span.invalid-feedback.custom-validation= error
    .form-group
      = f.label :subdivision_id, 'Phân khu'
      = f.select :subdivision_id, options_for_select(@subdivisions, @layout.subdivision_id), {include_blank: true, disabled: @is_show}, { class: 'tms-select2 form-control select2-layout-subdivision', data: {'select-child-target': ['layout_block_id', 'layout_floor_ids'], id: 'subdivision'} }
      - f.object.errors.messages[:subdivision_id].each do |error|
        %span.invalid-feedback.custom-validation= error
    .form-group
      = f.label :block_id, 'Toà'
      = f.select :block_id, options_for_select(@blocks, @layout.block_id), {include_blank: true, disabled: @is_show}, { class: 'tms-select2 form-control select2-layout-block', data: {'select-child-target': ['layout_floor_ids'], id: 'block'} }
      - f.object.errors.messages[:block_id].each do |error|
        %span.invalid-feedback.custom-validation= error
    .form-group
      = f.label :floor_ids, 'Tầng'
      = f.select :floor_ids, options_for_select(@floors, @layout.floor_ids), {include_hidden: false, disabled: @is_show}, { class: 'tms-select2 form-control', multiple: true }
      - f.object.errors.messages[:floor_ids].each do |error|
        %span.invalid-feedback.custom-validation= error

  .col-9
    .step-2-image-preview
      = image_tag (@layout&.image_url || ''), class: 'layout_image_mounting'
