.nested-fields
  .row
    .col-10
      .form-group
        .fields
          = f.text_field :product_code, class: 'form-control code', readonly: true
          = f.hidden_field :positions, class: 'form-control positions'
    .col-1
      - unless @is_show
        = link_to_remove_association f do
          %button.btn.btn-remove-room{title: "Xoá căn", type: 'button'}
            %i.fa.fa-times{"aria-hidden" => "true", style: "color:red"}
