= form_with model: [:admin, @project, @layout], local: true, id: "#{params[:action]}-project-layout" do |f|
  .row
    .col-3
      - if @is_show
        .layout-info.multi-rooms
          .row
            .col-10
              .form-group
                = f.label :subdivision_id, 'Phân khu'
                = f.text_field :subdivision_id, value: @layout.subdivision&.name, class: 'form-control', readonly: true
              .form-group
                = f.label :block_id, 'Toà/Dãy'
                = f.text_field :block_id, value: @layout.block&.name, class: 'form-control', readonly: true
              - if @layout.floor_ids.present?
                .form-group
                  = f.label :floor_ids, 'Tầng'
                  = f.text_field :floor_ids, value: @layout.floors_name, class: 'form-control', readonly: true
      .layout-info.multi-rooms
        = f.label :code, 'Mã căn hộ'
        #coordinates
          = f.fields_for :coordinates do |coordinate|
            = render 'coordinate_fields', f: coordinate
          - unless @is_show
            .links
              = link_to_add_association f, :coordinates do
                %button.btn.btn-reti-primary.btn-add-room{type: 'button'}
                  %i.fas.fa-plus
                  Thêm căn hộ
    .col-9.image-container
      - 39.times do |i|
        - if i == 2
          %input{checked: "checked", "data-scale" => "#{"%.2f" % (0.5 + 0.25 * i)}", id: "s#{i}", name: "scale", type: "radio"}
        - else
          %input{"data-scale" => "#{"%.2f" % (0.5 + 0.25 * i)}", id: "s#{i}", name: "scale", type: "radio"}
      .form-group.row.zoom-control
        %button.btn.btn-xs.zoom-button{"data-zoom" => "in", type: "button"}
          %i.fa.fa-minus-circle
        %span.zoom-percentage 100%
        %button.btn.btn-xs.zoom-button{"data-zoom" => "out", type: "button"}
          %i.fa.fa-plus-circle
      #zoom-container{style: 'overflow-y: scroll; overflow-x: hidden'}
        #wrapper.wrapper
          = image_tag (@layout&.image_url || ''), id: "layout_image_drawing", border: 0, height: '502px', usemap: "#project_layout_image", width: '710px'
          %map#project_layout_image{name: "project_layout_image"}
            - @layout.coordinates.each do |coordinate|
              %area{alt: "#{coordinate.product_code}", coords: "#{coordinate.positions}", "data-id" => "#{coordinate.product_code}", "data-title" => "#{coordinate.product_code}", shape: "poly"}

  - content_for :js do
    = javascript_include_tag 'mapify-initialize'
