#custom-multi-steps-booking
  %section
    .wizard
      .wizard-inner
        .active-line
        %ul.nav.nav-tabs.booking-nav-tabs{role: "tablist"}
          %li.stepactive1{role: "presentation", "tab-id" => "1", class: (@layout.current_step.to_i >= 1 ? 'active' : 'disabled')}
            .connecting-line.border-right{style: "#{'width: 0%' if @layout.current_step.to_i == 1}"}
            %a{"aria-controls" => "step1", "data-layout" => "true", "data-toggle" => "tab", href: "#step1", role: "tab", title: "Tải mặt bằng"}
              %span.round-tab 1
              %p Tải mặt bằng
          %li.stepactive2{role: "presentation", "tab-id" => "2", class: (@layout.current_step.to_i >= 2 ? 'active' : 'disabled')}
            .connecting-line.border-right.border-left{style: "#{'width: 33%' if @layout.current_step.to_i == 2}"}
            %a{"aria-controls" => "step2", "data-layout" => "true", "data-toggle" => "tab", href: "#step2", role: "tab", title: "Gắn tầng/dãy"}
              %span.round-tab 2
              %p Gắn phân khu/toà/tầng/dãy
          %li.stepactive3{role: "presentation", "tab-id" => "3", class: (@layout.current_step.to_i >= 3 ? 'active' : 'disabled')}
            .connecting-line.border-right.border-left{style: "#{'width: 66%' if @layout.current_step.to_i == 3}"}
            %a{"aria-controls" => "step3", "data-layout" => "true", "data-toggle" => "tab", href: "#step3", role: "tab", title: "Gắn căn hộ"}
              %span.round-tab 3
              %p Gắn toạ độ sản phẩm
      = form_with model: [:admin, @project, @layout], local: true, id: "#{params[:action]}-project-layout" do |f|
        .tab-content
          #step1.tab-pane.active{role: "tabpanel"}
            = render "booking_step_#{@layout.current_step}", f: f
            %ul.list-inline
              %li
                = f.submit "Quay lại", class: 'btn prev-step', name: 'back_button' unless @layout.first_step?
                = f.submit "#{@layout.last_step? ? 'Hoàn thành' : 'Tiếp theo'}", class: 'btn next-step'
          .clearfix
