- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa dự án
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_projects_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  .card.tms-card
    %ul.nav.nav-tabs{role: "tablist"}
      %li.nav-item
        = link_to 'Thông tin chung', edit_admin_project_path(@project), class: 'nav-link'
      %li.nav-item
        = link_to 'Tuỳ chỉnh chi tiết dự án', admin_project_custom_details_path(@project), class: 'nav-link'
      %li.nav-item
        = link_to 'Bảng hàng', admin_project_products_path(@project), class: 'nav-link'
      -#%li.nav-item
      -#  %a#layout-info-tab.nav-link.active{"aria-controls" => "layout-info", "aria-selected" => "false", "data-toggle" => "pill", href: "#layout-info", role: "tab"} Mặt bằng
      %li.nav-item
        = link_to 'Mặt bằng điện tử', admin_project_interactive_layouts_path(@project), class: 'nav-link'
      %li.nav-item
        = link_to 'Cơ chế doanh thu', admin_project_company_revenues_path(@project), class: 'nav-link'
      %li.nav-item
        = link_to 'Tài liệu bán hàng', admin_project_sale_documents_path(@project), class: 'nav-link'
      %li.nav-item
        = link_to 'Thông tin cho Sale/CTV', information_for_sellers_admin_project_path(@project), class: 'nav-link'
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên mặt bằng
              %th Phân khu
              %th Toà
              %th Tầng
              %th
          %tbody
            - @layouts.each do |l|
              %tr
                %td= l.name
                %td= l.subdivision&.name
                %td= l.block&.name
                %td= Division.where(id: l.floor_ids)&.pluck(:name)&.join(', ')
                %td.text-right
                  %a.btn.btn-outline-primary{href: admin_project_layout_path(@project, l.id), :"data-no-turbolink" => true}
                    %i.far.fa-eye
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_project_layout_path(@project, l.id)}
                    %i.fas.fa-pencil-alt
                  - if policy(l).destroy?
                    %a.btn.btn-outline-primary{href: admin_project_layout_path(@project, l.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                      %i.fas.fa-trash
      = render partial: 'shared/pagination', locals: { pagy: @pagy }

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_project_layout_path, class: 'btn btn-primary'