.row
  .col
    = form_with model: [:admin, @user], local: true do |f|
      .row
        .col-12.col-md-12.order-md-2.window-content
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  - if f.object.referral_code.present? 
                    .form-group.d-flex.align-items-center.mb-1
                      %span Mã giới thiệu:
                      %span.referral-code.ml-2{style: 'color: #ef5b40'}= f.object.referral_code
                      .btn.btn-reti-primary.btn-referral-code.ml-2
                        %i.fas.fa-copy
                        Copy
                  .row  
                    .form-group.col-6
                      = f.label :full_name, 'Tên'
                      = f.text_field :full_name, class: 'form-control require'
                      - f.object.errors.messages[:full_name].each do |full_name_error|
                        %span.invalid-feedback.custom-validation= full_name_error
                    .form-group.col-6
                      = f.label :city_id, 'Tỉnh/Thành phố'
                      = f.select :city_id, options_for_select(@cities, f.object.city_id), {include_blank: true}, {class: 'form-control tms-select2'}
                  .row
                    .form-group.col-6
                      = f.label :email, 'Email'
                      = f.email_field :email, class: "#{current_user.super_admin? ? 'form-control' : 'form-control require'}"
                      - f.object.errors.messages[:email].each do |email_error|
                        %span.invalid-feedback.custom-validation= email_error
                    .form-group.col-6
                      = f.label :main_job, 'Lĩnh vực nghề nghiệp chính'
                      = f.select :main_job, options_for_select(Constant::USER_MAIN_JOB.invert, f.object.main_job), {include_blank: true}, {class: 'form-control tms-select2'}
                  .row
                    .form-group.col-6
                      = f.label :phone_number, 'Số điện thoại'
                      .input-group{class: f.object.errors.messages[:phone_number].present? ? 'field_with_errors' : ''}
                        .input-group-prepend
                          = f.hidden_field :country_code, value: 'VN'
                          %span.input-group-text.country-code-number
                            = ISO3166::Country.new(@user.country_code).present? ? "+#{ISO3166::Country.new(@user.country_code)&.country_code}" : "+84"
                        = f.text_field :phone_number, value: params[:customer] && params[:user][:phone_number].present? ? params[:user][:phone_number] : @user&.phone_number&.sub(ISO3166::Country.new(@user.country_code)&.country_code, '') , class: "#{current_user.super_admin? ? 'form-control not_default_error' : 'form-control not_default_error require'}"
                        - f.object.errors.messages[:phone_number].each do |phone_number_error|
                          %span.invalid-feedback.custom-validation= phone_number_error.html_safe
                    .form-group.col-6
                      = f.label :account_type, 'Loại tài khoản'
                      = f.select :account_type, options_for_select([['Nội bộ', 'internal'], ['CTV', 'agent'], ['F2', 'f2']], @user.account_type), {include_blank: true}, { class: 'tms-select2 form-control require' }
                      - f.object.errors.messages[:account_type].each do |account_type_error|
                        %span.invalid-feedback.custom-validation= account_type_error 
                  .row
                    .form-group.col-6
                      = f.label :phone_verify, 'Tình trạng xác thực SĐT'
                      = f.select :phone_verify, options_for_select([['Đã xác thực', true], ['Chưa xác thực', false]], @user.phone_verify), {include_blank: true}, { class: 'form-control tms-select2'}
                    .form-group.col-6
                      - if current_user.super_admin?
                        = f.label :role_id, 'Quyền'
                        = f.select :role_id, options_for_select(Role.all.map { |w| [w.name, w.id] }, @user.role_id), {include_blank: true}, { class: 'tms-select2 form-control require'}
                        - f.object.errors.messages[:role_id].each do |account_type_error|
                          %span.invalid-feedback.custom-validation= account_type_error
                      - else 
                        = f.label :role_id, 'Quyền'  
                        %select.tms-select2.form-control{disabled: true}
                          %option= 'F2'
                        - f.hidden_field :role_id, value: @role_id  
                        - f.object.errors.messages[:role_id].each do |account_type_error|
                          %span.invalid-feedback.custom-validation= account_type_error
                  .row
                    .form-group.col-6
                      = f.label :password, 'Mật khẩu'
                      = f.password_field :password, class: "#{current_user.super_admin? ? 'form-control' : 'form-control require'}"
                      - f.object.errors.messages[:password].each do |password_error|
                        %span.invalid-feedback.custom-validation= password_error
                    .form-group.col-6
                      = f.label :deactivated, 'Trạng thái tài khoản'
                      = f.select :deactivated, options_for_select([['Hoạt động', false], ['Vô hiệu hóa', true]], @user.deactivated), {include_blank: true}, { class: 'tms-select2 form-control' }
                  .row
                    .form-group.col-6
                      = f.label :password, 'Xác nhận mật khẩu'
                      = f.password_field :password_confirmation, class: "#{current_user.super_admin? ? 'form-control' : 'form-control require'}"
                      - f.object.errors.messages[:password_confirmation].each do |password_confirmation_error|
                        %span.invalid-feedback.custom-validation= password_confirmation_error
                  .row
                    .form-group.col-6
                      = f.check_box :is_superadmin, checked: @user.is_superadmin, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                      = f.label :is_superadmin, I18n.t("user.is_superadmin"), class: 'margin-right-5'
                      - f.object.errors.messages[:is_superadmin].each do |error|
                        %span.invalid-feedback.custom-validation= error
        .col-12.order-md-1{class: browser.device.mobile? ? '' : 'sticky-scroll'}
          .card.tms-card
            .card-body
              %div{class: browser.device.mobile? ? 'text-center' : 'text-right'}
                %button.btn.btn-reti-secondary.btn-tms-unable-submit{"data-disable-with" => 'Lưu', disabled: true}= @user.new_record? ? 'Lưu' : 'Lưu thay đổi'