.card.tms-card
  .card-body
    = form_with url: admin_users_path(account_type: 'f2'), method: :get, local: true, class: 'input-group search-group' do |f|
      = f.hidden_field :account_type, value: 'f2'
      = f.text_field :query, value: params[:query], class: 'form-control typeahead user-search', type: 'search', placeholder: 'Nhập từ khoá tìm kiếm theo: Tên, Email'
      %button{type: 'submit'}
        %i.fa.fa-search
%p= "Tổng số: #{@users.length} người dùng"
.card
  .card-body
    .table-responsive.p-0
      %table.table.text-nowrap.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
        %thead
          %tr
            %th Tên
            %th Email
            %th SĐT
            %th Loại tài khoản
            %th Quyền
            %th Trạng thái
            %th Ngày tạo
            %th Người tạo
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td= user.full_name if user.full_name.present?
              %td
                %div{class: "#{'blank-data' if user.email.blank?}"}= "#{user.email.present? ? user.email : 'Chưa cập nhật'}"
              %td
                %div{class: "#{'blank-data' if user.phone_number.blank?}"}= "#{user.phone_number.present? ? Phonelib.parse(user.phone_number, user.country_code).national.delete(' ') : 'Chưa cập nhật'}"
              %td= I18n.t("user.account_type.#{user.account_type}")
              %td= user.role.name if user.role.present?
              %td= user.status
              %td= user.created_at.strftime('%d/%m/%Y')
              %td= "##{user.created_by_id}" if user.created_by_id
              %td.text-right
                %a.btn.btn-outline-primary.btn-edit{href: edit_admin_user_path(user.id)}
                  %i.fas.fa-pencil-alt
                - if policy(user).destroy?
                  %a.btn.btn-outline-primary{href: admin_user_path(user.id, account_type: 'f2'), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                    %i.fas.fa-trash