- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Chỉnh sửa tài khoản
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_users_path(account_type: @user&.account_type)}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  = render "#{@user&.account_type}_form"