- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Danh sách người dùng
  .col-sm-6
    .export-users.dropdown
      %button.dropdown-toggle.btn.btn-export-users.float-right{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
        = image_tag 'down-arrow-white.svg', class: 'btn-export-deals-icon'
        %span{style: 'padding-top: 5px'} Xuất file excel
      .dropdown-menu.dropdown-menu-right.p-0{style: 'width: 250px;'}
        .custom-list-dropdown-checkbox.export-deals-optional-list-field.pl-3
          %a.btn.dropdown-item{href: export_users_admin_users_path(account_type: :internal), target: '_blank'}
            = image_tag asset_path('export.svg'), class: 'export d-none'
            = image_tag asset_path('export-gray.svg'), class: 'export-gray'
            Nội bộ
          %a.btn.dropdown-item{href: export_users_admin_users_path(account_type: :agent), target: '_blank'}
            = image_tag asset_path('export.svg'), class: 'export d-none'
            = image_tag asset_path('export-gray.svg'), class: 'export-gray'
            CTV
          %a.btn.dropdown-item{href: export_users_admin_users_path(account_type: :f2), target: '_blank'}
            = image_tag asset_path('export.svg'), class: 'export d-none'
            = image_tag asset_path('export-gray.svg'), class: 'export-gray'
            F2
- content_for :content_body do
  .card
    %ul.nav.nav-tabs{role: "tablist"}
      %li.nav-item
        %a#nav-internal-users-tab.nav-link{class: "#{'active' if params[:account_type] == 'internal'}", href: admin_users_path(account_type: 'internal'), role: "tab"} Nội bộ
      %li.nav-item
        %a#nav-agent-users-tab.nav-link{class: "#{'active' if params[:account_type].to_s == 'agent'}", href: admin_users_path(account_type: 'agent'), role: "tab"} CTV
      %li.nav-item
        %a#nav-f2-users-tab.nav-link{class: "#{'active' if params[:account_type].to_s == 'f2'}", href: admin_users_path(account_type: 'f2'), role: "tab"} F2
    .card-body
      #nav-tabContent.tab-content
        #nav-internal-users.tab-pane.fade{"aria-labelledby" => "nav-internal-users-tab", :role => "tabpanel", class: "#{'active show' if params[:account_type].to_s == 'internal'}"}
          = render 'internal_users'
        #nav-agent-users.tab-pane.fade{"aria-labelledby" => "nav-agent-users-tab", :role => "tabpanel", class: "#{'active show' if params[:account_type].to_s == 'agent'}"}
          = render 'agent_users'
        #nav-f2-users.tab-pane.fade{"aria-labelledby" => "nav-f2-users-tab", :role => "tabpanel", class: "#{'active show' if params[:account_type].to_s == 'f2'}"}
          = render 'f2_users'
- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_user_path(account_type: params[:account_type]), class: 'btn btn-primary'
