- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Thêm Tài Khoản
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_users_path(account_type: params[:account_type])}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  = render "#{@user.account_type}_form"