- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Cá nhân
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_root_path}
      %i.fas.fa-chevron-left
        Trở lại trang chủ

- content_for :content_body do
  = form_with model: [:admin, @user], url: update_profile_admin_users_path , local: true do |f|
    .row
      .col-12.col-sm-6.order-sm-12
        .card.tms-card
          .card-header
            %h3.card-title Thông tin chính
            .card-tools
              %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                %i.fas.fa-minus
          .card-body
            .tms-field-group
              .tms-field-group-body
                - if f.object.phone_number.present? && !(params[:user] && params[:user][:phone_number].present?)
                  .form-group.d-flex.align-items-center
                    %span Mã giới thiệu:
                    %span.referral-code.ml-2{style: 'color: #ef5b40'}= f.object.referral_code
                    .btn.btn-reti-primary.btn-referral-code.ml-2
                      %i.fas.fa-copy
                      Copy
                .form-group
                  = f.label :full_name, 'Tên'
                  = f.text_field :full_name, class: 'form-control', disabled: ''
                  - f.object.errors.messages[:full_name].each do |full_name_error|
                    %span.invalid-feedback.custom-validation= full_name_error
                .form-group
                  = f.label :email, 'Email'
                  = f.email_field :email, class: 'form-control', disabled: ''
                .form-group
                  = f.label :password, 'Mật khẩu'
                  = f.password_field :password, class: 'form-control'
                  - f.object.errors.messages[:password].each do |password_error|
                    %span.invalid-feedback.custom-validation= password_error
                .form-group
                  = f.label :password_confirmation, 'Xác nhận mật khẩu'
                  = f.password_field :password_confirmation, class: 'form-control'
                  - f.object.errors.messages[:password_confirmation].each do |password_confirmation_error|
                    %span.invalid-feedback.custom-validation= password_confirmation_error
                .form-group
                  = f.label :gender, 'Giới tính'
                  = f.select :gender, options_for_select([%w[Nam male], %w[Nữ female]], f.object.gender), {include_blank: 'Vui lòng chọn'}, {class: 'tms-select2 form-control'}
                  - f.object.errors.messages[:gender].each do |full_name_error|
                    %span.invalid-feedback.custom-validation= full_name_error
                .form-group
                  = f.label :phone_number, 'Số điện thoại'
                  .input-group{class: f.object.errors.messages[:phone_number].present? ? 'field_with_errors' : ''}
                    .input-group-prepend
                      = f.hidden_field :country_code, value: 'VN'
                      %span.input-group-text.country-code-number
                        = ISO3166::Country.new(@user.country_code).present? ? "+#{ISO3166::Country.new(@user.country_code)&.country_code}" : "+84"
                    = f.text_field :phone_number, value: params[:user] && params[:user][:phone_number].present? ? params[:user][:phone_number] : ( @user.phone_number.present? ? @user&.phone_number&.sub(ISO3166::Country.new(@user.country_code)&.country_code, '') : '') , class: 'form-control not_default_error', disabled: (params[:user] && params[:user][:phone_number].present?) || @user.phone_number.blank? ? false : true
                    - f.object.errors.messages[:phone_number].each do |phone_number_error|
                      %span.invalid-feedback.custom-validation= phone_number_error.html_safe
                .form-group
                  = f.label :phone_verify, 'Tình trạng xác thực SĐT'
                  = f.select :phone_verify, options_for_select([["Đã xác thực", true], ["Chưa xác thực", false]], @user.phone_verify), {include_blank: true}, { class: 'form-control tms-select2', disabled: true}
                - if @user.agent?
                  .form-group
                    = f.label :city_id, 'Tỉnh/Thành phố'
                    = f.select :city_id, options_for_select(@cities, f.object.city_id), {include_blank: true}, {class: 'form-control tms-select2'}
                  .form-group
                    = f.label :main_job, 'Lĩnh vực nghề nghiệp chính'
                    = f.select :main_job, options_for_select(Constant::USER_MAIN_JOB.invert, f.object.main_job), {include_blank: true}, {class: 'form-control tms-select2'}
                .form-group
                  %a{:href => user_google_oauth2_omniauth_authorize_path, style: 'color: black;', :class => "popup", :"data-width" => 800, :"data-height" => 800, 'data-no-turbolinks': true}
                    %input.tms-icheck.connect-with-google{type: 'checkbox', data: {skin: 'square', color: 'blue'}, name: 'sync-gg-calendar', checked: current_user.access_token}
                    %span.ml-1 Đồng bộ với Google Calendar
                .form-group
                  .custom-control.custom-switch
                    %input#subscribe-message.custom-control-input{:type => "checkbox", subscribe: current_user.subscribe.to_s}/
                    %label.custom-control-label{:for => "subscribe-message"} Bật thông báo trình duyệt
      .col-12.col-sm-6.order-sm-12
        .card.tms-card
          .card-header
            %h3.card-title Avatar
            .card-tools
              %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                %i.fas.fa-minus
          .card-body
            .tms-field-group
              .tms-field-group-body
                - if current_user.avatar.present?
                  = hidden_field :user, :avatar, value: current_user.avatar.identifier, 'data-url': current_user.avatar.url, 'data-delete-url': destroy_attachment_admin_users_path
                .row
                  .col
                    .file-loading
                      = f.file_field :avatar, id: 'user-avatar-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                      - f.object.errors.messages[:avatar].each do |avatar_error|
                        %span.invalid-feedback.custom-validation= avatar_error
      .col-12.order-sm-1.sticky-top
        .card.tms-card
          .card-body
            %div{class: browser.device.mobile? ? 'text-center' : 'text-right'}
              %button.btn.btn-reti-secondary= current_user.new_record? ? 'Lưu' : 'Lưu thay đổi'