// Zoom
.zoom-control {
  display: inline-block;
  margin-bottom: 10px;
  float: right;
  margin-right: 0;
  .zoom-button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 0;

    i.fa {
      font-size: 18px;
      color: #3395ff;
    }
  }

  .zoom-percentage {
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

input[name="scale"] {
  display: none;
}

.delete-layout {
  color: red;
  &:hover {
    color: white;
    background-color: red;
  }
}

.view_layout_info {
  display: none;
  margin-left: -15px;
}

#new_component {
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: red !important;
  }
}

#zoom-container {
  position: relative;
  border: 1px solid black;
  width: 720px;
  height: 500px;
  // overflow: auto;
}
#zoom-container-2 {
  position: relative;
  // border: 1px solid black;
  width: 100%;
  // width: 720px;
  height: 500px;
  background-color: #3395ff;
  overflow: hidden;
}
.wrapper {
  position: relative;
  // position: absolute;
  background-color: transparent;
  // border: 1px solid black;
  width: 100%; height: 100%;
  // top: 50%; left: 50%;
  transform-origin: top left;
  // transform: translate(-50%, -50%);
  transition: all 1s;
}

.step-2-image-preview {
  width: 100%;
  height: 500px;
  overflow: auto;
  border: 1px solid;
}

@for $i from 0 through 38 {
  $x: 0.5 + $i * 0.25;
  #s#{$i}:checked ~ div#zoom-container .wrapper { top: 0%; left: 0%;transform-origin: top left; transform: scale($x) translate(0%, 0%); }
}

// Point & line
.circle-point {
  height: 10px;
  width: 10px;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #3395ff;
  border-radius: 50%;
  display: inline-block;
  z-index: 2;
}

.point-connecting-line {
  width: 0;
  color: #3395ff;
  height: 2px;
  background-color: #3395ff;
  z-index: 1;
}

.component-picked-coordinates {
  display: none;
}

.layout-step1-dropzone {
  text-align: center !important;
}

.booking-nav-tabs {
  background-color: white;
}

.layout-name, .layout-apartment {
  padding-left: 0;
}

.layout-apartment {
  flex: 0 0 29.3% !important;
}

.layout-image {
  &:hover {
    background-color: aliceblue;
    -webkit-box-shadow: 5px 5px 10px lightgrey;
    -moz-box-shadow: 5px 5px 10px lightgrey;
    box-shadow: 5px 5px 10px lightgrey;
    cursor: pointer;
  }
}

.layout-coordinate {
  margin-left: 10px;
}

.layout-room, .layout-coordinate, .layout-name input, .layout-apartment input {
  font-size: 14px;
  font-weight: 300;
}

.layoutErrorTxt{
  border: 1px solid red;
  min-height: 20px;
}

.layout_image_mounting, #layout_image_drawing {
  width: 100%;
  object-fit: cover;
}

.projects-edit {
  .select2-container--open .select2-dropdown .select2-results__option--highlighted[aria-selected] {
    background-color: #3395FF !important;
  }
}

.select2-selection--multiple{
  overflow: hidden !important;
  height: auto !important;
}

#layoutModal {
  .modal-content, .close {
    margin-top: 70px;
  }
}

#form_part1 .files label.layout-image, #import_apartment_form .files label.layout-image, #import_block_form .files label.layout-image {
  position: absolute;
  top: 0;
  font-size: 14px;
  left: 1%;
  .title {
    font-weight: 400;
  }
  .sub-title {
    color: gray;
  }
}

// Multi-steps style
.wizard .nav-tabs {
  position: relative;
  border: 0px;
}
.wizard > div.wizard-inner {
  position: relative;
  text-align: center;
}
.connecting-line{
  height: 3px;
  background: #e0e0e0;
  position: absolute;
  width: 0%;
  margin: 0 auto;
  left: 17%;
  top: 14%;
  z-index: 1;
  border-radius: 15px;
}
.active-line{
  height: 3px;
  background: #e0e0e0;
  position: absolute;
  width: 66%;
  margin: 0 auto;
  left: 17%;
  top: 14%;
  z-index: 1;
  border-radius: 15px !important;
}
.active .connecting-line{
  background-color: #3395ff;
}
.border-right{
  border-radius: 15px 0 0 15px;
}
.border-left{
  border-radius: 0;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  cursor: default;
  border: 0;
  color:#3395ff;
  border-bottom-color: transparent;
}
.nav-tabs li p{
  padding-top: 50px;
  padding-left: 25px;
  font-size: 14px;
  text-align: center;
}
.list-inline{
  margin-top: 50px;
  text-align: right;
}
span.round-tab {
  width: 30px;
  height: 30px;
  line-height: 26px;
  display: inline-block;
  border-radius: 30px;
  background:#DFE3E4;
  border: 2px solid #fff;
  z-index:2;
  position:absolute;
  text-align: center;
  font-size: 14px;
}
.wizard li.active span.round-tab{
  background:#3395ff;
  color:white;
  border: 2px solid #fff;
}
span.round-tab:hover{
  color: white;
  border: 2px solid #fff;
  background-color:#3395ff;
}
.wizard .nav-tabs > li {
  width: 33%;
}
.wizard .nav-tabs > li a{
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  color: #777;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 15px;
  border-top: 1px solid #fff;
  margin-top: 10px;
}
.next-step, .btn-info-full, .btn-add-room, .btn-preview {
  position: relative;
  background-color: #3395ff;
  font-size: 14px;
  color: #FFFFFF;
  width: 150px;
  &:hover {
    background-color: #007bff;
  }
}

.btn-preview {
  display: none;
}

.btn-remove-room {
  height: 40px;
  background-color: transparent;
}

.prev-step {
  position: relative;
  background-color: #ffffff;
  font-size: 14px;
  color: #3395ff;
  width: 150px;
  border: 1px solid #3395ff;
  &:hover {
    background-color: #007bff;
    color: #ffffff;
  }
}

#custom-back-to-list-button {
  font-weight: 300;
  color: #3395ff;
  &:hover {
    color: #007bff;
  }
}
@media( min-width : 320px ) and ( max-width : 360px ){
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 14px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .next-step{
    margin-top:10px;
  }
  .nav-tabs li p {
    padding-top:60px;
    font-size: 14px;
    text-align: center;
  }
  .connecting-line , .active-line{
    top:14%;
  }
}

// Drag and drop file input
#layoutImg {
  display: none;
}
.files label.layout-image, .files input.layout-image {
  outline: 2px dashed #3395ff;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 0%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
  height: 300px !important;
}
.files label.layout-image:focus, .files input.layout-image:focus {
  outline: 2px dashed #3395ff;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  border: 1px solid whitesmoke;
}
.files {
  position:relative
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 75px;
  left: 15px;
  width: 50px;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-size: 60px;
  content: "\f07b";
  color: #3395ff;
  margin: 0 auto;
}
.color label, .color input {
  background-color: #f1f1f1;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

// Custom sweetalert2
#swal2-content {
  font-size: 14px;
}

#swal2-title {
  font-size: 18px;
}

.swal2-actions button {
  font-size: 14px;
  width: 150px;
}

@media(min-width: 1845px) {
  .layout-apartment {
    flex: 0 0 27.3% !important;
  }
}

@media(max-width: 1844px) {
  .layout-apartment {
    flex: 0 0 27.3% !important;
  }
}

@media(max-width: 1602px) {
  .layout-apartment {
    flex: 0 0 28% !important;
  }
}

@media(max-width: 1253px) {
  .layout-apartment {
    flex: 0 0 29% !important;
  }
}

@media(max-width: 1202px) {
  .layout-apartment {
    flex: 0 0 29.3% !important;
  }
}

@media(max-width: 961px) {
  .layout-apartment {
    flex: 0 0 31.3% !important;
  }
}

@media(max-width: 801px) {
  .layout-apartment {
    flex: 0 0 33.3% !important;
  }
}

// Deposit style
.deposit-layout {
  height: 1000px !important;
  background-color: white !important;
  margin-top: 20px;
  display: none;
  .mapify-popOver-content {
    top: 0 !important;
  }

  .circle-point {
    display: none;
  }

  .mapify-popOver {
    padding: 15px 15px !important;
  }

  .mapify-img {
    opacity: 0.3;
  }

  .mapify-popOver.mapify-visible {
    z-index: 1 !important;
  }

  .sold {
    fill: #E0E0E0 !important
  }

  .locked {
    fill: #FFC107 !important;
  }

  .deposited {
    fill: #007BFF !important;
  }

  .booked {
    fill: #FFC107 !important;
  }

  .locking {
    fill: #FFC107 !important;
  }

  .for_sale {
    fill: #28A745 !important;
  }

  .unusable {
    fill: #6C747D !important;
  }

  .recall {
    fill: #DC3545 !important;
  }

  .third_holding {
    fill: #6C747D !important;
  }
}

.deposit-wrapper {
  border: none;
}

.booking-popover {
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
    font-weight: 500;
    span {
      font-weight: 500
    }
  }
  .code {
    font-size: 16px;
    font-weight: normal;
  }
  .code-value {
    color: #007BFF;
  }
  td {
    height: 30px;
  }
  .viewer {
    font-style: italic;
    font-size: 12px;
  }
}

#available-apartment {
  font-size: 14px;
  font-weight: 300;
  background-color: whitesmoke;
}

label.layout-room, label.layout-coordinate {
  border: none !important;
  height: 25px !important;
  text-align: left;
}

#custom-apartment-list, #project-layout, #custom-project-layout-list {
  .dataTables_filter {
    float: left !important;
    margin-bottom: 10px !important;
    label {
      width: 50vw;
    }
  }
}

.close {
  top: 0 !important;
}

#show-project-layout {
  margin-top: 15px;
}
