.nested-fields{class: "call-#{o.id}"}
  = form_with model: [:admin, deal, o], class: 'edit-call' do |f|
    .row.group-form.mt-3{ class: f.object.id != nil && !f.object.errors.present? ? 'd-none' : ''}
      .col-12
        .form-group
          .fields
            = f.text_field :created_by_id, hidden: true, value: current_user.id, id: "user-#{f.object.id}"
            .row
              .col-12
                = f.label :contact_date, 'Ngày giờ gọi', class: 'detail-item-heading-sub'
                = f.text_field :contact_date, value: f.object.contact_date&.localtime&.strftime('%d/%m/%Y %H:%M'), class: 'form-control datetimepicker', id: "date-#{f.object.id}"
                - f.object.errors.messages[:contact_date].each do |error|
                  %span.invalid-feedback.custom-validation= error
            .row
              .col-12
                = f.label :result, 'Kết quả', class: 'detail-item-heading-sub'
                = f.text_area :result, class: 'form-control', id: "result-#{f.object.id}"
                - f.object.errors.messages[:result].each do |error|
                  %span.invalid-feedback.custom-validation= error

        .col-6
          .form-group.nested-btn-group
            %button.btn.btn-save-nested.mr-2{type: 'button'}
              %i.fas.fa-cloud-upload-alt.mr-1
              Lưu lại
            %button.btn.btn-outline-danger.btn-destroy-nested{type: 'button', 'data-destroy': f.object.id != nil ? 'cancel' : 'remove'}
              = "Hủy"
    .row.group-show{ class: f.object.id == nil || f.object.errors.present? ? 'd-none' : ''}
      .col-12
        .author-name.tms-line-height-2
          .name.font-weight-600.font-size-16
            = f.object.author.full_name if (f.object.author.present? && f.object.errors.blank?)
          %i.date.font-size-16
            = '- ' + f.object.created_at.localtime.strftime('%d/%m/%Y %H:%M') if f.object.created_at.present?
        .content.pl-3.pt-3.pb-3.pr-0
          %table
            %tr
              %td.label-show
                Ngày giờ:
              %td.content-show.pl-2.font-weight-600
                = f.object.contact_date.localtime.strftime('%d/%m/%Y %H:%M') if f.object.contact_date.present?
              %td
                - unless deal.request_recall? || @deal.canceled? || @deal.contract_signed?
                  %button.btn-edit{type: 'button'}
                    %i.fa.fa-pen
            %tr
              %td.label-show.align-top
                Kết quả:
              %td.content-show.pl-2.font-weight-600
                = text_auto_link(f.object.result)
          

