.card.mt-3
  .card-body{style: 'padding-top: 10px !important'}
    %table#complete-deals-table.custom-sorting-table.complete-deal-table.table.table-hover.table-nowrap{class: "display nowrap", style: "width:100%"}
      %thead
        %tr
          %th.border-bottom-none.py-0 
          %th.border-bottom-none.py-0 
          %th.border-bottom-none.py-0 
          %th.border-bottom-none.py-0 
          %th.border-bottom-none.py-0 
          %th.border-bottom-none.py-0 
          %th.border-bottom-none.py-0
            .d-flex.align-items-center.pb-3.pt-1 
              = image_tag 'total.svg'
              %span.text-total.pl-2{class: 'input-price-decimal', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"}= @sum_total_price
          %th.border-bottom-none.py-0
          %th.border-bottom-none.py-0
            .d-flex.align-items-center.pb-3.pt-1
              = image_tag 'total.svg'
              %span.text-total.pl-2{class: 'input-price-decimal', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"}= @total_commission_temporary
          %th.border-bottom-none.py-0
            .d-flex.align-items-center.pb-3.pt-1
              = image_tag 'total.svg'
              %span.text-total.pl-2{class: 'input-price-decimal', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"}= @total_commission_actually
        %tr
          %th Tên GD
          %th Khách hàng
          %th SĐT
          %th Mã SP
          %th Dự án
          %th Ngày ký HĐ
          %th Tổng GTGD
          %th Cách tính HH
          %th HH tạm tính
          %th HH thực tế
      %tbody
        - @complete_deals.each do |deal|
          %tr
            %td
              = deal.name
              .d-none
                %a.btn.btn-outline-primary.btn-edit{href: edit_admin_deal_path(deal), target: '_blank'}
            %td= deal.customer&.name
            %td
              %div{class: "#{'blank-data' if deal.customer&.phone_number.blank?}"}= "#{deal.customer&.phone_number.present? ? Phonelib.parse(deal.customer.phone_number).national.gsub(/\s+/, "") : 'Chưa cập nhật'}"
            %td
              %div{class: "#{'blank-data' if deal.product&.code.blank?}"}= "#{deal.product&.code.present? ? deal.product&.code : 'Chưa cập nhật'}"
            %td= deal.project&.name
            %td
              %div{class: "#{'blank-data' if deal.contract_signed_at.blank?}"}= "#{deal.contract_signed_at.present? ? deal.contract_signed_at&.strftime('%d/%m/%Y') : 'Chưa cập nhật'}"
            %td
              %div{class: "#{'blank-data' if deal&.total_price.blank?}"}= "#{currency(deal&.total_price).present? ? currency(deal&.total_price) : 'Chưa cập nhật'}"
            %td
              - if deal.commission.present?
                .complete-deal-label{class: "calculation-type-label-#{deal.commission.calculation_type}"}= deal.commission.get_calculation_type_label
              - else
                .blank-data Chưa cập nhật
            %td
              %div{class: "#{'blank-data' if deal.commission&.temporary_commission.blank?}"}
              - if deal.transfer_histories.present? 
                0
              - else
                = "#{deal.commission.present? && deal.commission.temporary_commission.present? ? currency(deal.commission.temporary_commission) : 'Chưa cập nhật'}"          
            %td
              %div{class: "#{'blank-data' if deal.commission&.actually_commission.blank?}"}
              - if deal.transfer_histories.present? 
                0
              - else
                = "#{deal.commission.present? && deal.commission.actually_commission.present? ? currency(deal.commission.actually_commission) : 'Chưa cập nhật'}"          
