%label.info-item-label.m-0{style: 'color: #828282'}
  = title
  - if editable && browser.device.mobile?
    %i.tms.tms-edit-bl.btn-edit-mobile
.d-flex.justify-content-between.text-show-commission-group{class: "#{class_name} #{'editable' if editable}", 'data-field': class_name}
  %input{class: "stored-#{class_name}", type: 'hidden', value: (type == 'date' ? format_regulation(value) : value)}
  .text{class: class_name == 'source-detail' ? 'font-weight-500' : 'font-weight-600' }= value ? (type == 'number' ? currency(value) : (type == 'date' ? format_regulation(value) : value)) : 'Chưa cập nhật'
  - if editable && !browser.device.mobile?
    .button-control-edit
      %i.fa.fa-pen.d-none
- if editable
  .input-show-commission-group.d-none{class: "input-show-group-#{class_name}"}
    .form-group
      %input.form-control{readonly: (type == 'date'), value: (type == 'date' ? format_regulation(value) : value), id: "input-show-text-#{class_name}", type: 'text', class: "#{%w(total-price).include?(class_name) ? 'input-price-decimal' : ''}", "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"}
    .button-control
      %button.btn.btn-default.btn-tms-check{type: 'button', 'data-id': @deal.id, 'data-field': class_name, class: "btn-#{class_name}-check"}
        %i.fa.fa-check
      %button.btn.btn-default.btn-tms-cancel{type: 'button', 'data-field': class_name, class: "btn-#{class_name}-cancel"}
        %i.fa.fa-times

:javascript
  $(document).ready(function() {
    $(`#input-show-text-contract-signed-at`).daterangepicker({
      singleDatePicker: true,
      opens: 'left',
      minYear: 2019,
      maxYear: 2119,
      drops: "up",
      autoUpdateInput: false,
      locale: {
        format: 'DD/MM/YYYY'
      }
    });

    $('#input-show-text-contract-signed-at').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY'));
    });
  })