.nested-fields{class: "feedback-#{o.id}"}
  = form_with model: [:admin, deal, o], class: 'edit-feedback' do |f|
    .row.group-form.mt-3{ class: f.object.id != nil && !f.object.errors.present? ? 'd-none' : ''}
      .col-12
        .form-group
          .fields
            = f.text_field :created_by_id, hidden: true, value: current_user.id, id: "feedback-user-#{f.object.id}"
            .row
              .col-12
                = f.label :title, 'Tiêu đề', class: 'detail-item-heading-sub'
                = f.text_field :title, class: 'form-control', id: "feedback-title-#{f.object.id}"
                - f.object.errors.messages[:title].each do |error|
                  %span.invalid-feedback.custom-validation= error
            .row
              .col-12
                = f.label :content, 'Phản hồi của KH', class: 'detail-item-heading-sub'
                = f.text_area :content, class: 'form-control', id: "feedback-content-#{f.object.id}"
                - f.object.errors.messages[:content].each do |error|
                  %span.invalid-feedback.custom-validation= error

        .col-6
          .form-group.nested-btn-group
            %button.btn.btn-save-nested.mr-2{type: 'button'}
              %i.fas.fa-cloud-upload-alt.mr-1
              Lưu lại
            %button.btn.btn-outline-danger.btn-destroy-nested{type: 'button', 'data-destroy': f.object.id != nil ? 'destroy' : 'remove'}
              = "Hủy"
    .row.group-show{ class: f.object.id == nil || f.object.errors.present? ? 'd-none' : ''}
      .col-12
        .author-name.tms-line-height-2
          .name.font-weight-600.font-size-16
            = f.object.author.full_name if (f.object.author.present? && f.object.errors.blank?)
          %i.date.font-size-16
            = '- ' + f.object.created_at.localtime.strftime('%d/%m/%Y %H:%M') if f.object.created_at.present?
        .content.pl-3.pt-3.pb-3.pr-0
          %table
            %tr
              %td.label-show
                Tiêu đề:
              %td.content-show.pl-2.font-weight-600
                = f.object.title
              %td
                - unless deal.request_recall? || @deal.canceled? || @deal.contract_signed?
                  %button.btn-edit{type: 'button'}
                    %i.fa.fa-pen
            %tr
              %td.label-show.align-top
                Phản hồi của KH:
              %td.content-show.pl-2.font-weight-600
                = text_auto_link(f.object.content)