= form_with url: admin_deals_path, method: :get, local: true, class: 'input-group filter-form' do |f|
  .card.mt-2.mb-4
    .card-body.pl-0
      .container-fluid
        .row
          .col-4
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Tìm kiếm
              .col-xl-10.col-lg-9.col-md-8
                = f.text_field :query, value: params[:query], id: 'deal-search', class: 'form-control typeahead m-0 w-100', placeholder: 'Nhập từ khoá tìm kiếm', type: 'search'
          .col-4
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Trạng thái
              .col-xl-10.col-lg-9.col-md-8
                = f.select :state, options_for_select(@states, params[:state]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'state-search-deal', name: 'state[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Nguồn
              .col-xl-10.col-lg-9.col-md-8
                = f.select :source, options_for_select(Constant::DEAL_SOURCES.map { |k, v| [v, k]}, params[:source]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'source-search-deal', name: 'source[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Dự án
              .col-xl-10.col-lg-9.col-md-8
                = f.select :project, options_for_select(@projects, params[:project]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'project-search-deal', name: 'project[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .text-right.font-size-14 Người
                .text-right.font-size-14 Chăm sóc
              .col-xl-10.col-lg-9.col-md-8
                = f.select :assignee, options_for_select(@assignees, params[:assignee]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'assignee-search-deal', name: 'assignee[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Nhãn
              .col-xl-10.col-lg-9.col-md-8
                = f.select :label, options_for_select(@label_filters, params[:label]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'label-search-deal', name: 'label[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .text-right.font-size-14 Mục đích
                .text-right.font-size-14 mua
              .col-xl-10.col-lg-9.col-md-8
                = f.select :purchase_purpose, options_for_select(Constant::PURCHASE_PURPOSE.map { |k, v| [v, k]}, params[:purchase_purpose]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'purchase-purpose-search-deal', name: 'purchase_purpose[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .text-right.font-size-14 Loại hình
                .text-right.font-size-14 sản phẩm
              .col-xl-10.col-lg-9.col-md-8
                = f.select :product_type, options_for_select(Constant::PROJECT_REAL_ESTATE_TYPE.map { |k, v| [v, k]}, params[:product_type]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'product-type-search-deal', name: 'product_type[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Ngày tạo
              .col-xl-10.col-lg-9.col-md-8
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.far.fa-calendar-alt
                  = f.text_field :created_at, value: params[:created_at].present? ? params[:created_at] : nil, id: 'deals-created-daterangepicker', class: 'form-control float-right'
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .text-right.font-size-14 Ngày
                .text-right.font-size-14 cập nhật
              .col-xl-10.col-lg-9.col-md-8
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.far.fa-calendar-alt
                  = f.text_field :updated_at, value: params[:updated_at].present? ? params[:updated_at] : nil, id: 'deals-updated-daterangepicker', class: 'form-control float-right'
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .text-right.font-size-14 Hướng
                .text-right.font-size-14 ban công
              .col-xl-10.col-lg-9.col-md-8
                = f.select :balcony_direction, options_for_select(Reti::Product::DIRECTIONS.map { |k, v| [v, k]}, params[:balcony_direction]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'balcony-direction-search-deal', name: 'balcony_direction[]', style: 'width: 100%', multiple: true}
          .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
            .row
              .col-xl-2.col-lg-3.col-md-4.pr-0
                .filter-label.float-right Hướng cửa
              .col-xl-10.col-lg-9.col-md-8
                = f.select :door_direction, options_for_select(Reti::Product::DIRECTIONS.map { |k, v| [v, k]}, params[:door_direction]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'door-direction-search-deal', name: 'door_direction[]', style: 'width: 100%', title: 'Hướng cửa', multiple: true}
          .col-8.mt-3.div-space{class: "#{@check_params_filter ? '' : 'd-none'}"}
          .col-4.d-flex{class: "#{@check_params_filter ? 'mt-3' : ''}"}
            .ml-auto
              %button.btn.btn-reti-primary.btn-submit-filter{type: 'submit', style: 'margin-left: auto'} Áp dụng
              %a.btn.btn-remove-filter.ml-2{type: 'button', href: admin_deals_path} Xóa
            .product-filter-expand-collapse.cursor-pointer
              - if @check_params_filter
                %span.product-filter-text Thu gọn
                %span.product-filter-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
                  = image_tag 'down-arrow.svg', class: 'd-block'
              - else
                %span.product-filter-text Mở rộng
                %span.product-filter-icon{"aria-label" => "down", role: "img"}
                  = image_tag 'down-arrow.svg', class: 'd-block'
  .container-fluid
    .row.m-0.pb-1.d-flex.justify-content-end.p-0.mb-2
      - if current_user.super_admin?
        .col-1.d-flex.justify-content-end.p-0
          .form-group.mb-1.ml-auto
            %a.btn.btn-same-deal{href: new_admin_deal_import_path}
              Import GD
      - if current_user.super_admin? || current_user.bi_ba? || current_user.marketing? || current_user.sale_manager?
        .col-1.d-flex.justify-content-end.p-0
          .form-group.mb-1.ml-auto
            %a.btn.btn-same-deal{href: admin_same_deals_path}
              GD trùng
    .row
      .col-6
        .form-group.mr-1.my-1.deal-search-group.total_deal
          = "Tổng số: #{@pagy.present? ? @pagy.count: @deals.size} giao dịch"
      .col-6
        .d-flex.justify-content-end
          .form-group.mt-2.mr-3.float-right
            %label.tms-container-radio.view-mode-radio.mr-3
              Dạng cột
              %input{checked: true, type: 'radio', class: 'deal-check-view-mode', id: "type-kanban", name: 'view_mode', 'data-url': admin_deals_path, value: 'kanban'}
              %span.checkmark
            %label.tms-container-radio.view-mode-radio
              Dạng bảng
              %input{checked: params[:view_mode] == 'table', type: 'radio', class: 'deal-check-view-mode', id: "type-table", name: 'view_mode', value: 'table'}
              %span.checkmark
          .dropdown
            %button#dropdown-sort-deal.btn.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
              - case params[:order_by]
              - when 'created_at'
                Ngày tạo
              - when 'updated_at'
                Ngày cập nhật
              - when 'source'
                Nguồn
              - when 'project_id'
                Dự án
              - when 'purchase_purpose'
                Mục đích mua
              - when 'product_type'
                Loại hình sản phẩm
              - else
                - if params[:view_mode]
                  Ngày cập nhật
                - else
                  Mặc định
            .dropdown-menu.dropdown-menu-right.dropdown-menu-sort-deal{"aria-labelledby": "dropdown-sort-deal"}
              .dropdown-menu-header
                %a.dropdown-item{href: "javascript:0"} Tiêu chí sắp xếp
              .dropdown-body.text-left
                - if params[:view_mode]
                  %label.container
                    Ngày cập nhật
                    %input{checked: true, name: "order_by", type: "radio", value: "updated_at", 'data-url': admin_deals_url(view_mode: 'table')}
                    %span.checkmark
                - else
                  %label.container
                    Mặc định
                    %input{checked: true, name: "order_by", type: "radio", value: "updated_at", 'data-url': admin_deals_path}
                    %span.checkmark
                %label.container
                  Ngày tạo
                  %input{checked: params[:order_by] == 'created_at', name: "order_by", type: "radio", value: "created_at", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'created_at', sort: 'ASC'):admin_deals_url(order_by: 'created_at', sort: 'ASC')}
                  %span.checkmark
                - unless params[:view_mode]
                  %label.container
                    Ngày cập nhật
                    %input{checked: params[:order_by] == 'updated_at', name: "order_by", type: "radio", value: "updated_at", 'data-url': admin_deals_url(order_by: 'updated_at', sort: 'ASC')}
                    %span.checkmark
                %label.container
                  Nguồn
                  %input{checked: params[:order_by] == 'source', name: "order_by", type: "radio", value: "source", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'source', sort: 'ASC'):admin_deals_url(order_by: 'source', sort: 'ASC')}
                  %span.checkmark
                %label.container
                  Dự án
                  %input{checked: params[:order_by] == 'project_id', name: "order_by", type: "radio", value: "project_id", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'project_id', sort: 'ASC'):admin_deals_url(order_by: 'project_id', sort: 'ASC')}
                  %span.checkmark
                %label.container
                  Mục đích mua
                  %input{checked: params[:order_by] == 'purchase_purpose', name: "order_by", type: "radio", value: "purchase_purpose", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'purchase_purpose', sort: 'ASC'):admin_deals_url(order_by: 'purchase_purpose', sort: 'ASC')}
                  %span.checkmark
                %label.container
                  Loại hình sản phẩm
                  %input{checked: params[:order_by] == 'product_type', name: "order_by", type: "radio", value: "product_type", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'product_type', sort: 'ASC'):admin_deals_url(order_by: 'product_type', sort: 'ASC')}
                  %span.checkmark

          %button.btn.btn-sort-deal{type: "button", value: params[:sort] || 'ASC', disabled: params[:order_by].blank? ? true : false, name: 'sort'}
            = hidden_field_tag :sort, params[:sort] || 'ASC'
            - if params[:sort].present? && params[:sort] == "DESC"
              %i.fas.fa-sort-alpha-down-alt
            - else
              %i.fas.fa-sort-alpha-down