= form_with model: [:admin, @deal], url: update_state_admin_deal_path(@deal), id: 'edit-deal-state' do |f|
  = hidden_field_tag :form_id, :deal_state, id: 'deal-state-form-id'
  = f.hidden_field :assignee_id, value: @deal.assignee_id
  = f.submit 'Lưu lại', name: 'save_state', style: 'display: none', id: 'save-state-btn'
  .kanban-bg-gray.tms-p-16
    .deal-state
      = f.select :state, options_for_select(@deal.available_states, @deal.state), {include_hidden: false}, { class: 'tms-select2 form-control detail-item-content', 'data-id': @deal.id, id: 'deal_state', disabled: @deal.state_disabled? || !policy(@deal).change_state? }
      - f.object.errors.messages[:state].each do |error|
        %span.invalid-feedback.custom-validation= error
    .col-12.deal-invalid-warning-desktop.mt-2
      Vui lòng nhập đầy đủ mục bắt buộc tại
      %a.toggle-tab-general-desktop Thông tin chung
      %span.comma
        = ", "
      %a.toggle-tab-customer-desktop Chân dung khách hàng
    .info-item-group
      - if @deal.aasm.current_state == :canceled
        .d-flex.justify-content-between.show-button-edit-canceled
          %label.info-item-label.m-0
            Lý do hủy
          - if current_user.super_admin? || current_user.bi_ba?
            .button-edit-canceled
              %i.fa.fa-pen.d-none
        %p.info-item-content.font-weight-600.m-0#show-canceled-reason
          = select_tag "", options_for_select(Constant::CANCELED_REASON.invert, @deal.canceled_reason), {include_blank: 'Chưa cập nhật', class: 'select2-deal-canceled-reason form-control detail-item-content', disabled: true}
      .info-item-content.font-weight-600#show-change-canceled-reason.d-none
        = f.select :canceled_reason, options_for_select(Constant::CANCELED_REASON.invert, @deal.canceled_reason), {include_blank: true}, { class: 'tms-select2 form-control detail-item-content', id: 'deal_canceled_reason' }
        .button-control
          %button.btn.btn-default.btn-canceled-cancel{type: 'button'}
            %i.fa.fa-times
          %button.btn.btn-default.btn-canceled-check{type: 'button'}
            %i.fa.fa-check
    - if @deal.aasm.current_state == :uninterested
      .d-flex.justify-content-between.show-button-edit-uninterested
        %label.info-item-label.m-0
          Lý do không quan tâm
        - if current_user.super_admin? || current_user.bi_ba?
          .button-edit-uninterested
            %i.fa.fa-pen.d-none
      %p.info-item-content.font-weight-600.m-0#show-uninterested-reason
        = select_tag "", options_for_select(Constant::UNINTERESTED_REASON.invert, @deal.uninterested_reason), {include_blank: false, class: 'tms-select2 form-control detail-item-content', disabled: true}
    .info-item-content.font-weight-600#show-change-uninterested-reason.d-none
      = f.select :uninterested_reason, options_for_select(Constant::UNINTERESTED_REASON.invert, @deal.uninterested_reason), {include_blank: true}, { class: 'tms-select2 form-control detail-item-content', id: 'deal_uninterested_reason' }
      .button-control
        %button.btn.btn-default.btn-uninterested-cancel{type: 'button'}
          %i.fa.fa-times
        %button.btn.btn-default.btn-uninterested-check{type: 'button'}
          %i.fa.fa-check
    - if @deal.is_show_commission
      .info-item-group
        - if @deal.commission&.actually_commission
          %label.info-item-label.m-0
            Hoa hồng thực nhận (vnđ)
          .custom-tooltip
            %p.info-item-content.font-weight-600.m-0{style: 'color: #F15B40'}
              = @deal.transfer_histories.present? ? "Không áp dụng cho căn chuyển nhượng" : currency(@deal.commission.actually_commission)
        - else
          %label.info-item-label.m-0
            Hoa hồng tạm tính (vnđ)
          .custom-tooltip
            %p.info-item-content.font-weight-600.m-0{style: "#{'color: #F15B40' if @deal.commission&.temporary_commission}"}
              = @deal.transfer_histories.present? ? "Không áp dụng cho căn chuyển nhượng" : (currency(@deal.commission&.temporary_commission) || 'Đang cập nhật')
    .info-item-group{style: 'margin-bottom: 23px'}
      %label.info-item-label.m-0
        Đánh giá độ nét
      %ul.range-labels
        - (1..10).each do |i|
          %li{class: "#{'active selected' if (i == @deal.lead_scoring) || (@deal.lead_scoring.nil? && i == 4)}"}= i
      .range
        = f.text_field :journey_lead_scoring, value: f.object.lead_scoring || 4, max: 10, min: 1, steps: 1, type: "range", disabled: !policy(@deal).update? || current_user.customer_service?
        = f.hidden_field :after_first_click_label, value: false
    - unless current_user.sale_member?
      .info-item-group.dropdown-assign
        %label.info-item-label.m-0
          Người chăm sóc
        .info-item-content.font-weight-600.m-0{id: "#{@deal.allow_assignee? ? 'assignee' : 'assignee-readonly'}", 'data-assignee-id': @deal.assignee_id}
          .btn.p-0.image-avatar
            = image_tag @deal.assignee.present? ? @deal.assignee.get_avatar : asset_path('add-assignee.svg'), alt: 'User Default Avatar', class: 'img-circle w-100 avatar-assign'
          = @deal.assignee.present? ? "#{@deal.assignee&.full_name}#{@deal.assignee == @current_user ? ' (Tôi)': '' }" : 'Chưa cập nhật'
        %input#assignee-id.d-none{value: ''}
        #kanban-assign.dropdown-assign-content
          .assign-heading.d-flex.justify-content-between
            .assign-title Chọn người phụ trách
            %span.assign-btn-close{type: "button"}
              .fas.fa-times
          .assign-search
            .input-group
              %input.form-control.input-search-assignee{:type => "text", placeholder: 'Tìm kiếm'}
              .input-group-append
                %span.input-group-text
                  %i.fas.fa-search
      - if @deal.assignee&.leader
        .info-item-group
          %label.info-item-label.m-0
            Trưởng nhóm kinh doanh
          %p.info-item-content.font-weight-600.m-0.team-lead-content
            = @deal.assignee&.leader&.full_name
      - if @deal.assignee&.sale_manager
        .info-item-group
          %label.info-item-label.m-0
            Trưởng phòng kinh doanh
          %p.info-item-content.font-weight-600.m-0.team-lead-content
            = @deal.assignee&.sale_manager&.full_name
      - if @deal.assignee&.director
        .info-item-group 
          %label.info-item-label.m-0
            GĐCN/GĐKD
          %p.info-item-content.font-weight-600.m-0.team-lead-content
            = @deal.assignee&.director&.full_name  
    .info-item-group
      %label.info-item-label.m-0
        Nguồn
      .info-item-content.m-0.div-source-select2
        %input#input-hidden-source.d-none{value: f.object.source}
        .source-group.d-flex.justify-content-between{class: "source-text #{'editable' if @source_group.present? && policy(@deal).update? && !current_user.customer_service?}"}
          .text.font-weight-600= Constant::DEAL_SOURCES[@deal.source] || 'Chưa cập nhật'
          - if @source_group.present? && policy(@deal).update?
            .button-control-edit
              %i.fa.fa-pen.d-none
        - if @source_group.present? && policy(@deal).update?
          .input-show-source-group.d-none
            .form-group
              %input.form-control#input-show-source-text{readonly: true, value: 'facebook'}
            .button-control
              %button.btn.btn-default.btn-source-check{type: 'button'}
                %i.fa.fa-check
              %button.btn.btn-default.btn-source-cancel{type: 'button'}
                %i.fa.fa-times
        - if @source_group.present? && policy(@deal).update? && !current_user.customer_service?
          %div
            = f.select :source, grouped_options_for_select(@source_group, f.object.source), {include_blank: true}, { class: 'form-control source-select2', require: !f.object.source}
    .info-item-group
      = render 'admin/deals/edit_field', title: 'Chi tiết nguồn', value: @deal.source_detail, type: 'string', class_name: 'source-detail', editable: policy(@deal).update? && !current_user.customer_service?
    - if @deal.code.present?
      .info-item-group
        %label.info-item-label.m-0
          Mã giới thiệu
        %p.info-item-content.font-weight-600.m-0
          = @deal.code
    - unless current_user.sale_member?
      .info-item-group
        - check_change_create_date = (current_user.id == @deal.created_by_id || current_user.super_admin? || current_user.bi_ba?) && @deal.is_change_create_date != true
        - create_deal_date = @deal.create_deal_date.present? ? @deal.create_deal_date : @deal.created_at
        %label.info-item-label.m-0
          Ngày tạo
        .create-deal-date
          .d-flex.justify-content-between{class: check_change_create_date ? "editable edit-create-deal-date" : ""}
            %p.info-item-content.font-weight-600.m-0
              = format_ymd create_deal_date
            - if check_change_create_date
              .button-control-edit
                %i.fa.fa-pen.d-none
        - if check_change_create_date
          %div.input-create-deal-date.d-none
            = f.text_field :create_deal_date, value: format_ymd(create_deal_date), class: 'form-control datepicker', id: "create_deal_date", readonly: true
            .button-control
              %button.btn.btn-default.btn-create-date-check{type: 'button'}
                %i.fa.fa-check
              %button.btn.btn-default.btn-create-date-cancel{type: 'button'}
                %i.fa.fa-times

      .info-item-group
        %label.info-item-label.m-0
          Ngày cập nhật mới nhất
        %p.info-item-content.font-weight-600.m-0
          = format_ymdhm @deal.updated_at
      .info-item-group
        %label.info-item-label.m-0
          Ngày phân công NV phụ trách
        %p.info-item-content.font-weight-600.m-0
          = @deal.assigned_at.present? ? format_ymdhm(@deal.assigned_at) : 'Chưa cập nhật'
.super-admin-control.d-flex.justify-content-end
  - if policy(@deal).transfer? && !@deal.is_transferred?
    %a.btn.btn-reti-primary{href: new_transfer_admin_deal_path(@deal.id), "title": "Chuyển nhượng"}
      Chuyển nhượng
  - if policy(@deal).destroy?
    %a.btn.btn-kanban-border-danger.btn-destroy-deal{href: admin_deal_path(@deal.id), "data-toggle": "tooltip", "data-placement": "top", "title": "Xóa giao dịch", data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
      Xóa giao dịch
