- customer = customer.present? ? customer : deal&.customer
= form_with model: [:admin, customer], remote: true, class: 'form-edit-deal-customer' do |f|
  = f.hidden_field :closeable, value: "#{true if f.object.errors.blank?}", class: 'closeable'
  = f.hidden_field :deal_id, value: deal.id
  = f.hidden_field :created_by_id, value: customer.created_by_id
  .row
    .col
      .form-group
        = f.label :name, 'Tên khách hàng'
        = f.text_field :name, class: 'form-control'
        - if f.object.errors.messages[:name].present?
          %span.invalid-feedback.custom-validation= f.object.errors.messages[:name].first
      .form-group
        = f.label :phone_number, 'Số điện thoại'
        .input-group.mb-3{class: f.object.errors.messages[:phone_number].present? ? 'field_with_errors' : ''}
          .input-group-prepend
            %span.input-group-text.country-code-number
              = ISO3166::Country.new(deal.customer.country_code).present? ? "+#{ISO3166::Country.new(deal.customer.country_code)&.country_code}" : "+84"
          = f.text_field :phone_number, value: params[:customer] && params[:customer][:phone_number].present? ? params[:customer][:phone_number] : (customer.phone_number_sanitized ? deal.customer.phone_number_sanitized : customer.phone_number) , class: 'form-control not_default_error'
          - f.object.errors.messages[:phone_number].each do |phone_number_error|
            %span.invalid-feedback.custom-validation= phone_number_error.html_safe
  .d-flex.justify-content-center.mt-2
    %button.btn.border-radius-8.font-weight-500.cancel-cs-ticket-modal{type: "button"} Huỷ
    %button.btn.btn-tms-unable-submit.btn-save-modal.border-radius-8.ml-3.font-weight-500.border-0{"data-disable-with" => 'Lưu', type: "submit", disabled: true, style: 'padding: 12px 42px !important'} Lưu