= form_with url: admin_deals_path, method: :get, class: 'input-group form-inline kanban-search-group' do |f|
  = f.hidden_field :search_type
  .container-fluid.pl-0.ml-0
    .row.m-0.pb-1
      .d-flex.flex-wrap{class: current_user.super_admin? ? 'col-10' : 'col-11'}
        .form-group.mr-1.mb-1.deal-search-group
          = f.text_field :query, value: params[:query], id: 'deal-search', class: 'form-control rounded-0 typeahead mr-1 pr-2 font-size-14', placeholder: 'Nhập từ khoá tìm kiếm', type: 'search'
          %button{type: 'submit', class: 'btn search-icon'}
            %i.fa.fa-search
          %button{type: 'submit', class: 'btn search-button'}
            Tìm kiếm
        .form-group.mr-1.mb-1{style: 'width: 98px'}
          = f.select :state, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-state', id: 'state-search-deal', name: 'state[]', style: 'width: 100%'}
        .form-group.mr-1.mb-1{style: 'width: 73px'}
          = f.select :source, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-source', id: 'source-search-deal', name: 'source[]', style: 'width: 100%'}
        .form-group.mr-1.mb-1{style: 'width: 70px'}
          = f.select :project, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-project', id: 'project-search-deal', name: 'project[]', style: 'width: 100%'}
        .form-group.mr-1.mb-1{style: 'width: 147px'}
          = f.select :assignee, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-assignee', id: 'assignee-search-deal', name: 'assignee[]', style: 'width: 100%'}
        .form-group.mr-1.mb-1.add-filter-class-0{style: 'width: 83px'}
          = f.select :label, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-label', id: 'label-search-deal', name: 'label[]', style: 'width: 100%'}
        .form-group.mr-2.mb-1.add-filter-class-1
          %input#created-at-search-deal.form-control.detail-item-content.select2-search-created-at.font-size-16{title: "Ngày tạo", autocomplete: "off", name: "created_at", readonly: "readonly", style: "width: 107px", type: "text", placeholder: 'Ngày tạo'}
            %i.fa.fa-times.fa-created-at{title: "Xoá bộ lọc"}
        .form-group.mr-2.mb-1.add-filter-class-2
          %input#updated-at-search-deal.form-control.detail-item-content.select2-search-updated-at.font-size-16{title: "Ngày cập nhật mới nhất", autocomplete: "off", name: "updated_at", readonly: "readonly", style: "width: 146px", type: "text", placeholder: 'Ngày cập nhật'}
            %i.fa.fa-times.fa-updated-at{title: "Xoá bộ lọc"}
        .form-group.mr-1.mb-1.add-filter-class-3{style: 'width: 159px'}
          = f.select :purchase_purpose, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-purchase-purpose', id: 'purchase-purpose-search-deal', name: 'purchase_purpose[]', style: 'width: 100%'}
        .form-group.mr-1.mb-1.add-filter-class-4{style: 'width: 197px'}
          = f.select :product_type, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-product-type', id: 'product-type-search-deal', name: 'product_type[]', style: 'width: 100%'}
        .form-group.mr-1.mb-1.add-filter-class-5{style: 'width: 141px'}
          = f.select :door_direction, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-door-direction', id: 'door-direction-search-deal', name: 'door_direction[]', style: 'width: 100%', title: 'Hướng cửa'}
        .form-group.mr-1.mb-1.add-filter-class-6{style: 'width: 180px'}
          = f.select :balcony_direction, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-balcony-direction', id: 'balcony-direction-search-deal', name: 'balcony_direction[]', style: 'width: 100%'}
        .d-flex
          .form-group.mr-1.mb-1
            .add-filter-group
              = f.select :filter, options_for_select([]), {}, { class: 'form-control detail-item-content select2-search-filter', id: 'filter-search-deal', name: 'filter[]', multipel: true}
            %button.btn.btn-link.float-right.btn-add-filter.ml-1.font-size-14{type: "button"}
              %i.fas.fa-plus-circle
              Thêm bộ lọc
          .form-group.mr-1.mb-1
            %button.btn.btn-link.float-right.btn-clear-filter.mr-1.font-size-14{name: 'clear_filter', style: "display: none", value: 'clear'}
              %i.fas.fa-minus-circle
              Xoá bộ lọc
      - if current_user.super_admin?
        .col-1.d-flex.justify-content-end.p-0
          .form-group.mb-1.ml-auto
            %a.btn.btn-same-deal{href: new_admin_deal_import_path}
              Import GD
      - if current_user.super_admin? || current_user.bi_ba? || current_user.marketing? || current_user.sale_manager?
        .col-1.d-flex.justify-content-end.p-0
          .form-group.mb-1.ml-auto
            %a.btn.btn-same-deal{href: admin_same_deals_path}
              GD trùng
    .row.pb-1
      .col-12.d-flex.justify-content-end
        .dropdown
          %button#dropdown-sort-deal.btn.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
            - case params[:order_by]
            - when 'created_at'
              Ngày tạo
            - when 'updated_at'
              Ngày cập nhật
            - when 'source'
              Nguồn
            - when 'project_id'
              Dự án
            - when 'purchase_purpose'
              Mục đích mua
            - when 'product_type'
              Loại hình sản phẩm
            - else
              - if params[:view_mode]
                Ngày cập nhật
              - else
                Mặc định
          .dropdown-menu.dropdown-menu-right.dropdown-menu-sort-deal{"aria-labelledby": "dropdown-sort-deal"}
            .dropdown-menu-header
              %a.dropdown-item{href: "javascript:0"} Tiêu chí sắp xếp
            .dropdown-body.text-left
              - if params[:view_mode]
                %label.container
                  Ngày cập nhật
                  %input{checked: true, name: "order_by", type: "radio", value: "none", 'data-url': admin_deals_url(view_mode: 'table')}
                  %span.checkmark
              - else
                %label.container
                  Mặc định
                  %input{checked: true, name: "order_by", type: "radio", value: "none", 'data-url': admin_deals_path}
                  %span.checkmark
              %label.container
                Ngày tạo
                %input{checked: params[:order_by] == 'created_at', name: "order_by", type: "radio", value: "created_at", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'created_at', sort: 'ASC'):admin_deals_url(order_by: 'created_at', sort: 'ASC')}
                %span.checkmark
              - unless params[:view_mode]
                %label.container
                  Ngày cập nhật
                  %input{checked: params[:order_by] == 'updated_at', name: "order_by", type: "radio", value: "updated_at", 'data-url': admin_deals_url(order_by: 'updated_at', sort: 'ASC')}
                  %span.checkmark
              %label.container
                Nguồn
                %input{checked: params[:order_by] == 'source', name: "order_by", type: "radio", value: "source", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'source', sort: 'ASC'):admin_deals_url(order_by: 'source', sort: 'ASC')}
                %span.checkmark
              %label.container
                Dự án
                %input{checked: params[:order_by] == 'project_id', name: "order_by", type: "radio", value: "project_id", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'project_id', sort: 'ASC'):admin_deals_url(order_by: 'project_id', sort: 'ASC')}
                %span.checkmark
              %label.container
                Mục đích mua
                %input{checked: params[:order_by] == 'purchase_purpose', name: "order_by", type: "radio", value: "purchase_purpose", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'purchase_purpose', sort: 'ASC'):admin_deals_url(order_by: 'purchase_purpose', sort: 'ASC')}
                %span.checkmark
              %label.container
                Loại hình sản phẩm
                %input{checked: params[:order_by] == 'product_type', name: "order_by", type: "radio", value: "product_type", 'data-url': params[:view_mode].present? ? admin_deals_url(view_mode: 'table', order_by: 'product_type', sort: 'ASC'):admin_deals_url(order_by: 'product_type', sort: 'ASC')}
                %span.checkmark

        %button.btn.btn-sort-deal{type: "button", value: params[:sort] || 'ASC', disabled: params[:order_by].blank? ? true : false, name: 'sort'}
          - if params[:sort].present? && params[:sort] == "DESC"
            %i.fas.fa-sort-alpha-down-alt
          - else
            %i.fas.fa-sort-alpha-down
    .row.pb-1
      .col-6
        .form-group.mr-1.my-1.deal-search-group.total_deal
          = "Tổng số: #{@pagy.present? ? @pagy.count: @deals.size} giao dịch"
      .col-6.justify-content-end
        .form-group.mt-1.float-right
          %label.tms-container-radio.view-mode-radio.mr-3
            Dạng cột
            %input{checked: true, type: 'radio', class: 'deal-check-view-mode', id: "type-kanban", name: 'view_mode', 'data-url': admin_deals_path, value: 'kanban'}
            %span.checkmark
          %label.tms-container-radio.view-mode-radio
            Dạng bảng
            %input{checked: params[:view_mode] == 'table', type: 'radio', class: 'deal-check-view-mode', id: "type-table", name: 'view_mode', 'data-url': admin_deals_url(view_mode: 'table'), value: 'table'}
            %span.checkmark