= form_with model: [:admin, @deal], id: 'edit-deal-commission', html: {'data-is-editing': @is_edit_commission || false} do |f|
  - unless @is_edit_commission
    - f.object.errors.clear
  = hidden_field_tag :form, :commission, id: 'form_commission'
  = hidden_field_tag :drag_state_changed, @drag_state_changed
  = hidden_field_tag :deal_update_comm, @deal_update_comm
  .row.m-0.pb-2
    .detail-item.w-100
      .detail-item-heading.font-weight-bold.pr-2.pb-3
        - if policy(@deal).update?
          - if @is_edit_commission
            = f.hidden_field :allow_duplicate, value: @allow_duplicate
            = f.submit 'Lưu lại', name: 'save', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right is-edit'
            = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right'
          - else
            = f.submit 'Chỉnh sửa', name: 'edit', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right' do
              %i.tms.tms-edit
              Chỉnh sửa
  .row.m-0.pt-2.pb-2
    .col-6
      .form-group
        = f.label :total_price do
          Giá trị GD trên Hợp đồng (gồm VAT) (đ)
          - if f.object.state == 'contract_signed'
            %span.required
              *
        = f.text_field :total_price, class: 'form-control input-price-decimal', value: @deal.total_price, disabled: !@is_edit_commission, placeholder: @is_edit_commission ? 'VD: 15.000.000.000': 'Chưa cập nhật', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"
        %span.invalid-feedback.custom-validation= f.object.errors.messages[:total_price].first
    .col-6
      .form-group
        = f.label :contract_signed_at do 
          Ngày ký HĐ
          - if f.object.state == 'contract_signed'
            %span.required
              *
        = f.text_field :contract_signed_at, class: 'form-control', value: format_regulation(@deal.contract_signed_at), disabled: !@is_edit_commission, placeholder: @is_edit_commission ? 'Vui lòng nhập': 'Chưa cập nhật'
        %span.invalid-feedback.custom-validation= f.object.errors.messages[:contract_signed_at].first
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold 1. Hoa hồng tạm tính
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#temporary-commission-info", 'aria-expanded': "false", 'aria-controls': "temporary-commission-info"}
  #temporary-commission-info.collapse.show
    .row.m-0.pt-2.pb-2
      .col-12
        %label Chọn cách tính hoa hồng
        .form-group.mt-1
          = f.fields_for :commission, f.object.commission || f.object.build_commission(calculation_type: 0) do |ff|
            - Constant::COMMISSION_CALCULATION_TYPE.each_with_index do |type, index|
              %label.tms-container-radio.view-mode-radio.mr-3.commission-calculation-type-radio{'data-calculation-type': type.first}
                = type.last
                = ff.radio_button :calculation_type, type.first, checked: ff.object.calculation_type == type.first || (ff.object.new_record? && index == 0), disabled: !@is_edit_commission, 'data-is-accountant': current_user.accounting?
                %span.checkmark
    = f.fields_for :commission, f.object.commission || f.object.build_commission(calculation_type: 0) do |ff|
      .row.m-0.pt-2.pb-2.percentage-calculation
        - if ff.object.check_commission_fields_can_view('cross_selling_agent_code')
          .col-6.mb-3{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :cross_selling_agent_code do
                Nguồn hàng (Mã đại lý bán chéo)
                - if ff.object.check_validate_commission_fields('cross_selling_agent_code')
                  %span.required
                    *
              = ff.text_field :cross_selling_agent_code, class: 'form-control', disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('cross_selling_agent_code')), placeholder: @is_edit_commission ? 'Vui lòng nhập': 'Chưa cập nhật'
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:cross_selling_agent_code].first
        - if ff.object.check_commission_fields_can_view('applicable_policy')
          .col-6{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :applicable_policy do
                Chính sách áp dụng
                - if ff.object.check_validate_commission_fields('applicable_policy')
                  %span.required
                    *
              = ff.select :applicable_policy, options_for_select(Constant::COMMISSION_APPLICABLE_POLICY.invert, ff.object.applicable_policy), {include_blank: @is_edit_commission ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('applicable_policy')), 'data-placeholder': @is_edit_commission ? 'Vui lòng chọn': 'Chưa cập nhật' }
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:applicable_policy].first
        - if ff.object.check_commission_fields_can_view('seller_type')
          .col-6.mb-3{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :seller_type do
                Phân loại sale bán
                - if ff.object.check_validate_commission_fields('seller_type')
                  %span.required
                    *
              = ff.select :seller_type, options_for_select(Constant::COMMISSION_SELLER_TYPE.invert, ff.object.seller_type), {include_blank: @is_edit_commission ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('seller_type')), 'data-placeholder': @is_edit_commission ? 'Vui lòng chọn': 'Chưa cập nhật' }
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:seller_type].first
        - if ff.object.check_commission_fields_can_view('reti_commission_rate')
          .col-6.mb-3{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :reti_commission_rate do
                Tỷ lệ hưởng com của RETI (%)
                - if ff.object.check_validate_commission_fields('reti_commission_rate')
                  %span.required
                    *
              = ff.number_field :reti_commission_rate, class: 'form-control', step: 0.001, disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('reti_commission_rate')), placeholder: @is_edit_commission ? 'VD: 10,5': 'Chưa cập nhật'
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:reti_commission_rate].first
        - if ff.object.check_commission_fields_can_view('reti_actually_rate')
          .col-6{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :reti_actually_rate do
                Tỷ lệ hưởng com RETI thực nhận (%)
                - if ff.object.check_validate_commission_fields('reti_actually_rate')
                  %span.required
                    *
              = ff.number_field :reti_actually_rate, class: 'form-control', step: 0.001, disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('reti_actually_rate')), placeholder: @is_edit_commission ? 'VD: 10,5': 'Chưa cập nhật'
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:reti_actually_rate].first
        - if ff.object.check_commission_fields_can_view('reti_commission_rate_for_seller')
          .col-6.mb-3{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :reti_commission_rate_for_seller do
                Mức com RETI tính cho Sale/CTV/Đối tác (%)
                - if ff.object.check_validate_commission_fields('reti_commission_rate_for_seller')
                  %span.required
                    *
              = ff.number_field :reti_commission_rate_for_seller, class: 'form-control', step: 0.001, disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('reti_commission_rate_for_seller')), placeholder: @is_edit_commission ? 'VD: 10,5': 'Chưa cập nhật'
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:reti_commission_rate_for_seller].first
        - if ff.object.check_commission_fields_can_view('seller_commission_rate_from_reti')
          .col-6{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :seller_commission_rate_from_reti do
                Tỷ lệ hưởng com của Sale/CTV/Đối tác từ RETI (%)
                - if ff.object.check_validate_commission_fields('seller_commission_rate_from_reti')
                  %span.required
                    *
              = ff.number_field :seller_commission_rate_from_reti, class: 'form-control', step: 0.001, disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('seller_commission_rate_from_reti')), placeholder: @is_edit_commission ? 'VD: 10,5': 'Chưa cập nhật'
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:seller_commission_rate_from_reti].first
        - if ff.object.check_commission_fields_can_view('seller_commission_rate_will_be_received')
          .col-6.mb-3{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
            .form-group
              = ff.label :seller_commission_rate_will_be_received do
                Mức hoa hồng Sale/CTV/Đối tác được nhận (%)
                - if ff.object.check_validate_commission_fields('seller_commission_rate_will_be_received')
                  %span.required
                    *
              = ff.number_field :seller_commission_rate_will_be_received, class: 'form-control', step: 0.001, disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('seller_commission_rate_will_be_received')), placeholder: @is_edit_commission ? 'VD: 10,5': 'Chưa cập nhật'
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:seller_commission_rate_will_be_received].first
        - if ff.object.check_commission_fields_can_view('price_to_calculate_commission_for_seller')
          .col-6.percentage-calculation{class: "#{'d-none' if f.object.commission && f.object.commission.calculation_type == 1 }"}
            .form-group
              = ff.label :price_to_calculate_commission_for_seller do
                Giá tính hoa hồng cho Sale/CTV/Đối tác (đ)
                - if ff.object.check_validate_commission_fields('price_to_calculate_commission_for_seller')
                  %span.required
                    *
              = ff.text_field :price_to_calculate_commission_for_seller, class: 'form-control input-price-decimal', disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('price_to_calculate_commission_for_seller')), placeholder: @is_edit_commission ? 'VD: 15.000.000.000': 'Chưa cập nhật', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:price_to_calculate_commission_for_seller].first
        - if ff.object.check_commission_fields_can_view('temporary_commission')
          .col-6.fixed-calculation{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 0) }"}
            .form-group
              = ff.label :temporary_commission do
                Hoa hồng tạm tính cho Sale/CTV/Đối tác (đ)
                - if ff.object.check_validate_commission_fields('temporary_commission')
                  %span.required
                    *
              = ff.text_field :temporary_commission, class: 'form-control input-price-decimal', disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('temporary_commission')), placeholder: @is_edit_commission ? 'VD: 100.000.000': 'Chưa cập nhật', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:temporary_commission].first
    .row.m-0.pt-2.pb-4.temporary-commission-calculation{class: "#{'d-none' if (f.object.commission && f.object.commission.calculation_type == 1) }"}
      .col-12.d-flex.align-middle
        %button.btn.btn-kanban-danger#btn-calculate-commission.font-size-16.pl-5.pr-5{type: 'button', disabled: true} Tính thử hoa hồng tạm tính
        .temporary-commission{style: 'display: none; padding-top: 8px'}
          %span.ml-3 Kết quả:
          %span.text-red.ml-1#temporary-commission-result{style: 'font-weight: 700'}

  .detail-item-sub-heading.justify-content-between.d-flex
    .font-weight-bold 2. Hoa hồng thực nhận
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#commission-info", 'aria-expanded': "false", 'aria-controls': "commission-info"}
  #commission-info.collapse.show
    = f.fields_for :commission, f.object.commission || f.object.build_commission(calculation_type: 0) do |ff|
      - if ff.object.check_commission_fields_can_view('actually_commission')
        .row.m-0.pt-2.pb-2
          .col-6
            .form-group
              = ff.label :actually_commission do
                Hoa hồng thực nhận cho Sale/CTV/Đối tác (đ)
                - if ff.object.check_validate_commission_fields('actually_commission')
                  %span.required
                    *
              = ff.text_field :actually_commission, class: 'form-control input-price-decimal', disabled: !(@is_edit_commission && ff.object.check_commission_fields_can_edit('actually_commission')), placeholder: @is_edit_commission ? 'VD: 100.000.000': 'Chưa cập nhật', "data-inputmask" => "'alias': 'decimal', 'groupSeparator': '.'"
              %span.invalid-feedback.custom-validation= ff.object.errors.messages[:actually_commission].first