.d-flex.justify-content-between
  - if @deal.transfer_label == 'Đã chuyển nhượng'
    %button.btn.btn-reti-primary.btn-transfer-label.mr-4.mt-1.font-weight-500{style: 'height: 40px;'} #{@deal.transfer_label}
  - elsif @deal.transfer_label == 'Được chuyển nhượng'
    %button.btn.btn-kanban-danger.btn-transfer-label.mr-4.mt-1.font-weight-500{style: 'height: 40px;'} #{@deal.transfer_label}
    
  %h5.modal-title.font-weight-600
    %i.tms.tms-rating-active.d-none
  = form_with model: [:admin, @deal], id: 'form-edit-title-deal', class: "flex-fill mr-4" do |f|
    = hidden_field_tag :form, :name, id: 'form_name'
    = f.text_field :name, class: 'w-100 input-edit-title-deal', placeholder: 'Vui lòng nhập', style: 'display: none'
    - f.object.errors.messages[:name].each do |name_error|
      %span.invalid-feedback.custom-validation= name_error
    %div{class: "#{'deal-full-name' if current_user.super_admin?}", style: 'font-size: 2rem; color: #434657'}
      %span.deal-name-text.font-weight-500= f.object.name
      %span.deal-sub-name-text{class: "deal-sub-name-text-#{@deal.id}"}= @deal.suggestive_display_name
    = f.submit 'Lưu lại', name: 'save', class: 'd-none'

.row.ticket-labels
  .col-11
    .statuses.d-flex
      - if @deal.canceled? && @deal.canceled_reason.present?
        .statuses-container
          .status.font-size-16.status-canceled
            = Constant::CANCELED_REASON[@deal.canceled_reason]
      - if @deal.uninterested? && @deal.uninterested_reason.present?
        .statuses-container
          .status.font-size-16.status-uninterested
            = Constant::UNINTERESTED_REASON[@deal.uninterested_reason]
      - if @deal.contact_status.present? && !%w(canceled uninterested).include?(@deal.state)
        .statuses-container
          .status.font-size-16{class: "#{@deal.display_label_class(Constant::CONTACT_STATUSES[@deal.contact_status])}"}
            = Constant::CONTACT_STATUSES[@deal.contact_status]
      - unless @deal.customer&.phone_number.present?
        .statuses-container
          .status.font-size-16.status-label.status-no-phone
            Chưa có số điện thoại
