- if policy(@cs_ticket).create?
  %button.btn.btn-create-cs-ticket.pl-3.pr-3{'data-toggle' => "modal", 'data-target' => "#create-cs-ticket", "data-backdrop" => "static", "data-keyboard" => "false", style: 'font-weight: 500;'}
    = image_tag 'plus-circle-white.svg'
    Tạo phiếu
- @cs_tickets_groups.each do |cs_tickets_group|
  - if cs_tickets_group.second.present?
    .cs-tickets-group
      .leg-header.mb-3
        .d-flex{style: 'padding: 16px 16px 0px;'}
          .leg-col.mr-2
          .leg-text= "Chặng: #{I18n.t("deal.legs.#{cs_tickets_group.first}")}"
      .leg-body
        - cs_tickets_group.second.each_with_index do |cs_ticket, index|
          .row.cs-ticket-field-group.m-3.pl-2.pr-2
            .col-12.pr-0.pl-0{style: 'margin-bottom: 12px;'}
              .d-flex
                .leg-body-title-background.cursor-pointer.flex-grow-1
                  .collapse.mt-20{class: "#{((index == 0 && params[:latest_created] == cs_ticket.created_at.to_s) || (params[:updated_at] == cs_ticket.updated_at.to_s)) ? 'd-none' : 'd-flex'}"}
                    .cursor-pointer{style: 'padding: 0 8px 0 16px'}
                      %span{"aria-label" => "down", role: "img"}
                        = image_tag 'down-primary-color.svg', class: 'd-block'
                    .leg-body-title{style: 'font-weight: 500;'}= "Phiếu ##{cs_ticket.id}"
                  - if cs_ticket.customer_opinion == 2
                    .product-label.voucher-label-1.mt-3.mb-1.kanban-label{class: "#{'d-none' if (index == 0 && params[:latest_created] == cs_ticket.created_at.to_s) || (params[:updated_at] == cs_ticket.updated_at.to_s)}"} Khách hàng từ chối đánh giá
                  .expand.ml-2{class: "#{((index == 0 && params[:latest_created] == cs_ticket.created_at.to_s) || (params[:updated_at] == cs_ticket.updated_at.to_s)) ? 'd-flex' : 'd-none'}"}
                    .cursor-pointer{style: 'padding: 4px 8px 0 8px;'}
                      %span{"aria-label" => "up", role: "img"}
                        = image_tag 'up-white-color.svg', class: 'd-block'
                    .leg-body-title.cursor-pointer{style: 'font-weight: 500;'}= "Phiếu ##{cs_ticket.id}"
                .ml-auto.mr-2
                  %a.ml-auto.text-primary.edit-cs-ticket.mt-20{href: "#", "data-target" => "#{"#modal-edit-cs-ticket-#{cs_tickets_group.first}-#{index}" if cs_ticket.customer_opinion == 1}",
                  "data-backdrop" => "static", "data-toggle" => "modal", :type => "button", class: "#{'disable-edit-cs-ticket' if cs_ticket.customer_opinion == 2}"} Chỉnh sửa
                  .modal-edit-cs-ticket.modal.fade{id: "modal-edit-cs-ticket-#{cs_tickets_group.first}-#{index}","aria-hidden" => "true", "aria-labelledby" => "edit-cs-ticket-label", role: "dialog", tabindex: "-1", cs_ticket_id: cs_ticket.id, deal_id: @deal.id}
                    .modal-dialog.modal-lg.modal-dialog-centered{role: "document"}
                      .modal-content
                        .modal-header.reti-modal-title
                          #edit-cs-ticket-label.modal-title Chỉnh sửa phiếu
                          %button.close.cancel-cs-ticket-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF'}
                            %span{"aria-hidden" => "true"} ×
                        .modal-body.modal-scroll
                          = render partial: 'admin/deals/edit_cs_ticket', locals: {cs_ticket: cs_ticket, index: index}
            .col-12{class: "#{'d-none' unless ((index == 0 && (params[:latest_created] == cs_ticket.created_at.to_s)) || (params[:updated_at]) == cs_ticket.updated_at.to_s)}"}
              = form_with  model: [:admin, cs_ticket], url: admin_cs_ticket_path, local: true, class: 'form-cs-ticket' do |f|
                - if cs_ticket.customer_opinion == 1
                  .row
                    .col-6
                      - if cs_ticket.deal_state == 'canceled'
                        .form-group
                          = f.label :cancel_reason, 'Lý do hủy', class: 'reti-color-label'
                          = f.text_field :cancel_reason, class: 'form-control', disabled: true, value: Constant::CANCELED_REASON.invert.key(f.object.cancel_reason)
                      - else
                        .form-group
                          = f.label :support_level, 'Ý kiến đánh giá của khách hàng', class: 'reti-color-label'
                          = f.text_area :support_level, class: 'form-control h-38', placeholder: 'Phản hồi của khách hàng...', disabled: true
                          - f.object.errors.messages[:support_level].each do |error|
                            %span.invalid-feedback.custom-validation= error
                    .col-6
                      .form-group
                        = f.label :sale_consulting_quality, 'Chất lượng tư vấn của NVKD', class: 'reti-color-label'
                        .position-relative
                          = f.text_field :sale_consulting_quality, class: 'form-control', disabled: true, value: Constant::SALE_CONSULTING_QUALITY.invert.key(f.object.sale_consulting_quality), placeholder: 'Phản hồi của khách hàng...'
                          %span.span-arrow-select2
                            %b.arrow-select2
                  .row
                    .col-6
                      - if cs_ticket.deal_state == 'canceled'
                        .form-group
                          = f.label :demand_with_deal, 'Nhu cầu của khách hàng với giao dịch', class: 'reti-color-label'
                          .position-relative
                            = f.text_field :demand_with_deal, class: 'form-control', disabled: true, value: Constant::DEMAND_WITH_DEAL.invert.key(f.object.demand_with_deal)
                            %span.span-arrow-select2
                              %b.arrow-select2
                      - else
                        .form-group
                          = f.label :processing_speed, 'Tốc độ xử lý giao dịch', class: 'reti-color-label'
                          .position-relative
                            = f.text_field :processing_speed, class: 'form-control', disabled: true, value: Constant::PROCESSING_SPEED.invert.key(f.object.processing_speed), placeholder: 'Nhanh/chậm, có đúng quy trình không?'
                            %span.span-arrow-select2
                              %b.arrow-select2
                    .col-6
                      - if cs_ticket.deal_state == 'canceled'
                        - if f.object.voucher_id.present?
                          = f.label :voucher_id, 'Voucher tặng khách hàng', class: 'reti-color-label'
                          .d-flex
                            .product-label.sent-voucher.mt-1{style: 'flex: 2 1 auto'} Đã gửi
                            .send-voucher-zalo-content{style: 'flex: 999999999999 1; margin-left: 6px; padding: 7px 12px !important'}= @vouchers.select{ |v| v.second == f.object.voucher_id }&.first&.first
                        - else
                          .form-group
                            .d-flex
                              .pr-0.flex-grow-1.mr-1
                                = f.label :voucher_id, 'Voucher tặng khách hàng', class: 'reti-color-label'
                                .position-relative
                                  = f.text_field :voucher_id, class: 'form-control text-truncate', disabled: true, value: @vouchers.select{ |v| v.second == f.object.voucher_id }&.first&.first, placeholder: 'Chọn voucher'
                                  %span.span-arrow-select2
                                    %b.arrow-select2
                              .float-right.ml-auto{style: 'margin-top: 32px'}
                                %button.btn.btn-tms-unable-submit.btn-voucher.border-radius-8{disabled: true} Gửi voucher
                      - else
                        .form-group{style: 'margin-bottom: 20px'}
                          = f.label :deal_rating, "Đánh giá giao dịch (1-10)", class: 'reti-color-label'
                          %ul.range-labels-cs-ticket.show{class: "range-labels-show-cs-ticket-#{cs_ticket.id}", 'class-name': "range-labels-show-cs-ticket-#{cs_ticket.id}"}
                            - (0..10).each_with_index do |i, index|
                              %li{class: "#{'active selected' if f.object.deal_rating.present? && f.object.deal_rating == i} #{'pl-2' if index == 0}"}= i
                          .range-cs-ticket.show{class: "range-show-cs-ticket-#{cs_ticket.id}", 'class-name': "range-show-cs-ticket-#{cs_ticket.id}"}
                            = f.text_field :deal_rating, value: f.object.deal_rating || 0, max: 10, min: 0, steps: 1, type: "range", disabled: true
                  .row
                    .col-6
                      - if cs_ticket.deal_state == 'canceled'
                        .form-group
                          = f.label :extra_support_for_customer, 'Hỗ trợ thêm', class: 'reti-color-label'
                          = f.text_area :extra_support_for_customer, class: 'form-control h-38', disabled: true
                      - else
                        .form-group
                          .d-flex
                            = f.label :sale_rating, "Sao dịch vụ cho NVKD ", class: 'reti-color-label'
                            .cs-ticket-assignee.ml-1= cs_ticket.deal&.assignee&.full_name
                          = f.text_field :sale_rating, value: f.object.sale_rating, class: 'form-control h-38', disabled: true
                    .col-6
                      - if cs_ticket.deal_state == 'contract_signed'
                        - if f.object.voucher_id.present?
                          = f.label :voucher_id, 'Voucher tặng khách hàng', class: 'reti-color-label'
                          .d-flex
                            .product-label.sent-voucher.mt-1{style: 'flex: 2 1 auto'} Đã gửi
                            .send-voucher-zalo-content{style: 'flex: 999999999999 1; margin-left: 6px; padding: 7px 12px !important'}= @vouchers.select{ |v| v.second == f.object.voucher_id }&.first&.first
                        - else
                          .form-group
                            .d-inline-flex.w-100
                              .pr-0.flex-grow-1.mr-1
                                = f.label :voucher_id, 'Voucher tặng khách hàng', class: 'reti-color-label'
                                .position-relative
                                  = f.text_field :voucher_id, class: 'form-control', disabled: true, value: @vouchers.select{ |v| v.second == f.object.voucher_id }&.first&.first, placeholder: 'Chọn voucher'
                                  %span.span-arrow-select2
                                    %b.arrow-select2
                              .float-right.ml-auto{style: 'margin-top: 32px'}
                                %button.btn.btn-tms-unable-submit.btn-voucher.border-radius-8{disabled: true} Gửi voucher
                      - if cs_ticket.deal_state == 'canceled'
                        .form-group
                          .d-flex
                            .pr-0.flex-grow-1.mr-1
                              = f.label :note, 'Ghi chú', class: 'reti-color-label'
                              = f.text_area :note, class: 'form-control h-38', placeholder: 'Thêm ghi chú...', disabled: true
                - else
                  .product-label.voucher-label-1.mb-3.kanban-label Khách hàng từ chối đánh giá
                .row
                  .col-6
                    .form-group
                      .reti-color-label= "Nhân viên CSKH"
                      %textarea.form-control.h-38{disabled: true}= cs_ticket.author&.full_name
                  .col-6
                    .form-group
                      .reti-color-label= "Ngày tạo case"
                      %textarea.form-control.h-38{disabled: true}= cs_ticket.created_at.strftime('%d/%m/%Y')
#create-cs-ticket.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "create-cs-ticket-label", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header.reti-modal-title
        #create-cs-ticket-label.modal-title Tạo phiếu mới
        %button.close.cancel-cs-ticket-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF'}
          %span{"aria-hidden" => "true"} ×
      .modal-body.modal-scroll
        = render 'admin/deals/new_cs_ticket'
#send-voucher.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "option-send-voucher-label", role: "dialog", tabindex: "-1", style: 'z-index: 1052 !important'}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header.reti-modal-title
        #option-send-voucher.modal-title Gửi voucher
        %button.close.action-x.cancel-send-voucher{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF'}
          %span{"aria-hidden" => "true"} ×
      .modal-body.modal-scroll
        .row
          .col-12
            %label.tms-container-radio.mr-4.mb-2
              %label.reti-color-label.cursor-pointer.cs-ticket-label-radio-button Gửi bằng email
              %input.option-send-voucher{checked: "checked", name: "send-voucher", type: "radio", value: "1", id: 'option-send-voucher-email'}
              %span.checkmark
            .form-group{style: 'margin-left: 36px'}
              %label.reti-color-label Email
              %input.form-control.custom-text-color{placeholder: 'Vui lòng điền email', id: 'send-voucher-email', value: @deal.customer_persona&.email.present? ? @deal.customer_persona&.email : ''}
          .col-12.mt-2
            %label.tms-container-radio.mr-4
              %label.reti-color-label.cursor-pointer.cs-ticket-label-radio-button Gửi thủ công qua Zalo/SMS
              %input.option-send-voucher{name: "send-voucher", type: "radio", value: "2"}
              %span.checkmark
            .form-group.d-none
              .d-inline-flex.w-100
                .pr-0.flex-grow-1.mr-1
                  %label.reti-color-label Nội dung tin nhắn
                  .send-voucher-zalo-content
                .float-right
                  %button.btn.btn-reti-primary.btn-copy-send-voucher.border-radius-8
                    = image_tag 'copy.svg', class: 'mr-1'
                    Copy
        .d-flex.justify-content-center.mt-2
          %button.btn.border-radius-8.font-weight-500.btn-outline-reti-primary.cancel-send-voucher{type: "button"} Huỷ
          %button.btn.btn-send-voucher.btn-reti-primary.border-radius-8.ml-3.font-weight-500.border-0{"data-disable-with" => 'Lưu', type: "button", style: 'padding: 12px 42px !important', disabled: @deal.customer&.email.present? ? false : true} Gửi