= form_with url: complete_deals_admin_deals_path, method: :get, local: true, class: 'input-group form-inline filter-form' do |f|
  .container-fluid
    .row
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Tìm kiếm
          .col-xl-10.col-lg-9.col-md-8
            = f.text_field :query, value: params[:query], id: 'complete-deals-search', class: 'form-control typeahead m-0 w-100', placeholder: 'Nhập từ khoá tìm kiếm', type: 'search'
      .col-4
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Dự án
          .col-xl-10.col-lg-9.col-md-8
            = f.select :project, options_for_select(@projects, params[:project]), {include_hidden: false}, { class: 'complete-deals-filter-select2 form-control w-100', multiple: true }
      .col-4.filter-expand{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .filter-label.float-right Nguồn
          .col-xl-10.col-lg-9.col-md-8
            = f.select :source, options_for_select(Constant::DEAL_SOURCES.map { |k, v| [v, k]}, params[:source]), {include_hidden: false}, { class: 'form-control detail-item-content complete-deals-filter-select2', id: 'source-search-deal', name: 'source[]', style: 'width: 100%', multiple: true}
      .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .text-right.font-size-14 Cách tính
            .text-right.font-size-14 HH
          .col-xl-10.col-lg-9.col-md-8
            = f.select :calculation_type, options_for_select([['Công thức', 0], ['Cố định', 1]], params[:calculation_type]), {include_hidden: false}, { class: 'complete-deals-filter-select2 form-control w-100', multiple: true }
      .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .text-right.font-size-14 Người
            .text-right.font-size-14 Chăm sóc
          .col-xl-10.col-lg-9.col-md-8
            = f.select :assignee, options_for_select(@assignee, params[:assignee]), {include_hidden: false}, { class: 'complete-deals-filter-select2 form-control w-100', multiple: true }
      .col-4.filter-expand.mt-3{class: "#{@check_params_filter ? '' : 'd-none'}"}
        .row
          .col-xl-2.col-lg-3.col-md-4.pr-0
            .text-right.font-size-14 Ngày ký
            .text-right.font-size-14 HĐ
            .filter-label.float-right
          .col-xl-10.col-lg-9.col-md-8
            .input-group
              .input-group-prepend
                %span.input-group-text
                  %i.far.fa-calendar-alt
              = f.text_field :contract_signed_at, value: params[:contract_signed_at].present? ? params[:contract_signed_at] : nil, id: 'complete-deals-daterangepicker', class: 'form-control float-right'
      .col-8.mt-3.div-space{class: "#{@check_params_filter ? '' : 'd-none'}"}
      .col-4.d-flex{class: "#{@check_params_filter ? 'mt-3' : ''}"}
        .ml-auto
          %button.btn.btn-reti-primary{type: 'submit', style: 'margin-left: auto'} Áp dụng
          %a.btn.btn-remove-filter.ml-2{type: 'button', href: complete_deals_admin_deals_path} Xóa
        .product-filter-expand-collapse.cursor-pointer
          - if @check_params_filter
            %span.product-filter-text Thu gọn
            %span.product-filter-icon{"aria-label" => "down", role: "img", style: 'transform: rotate(0.5turn)'}
              = image_tag 'down-arrow.svg', class: 'd-block'
          - else
            %span.product-filter-text Mở rộng
            %span.product-filter-icon{"aria-label" => "down", role: "img"}
              = image_tag 'down-arrow.svg', class: 'd-block'
