= form_with model: [:admin, @deal], id: 'edit-deal-customer', html: {'data-is-editing': @is_edit_customer || false} do |f|
  - unless @is_edit_customer
    - f.object.errors.clear
  = hidden_field_tag :form, :customer, id: 'form_customer'
  = hidden_field_tag :drag_state_changed, @drag_state_changed
  = hidden_field_tag :deal_update_comm, @deal_update_comm
  = f.hidden_field :contact_status_when_update, value: (params[:deal].present? && params[:deal][:contact_status_when_update].present?) ? params[:deal][:contact_status_when_update] : ''
  .row.m-0.pb-2
    .detail-item.w-100
      .detail-item-heading.font-weight-bold.pr-2.pb-3
        - if policy(@deal).update?
          - if @is_edit_customer
            = f.hidden_field :allow_duplicate, value: @allow_duplicate
            = f.submit 'Lưu lại', name: 'save', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right is-edit'
            = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right'
          - else
            = f.submit 'Chỉnh sửa', name: 'edit', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right' do
              %i.tms.tms-edit
              Chỉnh sửa
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold 1. Thông tin liên hệ
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#contact-info", 'aria-expanded': "false", 'aria-controls': "contact-info"}
  #contact-info.collapse.show
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          %label Khách hàng
          %input.form-control.deal-customer-name{value: @deal&.customer&.name, placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: true}
      .col-6
        .form-group
          = f.label :phone_number, 'Số điện thoại'
          = f.text_field :phone_number, value: @deal&.customer&.phone_number_sanitized, class: 'form-control deal-phone-number', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: true, id: ''

    = f.fields_for :customer_persona, f.object.customer_persona || f.object.build_customer_persona do |ff|      
      .row.m-0.pt-2.pb-2
        .col-6
          .form-group
            = ff.label :second_phone_number, 'Số điện thoại phụ', class: f.object.label_required('second_phone_number')
            = ff.text_field :second_phone_number, value: ff.object.second_phone_number, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:second_phone_number].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-6
          .form-group
            = ff.label :email, 'Email', class: f.object.label_required('email')
            = ff.text_field :email, value: ff.object.email, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:email].each do |error|
              %span.invalid-feedback.custom-validation= error
      .row.m-0.pt-2.pb-2
        .col-12.font-weight-bold
          Địa chỉ liên hệ
        .col-3
          .form-group
            = ff.label :city_id, 'Tỉnh/Thành phố', class: f.object.label_required('city_id')
            = ff.select :city_id, options_for_select(@cities, ff.object.city_id), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'tms-select2 form-control select2-region', data: {'select-child-target': %w(deal_customer_persona_attributes_district_id)}, disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
            - ff.object.errors.messages[:city_id].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-3
          .form-group
            = ff.label :district_id, 'Quận/Huyện', class: f.object.label_required('district_id')
            = ff.select :district_id, options_for_select(@districts, ff.object.district_id), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2 select2-region', data: {'select-child-target': ['deal_customer_persona_attributes_ward_id']}, disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
            - ff.object.errors.messages[:district_id].each do |error|
              %span.invalid-feedback.custom-validation= error

        .col-3
          .form-group
            = ff.label :ward_id, 'Xã/Phường', class: f.object.label_required('ward_id')
            = ff.select :ward_id, options_for_select(@wards, ff.object.ward_id), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2 select2-region', data: {'select-child-target': []}, disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
            - ff.object.errors.messages[:ward_id].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-3
          .form-group
            = ff.label :settlements, 'Địa chỉ', class: f.object.label_required('settlements')
            = ff.text_field :settlements, class: 'form-control', placeholder: 'Số nhà/ Tên tòa nhà/ Tên đường', disabled: !@is_edit_customer
            - ff.object.errors.messages[:settlements].each do |error|
              %span.invalid-feedback.custom-validation= error    
  %hr
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold 2. Nhân khẩu học
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#demographic", 'aria-expanded': "false", 'aria-controls': "demographic"}
  #demographic.collapse.show
    = f.fields_for :customer_persona, f.object.customer_persona || f.object.build_customer_persona do |ff|
      .row.m-0.pt-2.pb-2
        .col-6
          .form-group
            = ff.label :gender, 'Giới tính', class: f.object.label_required('gender')
            = ff.select :gender, options_for_select(Constant::CUSTOMER_GENDER.invert, ff.object.gender), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
            - ff.object.errors.messages[:gender].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-6
          .form-group
            = ff.label :identity_card, 'Số CMTND/CCCD/Hộ chiếu', class: f.object.label_required('identity_card')
            = ff.text_field :identity_card, value: ff.object.identity_card, class: "form-control", placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:identity_card].each do |error|
              %span.invalid-feedback.custom-validation= error
      .row.m-0.pt-2.pb-2
        .col-6
          .form-group
            = ff.label :domicile, 'Nguyên quán', class: f.object.label_required('domicile')
            = ff.text_field :domicile, value: ff.object.domicile, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:domicile].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-6
          .form-group
            = ff.label :dob, 'Ngày sinh', class: f.object.label_required('dob')
            .input-group
              .input-group-prepend
                %span.input-group-text
                  %i.far.fa-calendar-alt
              = ff.text_field :dob, value: ff.object.get_dob, "data-inputmask" => "'alias': 'datetime', 'inputFormat': 'dd/mm/yyyy'", inputmode: "numeric", class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:dob].each do |error|
              %span.invalid-feedback.custom-validation= error
      .row.m-0.pt-2.pb-2
        .col-6
          .form-group
            = ff.label :nationality, 'Quốc tịch', class: f.object.label_required('nationality')
            = ff.select :nationality, options_for_select([Country::VIETNAM_NAME] + Country.where.not(code: Country::VIETNAM_CODE).order(name: :asc).pluck(:name), ff.object.nationality), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
            - ff.object.errors.messages[:nationality].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-6
          .form-group
            = ff.label :workplace, 'Nơi làm việc', class: f.object.label_required('workplace')
            = ff.text_field :workplace, value: ff.object.workplace, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:workplace].each do |error|
              %span.invalid-feedback.custom-validation= error
      .row.m-0.pt-2.pb-2
        .col-6
          .form-group
            = ff.label :customer_position, 'Chức vụ', class: f.object.label_required('customer_position')
            = ff.text_field :customer_position, value: ff.object.customer_position, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:customer_position].each do |error|
              %span.invalid-feedback.custom-validation= error
  %hr
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold 3. Thông tin tài chính
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#financial-info", 'aria-expanded': "false", 'aria-controls': "financial-info"}
  #financial-info.collapse.show
    .row.m-0.pt-2.pb-2
      = f.fields_for :customer_persona, f.object.customer_persona || f.object.build_customer_persona do |ff|
        .col-6
          .form-group
            = ff.label :financial_capability, 'Đánh giá khả năng tài chính', class: f.object.label_required('financial_capability')
            = ff.select :financial_capability, options_for_select(Constant::FINANCIAL_CAPABILITY.invert, ff.object.financial_capability), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
            - ff.object.errors.messages[:financial_capability].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-6
          .form-group
            = ff.label :property_ownership, 'Tài sản sở hữu', class: f.object.label_required('property_ownership')
            = ff.text_field :property_ownership, value: ff.object.property_ownership, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer
            - ff.object.errors.messages[:property_ownership].each do |error|
              %span.invalid-feedback.custom-validation= error
  - if current_user.super_admin? || current_user.director? || current_user.customer_service?
    %hr
    .detail-item-sub-heading.d-flex.justify-content-between
      .font-weight-bold 5. Sở thích
      .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#psychology", 'aria-expanded': "false", 'aria-controls': "psychology"}
    #psychology.collapse.show
      .row.m-0.pt-2.pb-2
        = f.fields_for :customer_persona, f.object.customer_persona || f.object.build_customer_persona do |ff|
          - unless true
            .col-6
              .form-group
                = ff.label :marital_status, 'Tình trạng hôn nhân', class: f.object.label_required('marital_status')
                = ff.select :marital_status, options_for_select(Constant::CUSTOMER_MARITAL_STATUS.invert, ff.object.marital_status), {include_blank:  @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}, {class: 'form-control tms-select2', disabled: !@is_edit_customer, 'data-placeholder': @is_edit_customer ? 'Vui lòng chọn': 'Chưa cập nhật'}
                - ff.object.errors.messages[:marital_status].each do |error|
                  %span.invalid-feedback.custom-validation= error
            .col-6
              .form-group
                = ff.label :people_in_family, 'Thành viên trong gia đình', class: f.object.label_required('people_in_family')
                = ff.text_area :people_in_family, value: ff.object.people_in_family, class: 'form-control', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer, rows: 1
                - ff.object.errors.messages[:people_in_family].each do |error|
                  %span.invalid-feedback.custom-validation= error
          .col-6
            .form-group
              %input{type: "hidden", value: @current_hobbies, id: 'current_hobbies'}
              %input{type: "hidden", value: @hobbies, id: 'hobbies'}
              = ff.label :hobbies, 'Sở thích/ Lối sống', class: f.object.label_required('hobbies')
              = ff.select :hobbies, options_for_select([]), {}, { class: 'form-control select2-search-hobby', style: 'width: 100%', multiple: true, disabled: !@is_edit_customer}
              - ff.object.errors.messages[:hobbies].each do |error|
                %span.invalid-feedback.custom-validation= error
  - if current_user.director? || current_user.customer_service?
    %hr
    .detail-item-sub-heading.d-flex.justify-content-between
      .font-weight-bold 6. Sở thích đầu tư
      .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#investment", 'aria-expanded': "false", 'aria-controls': "investment"}
    #investment.collapse.show
      .row.m-0.pt-2.pb-2
        = f.fields_for :customer_persona, f.object.customer_persona || f.object.build_customer_persona do |ff|
          .col-6
            .form-group
              = ff.label :positions_to_invest, 'Vị trí mong muốn đầu tư', class: f.object.label_required('positions_to_invest')
              = ff.text_area :positions_to_invest, value: ff.object.positions_to_invest, class: 'form-control h-38', placeholder: @is_edit_customer ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_customer, rows: 1
              - ff.object.errors.messages[:positions_to_invest].each do |error|
                %span.invalid-feedback.custom-validation= error
          .col-6
            .form-group
              = ff.label :real_estate_type_to_invest, 'Loại hình dự án mong muốn đầu tư', class: f.object.label_required('real_estate_type_to_invest')
              = ff.select :real_estate_type_to_invest, options_for_select(Constant::PROJECT_REAL_ESTATE_TYPE.invert, ff.object.real_estate_type_to_invest), {include_hidden: false}, { class: 'form-control', multiple: true, disabled: !@is_edit_customer }
              - ff.object.errors.messages[:real_estate_type_to_invest].each do |error|
                %span.invalid-feedback.custom-validation= error
