.kanban-scroll
  .deal-session.tms-p-16.modal-edit
    %ul.nav.nav-pills{style: "border-bottom: 1px solid rgba(0, 0, 0, 0.1);"}
      %li.nav-item
        %a#general-info-tab.nav-link.position-relative{href: "#general-info", class: "#{'active' if params[:form] == 'general'}", "aria-controls" => "general-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab" }
          %span.badge.badge-danger.tab-highlight{class: (@is_edit_general && @flash_general.to_i > 0) ? '' : 'd-none' }
            = @flash_general
          Thông tin chung
      %li.nav-item
        %a#customer-portrait-tab.nav-link.position-relative{href: "#customer-portrait", class: "#{'active' if params[:form] == 'customer'}", "aria-controls" => "customer-portrait", "aria-selected" => "true", "data-toggle" => "pill", role: "tab"}
          %span.badge.badge-danger.tab-highlight{class: (@is_edit_customer && @flash_customer.to_i > 0) ? '' : 'd-none' }
            = @flash_customer
          Chân dung khách hàng
      - if @is_edit_deal == true || current_user.customer_service?
        %li.nav-item
          %a#history-interaction-tab.nav-link{"aria-controls" => "history-interaction", "aria-selected" => "true", "data-toggle" => "pill", href: "#history-interaction", role: "tab"} Lịch sử tương tác
      - unless current_user.customer_service?
        %li.nav-item
          %a#appointment-tab.nav-link{"aria-controls" => "appointment", "aria-selected" => "true", "data-toggle" => "pill", href: "#appointment", role: "tab", class: "#{'active' if params[:form] == 'appointment'}"} Lịch hẹn
      - if @deal_commission_policy_edit == true && !current_user.customer_service?
        %li.nav-item
          %a#commission-tab.nav-link{"aria-controls" => "appointment", "aria-selected" => "true", "data-toggle" => "pill", href: "#commission", role: "tab", class: "#{'active' if params[:form] == 'commission'}"} Hoa hồng
      - if policy(@cs_ticket).edit?
        %li.nav-item
          %a#cs-tickets-tab.nav-link{"aria-controls" => "cs-tickets", "aria-selected" => "true", "data-toggle" => "pill", href: "#cs-tickets", class: "#{'active' if params[:form] == 'cs_tickets'}", role: "tab"} Danh sách phiếu
      / %li.nav-item
      /   %a#call-tab.nav-link{"aria-controls" => "call", "aria-selected" => "true", "data-toggle" => "pill", href: "#call", role: "tab"} Cuộc gọi
      / %li.nav-item
      /   %a#online-feedback-tab.nav-link{"aria-controls" => "call", "aria-selected" => "true", "data-toggle" => "pill", href: "#online-feedback", role: "tab"} Email & SMS
      / %li.nav-item
      /   %a#feedback-tab.nav-link{"aria-controls" => "call", "aria-selected" => "true", "data-toggle" => "pill", href: "#feedback", role: "tab"} Phản hồi của KH
      / %li.nav-item
      /   %a#note-tab.nav-link{"aria-controls" => "note", "aria-selected" => "true", "data-toggle" => "pill", href: "#note", role: "tab"} Ghi chú
      / %li.nav-item
      /   %a#history-tab.nav-link{"aria-controls" => "history", "aria-selected" => "true", "data-toggle" => "pill", href: "#history", role: "tab"} Lịch sử hoạt động
    .tab-content
      #general-info.tab-pane.fade.show{"aria-labelledby" => "general-info-tab", role: "tabpanel", class: params[:form] == 'general'  ? 'active' : ''}
        #general-info-content
          = render 'admin/deals/form_general'
      #customer-portrait.tab-pane.fade.show{"aria-labelledby" => "customer-portrait-tab", role: "tabpanel", class: params[:form] == 'customer' ? 'active' : ''}
        #customer-info-content
          = render 'admin/deals/form_customer'
      #history-interaction.tab-pane.fade.show{"aria-labelledby" => "history-interaction-tab", role: "tabpanel"}
        %input#history-interaction-editing{value: false, type: "hidden"}
        - unless current_user.customer_service?
          #add-history-interaction= link_to_deal_add_fields 'Thêm tương tác', @deal, :history_interactions, '#history-interactions'
          .row.add-hs-fields.d-none
            .col-12
              .author-name.mt-3
                .name.font-weight-bold.font-size-16
                  Thêm lịch sử tương tác
        = render 'admin/history_interactions/history_interaction_container', {history_interaction_group: @history_interaction_group, deal: @deal}
      #appointment.tab-pane.fade.show{"aria-labelledby" => "appointment-tab", role: "tabpanel", class: params[:form] == 'appointment' ? 'active' : ''}
        %input#appointment-editing{value: false, type: "hidden"}
        - unless @deal.canceled? || @deal.contract_signed?
          = link_to_deal_add_fields 'Tạo lịch hẹn', @deal, :appointments, '#appointments'
        #appointments
          - if @deal.appointments.blank?
            %p.not-appointment.font-weight-500.mt-2 Chưa có lịch hẹn
          - @deal.appointments.order('state ASC NULLS FIRST').order(appointment_date: :asc).each do |appointment|
            = render 'admin/deals/appointment_fields', {o: appointment, deal: @deal}
      - if @deal_commission_policy_edit == true && !current_user.customer_service?
        #commission.tab-pane.fade.show{"aria-labelledby" => "commission-tab", role: "tabpanel", class: params[:form] == 'commission' ? 'active' : ''}
          #commission-content
            = render 'admin/deals/form_commission'
      - if policy(@cs_ticket).edit?
        #cs-tickets.tab-pane.fade.show{"aria-labelledby" => "cs-tickets-tab", role: "tabpanel", class: params[:form] == 'cs_tickets' ? 'active' : ''}
          #cs-tickets-content.pt-3{class: "#{'pb-3' if @deal.cs_tickets.blank?}"}
            = render 'admin/deals/form_cs_tickets'
      / #call.tab-pane.fade.show{"aria-labelledby" => "call-tab", role: "tabpanel"}
      /   - unless @deal.canceled? || @deal.contract_signed?
      /     = link_to_deal_add_fields 'Tạo cuộc gọi', @deal, :calls, '#calls' unless @deal.request_recall?
      /   #calls
      /     - @deal.calls.order('created_at DESC').each do |call|
      /       = render 'admin/deals/call_fields', {o: call, deal: @deal}
      / #online-feedback.tab-pane.fade.show{"aria-labelledby" => "online-feedback-tab", role: "tabpanel"}
      /   - unless @deal.canceled? || @deal.contract_signed?
      /     = link_to_deal_add_fields 'Tạo phản hồi', @deal, :online_feedbacks, '#online-feedbacks' unless @deal.request_recall?
      /   #online-feedbacks
      /     - @deal.online_feedbacks.order('created_at DESC').each do |online_feedback|
      /       = render 'admin/deals/online_feedback_fields', {o: online_feedback, deal: @deal}
      / #feedback.tab-pane.fade.show{"aria-labelledby" => "feedback-tab", role: "tabpanel"}
      /   - unless @deal.canceled? || @deal.contract_signed?
      /     = link_to_deal_add_fields 'Tạo phản hồi', @deal, :feedbacks, '#feedbacks' unless @deal.request_recall?
      /   #feedbacks
      /     - @deal.feedbacks.order('created_at DESC').each do |feedback|
      /       = render 'admin/deals/feedback_fields', {o: feedback, deal: @deal}
      / #note.tab-pane.fade.show{"aria-labelledby" => "note-tab", role: "tabpanel"}
      /   - unless @deal.canceled? || @deal.contract_signed?
      /     = link_to_deal_add_fields 'Tạo ghi chú', @deal, :notes, '#notes' unless @deal.request_recall?
      /   #notes
      /     - @deal.notes.order('created_at DESC').each do |note|
      /       = render 'admin/deals/note_fields', {o: note, deal: @deal}
      / #history.tab-pane.fade.show{"aria-labelledby" => "history-tab", role: "tabpanel"}
      /   #histories