= form_with model: [:admin, @deal], url: create_transfer_admin_deal_path(@deal), method: :post, local: true do |f|
  = hidden_field_tag :form_id, :deal_transfer, id: 'deal_transfer-form-id'
  = hidden_field_tag :current_deal_id, @deal&.id
  = hidden_field_tag :form, :transfer, id: 'form_transfer'
  .detail-item-sub-heading
    .row
      .col-12
        .d-flex.pl-2
          .leg-col-transfer.mr-2
          .font-weight-500.font-size-18 Tạo giao dịch chuyển nhượng
      .col-12
        .row.m-0.pt-2.pb-2
          .col-6
            .form-group.mb-0
              = f.label :project_id, 'Dự án', class: 'history-interaction-label'
              = f.text_field :project_id, value: @deal&.project&.name, class: 'form-control', disabled: true
              = f.hidden_field :project_id, value: @deal&.project&.id
          .col-6
            .form-group.mb-0
              = f.label :product_id, 'Mã sản phẩm', class: 'history-interaction-label'
              = f.text_field :product_id, value: @deal&.product&.code, class: 'form-control', disabled: true
              = f.hidden_field :product_id, value: @deal&.product&.id
        .row.m-0.pt-2.pb-2
          .col-6
            .form-group.mb-0
              = f.label :customer_id, 'Khách hàng', class: 'history-interaction-label'
              = f.select :customer_id, options_for_select([[@new_deal&.customer&.name, @new_deal&.customer&.id]], @new_deal&.customer&.id), {include_blank: 'Vui lòng chọn'}, { class: 'form-control select2-deal-customer', id: 'deal_customer', 'data-placeholder': 'Vui lòng chọn' }
              - if @new_deal.present?
                - @new_deal.errors.messages[:customer_id].each do |error|
                  %span.invalid-feedback.custom-validation= error
          .col-6
            .form-group.mb-0
              = f.label :phone_number, 'Số điện thoại', class: 'history-interaction-label'
              = f.text_field :phone_number, value: @new_deal&.customer&.phone_number, class: 'form-control deal-phone-number', placeholder: 'Vui lòng nhập', disabled: true
        .row.m-0.pt-2.pb-2
          .col-6
            .form-group.mb-0
              = f.label :assignee_id, 'Nhân viên chăm sóc', class: 'history-interaction-label'
              = f.select :assignee_id, options_for_select([[@new_deal&.assignee&.full_name, @new_deal&.assignee&.id]], @new_deal&.assignee&.id), {include_blank: 'Vui lòng chọn'}, { class: 'form-control select2-deal-assignee', 'data-placeholder': 'Vui lòng chọn' }
              - if @new_deal.present?
                - @new_deal.errors.messages[:assignee_id].each do |error|
                  %span.invalid-feedback.custom-validation= error
          .col-6
            .form-group.mb-0
              = f.label :state, 'Trạng thái giao dịch', class: 'history-interaction-label'
              = f.select :state, options_for_select(@states, @new_deal.present? ? @new_deal&.state : ''), {}, { class: 'form-control select2-deal-state', 'data-placeholder': 'Vui lòng chọn' }
              - if @new_deal.present?
                - @new_deal.errors.messages[:state].each do |error|
                  %span.invalid-feedback.custom-validation= error
        .m-0.pt-2.pb-2
          .form-group.mb-0
            .text-center
              = f.submit 'Xác Nhận', name: 'save', class: "btn font-size-16 btn-transfer-deal transfer-disabled", disabled: true
