= form_with model: [:admin, @deal], id: 'edit-deal-detail', html: {'data-is-editing': @is_edit_general || false} do |f|
  = f.hidden_field :lock_version
  - unless @is_edit_general
    - f.object.errors.clear
  = hidden_field_tag :form_id, :deal_detail, id: 'deal-detail-form-id'
  = hidden_field_tag :contact_status_changed
  = hidden_field_tag :drag_state_changed, @drag_state_changed
  = hidden_field_tag :deal_update_comm, @deal_update_comm
  = hidden_field_tag :current_deal_id, @deal&.id
  = hidden_field_tag :form, :general, id: 'form_general'

  .row.m-0
    .detail-item.w-100
      .detail-item-heading.font-weight-bold.pr-2.pb-3
        - if policy(@deal).update?
          - if @is_edit_general
            = f.hidden_field :allow_duplicate, value: @allow_duplicate
            = f.submit 'Lưu lại', name: 'save', class: "btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right #{'save-contract-signed' if @deal.state == 'contract_signed'}"
            = f.submit 'Hủy', name: 'cancel', class: 'btn btn-kanban-border-danger font-size-16 tms-line-height-22 pl-3 pr-3 mr-2 float-right'
            = f.hidden_field :contact_status_when_update, id: 'deal-contact-status'
            = f.hidden_field :uninterested_reason, id: 'deal-uninterested-reason'
          - else
            = f.submit 'Chỉnh sửa', name: 'edit', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right btn-edit-deal-general' do
              %i.tms.tms-edit
              Chỉnh sửa
  .row.m-0
    .col-12
      .form-group
        = f.label :suggestive_name, 'Tên gợi nhớ'
        = f.text_field :suggestive_name, value: @deal&.suggestive_name, class: 'form-control deal-suggestive-name', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_general, 'data-id': @deal.id
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold.mt-2 1. Thông tin chính
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#primary-info", 'aria-expanded': "false", 'aria-controls': "primary-info"}
  #primary-info.collapse.show
    .row.m-0.pt-2.project-select-group{class: "#{'input-hidden' if @deal.is_external_project}"}
      .col-6
        .form-group.mb-0
          = f.label :project_id, 'Dự án quan tâm', class: f.object.label_required('project_id')
          = f.select :project_id, options_for_select(@projects, @deal.project_id), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Không tìm thấy dự án'}, { class: 'form-control select2-deal-project', data: {'select-child-target': ['deal_product_id']}, disabled: !@is_edit_general || @deal.project_disabled?, 'data-placeholder': (@is_edit_general && !@deal.project_disabled?) ? 'Vui lòng chọn': 'Không tìm thấy dự án' }
          - f.object.errors.messages[:project_id].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-6
        .form-group.mb-0
          = f.label :product_id, 'Mã sản phẩm', class: f.object.label_required('product_id')
          = f.select :product_id, options_for_select([[@deal.product&.code, @deal.product&.id]], @deal.product&.id), {include_blank:  @is_edit_general || !@deal.product_id ? 'Vui lòng chọn': 'Không tìm thấy sản phẩm'}, { class: 'form-control select2-deal-product', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general || !@deal.product_id ? 'Vui lòng chọn': 'Không tìm thấy sản phẩm' }
          - f.object.errors.messages[:product_id].each do |error|
            %span.invalid-feedback.custom-validation= error
          = f.hidden_field :check_deal_contract_signed, value: false
    .row.m-0.pt-2.pb-2
      - unless Deal.find_by(id: @deal.id)&.project_id
        .col-12
          .form-group.mb-0
            = f.check_box :is_external_project, checked: @deal.is_external_project, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}, disabled: !@is_edit_general || @deal.external_project_disabled?
            = f.label :is_external_project, 'Khách quan tâm dự án ngoài', class: "margin-right-5"
        .col-6
          .form-group
            = f.text_field :external_project, value: @deal.external_project, class: "form-control #{'input-hidden' unless @deal.is_external_project}", placeholder: 'Vui lòng nhập dự án quan tâm', disabled: !@is_edit_general
            - f.object.errors.messages[:external_project].each do |error|
              %span.invalid-feedback.custom-validation= error
        .col-6
          .form-group
            = f.text_field :cross_selling_product_code, value: @deal.cross_selling_product_code, class: "form-control #{'input-hidden' unless @deal.is_external_project}", placeholder: 'Vui lòng nhập mã sản phẩm bán chéo', disabled: !@is_edit_general
            - f.object.errors.messages[:cross_selling_product_code].each do |error|
              %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :customer_id, 'Khách hàng', class: f.object.label_required('customer_id')
          = f.select :customer_id, options_for_select([[@deal.customer&.name, @deal.customer&.id]], @deal.customer&.id), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'form-control select2-deal-customer', id: 'deal_customer', disabled: !@is_edit_general || (@deal.customer_disabled? && @deal.customer_id.present? && !(current_user.super_admin? || current_user.bi_ba?)), 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật' }
          - f.object.errors.messages[:customer_id].each do |error|
            %span.invalid-feedback.custom-validation= error
          %a.btn-edit-deal-customer{'data-toggle' => "modal", 'data-target' => "#edit-deal-customer-modal", "data-backdrop" => "static", "data-keyboard" => "false"} Chỉnh sửa khách hàng
      .col-6
        .form-group
          = f.label :phone_number, 'Số điện thoại'
          = f.text_field :phone_number, value: @deal&.customer&.phone_number_sanitized, class: 'form-control deal-phone-number', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: true
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :gender, 'Giới tính'
          = f.text_field :gender, value: "#{Constant::CUSTOMER_GENDER[@deal.customer_persona&.gender] if @deal.customer_persona&.gender.present?}", class: 'form-control', placeholder: 'Chưa cập nhật', disabled: true
      .col-6.contact-status-group
        .form-group
          = f.label :contact_status, 'Tình trạng liên hệ', class: f.object.label_required('contact_status')
          = f.select :contact_status, options_for_select(Constant::CONTACT_STATUSES.invert, @deal.contact_status), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: "tms-select2 form-control select2-deal-contact-status", id: 'deal_contact_status_select', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật' }
          - f.object.errors.messages[:contact_status].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .interaction_detail_checklist
        .col-12
          .form-group
            = f.label :interaction_detail, 'Nội dung tương tác', class: f.object.label_required('interaction_detail')
            = f.collection_check_boxes :interaction_detail, Constant::INTERACTION_CHECKLIST, :first, :last do |cb|
              = cb.label(class: 'form-group d-block ml-2', style: 'width: fit-content') do
                = cb.check_box class: 'tms-icheck interaction-detail', data: {skin: 'square', color: 'blue'}, disabled: !@is_edit_general
                = cb.text
            - f.object.errors.messages[:interaction_detail].each do |error|
              %span.invalid-feedback.custom-validation= error
  %hr
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold 2. Chi tiết nhu cầu khách hàng
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#additional-info", 'aria-expanded': "false", 'aria-controls': "additional-info"}
  #additional-info.collapse.show
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :product_type, 'Loại hình sản phẩm', class: f.object.label_required('product_type')
          = f.select :product_type, options_for_select([[Constant::PROJECT_REAL_ESTATE_TYPE[@deal.product_type], @deal.product_type]], @deal.product_type), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'form-control select2-product-type', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật' }
          - f.object.errors.messages[:product_type].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-6
        .form-group
          = f.label :product_type_detail, 'Chi tiết loại hình', class: f.object.label_required('product_type_detail')
          = f.text_area :product_type_detail, class: 'form-control h-38', placeholder: 'Ví dụ: 2PN , 3PN + 2WC, Biệt thự đơn lập, Biệt thự tứ lập,...', disabled: !@is_edit_general, rows: 1
          - f.object.errors.messages[:product_type_detail].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :price_range, 'Khoảng giá', class: f.object.label_required('price_range')
          = f.select :price_range, options_for_select(Constant::DEAL_PRICE_RANGE.invert, @deal.price_range), {include_blank: @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật' }
          - f.object.errors.messages[:price_range].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-6
        .form-group
          = f.label :acreage_range, 'Diện tích sản phẩm', class: f.object.label_required('acreage_range')
          = f.select :acreage_range, options_for_select(Constant::DEAL_ACREAGE_RANGE.invert, @deal.acreage_range), {include_blank: @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật' }
          - f.object.errors.messages[:acreage_range].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :interested_product, 'Căn đang quan tâm', class: f.object.label_required('interested_product')
          = f.text_field :interested_product, class: 'form-control', disabled: !@is_edit_general, placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật'
          - f.object.errors.messages[:interested_product].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-6
        .form-group
          = f.label :purchase_purpose, 'Mục đích mua', class: f.object.label_required('purchase_purpose')
          = f.select :purchase_purpose, options_for_select(Constant::PURCHASE_PURPOSE.invert, @deal.purchase_purpose), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật' }
          - f.object.errors.messages[:purchase_purpose].each do |error|
            %span.invalid-feedback.custom-validation= error
    - selection_criteria_option = Constant::PRODUCT_SELECTION_CRITERIA[@deal.product_type].present? ? Constant::PRODUCT_SELECTION_CRITERIA[@deal.product_type].invert : []
    .row.m-0.pt-2.pb-2.group-product-selection-criteria{class: selection_criteria_option == [] ? 'd-none' : ''}
      .col-12
        .form-group
          = f.label :product_selection_criteria, 'Tiêu chí chọn sản phẩm', class: f.object.label_required('product_selection_criteria')
          = f.select :product_selection_criteria, options_for_select(selection_criteria_option, @deal.product_selection_criteria), {include_blank:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'form-control select2-product-selection-criteria', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật', multiple: true }
          - f.object.errors.messages[:product_selection_criteria].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :door_direction, 'Hướng cửa', class: f.object.label_required('door_direction')
          = f.select :door_direction, options_for_select(Reti::Product::DIRECTIONS.invert, @deal.door_direction), {prompt:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật', multiple: true }
          - f.object.errors.messages[:door_direction].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-6
        .form-group
          = f.label :balcony_direction, 'Hướng ban công', class: f.object.label_required('balcony_direction')
          = f.select :balcony_direction, options_for_select(Reti::Product::DIRECTIONS.invert, @deal.balcony_direction), {prompt:  @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật'}, { class: 'tms-select2 form-control', disabled: !@is_edit_general, 'data-placeholder': @is_edit_general ? 'Vui lòng chọn': 'Chưa cập nhật', multiple: true }
          - f.object.errors.messages[:balcony_direction].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :trouble_problem_list, 'Vấn đề vướng mắc', class: f.object.label_required('trouble_problem_list')
          = f.select :trouble_problem_list, options_for_select(Constant::PROBLEMS.invert, @deal.trouble_problem_list), {include_blank: true}, { class: 'form-control select2-deal-trouble-problem-list', disabled: !@is_edit_general, multiple: true }
          - f.object.errors.messages[:trouble_problem_list].each do |error|
            %span.invalid-feedback.custom-validation= error
      .col-6.trouble-problem-group{class: "#{'input-hidden' unless Constant::PROBLEMS.values_at(*@deal.trouble_problem_list).include?('Khác')}"}
        .form-group
          = f.label :trouble_problem, 'Chi tiết vướng mắc', class: f.object.label_required('trouble_problem')
          = f.text_area :trouble_problem, class: 'form-control h-38', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_general, autofocus: true, rows: 1
          - f.object.errors.messages[:trouble_problem].each do |error|
            %span.invalid-feedback.custom-validation= error
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :demand_for_advances, 'Nhu cầu vay', class: f.object.label_required('demand_for_advances')
          = f.text_area :demand_for_advances, class: 'form-control h-38', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', disabled: !@is_edit_general
          - f.object.errors.messages[:demand_for_advances].each do |error|
            %span.invalid-feedback.custom-validation= error
  %hr
  .detail-item-sub-heading.d-flex.justify-content-between
    .font-weight-bold 3. Thông tin từ Telesale
    .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#telesale-info", 'aria-expanded': "false", 'aria-controls': "additional-info"}
  #telesale-info.collapse.show
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :telesale_note, 'Ghi chú'
          = f.text_area :telesale_note, class: 'form-control', disabled: true, rows: 1
      .col-6
        .form-group
          = f.label :telesale_interest_detail, 'Chi tiết quan tâm'
          = f.text_area :telesale_interest_detail, class: 'form-control', disabled: true, rows: 1
    .row.m-0.pt-2.pb-2
      .col-6
        .form-group
          = f.label :telesale_group, 'Ghi chú'
          = f.text_field :telesale_group, class: 'form-control', disabled: true
#edit-deal-customer-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#edit-deal-customer-label", role: "dialog", tabindex: "-1", deal_id: @deal.id}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header.reti-modal-title
        #edit-deal-customer-label.modal-title Chỉnh sửa khách hàng
        %button.close.cancel-cs-ticket-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF'}
          %span{"aria-hidden" => "true"} ×
      #edit-deal-customer-modal-body.modal-body.modal-scroll
        = render partial: 'admin/deals/form_edit_deal_customer', locals: {deal: @deal}
