.row.flex-nowrap.kanban-ticket.overflow-auto.init-kanban-deals.kanban-scroll{'data-user': (current_user.super_admin? || current_user.bi_ba?) ? 'admin' : '', class: flash.present? ? 'has-flash' : '', num_page: 0, 'data-policy-change-state': "#{current_user.check_permission('Deal', 'change_state')}"}
  - if permission = current_user.get_permission('Deal') || current_user.super_admin?
    - Deal.aasm.states.map do |state|
      - if permission.state_area.include?(state.to_s) || current_user.super_admin?
        %section.kanban-col{'data-state': state.to_s}
          .card
            .card-header.kanban-col-title.position-sticky
              %h3.card-title.font-weight-600
                = I18n.t("deal.states.#{state}")
                %span.num-item (#{@num_item[state.to_s]})
              - if state.to_s == 'pending' && current_user.check_permission('Deal', 'can_create')
                %a{href: new_admin_deal_path}
                  %button.btn.float-right.btn-add#kanban-new-deal-button{:type => "button"}
                    %i.far.fa-plus-square
                    Tạo mới
            .card-body.p-1.kanban-body-container.container-sortable
              = render partial: 'kanban_item', collection: @deal_groups[state.to_s], as: :deal
    
= render 'modal_detail'
= render 'modal_assign'
= render 'new_deal'
