- @disable_drag_states ||= ['pending']
- disabled_condition = @disable_drag_states.include?(deal.state)
.card.kanban-item.mt-0.mb-2.ml-1.mr-1{'data-id': deal.id, class: disabled_condition ? 'disabled-sort' : '', 'data-deal': deal.company_source? ? 'auto' : 'craft', 'data-capability': deal.financial_capability, 'data-advances': deal.demand_for_advances, 'data-project-id': deal.project_id, 'data-project-name': deal.project&.name, 'data-product-id': deal.product_id, 'data-product-code': deal.product&.code, 'data-product-state': deal.product&.state}
  = link_to 'Edit Deal', edit_admin_deal_path(deal, state: params[:state], source: params[:source], project: params[:project], assignee: params[:assignee], label: params[:label], purchase_purpose: params[:purchase_purpose], product_type: params[:product_type], created_at: params[:created_at], updated_at: params[:updated_at], balcony_direction: params[:balcony_direction], door_direction: params[:door_direction], view_mode: params[:view_mode], order_by: params[:order_by], sort: params[:sort]), data: { modal: true }, class: 'detail-modal-btn'
  = link_to 'Preview Deal', admin_deal_path(deal, state: params[:state], source: params[:source], project: params[:project], assignee: params[:assignee], label: params[:label], purchase_purpose: params[:purchase_purpose], product_type: params[:product_type], created_at: params[:created_at], updated_at: params[:updated_at], balcony_direction: params[:balcony_direction], door_direction: params[:door_direction], view_mode: params[:view_mode], order_by: params[:order_by], sort: params[:sort]), data: { modal: true }, class: 'preview-modal-btn'
  .card-header.border-bottom-0.pb-0
    .title.d-flex.justify-content-between
      %div.left.truncated-title= "#{deal.name} <span class='deal-sub-name-text deal-sub-name-text-#{deal.id}'>#{deal.suggestive_display_name}</span>".html_safe
      .right.d-flex.justify-content-between
        %i.tms.tms-rating.d-none
        .btn.btn-default.btn-sm.btn-right.btn-show-detail.d-flex.align-items-center.ml-2
          %i.fa.fa-chevron-right
    - unless deal.contract_signed? || deal.canceled? || deal.uninterested?
      - if deal.days_in_state >= 1
        .state-day.ml-auto.mt-1
          .states.font-size-14{'data-toggle': "tooltip", 'data-placement': "bottom", 'title': "Giao dịch đã tồn tại ở trạng thái này #{deal.days_in_state} ngày"}
            = image_tag 'user-profile-time-clock.svg'
            %span.text= "#{deal.days_in_state} N"
    .statuses.d-flex
      .statuses-container
        - if deal.canceled? && deal.canceled_reason.present?
          .status.font-size-14.status-canceled
            = Constant::CANCELED_REASON[deal.canceled_reason]
        - if deal.uninterested? && deal.uninterested_reason.present?
          .status.font-size-14.status-uninterested
            = Constant::UNINTERESTED_REASON[deal.uninterested_reason]
        - if deal.contact_status.present? && !%w(canceled uninterested).include?(deal.state)
          .status.font-size-14{class: "#{deal.display_label_class(Constant::CONTACT_STATUSES[deal.contact_status])}"}
            = Constant::CONTACT_STATUSES[deal.contact_status]
        - unless deal.customer&.phone_number.present?
          .status.font-size-14.status-label.status-no-phone
            Chưa có số điện thoại
  // class kanban-border-top-1,2,3,4,5 theo muc do quan tam
  / .kanban-border-top
  .card-body.text-muted.pt-0
    .body-right
      .card-body-line
        %span.tms-mr-10
          %i.tms.tms-building
        %span.text= deal.is_external_project ? 'Khác' : deal.project&.name
      .card-body-line
        %span.tms-mr-10
          %i.tms.tms-clock
        %span.text= format_date(deal.state_changed_at) if deal.state_changed_at.present?
      .card-body-line
        %span.tms-mr-10
          %i.tms.tms-infor
        %span.text= Constant::DEAL_SOURCES[deal.source] || 'Chưa cập nhật'
      / .card-body-line
      /   %span.tms-mr-10
      /     %i.tms.tms-favourite
      /   %span.text
      /     Chưa cập nhật
    .body-left
      %form
        // da co js set value
        %input.d-none.input-assignee{value: ''}
        .btn.p-0.image-avatar.btn-assign{'data-target': "#modal-assign", class: (current_user.has_children? && !deal.contract_signed? && !deal.canceled? && deal.source) ? 'assignee' : 'assignee-readonly'}
          = image_tag deal.assignee.present? ? deal.assignee.get_avatar : asset_path('add-assignee.svg'), alt: 'User Default Avatar', class: 'img-circle w-100 avatar-assign', title: deal.assignee&.full_name
