.card.ml-2.mr-2{style: 'padding-bottom: 50px'}
  .row
    .col-12
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.table-nowrap.display
          .d-none.request-url= request.query_string if request.query_string.present?
          %thead
            %tr
              %th.first-col-stick Tên giao dịch
              %th.top-0 Dự án
              %th.top-0 Tên khách hàng
              %th.top-0 Số điện thoại
              %th.top-0 Nguồn
              %th.top-0 Ngày cập nhật mới nhất
              %th.top-0 Trạng thái
              %th.top-0 Người chăm sóc
              %th.d-none
          %tbody
            - @deals.each do |deal|
              %tr
                %td.p-3.first-col-stick= deal.name
                %td.p-3
                  %div{class: "#{'blank-data' if deal.project&.name.blank?}"}= "#{deal.project&.name.present? ? deal.project&.name : 'Chưa cập nhật'}"
                %td.p-3
                  %div{class: "#{'blank-data' if deal.customer&.name.blank?}"}= "#{deal.customer&.name.present? ? deal.customer&.name  : 'Chưa cập nhật'}"
                %td.p-3
                  %div{class: "#{'blank-data' if deal.customer&.phone_number.blank?}"}= "#{deal.customer&.phone_number.present? ? deal.customer&.phone_number  : 'Chưa cập nhật'}"
                %td.p-3
                  %div{class: "#{'blank-data' if deal&.source.blank?}"}= "#{deal&.source.present? ? Constant::DEAL_SOURCES[deal&.source] : 'Chưa cập nhật'}"
                %td.p-3= deal.updated_at&.strftime('%d/%m/%Y')
                %td.p-3= I18n.t("deal.states.#{deal.state}")
                %td.p-3
                  %div{class: "#{'blank-data' if deal.assignee&.full_name.blank?}"}= "#{deal.assignee&.full_name.present? ? deal.assignee&.full_name : 'Chưa cập nhật'}"
                %td.d-none
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_deal_path(deal, state: params[:state], source: params[:source], project: params[:project], assignee: params[:assignee], label: params[:label], purchase_purpose: params[:purchase_purpose], product_type: params[:product_type], created_at: params[:created_at], updated_at: params[:updated_at], balcony_direction: params[:balcony_direction], door_direction: params[:door_direction], view_mode: params[:view_mode], order_by: params[:order_by], sort: params[:sort]), target: '_blank'}
.create-deal-block.fixed-bottom
  .row
    .col-12
      %a{href: new_admin_deal_path}
        %button.btn.ml-auto.btn-add-deal.mr-0#table-new-deal-button
          %i.far.fa-plus-square.mr-2
          Tạo mới