#modal-assign.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.assign-heading
        .assign-title Chọn người phụ trách
        %span.assign-btn-close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          .fas.fa-times
      .assign-body
        .assign-search
          .input-group
            %input.form-control.input-search-assignee{:type => "text", placeholder: 'Tìm kiếm'}
            .input-group-append
              %span.input-group-text
                %i.fas.fa-search
        .assign-content.kanban-scroll
