#modal-detail.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    - if @deal.present? && !@deal.new_record?
      .modal-content
        .modal-header.d-block.kanban-modal-header-border-bottom
          .d-flex.justify-content-between
            %h5#exampleModalLabel.modal-title
              %i.tms.tms-rating-active.d-none
              %div{class: "#{'deal-full-name' if current_user.super_admin?}"}
                %span.deal-name-text= @deal.name
                %span.deal-sub-name-text= @deal.suggestive_display_name
            = link_to 'Xem/Sửa', edit_admin_deal_path(@deal, state: params[:state], source: params[:source], project: params[:project], assignee: params[:assignee], label: params[:label], purchase_purpose: params[:purchase_purpose], product_type: params[:product_type], created_at: params[:created_at], updated_at: params[:updated_at], balcony_direction: params[:balcony_direction], door_direction: params[:door_direction], view_mode: params[:view_mode], order_by: params[:order_by], sort: params[:sort]), class: 'btn btn-sm kanban-btn-info', style: 'height: 32px'
          .statuses
            .statuses-container{style: "display: #{@deal.display_labels.present? ? 'block' : 'none'}"}
              - @deal.display_labels.each do |label|
                .status.font-size-16{class: "#{@deal.display_label_class(label)}"}
                  = label
            - if task = @deal.available_tasks.last
              .status-task.d-flex.justify-content-between.tms-mt-6
                .status-task-left.tms-line-height-2
                  %i.tms.tms-warning.tms-mr-6
                  = task.title
                .status-task-right
                  %span.btn.font-size-16.tms-line-height-16{class: "#{task.overdue? ? 'btn-kanban-danger' : 'btn-kanban-warning'}"}
                    %i.tms.tms-clock-while
                    = format_task_date task.deadline

        .modal-body.kanban-scroll.p-0
          .detail-item.kanban-border-bottom
            .detail-item-heading.font-weight-bold Khách hàng
            .row.p-2
              .col-6
                %span.detail-item-heading-sub Tên khách hàng
                .detail-item-content.font-weight-600= @deal.customer&.name || 'Chưa cập nhật'
              .col-6
                %span.detail-item-heading-sub Số điện thoại
                .detail-item-content.font-weight-600= @deal.customer&.phone_number || 'Chưa cập nhật'

          .detail-item.kanban-border-bottom
            .detail-item-heading.font-weight-bold Giao dịch
            .row.p-2
              - if @deal.is_external_project
                .col-12
                  %span.detail-item-heading-sub Khách quan tâm dự án ngoài
                  .detail-item-content.font-weight-600= @deal.external_project || 'Chưa cập nhật'
              - else
                .col-6
                  %span.detail-item-heading-sub Dự án quan tâm
                  .detail-item-content.font-weight-600= @deal.project&.name || 'Chưa cập nhật'
                .col-6
                  %span.detail-item-heading-sub Mã sản phẩm
                  .detail-item-content.font-weight-600= @deal.product&.code || 'Chưa cập nhật'
            .row.p-2
              .col-6
                %span.detail-item-heading-sub Trạng thái giao dịch
                .detail-item-content.font-weight-600= I18n.t("deal.states.#{@deal.state}")
              .col-6
                %span.detail-item-heading-sub Nguồn
                .detail-item-content.font-weight-600= Constant::DEAL_SOURCES[@deal.source]
            .row.p-2
              .col-6
                %span.detail-item-heading-sub Người phụ trách
                .detail-item-content.font-weight-600= @deal.assignee&.full_name || 'Chưa cập nhật'
              .col-6
                %span.detail-item-heading-sub Nhóm KD
                .detail-item-content.font-weight-600= @deal.assignee&.leader&.full_name || 'Chưa cập nhật'
            .row.p-2
              .col-6
                %span.detail-item-heading-sub Ngày tạo
                .detail-item-content.font-weight-600= format_date( @deal.create_deal_date.present? ? @deal.create_deal_date : @deal.created_at)
              .col-6
                %span.detail-item-heading-sub Ngày cập nhật trạng thái
                .detail-item-content.font-weight-600= format_date @deal.state_changed_at if @deal.state_changed_at.present?

          .detail-item.kanban-border-bottom
            .detail-item-heading.mb-2.font-weight-bold Lịch sử hoạt động
            - @deal.histories.order(created_at: :desc).limit(2).each do |history|
              .kanban-bg-light.rounded.p-2.mb-2
                %span
                  != history.content
