.card.mt-0.mb-2.ml-1.mr-1.d-none.kanban-clone#kanban-item-new
  .card-content.py-2
    = form_with model: [:admin, @deal], local: true, class: 'kanban-item-new-form' do |f|
      = f.text_field :name, class: 'border-0 form-control input-title', placeholder: "Nhập tiêu đề"
      = f.hidden_field :source, value: nil
      = f.hidden_field :contact_status, value: Constant::CONTACT_STATUSES.key('Chưa gọi')
      %button.btn.btn-outline-danger.btn-sm.w-auto.float-right.px-3.mr-2.kanban-item-new-cancel{type: 'button'}
        Huỷ
      %button.btn.btn-outline-info.btn-sm.w-auto.float-right.px-3.mr-2.kanban-item-new-save
        Lưu
%p.mt-0.mb-2.ml-1.mr-1.font-size-14.kanban-item-title-error{style: 'display:none'} Không được để trống tiêu đề!
