.cs-ticket-group-body
  = form_with  model: [:admin, @cs_ticket], url: admin_cs_tickets_path, local: true, class: 'form-cs-ticket' do |f|
    = f.hidden_field :deal_id, value: @deal&.id
    = f.hidden_field :created_by_id, value: current_user.id
    = f.hidden_field :deal_state, value: @deal.state
    = f.hidden_field :customer_id, value: @deal&.customer&.id
    = f.hidden_field :customer_email, value: @deal.customer_persona&.email
    = f.hidden_field :closeable, value: true, class: 'closeable'
    .detail-item-sub-heading.d-flex.justify-content-between
      .font-weight-bold.custom-text-color 1. Nhu cầu khách hàng
    .row
      .col-6.mt-3
        %label.tms-container-radio.mr-4
          = f.label :customer_opinion, 'Khách hàng đồng ý đánh giá', class: 'reti-color-label cursor-pointer cs-ticket-label-radio-button'
          = f.radio_button :customer_opinion, 1, class: 'tms-popup-state-select2', checked: true
          %span.checkmark
      .col-6.mt-3
        %label.tms-container-radio.mr-4
          = f.label :customer_opinion, 'Khách hàng từ chối đánh giá', class: 'reti-color-label cursor-pointer cs-ticket-label-radio-button'
          = f.radio_button :customer_opinion, 2, class: 'tms-popup-state-select2'
          %span.checkmark
    %hr.mt-0
    .cs-ticket-form-groups
      .detail-item-sub-heading.d-flex.justify-content-between
        .font-weight-bold.custom-text-color 2. Thông tin đánh giá
      .row
        .col-6.mt-3
          - if @deal.state == 'canceled'
            .form-group
              = f.label :cancel_reason, 'Lý do huỷ', class: 'reti-color-label'
              = f.select :cancel_reason, options_for_select(Constant::CANCELED_REASON.invert, f.object.cancel_reason), {include_blank: true}, {class: 'form-control tms-select2  modal-select2', disabled: @is_disabled}
              - f.object.errors.messages[:cancel_reason].each do |error|
                %span.invalid-feedback.custom-validation= error
          - else
            .form-group
              = f.label :support_level, 'Ý kiến đánh giá của khách hàng', class: 'reti-color-label'
              = f.text_area :support_level, class: 'form-control h-38', placeholder: 'Phản hồi của khách hàng...'
              - f.object.errors.messages[:support_level].each do |error|
                %span.invalid-feedback.custom-validation= error
        .col-6.mt-3
          .form-group
            = f.label :sale_consulting_quality, 'Chất lượng tư vấn của NVKD', class: 'reti-color-label'
            = f.select :sale_consulting_quality, options_for_select(Constant::SALE_CONSULTING_QUALITY.invert, f.object.sale_consulting_quality), {include_blank: true}, {class: 'form-control tms-select2  modal-select2', 'data-placeholder': 'Phản hồi của khách hàng...'}
            - f.object.errors.messages[:sale_consulting_quality].each do |error|
              %span.invalid-feedback.custom-validation= error
      .row
        .col-6.mt-2
          - if @deal.state == 'canceled'
            .form-group
              = f.label :demand_with_deal, 'Nhu cầu của khách hàng với giao dịch', class: 'reti-color-label'
              = f.select :demand_with_deal, options_for_select(Constant::DEMAND_WITH_DEAL.invert, f.object.demand_with_deal), {include_blank: true}, {class: 'form-control tms-select2  modal-select2', disabled: @is_disabled}
              - f.object.errors.messages[:demand_with_deal].each do |error|
                %span.invalid-feedback.custom-validation= error
          - else
            .form-group
              = f.label :processing_speed, 'Tốc độ xử lý giao dịch', class: 'reti-color-label'
              = f.select :processing_speed, options_for_select(Constant::PROCESSING_SPEED.invert, f.object.processing_speed) ,{include_blank: true},  {class: 'form-control tms-select2  modal-select2', 'data-placeholder': 'Nhanh/chậm, có đúng quy trình không?'}
              - f.object.errors.messages[:processing_speed].each do |error|
                %span.invalid-feedback.custom-validation= error
        .col-6.mt-2
          - if @deal.state == 'canceled'
            .form-group
              .row
                .col-9.pr-0
                  = f.label :voucher_id, 'Voucher tặng khách hàng', class: 'reti-color-label'
                  = f.select :voucher_id, options_for_select(@vouchers || [], f.object.voucher_id), {include_blank: true}, {class: 'form-control voucher-select2', 'data-placeholder': 'Chọn voucher'}
                  = f.hidden_field :selected_voucher_id, value: nil
                  - f.object.errors.messages[:voucher_id].each do |error|
                    %span.invalid-feedback.custom-validation= error
                .col-3.float-right{style: 'margin-top: 32px'}
                  %button.btn.btn-tms-unable-submit.btn-voucher.border-radius-8{"data-target" => "#send-voucher", "data-backdrop" => "static", "data-toggle" => "modal", type: "button", disabled: true} Gửi voucher
                  = f.hidden_field :voucher_object_id, value: nil
                  = f.hidden_field :disable_send_voucher, value: false
          - else
            .form-group{style: 'margin-bottom: 20px'}
              = f.label :deal_rating, "Đánh giá giao dịch (1-10)", class: 'reti-color-label'
              %ul.range-labels-cs-ticket.new
                - (0..10).each_with_index do |i, index|
                  %li{class: "#{'active selected' if f.object.deal_rating.present?} #{'pl-2' if index == 0}"}= i
              .range-cs-ticket.new
                = f.text_field :deal_rating, value: f.object.deal_rating || 0, max: 10, min: 0, steps: 0, type: "range"
                = f.hidden_field :check_input_type_range, value: f.object.deal_rating, class: 'check_input_type_range'
      .row
        .col-6.mt-2
          - if @deal.state == 'canceled'
            .form-group
              = f.label :extra_support_for_customer, 'Hỗ trợ thêm', class: 'reti-color-label'
              = f.text_area :extra_support_for_customer, class: 'form-control h-38', placeholder: 'Mong muốn của khách hàng...'
              - f.object.errors.messages[:extra_support_for_customer].each do |error|
                %span.invalid-feedback.custom-validation= error
          - else
            .form-group
              .d-flex
                = f.label :sale_rating, "Sao dịch vụ cho NVKD ", class: 'reti-color-label'
                .cs-ticket-assignee.ml-1= @deal&.assignee&.full_name
              = f.select :sale_rating, options_for_select([ ["-2", -2], ["-1", -1], ["0", 0], ["1", 1], ["2", 2]]), {include_blank: true}, {class: 'form-control sale-rating-select2  modal-select2', 'data-placeholder': 'Vui lòng chọn sao'}
              - f.object.errors.messages[:sale_rating].each do |error|
                %span.invalid-feedback.custom-validation= error
        .col-6.mt-2
          - if @deal.state == 'contract_signed'
            .form-group
              .row
                .col-9.pr-0
                  = f.label :voucher_id, 'Voucher tặng khách hàng', class: 'reti-color-label'
                  = f.select :voucher_id, options_for_select(@vouchers || [], f.object.voucher_id), {include_blank: true}, {class: 'form-control voucher-select2', 'data-placeholder': 'Chọn voucher'}
                  = f.hidden_field :selected_voucher_id, value: nil
                  - f.object.errors.messages[:voucher_id].each do |error|
                    %span.invalid-feedback.custom-validation= error
                .col-3.float-right{style: 'margin-top: 32px'}
                  %button.btn.btn-tms-unable-submit.btn-voucher.border-radius-8{"data-target" => "#send-voucher", "data-backdrop" => "static", "data-toggle" => "modal", type: "button", disabled: true} Gửi voucher
                  = f.hidden_field :voucher_object_id, value: nil
                  = f.hidden_field :disable_send_voucher, value: false
          - if @deal.state == 'canceled'
            .form-group
              = f.label :note, 'Ghi chú', class: 'reti-color-label'
              = f.text_area :note, class: 'form-control h-38', placeholder: 'Thêm ghi chú...'
              - f.object.errors.messages[:note].each do |error|
                %span.invalid-feedback.custom-validation= error
    .d-flex.justify-content-center.mt-2
      %button.btn.border-radius-8.font-weight-500.cancel-cs-ticket-modal{type: "button"} Huỷ
      %button.btn.btn-tms-unable-submit.btn-save-modal.border-radius-8.ml-3.font-weight-500.border-0{"data-disable-with" => 'Lưu', type: "submit", disabled: true, style: 'padding: 12px 42px !important'} Lưu