= form_with model: [:admin, deal, feedback], class: 'new-feedback' do |f|
  .row.group-form.mt-3
    .col-12
      .form-group
        .fields
          = f.text_field :created_by_id, hidden: true, value: current_user.id, id: "feedback-user"
          .row{style: "text-align: left;"}
            .col-12
              = f.label :title, 'Tiêu đề', class: 'detail-item-heading-sub'
              = f.text_field :title, class: 'form-control', id: "feedback-title"
              - f.object.errors.messages[:title].each do |error|
                %span.invalid-feedback.custom-validation= error

            .col-12
              = f.label :content, 'Phản hồi của KH', class: 'detail-item-heading-sub'
              = f.text_area :content, class: 'form-control', id: "feedback-content"
              - f.object.errors.messages[:content].each do |error|
                %span.invalid-feedback.custom-validation= error

            %button.save-feedback.d-none
              save