.new-customer-group-body
  = form_with model: [:admin, @customer ||= Customer.new], class: 'form-customer' do |f|
    = hidden_field_tag :form_id, :quick_create
    = f.hidden_field :data_source
    = hidden_field_tag :is_mobile, browser.device.mobile?
    = hidden_field_tag :deal_id, @deal&.id
    .row
      .col
        .form-group
          = f.label :name do
            Tên khách hàng
            %span.required
              *
          = f.text_field :name, class: 'form-control'
          - f.object.errors.messages[:name].each do |error|
            %span.invalid-feedback.custom-validation= error
        .form-group
          = f.label :phone_number  do
            Số điện thoại
            - unless current_user.marketing? || current_user.super_admin? || current_user.bi_ba? || current_user.sale_admin?
              %span.required
                *
          .input-group-prepend
            = f.select :country_code, options_for_select(Phonelib.phone_data.map{|k,v| [ "+#{ISO3166::Country.new(k)&.country_code}", k] if ISO3166::Country.new(k)&.local_name}.compact, 'VN' ), {}, {class: 'form-control tms-select2-customer', style: "width: 30%; margin-right: 10px;"}
            %div{class: f.object.errors.messages[:phone_number].present? ? 'field_with_errors' : '', style: "width: 100%; padding-left: 10px;"}
              = f.text_field :phone_number, class: 'form-control not_default_error'
              - f.object.errors.messages[:phone_number].each do |error|
                %span.invalid-feedback.custom-validation
                  = error.html_safe
                  %i.tms.tms-info{"data-toggle": "tooltip", "data-placement": "top", "title": "Click vào Tên khách hàng để kết nối giao dịch với khách hàng này", "data-html": "true", class: "#{f.object.same_customer ? '' : 'd-none'}"}
    .row
      .col-12
        .form-group{style: 'text-align: center'}
          %button.btn.btn-save-customer.btn-kanban-danger.font-size-16.tms-line-height-22.pl-3.pr-3.btn_save_has_phone{type: 'submit'}
            %i.fas.fa-cloud-upload-alt
            Lưu lại