= form_with model: [:admin, deal, appointment], class: 'new-appointment' do |f|
  .row.group-form.mt-3
    .col-12
      .form-group
        .fields{style: "text-align: left;"}
          = f.text_field :created_by_id, hidden: true, value: current_user.id, id: "user-#{f.object.id}"
          = f.hidden_field :flag, value: true
          .row
            .col-12.form-group
              = f.label :content, 'Nội dung:', class: 'detail-item-heading-sub'
              = f.text_field :content, class: 'form-control', id: "content"
              - f.object.errors.messages[:content].each do |error|
                %span.invalid-feedback.custom-validation= error
            .col-12.form-group
              = f.label :appointment_date, 'Ngày gặp:', class: 'detail-item-heading-sub'
              = f.text_field :appointment_date, value: f.object.appointment_date&.localtime&.strftime('%d/%m/%Y %H:%M'), class: 'form-control datetimepicker', id: "date", 'data-time': f.object.appointment_date && f.object.appointment_date < Time.now ? 'late' : 'note-late'
              - f.object.errors.messages[:appointment_date].each do |error|
                %span.invalid-feedback.custom-validation= error
          .row.d-none
            .col-12.form-group
              %br
              - Constant::APPOINTMENT_STATE.each_with_index do |state, i|
                = f.radio_button :state, state.first, class: 'tms-icheck-tab not_default_error', data: {skin: 'square', color: 'blue'}, id: "state"
                = f.label :state, state.last, class: 'margin-right-5 not_default_error'
              - f.object.errors.messages[:state].each do |error|
                %span.invalid-feedback.custom-validation= error
          .row.result.d-none{style: "text-align: left;"}
            .col-12.form-group
              = f.label :result, 'Kết quả', class: 'detail-item-heading-sub'
              = f.text_area :result, class: 'form-control result-appointment', id: "result"
              - f.object.errors.messages[:result].each do |error|
                %span.invalid-feedback.custom-validation= error




              %button.save-appointment.d-none
                save