- if call.present?
  .new-call-group-body
    = form_with model: [:admin, deal, call], class: 'form-call' do |f|
      = hidden_field_tag :form_id, :quick_create_call
      = hidden_field_tag :result_type, result_type
      = f.hidden_field :created_by_id, value: current_user.id
      .row
        .col
          - if result_type == 'contacted'
            .form-group
              %label Giới tính khách hàng
              = select_tag 'gender', options_for_select(Constant::CUSTOMER_GENDER.invert, deal.customer&.gender), class: 'form-control select-gender'
          .form-group
            = f.label :result, 'Kết quả', class: 'detail-item-heading-sub'
            = f.text_field :result, value: f.object.result || Constant::CONTACT_STATUSES[option], class: 'form-control'
            - f.object.errors.messages[:result].each do |error|
              %span.invalid-feedback.custom-validation= error
          .form-group
            = f.label :contact_date, 'Ngày giờ gọi', class: 'detail-item-heading-sub'
            = f.text_field :contact_date, value: f.object.contact_date&.localtime&.strftime('%d/%m/%Y %H:%M') || Time.now&.localtime&.strftime('%d/%m/%Y %H:%M'), class: 'form-control datetimepicker', id: "date-#{f.object.id}"
            - f.object.errors.messages[:contact_date].each do |error|
              %span.invalid-feedback.custom-validation= error
      .row
        .col-12
          .form-group{style: 'text-align: center'}
            %button.btn.btn-kanban-border-danger.font-size-16.tms-line-height-22.pl-3.pr-3.mr-2{type: 'button', id: 'new-call-cancel-btn'}
              Huỷ
            %button.btn.btn-save-customer.btn-kanban-danger.font-size-16.tms-line-height-22.pl-3.pr-3{type: 'submit'}
              %i.fas.fa-cloud-upload-alt
              Lưu lại
