.transfer-history-body
  - @transfer_histories.each do |history|
    .row
      .col-12.d-flex
        - if history.id == @transfer_histories.last.id && @transfer_histories.size > 1
          .fc
            %span.d-block.leg-col-min
            .bc-primary
              %span.d-block{style: 'width: 16px; height: 16px;'}
            - if history.id != @transfer_histories.last.id
              %span.d-block.leg-col
        - else 
          .fc.pt-1
            .bc-primary
              %span.d-block{style: 'width: 16px; height: 16px;'}
            - if history.id != @transfer_histories.last.id
              %span.d-block.leg-col
        .d-flex
          .row
            .col-12
              %label.float-left.font-weight-bold{id: "history-interaction"}
                #{history.created_at.strftime('%d/%m/%Y')}
            .col-12
              .form-group.pb-2
                - if @deal.id == history.deal_id
                  %div
                    Giao dịch đã chuyển nhượng sang giao dịch:
                    %a{href: edit_admin_deal_path(history.transferred_id)} ##{history.transferred_id}
                - else
                  %div
                    %span Giao dịch được chuyển nhượng từ giao dịch gốc: 
                    %a{href: edit_admin_deal_path(history.deal_id), target: '_blank'}  ##{history.deal_id}
