- content_for :content_header do
  .col-sm-6
    %h1.m-0.text-dark Giao dịch hoàn thành
  .col-sm-6
    .export-deals.dropdown
      %button#dropdown-export-deals.dropdown-toggle.btn.btn-export-deals.float-right{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
        = image_tag 'down-arrow-white.svg', class: 'btn-export-deals-icon'
        %span{style: 'padding-top: 5px'} Xuất file excel
      .dropdown-menu.dropdown-menu-right.p-0{"aria-labelledby": "dropdown-export-deals", style: 'width: 342px;'}
        .dropdown-menu-header
          %input{autofocus: "autofocus", id: 'export-deals-search', class: 'form-control search typeahead m-3', style: 'width: -webkit-fill-available', type: 'search', placeholder: 'Nhập từ khóa tìm kiếm'}
        .dropdown-menu-body.dropdown-scroll
          .export-deals-list-field
            .dropdown-title.custom-text-color.font-weight-500.pl-3 Trường thông tin mặc định
            .custom-list-dropdown-checkbox.mt-2.pl-3
              - Deal::LIST_FIELDS.each_with_index do |field, index|
                %label.container.dropdown-checkbox.mb-0.custom-text-color{style: "#{'font-weight: 400'}", class: "#{'d-none' if index > 2}"}
                  = field.second
                  %input.dropdown-item-checkbox{type: "checkbox", value: field.first, name: 'deal_fields[]', checked: true, disabled: true}
                  = image_tag 'checkbox-checked.svg', class: 'dropdown-image-checkbox-checked'
              .text-reti-primary.pb-2.pt-1.expand-collapse-export-deals.cursor-pointer Mở rộng
          .custom-list-dropdown-checkbox.export-deals-optional-list-field.mt-2.pl-3
            %label.container.dropdown-checkbox.mb-0.custom-text-color{style: "#{'font-weight: 400'}"}
              Chọn tất cả
              %input.dropdown-item-checkbox.option-check-all{type: "checkbox", name: 'deal_fields[]', check_all: 'false', value: 'check_all'}
              %span.checkmark
            .list-field-not-check-all
              - Deal::OPTION_LIST_FIELDS.sort_by{ |f| f.second}.to_h.each do |field|
                %label.container.dropdown-checkbox.mb-0.custom-text-color{style: "#{'font-weight: 400'}"}
                  = field.second
                  %input.dropdown-item-checkbox{type: "checkbox", value: field.first, name: 'deal_fields[]'}
                  %span.checkmark
          .ml-3.dropdown_empty{style: "display:none;"} Không có kết quả tìm kiếm
        .dropdown-menu-bottom
          .d-flex.m-3
            .remove-option-export-deals.p-2{disabled: true} Bỏ chọn
            %button.btn.ml-auto.btn-reti-primary.submit-export-deals{"complete_deals": "true" } Xuất file
- content_for :content_body do
  .card.mt-2
    .card-body.pl-0
      = render 'form_search_filter_complete_deals'
  #deal-container
    = render 'complete_deals'
