- if @deal.source.present?
  showLoading(false);
  // Render flash message
  - if params[:action] == 'update_state'
    kanban_item = "#{j render 'kanban_refresh_item', deal: @deal}";
    $(`.kanban-item[data-id="#{@deal.id}"]`).replaceWith(kanban_item);
  - if flash
    $('#flash-message').html("#{j render('layouts/tms_flash')}");
    :plain
      $('.wrapper').scrollTop();
  - flash.clear

  - if @deal.valid?
    :plain
      $('.deal-invalid-warning').hide();
      $('.deal-invalid-warning-desktop').hide();
  - if @deal.state_changed? && (@is_edit_general || @is_edit_customer)
    :plain
      $('.deal-invalid-warning').show();
      $('.deal-invalid-warning-desktop').show();
  // Refactor common render
  html_labels = ''
  - @deal.display_labels.each do |label|
    html_labels += "<div class='font-size-16 status status-label #{@deal.display_label_class(label)}'>#{label}</div>"
  $(".ticket-labels .statuses-container").html(html_labels);

  - if @deal.suggestive_name.present?
    $(".suggestive-name").text("(#{@deal.suggestive_name})");
    $(".suggestive-name").css('display', 'block');
  - else
    $(".suggestive-name").css('display', 'none');

  - if @deal.display_labels.first.present?
    $(".ticket-labels .statuses-container").show();
  - else
    $(".ticket-labels .statuses-container").hide();

  $("#form_deal_header").html("#{j render('form_deal_header')}");

  // - if @deal.state_changed? && @deal.invalid?
  //   $('select[name="deal[state]"]').val("#{@deal.state_was}");

  // Refactor render specific form
  - if @deal.is_general_form? || @is_edit_general || @refresh || @reload_general_form
    - if browser.device.mobile?
      $('#general-info-content').html("#{j render('admin/deals/mobile/form_general')}");
    - else
      $('#general-info-content').html("#{j render('form_general')}");
    - if params[:deal].present?
      - if params[:deal][:contact_status_when_update].present?
        - if browser.device.mobile?
          $('#deal-state-form').html("#{j render('admin/deals/mobile/form_deal_state')}");
        - else
          $('#deal-state-form').html("#{j render('form_deal_state')}");
      :plain
          getDataAssignee();
          // Init source select2
          if ($('.source-select2').length > 0) {
            $('.source-select2').select2({
              theme: 'bootstrap',
              language: 'vi',
              width: '100%',
              placeholder: 'Vui lòng chọn'
            }).data('select2').$container.addClass("container-source-select2");
          }

          // Re-init create date picker
          if($("#deal_created_at_mobile").length > 0){
            $("#deal_created_at_mobile").cityPicker({
              element: "#create_deal_date",
              onClose: function(){},
              onSubmit: function(){
                let dealId = $('#modal-edit').data('id');
                let data = { deal: { create_deal_date: $('#create_deal_date').val() }};
                let successCallback = function() {
                  $('#deal_created_at_mobile').find('.text-display').html($('#create_deal_date').val());
                  $('#deal_created_at_mobile .btn-edit-mobile').remove();
                  $('#deal_created_at_mobile').removeAttr('id');
                }
                $ajax(`/deals/${dealId}/update_create_date`, 'patch', data).then(successCallback, '');
              },
            })
          }

          // tms-deal-form
          var sheet = document.createElement('style'),
            $rangeInput = $('.range input'),
            prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];
          document.body.appendChild(sheet);
          var getTrackStyle = function (el) {
            var curVal = el.value,
              val = (curVal - 1) * 11.1111111,
              style = '';
            // Set active label
            $('.range-labels li').removeClass('active selected');
            var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');
            curLabel.addClass('active selected');
            curLabel.prevAll().addClass('selected');
            // Change background gradient
            for (var i = 0; i < prefs.length; i++) {
              style += '.range {background: linear-gradient(to right, #56C5D0 0%, #56C5D0 ' + val + '%, #fff ' + val + '%, #fff 100%)}';
              style += '.range input::-' + prefs[i] + '{background: linear-gradient(to right, #56C5D0 0%, #56C5D0 ' + val + '%, #E9EAED ' + val + '%, #E9EAED 100%)}';
            }
            return style;
          }
          $rangeInput.on('input', function () {
            sheet.textContent = getTrackStyle(this);
          });
          // Change input value on label click
          $('.range-labels li').on('click', function () {
            var index = $(this).index();
            $rangeInput.val(index + 1).trigger('change');
          });
    - if (@stop_change_state)
      :plain
        $('input[name="drag_state_changed').val('');
    :plain
      if ($('[name="deal[suggestive_name]"]').val()) {
        let suggestive_name = $('[name="deal[suggestive_name]"]').val();
        let dealId = $('[name="deal[suggestive_name]"]').data('id');
        $(`.deal-sub-name-text-${dealId}`).text(`(${suggestive_name})`);
      }

      // Chọn chi tiết vướng mắc
      $('.select2-deal-trouble-problem-list').select2({
        theme: 'bootstrap',
        language: 'vi',
        placeholder: $('.select2-deal-trouble-problem-list').attr('disabled') ? 'Chưa cập nhật' : 'Vui lòng chọn',
      }).on("change", function () {
        if(_.includes($(this).val(), '5')){
          $('.trouble-problem-group').show();
        }else{
          $('.trouble-problem-group').hide();
        }
        setTimeout(function() {
          $('.select2-container-active').removeClass('select2-container-active');
          $(':focus').blur();
          $('#deal_trouble_problem').val('').focus();
        }, 1);
      });

      $('.select2-deal-project, .select2-deal-product, .select2-product-type, .select2-product-selection-criteria').select2({
        theme: 'bootstrap',
        language: 'vi',
        allowClear: true
      });

      $('.select2-deal-product').select2({
        ajax: {
          url: window.location.origin + '/deals/product_search',
          dataType: 'json',
          data: function (params) {
            var query = {
              search: params.term,
              project_id: $('#deal_project_id').val(),
              deal_id: $('#current_deal_id').val()
            }

            // Query parameters will be ?search=[term]
            return query;
          },
          processResults: function (data) {
            return {
              results: data
            };
          },
          cache: true
        },
        theme: 'bootstrap',
        language: 'vi',
        minimumInputLength: 1,
      });

      $('.select2-product-type').select2({
        ajax: {
          url: window.location.origin + '/deals/product_type_search',
          dataType: 'json',
          data: function (params) {
            var query = {
              search: params.term,
              project_id: $('#deal_project_id').val()
            }
            return query;
          },
          processResults: function (data) {
            return {
              results:  $.map(data, function (item) {
                          return {
                            text: item.text,
                            id: item.id,
                            criteria: item.criteria
                          };
                        })
            };
          },
          cache: true
        },
        theme: 'bootstrap',
        language: 'vi',
        minimumInputLength: 0,
      }).on('select2:select', function (e) {
        let data = e.params.data;
        $('.select2-product-selection-criteria').val(null).trigger('change');
        $('.select2-product-selection-criteria').html('').select2({data: [{id: '', text: ''}]});
        if (data.criteria != null) {
          $('.group-product-selection-criteria').removeClass('d-none');
          let options = [];
          $.each( data.criteria, function( key, value ) {
            options.push({id: key, text: value})
          });
          $('.select2-product-selection-criteria').select2({
            theme: 'bootstrap',
            language: 'vi',
            data: options
          });
        } else {
          $('.group-product-selection-criteria').addClass('d-none');
        }
      });

      var customerArr = [];
      $('.select2-deal-customer').select2({
        ajax: {
          url: window.location.origin + '/deals/customer_search',
          dataType: 'json',
          data: function (params) {
            var query = {
              search: params.term
            }
            // Query parameters will be ?search=[term]
            return query;
          },
          processResults: function (data) {
            customerArr = data;
            var dataResults = [];
            _.forEach(data, function(value) {
              value.html = '<div class="select2-customer-phone-result">' + value.text + '<p>- ' + value.phone_number + '</p></div>';
              value.title = value.text;
              dataResults.push(value);
            });
            return {
              results: dataResults
            };
          },
          cache: true
        },
        theme: 'bootstrap',
        language: 'vi',
        minimumInputLength: 1,
        escapeMarkup: function(markup) {
          return markup;
        },
        templateResult: function(data) {
          if (data.html == undefined) {
            return data.text;
          } else {
            return data.html;
          }
        },
        templateSelection: function(data) {
          return data.text;
        }
      }).on('change.select2', function(e) {
        let customer = customerArr.find(x => x.id == $(this).val());
        $('.deal-phone-number').val(customer != undefined ? customer.phone_number : '');
        $('.deal-customer-name').val(customer != undefined ? customer.text : '');
      });

      $(document).on('change', '.select2-deal-project', function () {
        let show_error = false;
        let field_with_errors;
        if ($('.select2-deal-product').closest('.form-group').find('.field_with_errors').length > 0) {
          field_with_errors = $('.select2-deal-product').closest('.form-group').find('.field_with_errors');
          show_error = true;
        }
        $('.select2-deal-product').val('').trigger('change');
        if (show_error) {
          field_with_errors.addClass('field_with_errors');
          $('.select2-deal-product').closest('.form-group').find('.invalid-feedback.custom-validation').css('display', 'block');
          countRequiredAttributes();
        }
      })

      // Quick create customer
      $(document).on('select2:open', '.select2-deal-customer', function (e) {
        let targetId = 'deal_customer';
        let $this = $(this);
        if (e.currentTarget.id == targetId) {
          let targetSelect = $(this).data('select2');
          if (!$('.select2-link').length && targetSelect.$results.parents('.select2-results').find('button').length == 0) {
            let addCustomerBtn = '<button name="button" type="button" class="btn btn-new-customer" style="width: 100%"><i class="fas fa-plus-circle"></i> Thêm khách hàng</button>';
            let newCustomerHtml = "#{escape_javascript(render('admin/deals/new_customer'))}";
            targetSelect.$results.parents('.select2-results')
              .append(addCustomerBtn)
              .on('click', function (b) {
                $this.select2('close');
                if ($(b.target).hasClass('btn-new-customer')) {
                  swalBootstrap.fire({
                    title: "Tạo khách hàng mới",
                    html: newCustomerHtml,
                    showConfirmButton: false,
                    showCloseButton: true,
                    allowOutsideClick: false,
                    focusConfirm: false,
                    onOpen: () => {
                      $('[name="customer[data_source]"]').val($('#input-hidden-source').val());
                      if ($('.tms-select2-customer').data('select2')) {
                        $('.tms-select2-customer').select2("destroy").select2();
                      } else {
                        $('.tms-select2-customer').select2();
                      }
                      swalBootstrap.getContent().querySelector('#customer_name').focus();
                      $('#customer_name').focus();
                    }
                  });
                }
              });
          }
        }
      });

  - if @deal.is_customer_form? || @is_edit_customer || @refresh || @reload_customer_form
    - if browser.device.mobile?
      $('#customer-info-content').html("#{j render('admin/deals/mobile/form_customer')}");
    - else
      $('#customer-info-content').html("#{j render('form_customer')}");
    - if (@stop_change_state)
      :plain
        $('input[name="drag_state_changed').val('')
    $('#current_hobbies').val("#{@current_hobbies}");
    $('#deal_gender').val("#{Constant::CUSTOMER_GENDER[@deal.customer_persona&.gender]}")
    :plain
      var typeToInvest = '[name="deal[customer_persona_attributes][real_estate_type_to_invest][]"]';
      $(typeToInvest).select2({
        theme: 'bootstrap',
        language: 'vi',
        placeholder: $(typeToInvest).attr('disabled') ? 'Chưa cập nhật' : 'Vui lòng chọn',
      });
      if ($('#deal_customer_persona_attributes_dob').closest('.field_with_errors').length > 0){
        $('#deal_customer_persona_attributes_dob').closest('.field_with_errors').css('flex', '1 1 0%');
        $('#deal_customer_persona_attributes_dob').css({'border-top-left-radius': '0', 'border-bottom-left-radius': '0'});
      }

      $(`#deal_customer_persona_attributes_dob`).inputmask("99/99/9999",{ "placeholder": "dd/mm/yyyy", "insertMode": "false", "prefillYear": false }).daterangepicker({
        singleDatePicker: true,
        opens: 'left',
        minYear: 2019,
        maxYear: 2119,
        drops: "up",
        autoUpdateInput: false,
        locale: {
          format: 'DD/MM/YYYY'
        }
      }).on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY'));
      })

      $(document).on('change', '.select2-region', function () {
        let parent = $(this);
        let children = parent.data("select-child-target");
        children.forEach(function (child) {
          let $child = $("#" + child);
          let $default_child_value = $("#" + child + "_default_value");
          let parent_selected_value = parent.children('option:selected').val();
          if (parent_selected_value !== null && parent_selected_value !== '') {
            $.ajax({
              method: 'POST',
              url: '/regions/get_regions',
              contentType: 'application/json',
              data: JSON.stringify({
                parent_id: parent_selected_value
              }),
              headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
              success: function (response) {
                if ($child.data('select2')) $child.empty();
                response.forEach(function (item) {
                  let option = `<option value="${item.id}">${item.name_with_type}</option>`;
                  $child.append(option);
                });
                if ($default_child_value !== undefined) {
                  $child.val($default_child_value.val());
                  $default_child_value.remove();
                }
              }
            })
          }
        })
      })

      initHobbiesSelect2();

  - if @deal.is_commission_form?
    $('#commission-content').html("#{j render('form_commission')}");
    :plain
      $('.input-price-decimal').inputmask({
        rightAlign: false,
        removeMaskOnSubmit: true,
        groupSeparator: '.',
        radixPoint: '',
        digit: 3,
        placeholder: ""
      });
      $(`#deal_contract_signed_at`).daterangepicker({
        singleDatePicker: true,
        opens: 'left',
        minYear: 2019,
        maxYear: 2119,
        drops: "up",
        autoUpdateInput: false,
        locale: {
          format: 'DD/MM/YYYY'
        }
      });
      $('#deal_contract_signed_at').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY'));
      })
      $('#deal_commission_attributes_reti_commission_rate_for_seller').on('input', function () {
        calculateSellerCommissionRateWillBeReceived()
      })
      $('#deal_commission_attributes_seller_commission_rate_from_reti').on('input', function () {
        calculateSellerCommissionRateWillBeReceived()
      })
      enableBtnCalculateTemporaryCommission()
      $('#deal_commission_attributes_seller_commission_rate_will_be_received').on('change keyup input', function () {
        enableBtnCalculateTemporaryCommission()
      })
      $('#deal_commission_attributes_price_to_calculate_commission_for_seller').on('change keyup input', function () {
        enableBtnCalculateTemporaryCommission()
      })

  - if @deal_update_comm
    swalUpdateCommission("#{@deal.id}")
  - if @is_edit_state || @refresh || @is_update_comm
    - if browser.device.mobile?
      $('#deal-state-form').html("#{j render('admin/deals/mobile/form_deal_state')}");
    - else
      $('#deal-state-form').html("#{j render('form_deal_state')}");
    :plain
      getDataAssignee();
      // Init source select2
      if ($('.source-select2').length > 0) {
        $('.source-select2').select2({
          theme: 'bootstrap',
          language: 'vi',
          width: '100%',
          placeholder: 'Vui lòng chọn'
        }).data('select2').$container.addClass("container-source-select2");
      }

      // Re-init create date picker
      if($("#deal_created_at_mobile").length > 0){
        $("#deal_created_at_mobile").cityPicker({
          element: "#create_deal_date",
          onClose: function(){},
          onSubmit: function(){
            let dealId = $('#modal-edit').data('id');
            let data = { deal: { create_deal_date: $('#create_deal_date').val() }};
            let successCallback = function() {
              $('#deal_created_at_mobile').find('.text-display').html($('#create_deal_date').val());
              $('#deal_created_at_mobile .btn-edit-mobile').remove();
              $('#deal_created_at_mobile').removeAttr('id');
            }
            $ajax(`/deals/${dealId}/update_create_date`, 'patch', data).then(successCallback, '');
          },
        })
      }

      // tms-deal-form
      var sheet = document.createElement('style'),
        $rangeInput = $('.range input'),
        prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];
      document.body.appendChild(sheet);
      var getTrackStyle = function (el) {
        var curVal = el.value,
            val = (curVal - 1) * 11.1111111,
            style = '';
        // Set active label
        $('.range-labels li').removeClass('active selected');
        var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');
        curLabel.addClass('active selected');
        curLabel.prevAll().addClass('selected');
        // Change background gradient
        for (var i = 0; i < prefs.length; i++) {
          style += '.range {background: linear-gradient(to right, #56C5D0 0%, #56C5D0 ' + val + '%, #fff ' + val + '%, #fff 100%)}';
          style += '.range input::-' + prefs[i] + '{background: linear-gradient(to right, #56C5D0 0%, #56C5D0 ' + val + '%, #E9EAED ' + val + '%, #E9EAED 100%)}';
        }
        return style;
      }
      $rangeInput.on('input', function () {
        sheet.textContent = getTrackStyle(this);
      });
      // Change input value on label click
      $('.range-labels li').on('click', function () {
        var index = $(this).index();
        $rangeInput.val(index + 1).trigger('change');
      });

  // Trigger after render form
  // TODO: Lock version
  $('#modal-edit [name="deal[lock_version]"]').val("#{@deal.lock_version}");

  :plain
    var prevInteractionStatus = '';
    $(document).on('select2:selecting', '#deal_interaction_status', function () {
      prevInteractionStatus = $(this).val();
    });

  // Common js
  :plain
    countRequiredAttributes();

    $('.tms-select2').select2({
      theme: 'bootstrap',
      language: 'vi',
    });

    if ($(".tms-icheck").length > 0) {
      $(".tms-icheck").each(function () {
        var $el = $(this);
        var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
          color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
        var opt = {
          checkboxClass: 'icheckbox' + skin + color,
          radioClass: 'iradio' + skin + color,
        };
        $el.iCheck(opt);
      });
    }

    $('.datetimepicker').datetimepicker({
      format: 'd/m/Y H:i',
      lang: 'vi'
    });
- else
  :plain
    showLoading(false);
    Swal.fire({
      position: 'center',
      icon: 'error',
      title: "Bạn cần nhập nguồn",
      showConfirmButton: false,
      showClass: {
        popup: 'swal-create-customer',
      },
      timer: 2000
    });

- if browser.device.mobile?
  - if @is_edit_general
    :plain
      if(!$("#general-info").hasClass('active') && !($(".dropdown-item[href='#customer-portrait']").hasClass('active') && $('.btn-deal-save').is(":visible"))) {
        $(".dropdown-item[href='#general-info']").click();
      }
  - elsif @is_edit_customer
    :plain
      if(!$("#customer-portrait").hasClass('active') && !($(".dropdown-item[href='#general-info']").hasClass('active') && $('.btn-deal-save').is(":visible"))) {
        $(".dropdown-item[href='#customer-portrait']").click();
      }
  :plain
    mobileAutoFocusWhenError();
- else
  - if @is_edit_general
    :plain
      if(!($('#customer-portrait-tab').hasClass('active') && $('#customer-info-content form').find('input[name="save"]').is(":visible"))) {
        $('#general-info-tab').click();
      }
  - elsif @is_edit_customer
    :plain
      if(!($('#general-info-tab').hasClass('active') && $('#general-info-content form').find('input[name="save"]').is(":visible"))) {
        $('#customer-portrait-tab').click();
      }
  :plain
    desktopAutoFocusWhenError();
:plain
  $('textarea').each(function () {
    this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = '38px';
      this.style.height = (this.scrollHeight) + 'px';
    });