- content_for :content_header do
  .col-sm-12.mt-2
    - if params[:return].present?
      %a.main-header--back{href: admin_cs_tickets_path}
        %i.fas.fa-chevron-left
          Trở lại danh sách
    - else
      %a.main-header--back{href: current_user.agent? ? complete_deals_admin_deals_path(state: params[:state], source: params[:source], project: params[:project], assignee: params[:assignee], label: params[:label], purchase_purpose: params[:purchase_purpose], product_type: params[:product_type], created_at: params[:created_at], updated_at: params[:updated_at], balcony_direction: params[:balcony_direction], door_direction: params[:door_direction], view_mode: params[:view_mode], order_by: params[:order_by], sort: params[:sort]) : admin_deals_path(state: params[:state],
       source: params[:source], project: params[:project], assignee: params[:assignee], label: params[:label], purchase_purpose: params[:purchase_purpose], product_type: params[:product_type], created_at: params[:created_at], updated_at: params[:updated_at], balcony_direction: params[:balcony_direction], door_direction: params[:door_direction], view_mode: params[:view_mode], order_by: params[:order_by], sort: params[:sort])}
        %i.fas.fa-chevron-left
          Trở lại danh sách

- content_for :content_body do
  #modal-edit.modal-content.view-mode{role: "dialog", tabindex: "-1", "data-keyboard": "false", "data-backdrop": "static", 'data-id': @deal.id, 'data-state': @deal.state, 'data-error': @msg_error}

    .modal-header#form_deal_header.d-block.tms-pb-26{style: 'border-bottom: none'}
      = render 'form_deal_header'
    .modal-body.p-0.overflow-hidden#form-update-deal
      .d-flex.m-0
        .flex-70.kanban-scroll{style: "height:calc(100vh - 230px); overflow: auto"}
          #deal-detail-form.deal-detail-target-blank
            = render 'form_deal_detail'
        .flex-30.kanban-bg-gray.kanban-scroll{style: "max-height:calc(100vh - 230px); overflow: auto"}
          #deal-state-form
            = render 'form_deal_state'
      .d-none
        = render 'new_customer'
      .d-none
        = render 'transfer_histories'
  :javascript
    $(document).on('turbolinks:load', function() {
      $('body').addClass('body-kanban');
      if ($('.source-select2').length > 0) {
        $('.source-select2').select2({
          theme: 'bootstrap',
          language: 'vi',
          width: '100%',
          placeholder: 'Vui lòng chọn',
        }).data('select2').$container.addClass("container-source-select2");
      }

      $('.select2-deal-trouble-problem-list').select2({
        theme: 'bootstrap',
        language: 'vi',
        placeholder: $('.select2-deal-trouble-problem-list').attr('disabled') ? 'Chưa cập nhật' : 'Vui lòng chọn',
      })
    });

    $('textarea').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = '38px';
      this.style.height = (this.scrollHeight) + 'px';
    });

    // window.history.pushState({}, '', window.location.origin + window.location.pathname);
    countRequiredAttributes();

  - if @is_edit_general
    :javascript
      if(!($('#customer-portrait-tab').hasClass('active') && $('#customer-info-content form').find('input[name="save"]').is(":visible"))) {
        $('#general-info-tab').click();
      }
  - elsif @is_edit_customer
    :javascript
      if(!($('#general-info-tab').hasClass('active') && $('#general-info-content form').find('input[name="save"]').is(":visible"))) {
        $('#customer-portrait-tab').click();
      }
      $(`#deal_customer_persona_attributes_dob`).inputmask("99/99/9999",{ "placeholder": "dd/mm/yyyy", "insertMode": "false", "prefillYear": false }).daterangepicker({
        singleDatePicker: true,
        opens: 'left',
        minYear: 2019,
        maxYear: 2119,
        drops: "up",
        autoUpdateInput: false,
        locale: {
          format: 'DD/MM/YYYY'
        }
      }).on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY'));
      })
      if ($('#deal_customer_persona_attributes_dob').closest('.field_with_errors').length > 0){
        $('#deal_customer_persona_attributes_dob').closest('.field_with_errors').css('flex', '1 1 0%');
        $('#deal_customer_persona_attributes_dob').css({'border-top-left-radius': '0', 'border-bottom-left-radius': '0'});
      }
