- if (flash[:error])
  :plain
    Swal.fire({
      position: 'center',
      icon: 'error',
      title: "#{flash[:error]}",
      showConfirmButton: false,
      showClass: {
        popup: 'swal-create-customer',
      },
      timer: 2000
    });
- flash.clear