$("#kanban-list").html("#{j render('kanban')}");
$("#list-view").html("#{j render('list_view')}");
$(".total_deal").html("#{j render('total_deal')}");
- if params[:project].present? || params[:assignee].present? || params[:state].present? || params[:source].present? || params[:label].present? || params[:group].present? || params[:purchase_purpose].present? || params[:product_type].present? || params[:door_direction].present? || params[:balcony_direction].present?
  $('.btn-clear-filter').show();
- if @clear_filter
  :plain
    firstLoad = true;
    $('.typeahead').typeahead('val', '');
    _.forEach(select2List, function(filterValue, filterKey) {
      $('.select2-search-' + filterKey).val(null).trigger('change');
    });
    $('.add-filter-class-0, .add-filter-class-1, .add-filter-class-2, .add-filter-class-3, .add-filter-class-4, .add-filter-class-5, .add-filter-class-6, .add-filter-class-7, .add-filter-class-8').hide();
    $('.select2-search-filter').val(null).trigger('change');
    resetDaterange('created-at');
    resetDaterange('updated-at');
    firstLoad = false;
    $('.btn-clear-filter').hide();
:plain
  $('.tms-datatables-scroll').DataTable({
    "bInfo": false,
    "lengthChange": false,
    "searching": false,
    "scrollX": true,
    "autoWidth": true,
    responsive: true,
    "fixedHeader": {
      "header": false,
    },
    "language": {
      "decimal": ",",
      "thousands": ".",
      "emptyTable": "Không có dữ liệu!",
      "search": "Tìm kiếm:",
      "info": "_START_ - _END_ trong _TOTAL_ kết quả",
      "infoEmpty": "0 trên 0 kết quả",
      "infoFiltered": "(được lọc từ _MAX_ kết quả)",
      "lengthMenu": "Hiển thị _MENU_ kết quả",
      "zeroRecords": "Không tìm thấy kết quả!",
      "paginate": {
        "previous": '<i class="fas fa-angle-left"></i>',
        "next": '<i class="fas fa-angle-right"></i>'
      }
    }
  });
  showLoading(false);
  if ($('.init-kanban-deals').length) {
    let userAgent = navigator.userAgent.toLowerCase();
    let iOS = /(ipad|iphone|ipod)/g.test(userAgent) || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1);
    let android = /(android)/g.test(userAgent);
    let isMobile = iOS || android;
    if (!isMobile) {
      let other_column;
      let pre_state;
      $('.kanban-body-container').sortable({
        containment: '.content',
        forcePlaceholderSize: true,
        zIndex: 1,
        placeholder: 'sort-highlight',
        start: function(event, ui) {
          ui.item.addClass('item-sorting');
          pre_state = ui.item.closest('.kanban-col').data('state');
        },
        stop: function(event, ui) {
          ui.item.removeClass('item-sorting');
          let nextState = ui.item.closest('.kanban-col').data('state');
          if (nextState == 'canceled' && other_column) {
            swalCancelReason($(this), ui.item);
          }
          if ((pre_state == 'canceled' || pre_state == 'uninterested') && other_column) {
            $(this).sortable('cancel');
          }
        },
        update: function(event, ui) {
          if (ui.sender == null) {
            // cap nhat vi tri
            let deal_id_current = ui.item.attr('data-id');
            let deal_id_above = null;
            if (ui.item.prev()) {
              deal_id_above = ui.item.prev().attr('data-id');
            }
            let state_update = ui.item.closest('.kanban-col').attr('data-state');
            if (other_column) {
              if (pre_state != 'canceled' && pre_state != 'uninterested' ) {
                if (ui.item.closest('.kanban-col').data('state') != 'canceled' && ui.item.closest('.kanban-col').data('state') != 'uninterested') {
                  $.changeState({
                                  deal_id: deal_id_current,
                                  deal_id_above: deal_id_above,
                                  state: state_update
                                });
                  $(`.kanban-col[data-state="${pre_state}"]`).find('.num-item').html('(' + (parseInt($(`.kanban-col[data-state="${pre_state}"]`).find('.num-item').text().replace("(", "").replace(")", "")) - 1) + ')');
                  $(`.kanban-col[data-state="${state_update}"]`).find('.num-item').html('(' + (parseInt($(`.kanban-col[data-state="${state_update}"]`).find('.num-item').text().replace("(", "").replace(")", "")) + 1) + ')');
                }
              }
            } else {
              $.reorder({
                          deal_id: deal_id_current,
                          deal_id_above: deal_id_above,
                          state: state_update
                        });
            }
          }
        },
        beforeStop: function(ev, ui) {
          ui.item.removeClass('item-sorting');
          other_column = $(ui.placeholder).parent()[0] !== undefined && $(ui.placeholder).parent()[0] != this
        },
        connectWith: ".container-sortable",
        items: '>.kanban-item'
      }).disableSelection();
      setHeightKanbanColumn();
      if (window.location.href.indexOf('order_by') != -1) $('.kanban-body-container').sortable("disable");
    }
  }

  $('.kanban-col').each(function(){
    if ($(this).data('state') == 'request_recall') {
      $(this).find('.kanban-item').addClass('disabled-sort');
    }
  })

  if ($('.kanban-ticket').length){
    $('body').addClass('body-kanban');
  }

  $('#modal-detail').on('hide.bs.modal', function (event) {
    $('.kanban-item').removeClass('active');
    $('.btn-show-detail i').removeClass('fa-chevron-left').addClass('fa-chevron-right');
  })
  $('#modal-assign').on('hide.bs.modal', function (event) {
    $('.kanban-item').removeClass('active');
  })
  if ($('.tms-flash-notice').length > 0 || $('.tms-flash-alert').length > 0) {
    $('.kanban-ticket').addClass('has-flash');
  }
  if (getDevice() == 'tablet') {
    $('.show-deal-detail').addClass('d-none');
  }
  if (!isMobile) {
    setHeightKanbanColumn();
  }
  $(".init-kanban-deals").on( 'scroll', function(){
    if($(this).scrollTop() + $(this).innerHeight() + 200 >= $(this)[0].scrollHeight ) {
      loadmore_deals();
    }
  })
  $('.table-hover tbody tr td').each(function () {
    if ($(this).find('a.btn-edit').length == 0) {
      $(this).click(function () {
        if ($(this).parent().find('.btn-edit').length > 0) {
          $(this).parent().find('.btn-edit')[0].click();
        }
      })
    }
  })
