- if @deal
  - unless @user_update == current_user
    :plain
      $.ajax({
        url: '/deals/get_all_deal_by_query?query='+$('#deal-search').val(),
        data: {
          format: 'json'
        },
        success: function(data) {
          if( _.find(data, ['id', parseInt("#{@deal.id}")]) === 'undefined' ){
            $(`.kanban-item[data-id="#{@deal.id}"]`).remove();
          }else{
            let current_item = $(`.kanban-item[data-id="#{@deal.id}"]`);
            let state_new = "#{@deal.state}";
            let kanban_col = $(`.kanban-col[data-state="${state_new}"]`);
            let kanban_item = "#{j render 'kanban_refresh_item', deal: @deal}";
            if (current_item.length){
              let old_state = current_item.closest('.kanban-col').data('state');
              if (old_state != state_new){
                if (kanban_col.find(`.kanban-item[data-id="#{@deal.id}"]`).length == 0) {
                  kanban_col.find('.kanban-body-container').prepend(current_item);
                }
              }
              $(`.kanban-item[data-id="#{@deal.id}"]`).replaceWith(kanban_item);
            } else {
              if (kanban_col.find(`.kanban-item[data-id="#{@deal.id}"]`).length == 0) {
                kanban_col.find('.kanban-body-container').prepend(kanban_item);
              }
            }
          }
          setNumColumn();
          setHeightKanbanColumn();
        }
      });
- else
  :plain
    $(`.kanban-item[data-id="#{params[:id]}"]`).remove();
    setNumColumn();
    setHeightKanbanColumn();
