- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark Tạo mới giao dịch
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_deals_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  #modal-edit.modal-content.view-mode{role: "dialog", tabindex: "-1", "data-keyboard": "false", "data-backdrop": "static", 'data-id': @deal.id, 'data-state': @deal.state, 'data-error': @msg_error}
    .modal-body.p-0.overflow-hidden#form-update-deal
      .m-0
        .kanban-scroll{style: "height:calc(100vh - 230px); overflow: auto"}
          #deal-detail-form.deal-detail-target-blank
            .kanban-scroll
              .deal-session.tms-p-16.modal-edit
                %ul.nav.nav-pills{style: "border-bottom: 1px solid rgba(0, 0, 0, 0.1);"}
                  %li.nav-item
                    %a#general-info-tab.nav-link.position-relative.active{href: "#general-info", "aria-controls" => "general-info", "aria-selected" => "true", "data-toggle" => "pill", role: "tab" }
                      %span.badge.badge-danger.tab-highlight{class: (@is_edit_general && @flash_general.to_i > 0) ? '' : 'd-none' }
                        = @flash_general
                      Thông tin chung
                .tab-content
                  #general-info.tab-pane.fade.show.active{"aria-labelledby" => "general-info-tab", role: "tabpanel"}
                    #general-info-content
                      = form_with model: [:admin, @deal], local: true do |f|
                        = f.hidden_field :lock_version
                        = hidden_field_tag :form_id, :deal_detail, id: 'deal-detail-form-id'
                        = hidden_field_tag :contact_status_changed
                        = hidden_field_tag :drag_state_changed, @drag_state_changed
                        = hidden_field_tag :deal_update_comm, @deal_update_comm
                        = hidden_field_tag :current_deal_id, @deal&.id
                        = hidden_field_tag :form, :general, id: 'form_general'
                        .row.m-0
                          .detail-item.w-100
                            .detail-item-heading.font-weight-bold.pr-2.pb-3
                              = f.hidden_field :allow_duplicate, value: @allow_duplicate
                              = f.submit 'Lưu lại', name: 'save', class: 'btn btn-kanban-danger font-size-16 tms-line-height-22 pl-3 pr-3 float-right'
                        .row.m-0
                          .col-12
                            .form-group
                              = f.label :suggestive_name, 'Tên gợi nhớ'
                              = f.text_field :suggestive_name, value: @deal&.suggestive_name, class: 'form-control deal-suggestive-name', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', 'data-id': @deal.id
                              - f.object.errors.messages[:suggestive_name].each do |error|
                                %span.invalid-feedback.custom-validation= error
                        .detail-item-sub-heading.d-flex.justify-content-between
                          .font-weight-bold.mt-2 1. Thông tin chính
                          .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#primary-info", 'aria-expanded': "false", 'aria-controls': "primary-info"}
                        #primary-info.collapse.show
                          .row.m-0.pt-2.project-select-group{class: "#{'input-hidden' if @deal.is_external_project}"}
                            .col-6
                              .form-group.mb-0
                                = f.label :project_id, 'Dự án quan tâm', class: 'label-required'
                                = f.select :project_id, options_for_select(@projects, @deal.project_id), {include_blank: 'Vui lòng chọn'}, { class: 'form-control select2-deal-project', data: {'select-child-target': ['deal_product_id']}, 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:project_id].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                            .col-6
                              .form-group.mb-0
                                = f.label :product_id, 'Mã sản phẩm', class: f.object.label_required('product_id')
                                = f.select :product_id, options_for_select([[@deal.product&.code, @deal.product&.id]], @deal.product&.id), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-deal-product', 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:product_id].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          .row.m-0.pt-2.pb-2
                            - unless Deal.find_by(id: @deal.id)&.project_id
                              .col-12
                                .form-group.mb-0
                                  = f.check_box :is_external_project, checked: @deal.is_external_project, class: 'tms-icheck', data: {skin: 'square', color: 'blue'}
                                  = f.label :is_external_project, 'Khách quan tâm dự án ngoài', class: "margin-right-5"
                              .col-6
                                .form-group
                                  = f.text_field :external_project, value: @deal.external_project, class: "form-control #{'input-hidden' unless @deal.is_external_project}", placeholder: 'Vui lòng nhập dự án quan tâm'
                                  - f.object.errors.messages[:external_project].each do |error|
                                    %span.invalid-feedback.custom-validation= error
                              .col-6
                                .form-group
                                  = f.text_field :cross_selling_product_code, value: @deal.cross_selling_product_code, class: "form-control #{'input-hidden' unless @deal.is_external_project}", placeholder: 'Vui lòng nhập mã sản phẩm bán chéo'
                                  - f.object.errors.messages[:cross_selling_product_code].each do |error|
                                    %span.invalid-feedback.custom-validation= error    
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :customer_id, 'Khách hàng', class: 'label-required'
                                = f.select :customer_id, options_for_select([[@deal.customer&.name, @deal.customer&.id]], @deal.customer&.id), {include_blank: 'Vui lòng chọn'}, { class: 'form-control select2-deal-customer', id: 'deal_customer', 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:customer_id].each do |error|
                                  %span.invalid-feedback.custom-validation= error

                            .col-6
                              .form-group
                                = f.label :phone_number, 'Số điện thoại'
                                = f.text_field :phone_number, value: @deal&.customer&.phone_number, class: 'form-control deal-phone-number', placeholder: 'Vui lòng nhập', disabled: true
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :gender, 'Giới tính'
                                = f.text_field :gender, value: "#{Constant::CUSTOMER_GENDER[@deal.customer_persona&.gender] if @deal.customer_persona&.gender.present?}", class: 'form-control', placeholder: 'Chưa cập nhật', disabled: true
                          .row.m-0.pt-2.pb-2
                            .interaction_detail_checklist
                              .col-12
                                .form-group
                                  = f.label :interaction_detail, 'Nội dung tương tác', class: f.object.label_required('interaction_detail')
                                  = f.collection_check_boxes :interaction_detail, Constant::INTERACTION_CHECKLIST, :first, :last do |cb|
                                    = cb.label(class: 'form-group d-block ml-2', style: 'width: fit-content') do
                                      = cb.check_box class: 'tms-icheck interaction-detail', data: {skin: 'square', color: 'blue'}
                                      = cb.text
                                  - f.object.errors.messages[:interaction_detail].each do |error|
                                    %span.invalid-feedback.custom-validation= error
                        %hr
                        .detail-item-sub-heading.d-flex.justify-content-between
                          .font-weight-bold 2. Chi tiết nhu cầu khách hàng
                          .btn-collapse.pr-2.pt-2.show-less{'data-toggle': "collapse", 'data-target': "#additional-info", 'aria-expanded': "false", 'aria-controls': "additional-info"}
                        #additional-info.collapse.show
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :product_type, 'Loại hình sản phẩm', class: f.object.label_required('product_type')
                                = f.select :product_type, options_for_select([[Constant::PROJECT_REAL_ESTATE_TYPE[@deal.product_type], @deal.product_type]], @deal.product_type), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-product-type', 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:product_type].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                            .col-6
                              .form-group
                                / thay doi ten field
                                = f.label :product_type_detail, 'Chi tiết loại hình', class: f.object.label_required('product_type_detail')
                                = f.text_area :product_type_detail, class: 'form-control', placeholder: 'Ví dụ: 2PN , 3PN + 2WC, Biệt thự đơn lập, Biệt thự tứ lập,...', rows: 1
                                - f.object.errors.messages[:product_type_detail].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :price_range, 'Khoảng giá', class: f.object.label_required('price_range')
                                = f.select :price_range, options_for_select(Constant::DEAL_PRICE_RANGE.invert, @deal.price_range), {include_blank: 'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:price_range].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                            .col-6
                              .form-group
                                = f.label :acreage_range, 'Diện tích sản phẩm', class: f.object.label_required('acreage_range')
                                = f.select :acreage_range, options_for_select(Constant::DEAL_ACREAGE_RANGE.invert, @deal.acreage_range), {include_blank: 'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:acreage_range].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :interested_product, 'Căn đang quan tâm', class: f.object.label_required('interested_product')
                                = f.text_field :interested_product, class: 'form-control', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật'
                                - f.object.errors.messages[:interested_product].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                            .col-6
                              .form-group
                                = f.label :purchase_purpose, 'Mục đích mua', class: f.object.label_required('purchase_purpose')
                                = f.select :purchase_purpose, options_for_select(Constant::PURCHASE_PURPOSE.invert, @deal.purchase_purpose), {include_blank:  'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn' }
                                - f.object.errors.messages[:purchase_purpose].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          - selection_criteria_option = Constant::PRODUCT_SELECTION_CRITERIA[@deal.product_type].present? ? Constant::PRODUCT_SELECTION_CRITERIA[@deal.product_type].invert : []
                          .row.m-0.pt-2.pb-2.group-product-selection-criteria{class: selection_criteria_option == [] ? 'd-none' : ''}
                            .col-12
                              .form-group
                                = f.label :product_selection_criteria, 'Tiêu chí chọn sản phẩm', class: f.object.label_required('product_selection_criteria')
                                = f.select :product_selection_criteria, options_for_select(selection_criteria_option, @deal.product_selection_criteria), {include_blank:  'Vui lòng chọn'}, { class: 'form-control select2-product-selection-criteria', 'data-placeholder': 'Vui lòng chọn', multiple: true }
                                - f.object.errors.messages[:product_selection_criteria].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :door_direction, 'Hướng cửa', class: f.object.label_required('door_direction')
                                = f.select :door_direction, options_for_select(Reti::Product::DIRECTIONS.invert, @deal.door_direction), {prompt:  'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn', multiple: true }
                                - f.object.errors.messages[:door_direction].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                            .col-6
                              .form-group
                                = f.label :balcony_direction, 'Hướng ban công', class: f.object.label_required('balcony_direction')
                                = f.select :balcony_direction, options_for_select(Reti::Product::DIRECTIONS.invert, @deal.balcony_direction), {prompt:  'Vui lòng chọn'}, { class: 'tms-select2 form-control', 'data-placeholder': 'Vui lòng chọn', multiple: true }
                                - f.object.errors.messages[:balcony_direction].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :trouble_problem_list, 'Vấn đề vướng mắc', class: f.object.label_required('trouble_problem_list')
                                = f.select :trouble_problem_list, options_for_select(Constant::PROBLEMS.invert, @deal.trouble_problem_list), {include_blank: true}, { class: 'form-control select2-deal-trouble-problem-list', multiple: true }
                                - f.object.errors.messages[:trouble_problem_list].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                            .col-6.trouble-problem-group{class: "#{'input-hidden' unless Constant::PROBLEMS.values_at(*@deal.trouble_problem_list).include?('Khác')}"}
                              .form-group
                                = f.label :trouble_problem, 'Chi tiết vướng mắc', class: f.object.label_required('trouble_problem')
                                = f.text_area :trouble_problem, class: 'form-control h-38', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật', autofocus: true, rows: 1
                                - f.object.errors.messages[:trouble_problem].each do |error|
                                  %span.invalid-feedback.custom-validation= error
                          .row.m-0.pt-2.pb-2
                            .col-6
                              .form-group
                                = f.label :demand_for_advances, 'Nhu cầu vay', class: f.object.label_required('demand_for_advances')
                                = f.text_area :demand_for_advances, class: 'form-control', placeholder: @is_edit_general ? 'Vui lòng nhập': 'Chưa cập nhật'
                                - f.object.errors.messages[:demand_for_advances].each do |error|
                                  %span.invalid-feedback.custom-validation= error
      .d-none
        = render 'new_customer'
  :javascript
    $('textarea').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = '38px';
      this.style.height = (this.scrollHeight) + 'px';
    });
    $(document).on('turbolinks:load', function() {
      $('body').addClass('body-kanban');
      if ($('.source-select2').length > 0) {
        $('.source-select2').select2({
          theme: 'bootstrap',
          language: 'vi',
          width: '100%',
          placeholder: 'Vui lòng chọn',
        }).data('select2').$container.addClass("container-source-select2");
      }

      $('.select2-deal-trouble-problem-list').select2({
        theme: 'bootstrap',
        language: 'vi',
        placeholder: $('.select2-deal-trouble-problem-list').attr('disabled') ? 'Chưa cập nhật' : 'Vui lòng chọn',
      })
    });

    window.history.pushState({}, '', window.location.origin + window.location.pathname);
    countRequiredAttributes();
