- content_for :content_header do
  .col-sm-6
    %a.main-header--back{href: edit_admin_deal_path(@deal)}
      %i.fas.fa-chevron-left
        Trở lại
  .col-sm-12.mt-2
    %h2.m-0.text-dark Chuyển nhượng giao dịch

- content_for :content_body do
  .row.m-0.pt-2
    .col
      .card.tms-card
        .card-body
          .row
            .col-12
              .d-flex.pl-2
                .leg-col-transfer.mr-2
                .font-weight-500.font-size-18 Giao dịch gốc
            .col-5
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-4.col-md-4.pr-0.pr-0
                  .history-interaction-label Tên giao dịch:
                .col-xl-9.col-lg-8.col-md-8
                  .filter-label.float-left #{truncate(@deal.name, length: 50, separator: ' ')}
            .col-7
            .col-5
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-3.col-md-4.pr-0.pr-0
                  .history-interaction-label Tên khách hàng:
                .col-xl-9.col-lg-9.col-md-8
                  .float-left #{@deal.customer&.name}
            .col-1
            .col-6
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-4.col-md-4.pl-0.pr-0
                  .history-interaction-label Số điện thoại:
                .col-xl-9.col-lg-8.col-md-8.pl-0
                  .float-left #{@deal.customer&.phone_number.present? ? @deal.customer&.phone_number  : 'Chưa cập nhật'}
            .col-5
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-4.col-md-4.pr-0.pr-0
                  .history-interaction-label Mã sản phẩm:
                .col-xl-9.col-lg-8.col-md-8
                  .float-left #{@deal.product&.code}
            .col-1
            .col-6
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-4.col-md-4.pl-0.pr-0
                  .history-interaction-label Dự án:
                .col-xl-9.col-lg-8.col-md-8.pl-0
                  .float-left #{@deal&.project&.name}
            .col-5
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-4.col-md-4.pr-0.pr-0
                  .history-interaction-label NVKD chăm sóc:
                .col-xl-9.col-lg-8.col-md-8
                  .float-left #{@deal.assignee&.full_name}
            .col-1
            .col-6
              .row.m-0.pt-2.pb-2
                .col-xl-3.col-lg-4.col-md-4.pl-0.pr-0
                  .history-interaction-label Giá trị hợp đồng (VAT):
                .col-xl-9.col-lg-8.col-md-8.pl-0
                  .float-left.font-weight-500 #{ @deal.total_price.present? ? "#{currency @deal.total_price} vnđ" : 'Chưa cập nhật'}

- content_for :content_body do
  .row.m-0.pt-2
    .col
      .card.tms-card
        .card-body
          #modal-transfer.modal-content.view-mode{role: "dialog", tabindex: "-1", "data-keyboard": "false", "data-backdrop": "static", 'data-id': @deal.id, 'data-state': @deal.state, 'data-error': @msg_error}
            .modal-body.p-0.overflow-hidden#form-update-deal
              .m-0
                .tab-content
                  #general-info.tab-pane.fade.show.active{"aria-labelledby" => "general-info-tab", role: "tabpanel"}
                    #general-info-content
                      = render 'form_transfer'
              .d-none
                = render 'new_customer'
  
  

