.row
  .col
    = form_with model: [:admin, @banner], url: admin_app_banners_path, local: true do |f|
      = f.hidden_field :banner_type, value: 2
      - unless @is_disabled
        .row.sticky-top
          .col
            .card.tms-card
              .card-body
                .float-right
                  %button.btn.btn-reti-secondary= @banner.new_record? ? 'Lưu' : 'Lưu thay đổi'
      .row
        .col-6
          .card.tms-card
            .card-header
              %h3.card-title Thông tin chính
              .card-tools
                %button.btn.btn-tool{type: 'button', data: {card_widget: 'collapse'}}
                  %i.fas.fa-minus
            .card-body
              .tms-field-group
                .tms-field-group-body
                  .row
                    .col
                      .tms-field-group
                        .tms-field-group-header
                          %span Banner App
                          %span.required
                            *
                          %span (W x H: 343 x 120px)
                        .tms-field-group-body
                          - if @banner && !@banner.new_record? && @banner.banner_app.present?
                            = hidden_field :banner, :banner_app, value: @banner.banner_app.identifier, 'data-url': @banner.banner_app.url, 'data-delete-url': destroy_attachment_admin_app_banner_path(@banner)
                          .row
                            .col
                              .file-loading
                                = f.file_field :banner_app, id: 'banner-banner-app-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                - f.object.errors.messages[:banner_app].each do |banner_app_error|
                                  %span.invalid-feedback.custom-validation= banner_app_error