- content_for :content_header do
  .col-sm-6
    %h2.m-0.text-dark App Banners

- content_for :content_body do
  .card       
    .card-body
      .tab-content
        .tab-pane.fade.show.active
          .table-responsive.p-0
            %table.table.text-nowrap.table-hover
              %thead
                %tr
                  %th STT
                  %th Tiêu đề
                  %th Link
                  %th Ảnh
                  %th
              %tbody#sortable
                - @banners.each do |banner|
                  %tr.item{'data-id': banner.id}
                    %td.stt
                    %td= banner.title.to_s
                    %td
                      %div{class: "#{'blank-data' if banner.link.to_s.blank?}"}= "#{banner.link.to_s.present? ? banner.link.to_s : 'Chưa cập nhật'}"
                    %td
                      = image_tag(banner.banner_mobile.url, class: 'img-thumbnail', style: 'max-width: 50px') if banner.banner_mobile.present?
                    %td.text-right
                      %a.btn.btn-outline-primary.btn-edit{href: edit_admin_banner_path(banner.id)}
                        %i.fas.fa-pencil-alt
                      - if policy(banner).destroy?
                        %a.btn.btn-outline-primary{href: admin_app_banner_path(banner.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                          %i.fas.fa-trash
    = render partial: 'shared/pagination', locals: { pagy: @pagy }

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_banner_path(banner_type: 2), class: 'btn btn-primary'
        %button.btn.btn-secondary#btn-sort-banner{type: 'button'} Cập nhật vị trí
