%ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
  - if MenuPolicy.show_customer?
    %li.nav-item{class: "#{current_path admin_customers_path}"}
      %a.nav-link{ href: admin_customers_path}
        = image_tag 'customer.svg', class: 'position-icon'
        %p Khách hàng
  - if MenuPolicy.show_deal?
    %li.nav-item
      %li.nav-item.has-treeview{class: "#{ current_path admin_deals_path, complete_deals_admin_deals_path }"}
        %a.nav-link{:href => "#"}
          = image_tag 'deposit.svg', class: 'position-icon'
          %p
            Quản lý giao dịch
            %i.right.fas.fa-angle-right
        %ul.nav.nav-treeview
          - if MenuPolicy.show_deal? && current_user.internal?
            %li.nav-item{class: "#{current_path admin_deals_path}"}
              %a.nav-link{href: admin_deals_path}
                %p Tất cả
        %ul.nav.nav-treeview
          - if MenuPolicy.show_deal?
            %li.nav-item{class: "#{current_path complete_deals_admin_deals_path}"}
              %a.nav-link{href: complete_deals_admin_deals_path}
                %p Hoàn thành
  - if MenuPolicy.show_investor? || MenuPolicy.show_constructor? || MenuPolicy.show_development? || MenuPolicy.show_operator?
    %li.nav-item
      %li.nav-item.has-treeview{class: "#{current_path admin_investors_path, admin_constructors_path, admin_developments_path, admin_operators_path }"}
        %a.nav-link{:href => "#"}
          %i.fa.fa-handshake.nav-icon
          %p
            Đối tác
            %i.right.fas.fa-angle-right
        %ul.nav.nav-treeview
          - if MenuPolicy.show_investor?
            %li.nav-item{class: "#{current_path admin_investors_path}"}
              %a.nav-link{href: admin_investors_path}
                = image_tag 'investor.svg', class: 'position-icon'
                %p Chủ đầu tư
          - if MenuPolicy.show_constructor?
            %li.nav-item{class: "#{current_path admin_constructors_path}"}
              %a.nav-link{href: admin_constructors_path}
                = image_tag 'constructor.svg', class: 'position-icon'
                %p Tổng thầu
          - if MenuPolicy.show_development?
            %li.nav-item{class: "#{current_path admin_developments_path}"}
              %a.nav-link{href: admin_developments_path}
                = image_tag 'development.svg', class: 'position-icon', style: 'margin-left: 3px'
                %p{style: 'margin-left: 2px'} Đơn vị phát triển
          - if MenuPolicy.show_operator?
            %li.nav-item{class: "#{current_path admin_operators_path}"}
              %a.nav-link{href: admin_operators_path}
                = image_tag 'operator.svg', class: 'position-icon'
                %p Đơn vị quản lý
  - if MenuPolicy.show_project?
    %li.nav-item
      %li.nav-item.has-treeview{class: "#{current_path admin_projects_path, admin_project_new_updates_path}"}
        %a.nav-link{:href => ""}
          = image_tag 'project.svg', class: 'position-icon', style: 'bottom: 2px'
          %p
            Dự án
            %i.right.fas.fa-angle-right
        %ul.nav.nav-treeview
          %li.nav-item{class: "#{current_path admin_projects_path}"}
            %a.nav-link{href: admin_projects_path}
              %i.nav-icon.far.fa-building
              %p Quản lý dự án
          - if MenuPolicy.show_project_new_update?
            %li.nav-item{class: "#{current_path admin_project_new_updates_path}"}
              %a.nav-link{href: admin_project_new_updates_path}
                %i.nav-icon.far.fa-newspaper
                %p Quản lý tin nhắn
          - if MenuPolicy.show_campaign_lock? && !Rails.env.production?
            %li.nav-item{class: "#{current_path admin_campaign_locks_path}"}
              %a.nav-link{href: admin_campaign_locks_path}
                = image_tag 'calendar-schedule-lock.svg', class: 'position-icon'
                %p Lịch lock căn
  - unless current_user.customer_service?
    %li.nav-item
      %a.nav-link{href: 'https://agent.reti.vn/', target: '_blank'}
        = image_tag 'academy.svg', class: 'position-icon'
        %p Học viện RETI
  - if MenuPolicy.show_customer_ticket?
    %li.nav-item{class: "#{current_path admin_customer_tickets_path}"}
      %a.nav-link{href: admin_customer_tickets_path}
        %i.fa.fa-handshake.nav-icon
        %p Đăng ký tư vấn
  - if MenuPolicy.show_kpi?
    %li.nav-item
      %li.nav-item.has-treeview{class: "#{current_path admin_kpis_path}"}
        %a.nav-link{:href => "#"}
          %i.nav-icon.fas.fa-gavel
          %p
            Cơ chế
            %i.right.fas.fa-angle-right
        %ul.nav.nav-treeview
          - if MenuPolicy.show_kpi?
            %li.nav-item{class: "#{current_path admin_kpis_path}"}
              %a.nav-link{"data-method" => "get", href: admin_kpis_path}
                %i.fas.fa-bullseye.nav-icon
                %p Thiết lập KPI
  - if MenuPolicy.show_banner? || MenuPolicy.show_custom_html?
    %li.nav-item
      %li.nav-item.has-treeview{class: "#{current_path admin_banners_path, edit_admin_custom_html_path(0)}"}
        %a.nav-link{:href => "#"}
          %i.nav-icon.fa.fa-home
          %p
            Quản trị website
            %i.right.fas.fa-angle-right
        %ul.nav.nav-treeview
          - if MenuPolicy.show_banner?
            %li.nav-item{class: "#{current_path admin_banners_path}"}
              %a.nav-link{"data-method" => "get", href: admin_banners_path}
                %i.fa.fa-flag.nav-icon
                %p Banner
            %li.nav-item{class: "#{current_path admin_popups_path}"}
              %a.nav-link{"data-method" => "get", href: admin_popups_path}
                %i.far.fa-window-restore.nav-icon
                %p Quản trị popup
            %li.nav-item{class: "#{current_path admin_custom_keywords_path}"}
              %a.nav-link{"data-method" => "get", href: admin_custom_keywords_path}
                %i.fas.fa-search.nav-icon
                %p Quản trị tìm kiếm
          - if MenuPolicy.show_custom_html?
            %li.nav-item.has-treeview{class: "#{current_path edit_admin_custom_html_path(0)}"}
              %a.nav-link{:href => "#"}
                %i.fa.fa-code.nav-icon
                %p
                  Custom HTML
                  %i.right.fas.fa-angle-right
              %ul.nav.nav-treeview
                %li.nav-item{class: "#{current_path edit_admin_custom_html_path(0)}"}
                  %a.nav-link{href: edit_admin_custom_html_path(0)}
                    %i.fa.fa-columns.nav-icon
                    %p Trang chủ - Báo chí nói về RETI
    %li.nav-item
      %li.nav-item.has-treeview{class: "#{current_path admin_app_banners_path}"}
        %a.nav-link{:href => "#"}
          %i.nav-icon.fa.fa-mobile
          %p
            Quản trị app
            %i.right.fas.fa-angle-right
        %ul.nav.nav-treeview
          - if current_user.super_admin?
            %li.nav-item{class: "#{current_path admin_versions_path}"}
              %a.nav-link{"data-method" => "get", href: admin_versions_path}
                %i.fa.fa-code-branch.nav-icon
                %p Version
          - if MenuPolicy.show_banner?
            %li.nav-item{class: "#{current_path admin_app_banners_path}"}
              %a.nav-link{"data-method" => "get", href: admin_app_banners_path}
                %i.fa.fa-flag.nav-icon
                %p Banner
          %li.nav-item{class: "#{current_path admin_app_news_index_path}"}
            %a.nav-link{"data-method" => "get", href: admin_app_news_index_path}
              %i.fa.fa-newspaper.nav-icon
              %p Tin tức cập nhật
          %li.nav-item{class: "#{current_path admin_instruction_documents_path}"}
            %a.nav-link{"data-method" => "get", href: admin_instruction_documents_path}
              %i.fa.fa-file-alt.nav-icon
              %p Tài liệu HDSD
  -# - if MenuPolicy.show_account?
  -#   %li.nav-item{class: "#{current_path admin_accounts_path}"}
  -#     %a.nav-link{"data-method" => "get", href: admin_accounts_path}
  -#       %i.fa.fa-user-tie.nav-icon
  -#       %p Tài khoản khách
  - if MenuPolicy.show_user?
    %li.nav-item{class: "#{current_path admin_users_path}"}
      %a.nav-link{"data-method" => "get", href: admin_users_path(account_type: 'internal')}
        %i.fa.fa-user.nav-icon
        %p Tài khoản
  - if MenuPolicy.show_role?
    %li.nav-item{class: "#{current_path admin_roles_path}"}
      %a.nav-link{"data-method" => "get", href: admin_roles_path}
        %i.fa.fa-lock.nav-icon
        %p Phân quyền
  - if current_user.super_admin?
    %li.nav-item
      %a.nav-link{"data-method" => "get", href: admin_groups_path}
        %i.fa.fa-sitemap.nav-icon
        %p Sơ đồ tổ chức
  - if current_user.super_admin? || MenuPolicy.show_cs_ticket?
    %li.nav-item{class: "#{current_path admin_cs_tickets_path}"}
      %a.nav-link{"data-method" => "get", href: admin_cs_tickets_path}
        = image_tag 'cs_ticket.svg', class: 'position-icon', style: 'top: -2px'
        %p Phiếu CSKH
  - if current_user.super_admin? || MenuPolicy.show_voucher?
    %li.nav-item{class: "#{current_path admin_vouchers_path}"}
      %a.nav-link{"data-method" => "get", href: admin_vouchers_path}
        = image_tag 'coupon.svg', class: 'position-icon', style: 'top: -2px'
        %p Voucher
  %li.nav-item
    %a.nav-link#user-logout{'data-logout': destroy_user_session_url, 'data-login': new_user_session_url, href: '#'}
      %i.nav-icon.fas.fa-sign-out-alt
      %p Đăng xuất