%ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
  %li.nav-item
    %a.nav-link{ href: admin_dashboard_index_path}
      %i.position-icon.fas.fa-chart-bar{style: 'bottom: 0 !important'}
      %p Tổng quan
  - if MenuPolicy.show_project?
    %li.nav-item{class: "#{current_path admin_projects_path}"}
      %a.nav-link{href: admin_projects_path}
        %i.nav-icon.far.fa-building
        %p Dự án
  %li.nav-item
    %a.nav-link{href: 'https://agent.reti.vn/', target: '_blank'}
      = image_tag 'academy.svg', class: 'position-icon'
      %p Học viện RETI
  - if MenuPolicy.show_deal?
    %li.nav-item{class: "#{current_path admin_deals_path}"}
      %a.nav-link{ href: admin_deals_path}
        = image_tag 'deposit.svg', class: 'position-icon'
        %p Giao dịch
  %li.nav-item
    %a.nav-link#user-logout{'data-logout': destroy_user_session_url, 'data-login': new_user_session_url, href: '#'}
      %i.nav-icon.fas.fa-sign-out-alt
      %p Đăng xuất