%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light.pt-3
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", href: "#", role: "button"}
        %i.fas.fa-bars
  - if browser.device.mobile?
    %ul.navbar-nav.ml-auto
      %div.pointer{style: 'margin-top: 10px;'}
        %a.text-muted{href: profile_admin_users_path}
          = current_user.full_name
          %i.tms.tms-user{style: 'margin-left: 6px; margin-right: 8px;'}
  -else
    %ul.navbar-nav.ml-auto
      - if defined? reminders
        %li.nav-item.dropdown
          %a.nav-link{"data-toggle" => "dropdown", href: "#", "data-no-turbolink": true}
            %i.far.fa-clock
            %span.badge.badge-warning.navbar-badge.reminder-counter= @count_reminder
          .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
            %span.dropdown-header.text-left
              %span.reminder-counter-bot= @count_reminder
              nhắc nhở mới
              %span.d-inline.float-right.read_all_reminder{'data-url': read_all_admin_reminders_path, style: 'cursor: pointer' }
                %i.fas.fa-check
                Đánh dấu đã đọc
            #reminder-list-parent{style:'max-height: 530px; overflow: scroll;'}
              #reminder-list
                - reminders.each do |reminder|
                  = render partial: 'layouts/nav_reminder_item', locals: {reminder: reminder}
            .dropdown-divider
            %a.dropdown-item.dropdown-footer{href: admin_reminders_path } Xem tất cả

      - if defined? notifications
        %li.nav-item.dropdown
          %a.nav-link{"data-toggle" => "dropdown", href: "#", "data-no-turbolink": true}
            %i.far.fa-bell
            %span.badge.badge-warning.navbar-badge.notification-counter= @count
          .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
            %span.dropdown-header.text-left
              %span.notification-counter-bot= @count
              thông báo mới
              %span.d-inline.float-right.read_all_notification{'data-url': read_all_admin_notifications_path, style: 'cursor: pointer' }
                %i.fas.fa-check
                Đánh dấu đã đọc
            #notification-list-parent{style:'max-height: 530px; overflow: scroll;'}
              #notification-list
                - notifications.each do |notification|
                  = render partial: 'layouts/nav_item', locals: {notification: notification}
            .dropdown-divider
            %a.dropdown-item.dropdown-footer{href: admin_notifications_path } Xem tất cả
