.popup-noti{'data-id': notification.id}
  %a{href: "#{notification.related_url}", target: "_blank"}
    != notification.content
    %br
    %span.float-right.text-sm= format_date notification.created_at
