- if flash
  - flash.each do |name, msg|
    - if name == 'notice'
      :javascript
        toastr.success("#{msg.html_safe}")
    - if %w(error alert).include?(name)
      :javascript
        toastr.error("#{msg.html_safe}")
    - flash.discard[name.to_sym]
- flash.clear