!!!
%html
  %head
    = render 'layouts/gtm' if Rails.env.production?
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = render 'application/favicon'
    %title RETI TMS
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel: "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", :rel => "stylesheet"}/
    -# %link{href: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap", rel: "stylesheet"}/
    %link{href: "/manifest.json", rel: "manifest"}/
    %input{type: "hidden", value: "#{Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes}", id: 'publicKey', refresh_subscribe: session[:refresh_subscribe]}
    %input{type: "hidden", value: APP_CONFIG["website_cable_url"], id: 'cable_url'}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false', 'data-turbolinks-suppress-warning': 'true'
    = action_cable_meta_tag
  %body.hold-transition.sidebar-mini.layout-fixed.sidebar-closed.sidebar-collapse{'device': browser.device.mobile? ? 'mobile' : 'pc'}
    = render 'layouts/gtm_noscript' if Rails.env.production?
    .wrapper
      = render partial: 'layouts/nav', locals: {notifications: @notification_load_more, reminders: @reminders}
      %aside.main-sidebar.sidebar-dark-primary.elevation-4
        %a.brand-link{href: admin_root_path}
          = image_tag 'logo.svg', alt: 'RETI logo', class: 'logo-reti'
          = image_tag 'logo_collapse.svg', alt: 'RETI logo collapsed', class: 'logo-collapse'
        .sidebar
          - unless browser.device.mobile?
            .user-panel.mt-3.pb-3.mb-3.d-flex.current-user-info{'role-name': current_user.role&.name}
              .image
                = image_tag current_user.get_avatar, alt: 'User Default Avatar', class: 'img-circle elevation-2'
              .info
                %a.d-block{href: profile_admin_users_path}= current_user.full_name || current_user.email
          %nav.mt-2
            - if browser.device.mobile?
              = render partial: 'layouts/nav_menu_mobile'
            -else
              = render partial: 'layouts/nav_menu'
      .content-wrapper{style: "#{'min-height: 100vh;' if %w(/deals/new).include?(request.env['REQUEST_PATH'])}"}
        .content-header.tms-header
          .container-fluid
            .row.align-items-center
              = yield :content_header
        %section.content.mt-4
          .container-fluid
            #flash-message
              = render partial: 'layouts/tms_flash'
            = yield :content_body
    .overlay
    .spanner
      .spinner-border
      %p Đang tải ...
    #modal-holder
    = yield :content_footer
    = javascript_include_tag 'initialize', 'data-turbolinks-track': 'reload'
    = yield :js
    %script{src: "https://sp.zalo.me/plugins/sdk.js"}