!!!
%html
  %head
    = render 'layouts/gtm' if Rails.env.production?
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    = favicon_link_tag asset_path('favicon.svg')
    %title RETI TMS
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", rel: "stylesheet"}
    %link{href: "/manifest.json", rel: "manifest"}
    %input{type: "hidden", value: "#{Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes}", id: 'publicKey', refresh_subscribe: session[:refresh_subscribe]}
    %input{type: "hidden", value: APP_CONFIG["website_cable_url"], id: 'cable_url'}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false', 'data-turbolinks-suppress-warning': 'true'
    = action_cable_meta_tag
  %body.hold-transition.sidebar-mini.layout-fixed.sidebar-closed.sidebar-collapse.overflow-x-hidden{'device': browser.device.mobile? ? 'mobile' : 'pc'}
    = render 'layouts/gtm_noscript' if Rails.env.production?
    .wrapper
      %nav.main-header.navbar.navbar-expand.navbar-white.navbar-light.d-flex.justify-content-between.form-deal-header
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{"data-widget" => "pushmenu", href: "#", role: "button"}
              %i.fas.fa-bars
        .dropdown
          %div.pointer{style: 'margin-top: 10px;'}
            %a.text-muted{href: profile_admin_users_path}
              = current_user.full_name
              %i.tms.tms-user{style: 'margin-left: 6px; margin-right: 8px;'}
      %aside.main-sidebar.sidebar-dark-primary.elevation-4
        %a.brand-link{href: admin_root_path}
          = image_tag 'logo.svg', alt: 'RETI logo'
        .sidebar
          %nav.mt-2
            - if browser.device.mobile?
              = render partial: 'layouts/nav_menu_mobile'
            -else
              = render partial: 'layouts/nav_menu'
      = yield :content_header
      .content-wrapper.form-deal-content-wrapper.overflow-x-hidden
        #flash-message
          = render partial: 'layouts/tms_flash'
        = yield :content_body
    .overlay
    .spanner
      .spinner-border
      %p Đang tải ...
    #modal-holder
    #mobile-modal
    = yield :content_footer
    = javascript_include_tag 'initialize', 'data-turbolinks-track': 'reload'
    = yield :js
    %script{:src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
