.new-voucher-group-body
  = form_with  model: [:admin, voucher], local: true, class: 'form-voucher' do |f|
    = f.hidden_field :closeable, value: true, class: 'closeable'
    .row
      .col-6
        .form-group
          = f.label :voucher_type, 'Loại voucher', class: 'reti-color-label'
          = f.select :voucher_type, options_for_select(Constant::VOUCHER_TYPE.invert, f.object.voucher_type), {include_blank: true}, {class: 'form-control tms-select2 modal-select2', disabled: disable_voucher_type}
      .col-6
        .form-group
          = f.label :project_id, 'Dự án áp dụng', class: 'reti-color-label'
          = f.select :project_id, options_for_select(@projects, f.object.project_id&.size == @projects.size - 1 ? '0' : f.object.project_id), {include_blank: false}, {class: 'form-control voucher-multiple-select2 multiple-select2 modal-select2', multiple: true}
    .row
      .col-6
        .form-group
          = f.label :content, 'Tên/Nội dung voucher', class: 'reti-color-label'
          = f.text_area :content, class: 'form-control h-38', placeholder: 'Vui lòng nhập', maxlength: "150"
          %span.limited-text="#{f.object.content.present? ? f.object&.content&.size : '0'}/150" 
      .col-6.applicable-condition-field{class: "#{'d-none' if f.object.applicable_condition.blank?}"}
        .form-group
          = f.label :applicable_condition, 'Điều kiện GTGD', class: 'reti-color-label'
          = f.select :applicable_condition, options_for_select(@applicable_condition.invert, f.object.applicable_condition), {include_blank: true}, {class: 'form-control tms-select2 modal-select2 d-none'}
    .d-flex.justify-content-center
      %button.btn.border-radius-8.font-weight-500.cancel-cs-ticket-modal{type: "button"} Huỷ
      %button.btn.btn-tms-unable-submit.btn-save-modal.border-radius-8.ml-3.font-weight-500.border-0{"data-disable-with" => 'Lưu', type: "submit", disabled: true, style: 'padding: 12px 42px !important'} Lưu 
