- content_for :content_header do
  .col-12
    .d-flex
      %span.title-project-detail Voucher
- content_for :content_body do
  .card-body.p-0{class: "#{'text-center' unless @vouchers.present?}"}
    - unless @vouchers.present?
      .m-auto
        = image_tag 'ticket.svg', style: 'margin-top: 48px'
        .ml-2.mr-2.custom-text-color Chưa có voucher nào được tạo.
        .custom-text-color Nhấn tạo mới để khởi tạo voucher đầu tiên
        - if policy(Voucher.new).create?
          %button.btn.btn-reti-primary.btn-create-voucher{'data-toggle' => "modal", 'data-target' => "#new-voucher", "data-backdrop" => "static", "data-keyboard" => "false"} Tạo mới
    - else
      .card.mt-3
        .card-body
          .table-responsive.p-0
            %table.table.table-hover.tms-datatables-scroll.w-100.nowrap.custom-header-product-table.custom-sorting-table.display.table-nowrap.unable-click{class: "display nowrap", style: "width:100%; color: #434657"}
              %thead
                %tr
                  %th ID
                  %th Nội dung
                  %th Điều kiện GTGD
                  %th Dự án áp dụng
                  %th Loại voucher
                  %th
              %tbody
                - @vouchers.each_with_index do |voucher, index|
                  %tr
                    %td= voucher.id
                    %td.text-truncate{style: 'max-width: 350px'}= voucher.content
                    %td= @applicable_condition[voucher.applicable_condition]
                    %td
                      .d-flex
                        .text-truncate{style: 'max-width: 200px'}= voucher.get_projects
                        - unless voucher.project_id.length == Project.all.length || voucher.project_id.size == 1
                          %span{style: 'color: #7B61FF'}= "(+#{voucher.project_id.length})"
                    %td
                      - if voucher.voucher_type == 1
                        .product-label.voucher-label-1 Cho khách huỷ
                      - else
                        .product-label.voucher-label-2 Cho khách ký HĐ
                    %td.text-right.last-col-stick
                      - if policy(voucher).update?
                        %a.btn.btn-outline-primary.btn-edit{href: '#', 'data-toggle' => "modal", 'data-target' => "#editVoucher#{index}", "data-backdrop" => "static", "data-keyboard" => "false"}
                          %i.fas.fa-pencil-alt
                      - if policy(voucher).destroy?
                        %a.btn.btn-outline-primary{href: admin_voucher_path(voucher.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                          %i.fas.fa-trash
                  .edit-voucher-modal.modal.fade{id: "editVoucher#{index}", "aria-hidden" => "true", "aria-labelledby" => "edit-voucher-label#{index}", role: "dialog", tabindex: "-1"}
                    .modal-dialog.modal-lg.modal-dialog-centered{role: "document"}
                      .modal-content
                        .modal-header.reti-modal-title.font-weight-500
                          .modal-title{id: "edit-voucher-label#{index}"} Chỉnh sửa Voucher
                          %button.close.cancel-cs-ticket-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF'}
                            %span{"aria-hidden" => "true"} ×
                        .modal-body.modal-scroll
                          = render partial: 'admin/vouchers/form', locals: { voucher: voucher, disable_voucher_type: true }
  #new-voucher.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new-voucher-label", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg.modal-dialog-centered{role: "document"}
      .modal-content
        .modal-header.reti-modal-title
          #new-voucher-label.modal-title.font-weight-500 Tạo mới Voucher
          %button.close.cancel-cs-ticket-modal.action-x{"aria-label" => "Close", type: "button", style: 'color: #FFFFFF'}
            %span{"aria-hidden" => "true"} ×
        .modal-body.modal-scroll
          = render partial: 'admin/vouchers/form', locals: { voucher: @voucher, disable_voucher_type: false }
- content_for :content_footer do
  - if @vouchers.present? && policy(Voucher.new).create?
    %footer.main-footer.main-footer-fixed
      .row
        .col-12
          %button.btn.btn-reti-primary.btn-create-voucher.mt-0.mr-0{'data-toggle' => "modal", 'data-target' => "#new-voucher", "data-backdrop" => "static", "data-keyboard" => "false"} Tạo mới